.container
  .text-center.stat-columns.font18
    .col-xs-12.col-sm-12.col-md-12.mtop70
      %h2 Stats
      .col-xs-12.col-xs-12.col-md-4.mtop10
        .padding20.bg-shad.mleft5
          %p.font18.weight600.subheader.padding10{style: "text-align: left;"} Showcases
          %p Total: #{@showcases.count}
          %P Fullfilled: #{@showcases.showpieces.count}
          %P Momentry: #{@showcases.momentary.count}
          %P Future: #{@showcases.wishes.count}
          %p Coin Wishesh: #{@coin_wishesh.count}
          %p Before/after: #{""}
          %p Rewishesh: #{Showcase.where.not(parent_id: nil).count}
          %P Collections : #{Collection.all.count}
          %p Atleast one comment : #{Comment.pluck(:showcase_id).uniq.count}
          %p Number of links: XX
          %p With tags: #{Tagging.pluck(:showcase_id).uniq.count}
          %p With date: #{Showcase.where.not(target_date: nil).count}
          %p With location: #{Location.for_showcase.pluck(:locatable_id).uniq.count}
          %p With description #{Showcase.where.not(description: nil).count}
          %p With backstory: #{Showcase.showpieces.where("backstory_description != ? OR backstory_image != ?", nil, nil).count}
          %p With after stroy: #{Showcase.showpieces.where("showcase_type IN  (?) and user_status = ?", [Showcase::SHOWCASE_VALUES[1] , Showcase::SHOWCASE_VALUES[1]], Showcase::USER_STATUS[1]).where("achieved_description != ? OR fullfilled_image != ? OR after_rating != ?", nil, nil, nil).count}
      .col-xs-12.col-xs-12.col-md-4.mtop10
        .padding20.bg-shad.mleft5
          %p.font18.weight600.subheader.padding10{style: "text-align: left;"} Users
          %p Total: #{@users.count}
          %p Email unverified: #{User.where(inactive: true).count}
          %p Mobile verified: #{Profile.phone_verified.count}
          %p Follow min 5: #{User.joins(:following).select('users.id').group('users.id').having('count(relationships.follower_id)> 5').to_a.count}
          %p Min 5 follower: #{User.joins(:following).select('users.id').group('users.id').having('count(relationships.followed_id)> 5').to_a.count}
          %p Cross-connections: #{Relationship.active_connections.count}
          %p Wiki content: #{Wiki.pluck(:user_id).uniq.count}
          %p Profiles with dp: #{Profile.where.not(image: nil).count}
          %p With About info:
          %p.font18.weight600.subheader.padding10{style: "text-align: left;"} Cround funding
          %p Number of Wishesh: #{@cround_funding_wishesh.count}
          %p Total Raised Amount: Rs.#{@cocotransfers.sum(:amount)}
          %p Total Transactions: #{Cocotransfer.all.count} (#{Cocotransfer.complete.count} / #{Cocotransfer.all.count - Cocotransfer.complete.count})
          %p People requested withdrawn: #{Withdraw.pluck(:user_id).uniq.count}
          %p Amount withdrawn: #{Withdraw.sum(:amount)}
      .col-xs-12.col-xs-12.col-md-4.mtop10
        .padding20.bg-shad
          %p.font18.weight600.subheader.padding10{style: "text-align: left;"} ChatRooms
          %p Chatrooms: #{ChatRoom.all.count}
          %P Messages: #{ChatMessage.all.count}
          %p{id: 'no_of_emojis_used'}No of emojis used: XX
          %p.font18.weight600.subheader.padding10{style: "text-align: left;"} Misc
          %p Comments #{Comment.all.count}
          %P Likes: #{Wow.all.count}
          %P Tags: #{Tag.all.count}

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
    function fetch_no_of_emojis_used(){
       $.ajax({
        type: 'GET',
        url: "#{admin_miscellaneous_no_of_emojis_path}",
        success: function(data) {$('#no_of_emojis_used').html("No of emojis used:"+data.count);},
        error: function(data) {},
      });
    }
    fetch_no_of_emojis_used();

    })
:css
  .subheader{
   border: 1px solid black;
   border-bottom: 1px solid black;
  }
