.container.pbottom50
  %h2 Inbox
  .col-md-12.pad-v-10{style: "background-color: #ccc"}
    .col-md-2 User
    .col-md-7 Subject
    .col-md-2 Transaction Status
    .col-md-1

  - @conversations.each do |conv|
    - user = receiver(conv)
    - if user
      - trans = get_transaction(conv)
      .col-md-12.pad-v-10
        .col-md-2
          = cl_image_tag user.avatar, class: "img-circle", width: 40, height: 40, crop: :fill
          = user.name
        .col-md-7
          = link_to message_path(trans) do
            = conv.subject
        .col-md-2
          = trans.transaction_status_name
        .col-md-1
          = link_to message_path(conv), class: "btn btn-sm btn-danger", method: :delete, data: {confirm: "Are you sure to delete conversation?"} do
            %span.glyphicon.glyphicon-trash
