.container.pbottom50
  .row.mar-des-page
    %h2
      = @conversation.subject
    .col-sm-5{style: "border-right: 1px solid #DADADA;"}
      .col-sm-12
        %h3 Transaction details
      .col-sm-6 Start Date
      .col-sm-6
        %strong
          = @transaction.startdate.strftime("%Y-%m-%d %H:%M") if @transaction.startdate
      .col-sm-6 End Date
      .col-sm-6
        %strong
          = @transaction.enddate.strftime("%Y-%m-%d  %H:%M") if @transaction.enddate
      .col-sm-6 Total Amount
      .col-sm-6
        %strong
          = @transaction.amount
      .col-sm-6 Daily Rent
      .col-sm-6
        %strong
          = @transaction.daily_rent
      .col-sm-6 No of Days
      .col-sm-6
        %strong
          = @transaction.days
      - if @transaction.weekend_days > 0
        .col-sm-6 Weekend Rent
        .col-sm-6
          %strong
            = @transaction.weekend_rent
        .col-sm-6 Weekend Days
        .col-sm-6
          %strong
            = @transaction.weekend_days
      .col-sm-6 Rent without Discount
      .col-sm-6
        %strong
          = @transaction.rent_without_discount
      .col-sm-6 Discounts
      .col-sm-6
        %strong
          = @transaction.discounts
      .col-sm-6 Rent with Discount
      .col-sm-6
        %strong
          = @transaction.rent_with_discount
      .col-sm-6 Tax
      .col-sm-6
        %strong
          = @transaction.tax
      .col-sm-6 Refundable Security Deposit
      .col-sm-6
        %strong
          = @transaction.refundable_security_deposit
      .col-sm-6 Operator Type
      .col-sm-6
        %strong
          = Product::OPERATOR_TYPE[@transaction.operator_type][0]
      .col-sm-6 Status
      .col-sm-6
        %strong
          = @transaction.transaction_status_name.humanize
      .col-sm-12.mtop10
        - if @transaction.seller == current_user && @transaction.requesting?
          = link_to "Accept", accept_transaction_path(@transaction), method: :post, class: "btn btn-success"
          = link_to "Deny", deny_transaction_path(@transaction), method: :post, class: "btn btn-danger"
        - elsif @transaction.user == current_user && @transaction.accepted?
          = link_to "Checkout", checkout_transaction_path(@transaction), class: "btn btn-success"
    .col-sm-7
      .col-sm-12
        %h3 Messages
      - @messages.each do |message|
        .col-sm-12.pad-v-5
          .col-sm-3
            %strong
              = cl_image_tag message.sender.avatar, class: "img-circle", width: 40, height: 40, crop: :fill
              = message.sender.name
            %br
            %small= message.created_at.strftime("%y-%m-%d %H:%M:%S")
          .col-sm-9
            %p= simple_format message.body
      .col-sm-12
        ~ form_tag reply_message_path(@transaction), class: "form-horizonral" do
          %fieldset
            .form-group{style: "margin-top: 50px"}
              %h4 Reply
              %label.col-sm-2.control-label Message
              .col-sm-10
                = text_area_tag :message, "",rows: "3", placeholder: "Message", class: "form-control"
            .pull-right{style: "margin-bottom: 50px;"}
              = submit_tag "Send Message", class: "btn btn-info save-button"
