.col-sm-1
  %span= i
  %span.pull-right= cl_image_tag product.image, width: 32, height: 32, crop: :fill
.col-sm-2= product.title
.col-sm-1= product.id
.col-sm-2= product.category_name
.col-sm-1.no-mar-pad
  .col-sm-12.no-mar-pad
    %i.fa.fa-rupee
    = product.price
.col-sm-1.no-mar-pad
  .col-sm-12.no-mar-pad
    %i.fa.fa-rupee
    = product.ship_price
.col-sm-1
  .col-sm-12.no-mar-pad.avail
    = product.available==true ? "Available" : "Unavailable"
.col-sm-1= product.transactions.count
.col-sm-1
  = link_to edit_product_path(product), class: "btn btn-sm btn-success", target: "_blank" do
    %span.glyphicon.glyphicon-pencil
.col-sm-1.text-right
  = check_box_tag :available, product.available,  product.available, class: "available-switch", data: {id: product.id}
  %span.update-msg{style: "color: green;"}
  %span.update-error{style: "color: red;"}
