%td
  - page =  params[:my_listings].blank? ? 1 : params[:my_listings].to_i
  = i + (20*(page - 1))
%td
  = cl_image_tag product.image, alt: "#{product.title}-#{product.category_name}", width: 32, height: 32, crop: :fill
%td= product.title
%td= product.id
%td{title: "#{product.category_name}"}=truncate product.category_name, length: 15
%td
  %i.fa.fa-rupee
  = product.price
/%td= product.ship_price
%td.avail
  = product.available==true ? "Available" : "Unavailable"
%td= product.transactions.count
%td
  = link_to edit_product_path(product.id), class: "btn btn-sm btn-success", target: "_blank" do
    %span.glyphicon.glyphicon-pencil
%td
  = check_box_tag :available, product.available,  product.available, class: "available-switch", data: {id: product.id}
  %span.update-msg{style: "color: green;"}
  %span.update-error{style: "color: red;"}
