.col-md-3.hidden-xs.hidden-sm.no-mar-pad
  = render partial: "home/user", locals: {user: current_user, card_padding: "0px", card_width: "100%"}
  .col-sm-12.no-mar-pad.mtop15.settings-group
    .list-group
      = link_to settings_path, class: "list-group-item acc-sett j-loader-trigger-link" do
        Account
        %i.glyphicon.glyphicon-menu-right.pull-right{style: "margin-top: 4px;"}
      = link_to settings_wish_path, class: "list-group-item wish-sett j-loader-trigger-link" do
        Wishpay(Gift)
        %i.glyphicon.glyphicon-menu-right.pull-right{style: "margin-top: 4px;"}
      = link_to settings_password_path, class: "list-group-item pass-sett j-loader-trigger-link" do
        Password
        %i.glyphicon.glyphicon-menu-right.pull-right{style: "margin-top: 4px;"}
      = link_to settings_social_path, class: "list-group-item soc-sett j-loader-trigger-link" do
        Social
        %i.glyphicon.glyphicon-menu-right.pull-right{style: "margin-top: 4px;"}
      = link_to settings_addressbook_path, class: "list-group-item addr-sett j-loader-trigger-link" do
        Address Book
        %i.glyphicon.glyphicon-menu-right.pull-right{style: "margin-top: 4px;"}
