= content_for :title do
  -title = "Address Book - Cocociti"
.container-fluid.bg-light-grey.ptop50.mob-ptop100.pbottom50
  .container.mtop10
    .row
      = render partial: "profiles/settings_layout"
      .col-md-9
        .panel.panel-default#profile_form
          .panel-heading
            %h4.mtop-v-5 Address Book
          .panel-body
            .col-sm-12
              ~ form_for :profile, url: update_address_profiles_path, html: {class: "form-horizontal font13"} do |f|
                = fields_for :address do |af|
                  .form-group
                    %label.col-sm-2.control-label First Name
                    .col-sm-4= af.text_field :first_name, class: "form-control", placeholder: "First Name", maxlength: 200, required: true
                    %label.col-sm-2.control-label Last Name
                    .col-sm-4= af.text_field :last_name, class: "form-control", placeholder: "Last Name", maxlength: 200, required: true
                  .form-group
                    %label.col-sm-2.control-label Mobile No.
                    .col-sm-4= af.text_field :mobile, class: "form-control", placeholder: "Mobile No.", maxlength: 10, required: true
                  .form-group
                    %label.col-sm-2.control-label Address Line 1
                    .col-sm-4= af.text_field :address1, class: "form-control", placeholder: "Flat/House No, Floor, Building", maxlength: 200, required: true
                  .form-group
                    %label.col-sm-2.control-label Address Line 2
                    .col-sm-4= af.text_field :address2, class: "form-control", placeholder: "Colony/Society, Street, Locality", maxlength: 200, required: true
                  .form-group
                    %label.col-sm-2.control-label Landmark
                    .col-sm-4= af.text_field :landmark, class: "form-control", placeholder: "", maxlength: 200, required: true
                  .form-group
                    %label.col-sm-2.control-label Pincode
                    .col-sm-4= af.text_field :zip, class: "form-control check_zip", maxlength: 6, required: true
                  .form-group
                    %label.col-sm-2.control-label Town/City
                    .col-sm-4= af.text_field :city, class: "form-control city", maxlength: 200, required: true
                  .form-group
                    %label.col-sm-2.control-label State
                    .col-sm-4
                      = af.select :state, india_states, {include_blank: 'Select State'}, class: "select_box state coco-select-box", required: true
                  .form-group
                    %label.col-sm-2.control-label Country
                    .col-sm-4= af.text_field :country, class: "form-control country", maxlength: 200, required: true
                  .form-group
                    .col-sm-6.text-center
                      %button.btn.save-button.violet-bg.border2.white-fg Save

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $(".addr-sett").addClass("active");
    });
