= content_for :title do
  -title = "Business Settings"
#learn-more-hourly.modal.fade.helvetica-font
  .modal-dialog
    .modal-content.pop-up-mar
      .modal-header.pop-bac
        %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => true }
          %i.fa.fa-times
        %h4.modal-title Hourly Rent
      .modal-body
        .col-sm-12
          Heya!
          %br
          Daily rent of a product will always be lesser than the hourly rent of same product multiplied by 24.
          %br
          %br
          Example: Hourly rent of 'Your Awesome Product' = 100. Then, Daily rent for 'Your Awesome Product' should be lesser than 2400
          %br
          %br
          We recommend that your daily rent should be atleast 10-30% lesser (between 1680 to 2160) in above example.
          %br
          %br
      .clearfix
.container-fluid.grey-bg.mtop50.pbottom50.helvetica-font
  .container.mtop10
    .row
      = render partial: "profiles/settings_layout"
      .col-md-9
        .panel.panel-default
          .panel-heading
            %h4.mtop-v-5 Business Info
          .panel-body
            .col-md-12
              ~ form_for :profile, url: update_business_profiles_path, html: {class: 'form-horizontal profile_form font13', role: "form"} do |f|
                %fieldset
                  .form-group
                    .col-sm-12.note-font-size.website-color.text-right
                      * marked fields are mandatory
                    .col-sm-12.border-bt-side
                      %h4.mtop10 Your Business
                  .form-group
                    %label.col-sm-2.control-label
                      Business Type
                      %span.website-color *
                    .col-sm-3
                      = f.select :business_type, Profile::BUSINESS_TYPE, {include_blank: 'Select'}, class: "select_box coco-select-box", required: true
                  .form-group
                    %label.col-sm-4.pright0.control-label
                      Collect Security Deposit through Cocociti
                      %span.website-color *
                    .col-sm-4.mtop10
                      = f.check_box :collect_security_deposit, {}, true
                  .form-group
                    %label.col-sm-2.control-label.mtop5
                      Days Available
                      %span.website-color *
                    .col-sm-10.mtop10
                      - Date::DAYNAMES.each_with_index do |day, i|
                        %span.mleft15
                          = check_box_tag "profile[avail_days][]", i, @profile.avail_days_arr.include?(i.to_s), class: "styled", id: "#{day}"
                          %label{:for => "#{day}"}= day
                  .form-group
                    %label.col-sm-2.control-label
                      Open Time
                      %span.website-color *
                    .col-sm-4
                      = f.select :open_time, Profile.create_open_close_time, {include_blank: "Select Open Time"}, class: "coco-select-box", required: true
                  .form-group
                    %label.col-sm-2.control-label
                      Close Time
                      %span.website-color *
                    .col-sm-4
                      = f.select :close_time, Profile.create_open_close_time, {include_blank: "Select Close Time"}, class: "coco-select-box", required: true
                  .form-group
                    .col-sm-12.border-bt-side
                      %h4.mtop10 Weekend/Seasonal Rental Pricing
                  .form-group
                    %label.col-sm-4.control-label Apply Weekend/Seasonal Rental Pricing
                    .col-sm-4.mtop10
                      - if !@profile.weekend_days_arr.blank? || (@profile.increase && @profile.increase != 0.00)
                        = check_box_tag :weekend_pricing, "yes", true
                      - else
                        = check_box_tag :weekend_pricing, "yes", false
                  .form-group.weekend_pricing_div.hidden
                    %label.col-sm-2.control-label.mtop5 Your Weekend Days
                    .col-sm-10.mtop10
                      - Date::DAYNAMES.each_with_index do |day, i|
                        %span.mleft15
                          = check_box_tag "profile[weekend_days][]", i, @profile.weekend_days_arr.include?(i.to_s), class: "styled", id: "#{day}_as_weekend"
                          %label{:for => "#{day}"}= day
                  .form-group.weekend_pricing_div.hidden
                    %label.col-sm-2.control-label.mtop5
                      Rent Increase in %
                    .col-sm-4
                      = f.text_field :increase, :placeholder => "Increase in %. Ex: 10% not 110%", class: "form-control", maxlength: 6
                  .form-group
                    .col-sm-12.border-bt-side
                      %h4.mtop10 Hourly Rental Pricing
                  .form-group
                    %label.col-sm-3.control-label Apply Hourly Rental Pricing
                    .col-sm-4.mtop10
                      - if (@profile.increase_hourly && @profile.increase_hourly != 0.00)
                        = check_box_tag :hourly_pricing, "yes", true
                      - else
                        = check_box_tag :hourly_pricing, "yes", false
                  .form-group.hourly_pricing_div.hidden
                    %label.col-sm-2.control-label.mtop5
                      Rent Increase in %
                    .col-sm-4
                      = f.text_field :increase_hourly, :placeholder => "Hourly rent increase in %", class: "form-control", maxlength: 6
                    .col-sm-2
                      %small.pon.learn-more-hourly{style: "text-decoration: underline;"}
                        Learn more
                  .form-group
                    .col-sm-12.border-bt-side
                      %h4.mtop10 Pickup Address
                  - if current_user.has_delivery_address? && current_user.no_pickup_address?
                    .form-group
                      .col-sm-12
                        %label.control-label Copy your Delivery Address&nbsp;&nbsp;
                        = check_box_tag :copy_address, 1, false, class: "mtop10 copy_address"
                  = fields_for 'address' do |af|
                    .form-group
                      %label.col-sm-2.control-label
                        Address Line 1
                        %span.website-color *
                      .col-sm-4= af.text_field :address1, class: "form-control pkp_address", required: true, placeholder: "Flat/House No, Floor, Building", maxlength: 200
                    .form-group
                      %label.col-sm-2.control-label
                        Address Line 2
                        %span.website-color *
                      .col-sm-4= af.text_field :address2, class: "form-control pkp_address", required: true, placeholder: "Colony/Society, Street, Locality/Area", maxlength: 200
                    .form-group
                      %label.col-sm-2.control-label
                        Landmark
                        %span.website-color *
                      .col-sm-4= af.text_field :landmark, class: "form-control pkp_address", required: true, placeholder: "", maxlength: 200
                    .form-group
                      %label.col-sm-2.control-label
                        Pincode
                        %span.website-color *
                      .col-sm-4= af.text_field :zip, class: "form-control check_zip pkp_address", required: true, maxlength: 6
                    .form-group
                      %label.col-sm-2.control-label
                        Town/City
                        %span.website-color *
                      .col-sm-4= af.text_field :city, class: "form-control city pkp_address", required: true, maxlength: 200
                    .form-group
                      %label.col-sm-2.control-label
                        State
                        %span.website-color *
                      .col-sm-4
                        = af.select :state, india_states, {include_blank: 'Select State'}, class: "select_box state coco-select-box pkp_address", required: true
                    .form-group
                      %label.col-sm-2.control-label
                        Country
                        %span.website-color *
                      .col-sm-4= af.text_field :country, class: "form-control country", maxlength: 200, required: true
                  .form-group
                    .col-sm-offset-2.col-sm-10
                      .pull-right
                        %button.btn.btn-info.save-button Save

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $(".buss-sett").addClass("active");
      var checked = $("#weekend_pricing").is(":checked");
      if(checked == true){
        $(".weekend_pricing_div").removeClass("hidden");
        $("#profile_increase").attr('required', true);
      }
      function weekend_pricing_check(){
        var checked = $("#weekend_pricing").is(":checked");
        if(checked == true){
          $(".weekend_pricing_div").removeClass("hidden");
          $("#Sunday_as_weekend,#Saturday_as_weekend").prop("checked", true);
          $("#profile_increase").attr('required', true);
        }
        else{
          $(".weekend_pricing_div").addClass("hidden");
          $("#Sunday_as_weekend,#Monday_as_weekend,#Tuesday_as_weekend,#Wednesday_as_weekend,#Thursday_as_weekend,#Friday_as_weekend,#Saturday_as_weekend").prop("checked", false);
          $("#profile_increase").removeAttr('required');
          $("#profile_increase").val("");
        }
      }
      $("#weekend_pricing").on("click", weekend_pricing_check);
      function hourly_pricing_check(){
        var checked = $("#hourly_pricing").is(":checked");
        if(checked == true){
          $(".hourly_pricing_div").removeClass("hidden");
          $("#profile_increase_hourly").attr('required', true)
        }
        else{
          $(".hourly_pricing_div").addClass("hidden");
          $("#profile_increase_hourly").removeAttr('required');
          $("#profile_increase_hourly").val("");
        }
      }
      hourly_pricing_check();
      $("#hourly_pricing").on("click", hourly_pricing_check);
      $(".copy_address").click(function(){
        if($(".copy_address").is(":checked")){
          $("#address_address1").val("#{current_user.addresses.delivery.first.address1 if current_user.has_delivery_address?}");
          $("#address_address2").val("#{current_user.addresses.delivery.first.address2 if current_user.has_delivery_address?}");
          $("#address_zip").val("#{current_user.addresses.delivery.first.zip if current_user.has_delivery_address?}");
          $("#address_city").val("#{current_user.addresses.delivery.first.city if current_user.has_delivery_address?}");
          $("#address_state").val("#{current_user.addresses.delivery.first.state if current_user.has_delivery_address?}");
          $("#address_landmark").val("#{current_user.addresses.delivery.first.landmark if current_user.has_delivery_address?}");
        }
        else{
          $(".pkp_address").val("");
        }
      })
      $(".learn-more-hourly").click(function(){
          $("#learn-more-hourly").modal("show");
      })
      $("#hourly_pricing").click(function(){
        var checked = $("#hourly_pricing").is(":checked");
        if(checked == true){
          $("#learn-more-hourly").modal("show");
        }
      })
    })
