= content_for :title do
  -title = "Dashboard"
.container
  .row.mar-des-page
    .col-md-12
      .row
        .col-md-2
          = cl_image_tag current_user.avatar, class: "img-responsive img-circle", width: 100, height: 100, crop: :fill
        .col-md-7
          .col-sm-12
            %h3.no-mar-pad.mbottom10= current_user.name
            .prof-para.mbottom10=simple_format truncate @profile.about, length: 200
          .col-sm-12.mbottom10
            %span.glyphicon.glyphicon-phone{style: "color: #D02121;"}
            &nbsp;
            = @profile.phone
            %small *Not visible to others
          .col-sm-12.mbottom10
            %span.glyphicon.glyphicon-envelope{style: "color: #D02121;"}
            &nbsp;
            = current_user.email
            %small *Not visible to others
        .col-md-3
          .col-xs-12
            .col-xs-5.round-border{style: "border-radius: 44%;"}
              %h2.prof-or-list.mtop10.mbottom0
                %strong= current_user.products.count
              %p.prof-or-list-test
                %small= current_user.products.count == 1 ? "Listing" : "Listings"
            .col-xs-5.round-border.mleft20{style: "border-radius: 44%;"}
              %h2.prof-or-list.mtop10.mbottom0
                %strong= current_user.transactions.paid.count
              %p.prof-or-list-test
                %small= current_user.transactions.paid.count == 1 ? "Order" : "Orders"
          .col-xs-12.mtop20.text-center
            = link_to "Edit Profile", settings_path, class: "btn btn-success"
  %ul.nav.nav-tabs.mtop20.hidden-xs
    %li.booking_requests.active
      %a{"data-toggle" => "tab", :href => "#booking_requests"} Booking Requests(Sent/Received)
    %li.my_listings
      %a{"data-toggle" => "tab", :href => "#my_listings"} My Listings
    %li.my_orders
      %a{"data-toggle" => "tab", :href => "#my_orders"} My Order Activity
    %li.upcoming_bookings
      %a{"data-toggle" => "tab", :href => "#upcoming_bookings"} Upcoming Bookings
    %li.non_coco_bookings
      %a{"data-toggle" => "tab", :href => "#non_coco_bookings"} Add Other Bookings
    %li.delete_non_coco_bookings
      %a{"data-toggle" => "tab", :href => "#delete_non_coco_bookings"} Delete Other Bookings
  .tab-content.pbottom50.hidden-xs{style: "min-height: 800px;"}
    #booking_requests.tab-pane.fade.in.active
      .col-md-12.alert.alert-info.no-mar-left.dashboard-header
        .col-md-2 User
        .col-md-5 Subject
        .col-md-2 Sent/Received
        .col-md-2 Booking Status
        .col-md-1 Action
      - @conversations.each do |conv|
        - user = receiver(conv)
        - if user
          - trans = get_transaction(conv)
          .col-md-12.pad-v-10.dashboard-border
            .col-md-2
              = cl_image_tag user.avatar, class: "img-circle", width: 40, height: 40, crop: :fill
              = user.name
            .col-md-5.mtop5
              = link_to message_path(trans) do
                = conv.subject
            .col-md-2
              - if trans.seller == current_user
                Received
              - elsif trans.user == current_user
                Sent
            .col-md-2
              = trans.transaction_status_name
            .col-md-1
              = link_to message_path(conv), class: "btn btn-sm btn-danger", method: :delete, data: {confirm: "Are you sure to delete conversation?"} do
                %span.glyphicon.glyphicon-trash
        - paginate @conversations, param_name: "booking_requests_received"
    #my_listings.tab-pane.fade
      .update-error
      .col-md-12.alert.alert-info.no-mar-left.dashboard-header
        .col-sm-1.no-mar-pad No.&nbsp;&nbsp; Image
        .col-sm-2 Title
        .col-sm-1 ID
        .col-sm-2 Category
        .col-sm-1.no-mar-pad Price
        .col-sm-1.no-mar-pad Shipping
        .col-sm-1 Status
        .col-sm-1 Orders
        .col-sm-1 Edit
        .col-sm-1 On / Off
      - i = 1
      - @my_products.each do |product|
        .col-sm-12.closest.ptop5.pbottom5.dashboard-border{id: "product-#{product.id}"}
          = render partial: "product", locals: {product: product, i: i}
        - i+=1
      = paginate @my_products, param_name: "my_listings"
    #my_orders.tab-pane.fade
      .col-md-12.alert.alert-info.no-mar-left.dashboard-header
        .col-md-1 Sl No
        .col-md-3 Product
        .col-md-4 Duration
        .col-md-1.no-mar-pad Amount
        .col-md-1 Status
        .col-md-2.text-right
      - i= 1
      - @my_transactions.each do |trans|
        .col-md-12.ptop5.pbottom5.dashboard-border
          .col-md-1= i
          .col-md-3= trans.product.title
          .col-md-4= trans.duration
          .col-md-1.no-mar-pad
            %i.fa.fa-rupee
            = trans.amount || trans.product.calculate_price(trans.duration_days)
          .col-md-1= trans.transaction_status_name
          .col-md-2.text-right
            - if trans.accepted?
              = link_to "checkout", checkout_transaction_path(trans)
          - i+=1
      = paginate @my_transactions, param_name: "my_transactions"
    #upcoming_bookings.tab-pane.fade
      .col-md-12.alert.alert-info.no-mar-left.dashboard-header
        .col-sm-1.no-mar-pad No.&nbsp;&nbsp; Image
        .col-sm-2 Title
        .col-sm-1 ID
        .col-sm-2 Category
        .col-sm-4 Duration
      - i= 1
      - @upcoming_bookings.each do |booking|
        .col-sm-12.ptop5.pbottom5.dashboard-border
          .col-sm-1
            %span= i
            %span.pull-right= cl_image_tag booking.product.image, alt: "#{booking.product.title}-#{booking.product.category_name}", width: 32, height: 32, crop: :fill
          .col-sm-2= booking.product.title
          .col-sm-1= booking.product.id
          .col-sm-2{title: "#{booking.product.category_name}"}= truncate booking.product.category_name,length: 15
          .col-sm-4= booking.duration
          - i+=1
      = paginate @upcoming_bookings, param_name: "upcoming_bookings"
    #non_coco_bookings.tab-pane.fade
      .col-md-12.alert.alert-info.no-mar-left.dashboard-header
        .col-sm-1 Sl No
        .col-sm-1 Image
        .col-sm-2 Title
        .col-sm-1 ID
        .col-sm-1 Category
        .col-sm-1 Agency
        .col-sm-2 Start Date
        .col-sm-2 End Date
        .col-sm-1.text-right
      - i = 1
      - @products_for_non_coco_bookings.each do |product|
        .col-sm-12.ptop5.pbottom5.dashboard-border
          .col-sm-1= i
          .col-sm-1
            %span= cl_image_tag product.image, alt: "#{product.title}-#{product.category_name}", width: 32, height: 32, crop: :fill
          .col-sm-2= product.title
          .col-sm-1= product.id
          .col-sm-1{title: "#{product.category_name}"}= truncate product.category_name, length:15
          ~ form_tag non_coco_transaction_path(product) do
            .col-sm-1= text_field_tag :non_coco_operator, params[:non_coco_operator], class: "form-control",  maxlength: 200
            .col-sm-2
              .input-group.mbottom0.input-append.date.non_coco_start_date
                %span#sizing-addon2.input-group-addon.bg-white
                  %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
                = text_field_tag :non_coco_start_date, params[:non_coco_start_date], placeholder: "Pickup Date & Time", class: "form-control bg-white pon", style: "border-radius:0;font-size: 10px;", readonly: true
            .col-sm-2
              .input-group.mbottom0.input-append.date.non_coco_end_date
                %span#sizing-addon2.input-group-addon.bg-white
                  %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
                = text_field_tag :non_coco_end_date, params[:non_coco_end_date], placeholder: "Drop off Date & Time", class: "form-control bg-white pon", style: "border-radius:0;font-size: 10px;", readonly: true
            .col-sm-1
              %button.btn.btn-primary{type: "submit", style: ""}
                Create
            - i+=1
      = paginate @products_for_non_coco_bookings, param_name: "add_non_coco_bookings"

    #delete_non_coco_bookings.tab-pane.fade
      .col-md-12.alert.alert-info.no-mar-left.dashboard-header
        .col-sm-1 Sl No
        .col-sm-1 Image
        .col-sm-2 Title
        .col-sm-1 ID
        .col-sm-1 Category
        .col-sm-1 Agency
        .col-sm-2 Start Date
        .col-sm-2 End Date
        .col-sm-1 Delete
      - i = 1
      - @non_coco_transactions.each do |transaction|
        .col-sm-12.ptop5.pbottom5.dashboard-border
          .col-sm-1= i
          .col-sm-1
            %span= cl_image_tag transaction.product.image, alt: "#{transaction.product.title}-#{transaction.product.category_name}", width: 32, height: 32, crop: :fill
          .col-sm-2= transaction.product.title
          .col-sm-1= transaction.product.id
          .col-sm-1{title: "#{transaction.product.category_name}"}=truncate transaction.product.category_name, length: 15
          .col-sm-1= transaction.non_coco_operator
          .col-sm-2= transaction.startdate.strftime("%d %b %Y %H:%M")
          .col-sm-2= transaction.enddate.strftime("%d %b %Y %H:%M")
          .col-sm-1.text-center
            = link_to delete_non_coco_transaction_path(transaction), method: :delete, data: {confirm: "Are you sure you want to delete the booking?"} do
              %span.glyphicon.glyphicon-remove
        - i+=1
      = paginate @non_coco_transactions, param_name: "delete_non_coco_bookings"
= content_for :extra_js do
  :javascript
    if("#{flash[:notice]}" == "Booking done successfully.")
      {
        $(".booking_requests").removeClass("active");
        $("#booking_requests").removeClass("in");
        $("#booking_requests").removeClass("active");
        $(".non_coco_bookings").addClass("active");
        $("#non_coco_bookings").addClass("in");
        $("#non_coco_bookings").addClass("active");
      }
    else if("#{flash[:notice]}" == "Booking deleted successfully.")
      {
        $(".booking_requests").removeClass("active");
        $("#booking_requests").removeClass("in");
        $("#booking_requests").removeClass("active");
        $(".delete_non_coco_bookings").addClass("active");
        $("#delete_non_coco_bookings").addClass("in");
        $("#delete_non_coco_bookings").addClass("active");
      }
