= content_for :title do
  -title = "Dashboard"
.container
  .row.mar-des-page
    .col-md-12
      .row
        .col-md-2
          = cl_image_tag current_user.avatar, class: "img-responsive img-circle", width: 100, height: 100, crop: :fill
        .col-md-7
          .col-sm-12
            %h3.no-mar-pad.mbottom10{title: "#{current_user.name}"}= truncate current_user.name, length: 30
            .prof-para.mbottom10=simple_format truncate @profile.about, length: 200
          .col-sm-12.mbottom10
            %span.glyphicon.glyphicon-phone{style: "color: #D02121;"}
            &nbsp;
            = @profile.phone
            %small *Not visible to others
          .col-sm-12.mbottom10
            %span.glyphicon.glyphicon-envelope{style: "color: #D02121;"}
            &nbsp;
            = current_user.email
            %small *Not visible to others
        .col-md-3
          .col-xs-12
            .col-xs-5.round-border{style: "border-radius: 44%;"}
              %h2.prof-or-list.mtop10.mbottom0
                %strong= current_user.products.count
              %p.prof-or-list-test
                %small= current_user.products.count == 1 ? "Listing" : "Listings"
            .col-xs-5.round-border.mleft20{style: "border-radius: 44%;"}
              %h2.prof-or-list.mtop10.mbottom0
                %strong= current_user.transactions.paid.count
              %p.prof-or-list-test
                %small= current_user.transactions.paid.count == 1 ? "Order" : "Orders"
          .col-xs-12.mtop20.text-center
            = link_to "Edit Profile", settings_path, class: "btn btn-success"
  %ul.nav.nav-tabs.mtop20.hidden-xs
    %li.booking_requests.active
      %a{"data-toggle" => "tab", :href => "#booking_requests"} Booking Requests(Sent/Received)
    %li.my_listings
      %a{"data-toggle" => "tab", :href => "#my_listings"} My Listings
    %li.my_orders
      %a{"data-toggle" => "tab", :href => "#my_orders"} My Order Activity
    %li.upcoming_bookings
      %a{"data-toggle" => "tab", :href => "#upcoming_bookings"} Upcoming Bookings
    %li.non_coco_bookings
      %a{"data-toggle" => "tab", :href => "#non_coco_bookings"} Add Other Bookings
    %li.delete_non_coco_bookings
      %a{"data-toggle" => "tab", :href => "#delete_non_coco_bookings"} Delete Other Bookings
  .tab-content.pbottom50.hidden-xs{style: "min-height: 800px;"}
    #booking_requests.tab-pane.fade.in.active
      .col-md-12.no-mar-pad
        = paginate @conversations, param_name: "booking_requests_received"
        .table-responsive
          %table.table.table-striped.table-bordered.table-hover#booking_requests_table
            %thead
              %tr
                %th User&nbsp;&nbsp;
                %th Subject&nbsp;&nbsp;
                %th Sent/Received&nbsp;&nbsp;
                %th Booking Status&nbsp;&nbsp;
                %th Action&nbsp;&nbsp;
            %tbody
            - @conversations.each do |conv|
              - user = receiver(conv)
              - if user
                - trans = get_transaction(conv)
                %tr
                  %td
                    = cl_image_tag user.avatar, class: "img-circle", width: 40, height: 40, crop: :fill
                    = user.name
                  %td
                    = link_to message_path(trans) do
                      = conv.subject
                  %td
                    - if trans.seller == current_user
                      Received
                    - elsif trans.user == current_user
                      Sent
                  %td
                    = trans.transaction_status_name
                  %td
                    = link_to message_path(conv), class: "btn btn-sm btn-danger", method: :delete, data: {confirm: "Are you sure to delete conversation?"} do
                      %span.glyphicon.glyphicon-trash
        = paginate @conversations, param_name: "booking_requests_received"
    #my_listings.tab-pane.fade
      .update-error.text-right
      .col-md-12.no-mar-pad
        = paginate @my_products, param_name: "my_listings"
        .table-responsive
          %table.table.table-striped.table-bordered.table-hover#my_listings_table
            %thead
              %tr
                %th No&nbsp;&nbsp;
                %th Image&nbsp;&nbsp;
                %th Title&nbsp;&nbsp;
                %th ID&nbsp;&nbsp;
                %th Category&nbsp;&nbsp;
                %th Price&nbsp;&nbsp;
                /%th Shipping&nbsp;&nbsp;
                %th Status&nbsp;&nbsp;
                %th Orders&nbsp;&nbsp;
                %th Edit&nbsp;&nbsp;
                %th On / Off&nbsp;&nbsp;
            %tbody
              - i = 1
              - @my_products.each do |product|
                %tr.closest{id: "product-#{product.id}"}
                  = render partial: "product", locals: {product: product, i: i}
                  - i+=1
        = paginate @my_products, param_name: "my_listings"
    #my_orders.tab-pane.fade
      .col-md-12.no-mar-pad
        = paginate @my_transactions, param_name: "my_transactions"
        .table-responsive
          %table.table.table-striped.table-bordered.table-hover#my_orders_table
            %thead
              %tr
                %th No&nbsp;&nbsp;
                %th Item Title&nbsp;&nbsp;
                %th Duration&nbsp;&nbsp;
                %th Amount&nbsp;&nbsp;
                %th Status&nbsp;&nbsp;
                %th Action&nbsp;&nbsp;
            %tbody
              - i= 1
              - @my_transactions.each do |trans|
                %tr
                  %td= i
                  %td= trans.product.title
                  %td= trans.duration
                  %td
                    %i.fa.fa-rupee
                    = trans.amount
                  %td= trans.transaction_status_name
                  %td
                    - if trans.accepted?
                      = link_to "checkout", checkout_transaction_path(trans)
                - i+=1
        = paginate @my_transactions, param_name: "my_transactions"
    #upcoming_bookings.tab-pane.fade
      .col-md-12.no-mar-pad
        = paginate @upcoming_bookings, param_name: "upcoming_bookings"
        .table-responsive
          %table.table.table-striped.table-bordered.table-hover#upcoming_bookings_table
            %thead
              %tr
                %th No&nbsp;&nbsp;
                %th Image&nbsp;&nbsp;
                %th Title&nbsp;&nbsp;
                %th ID&nbsp;&nbsp;
                %th Category&nbsp;&nbsp;
                %th Duration&nbsp;&nbsp;
            %tbody
              - i= 1
              - @upcoming_bookings.each do |booking|
                %tr
                  %td= i
                  %td= cl_image_tag booking.product.image, alt: "#{booking.product.title}-#{booking.product.category_name}", width: 32, height: 32, crop: :fill
                  %td= booking.product.title
                  %td= booking.product.id
                  %td{title: "#{booking.product.category_name}"}= truncate booking.product.category_name,length: 15
                  %td= booking.duration
                - i+= 1
        = paginate @upcoming_bookings, param_name: "upcoming_bookings"
    #non_coco_bookings.tab-pane.fade
      .col-md-12.no-mar-pad
        = paginate @products_for_non_coco_bookings, param_name: "add_non_coco_bookings"
        .table-responsive
          %table.table.table-striped.table-bordered.table-hover#non_coco_bookings_table
            %thead
              %tr
                %th No&nbsp;&nbsp;
                %th Image&nbsp;&nbsp;
                %th Title&nbsp;&nbsp;
                %th ID&nbsp;&nbsp;
                %th Category&nbsp;&nbsp;
                %th Agency&nbsp;&nbsp;
                %th Start Date&nbsp;&nbsp;
                %th End Date&nbsp;&nbsp;
                %th Action&nbsp;&nbsp;
            %tbody
              - i = 1
              - @products_for_non_coco_bookings.each do |product|
                %tr
                  %td= i
                  %td= cl_image_tag product.image, alt: "#{product.title}-#{product.category_name}", width: 32, height: 32, crop: :fill
                  %td= product.title
                  %td= product.id
                  %td{title: "#{product.category_name}"}= truncate product.category_name, length:15
                  ~ form_tag non_coco_transaction_path(product) do
                    %td= text_field_tag :non_coco_operator, params[:non_coco_operator], class: "form-control",  maxlength: 200
                    %td
                      .input-group.mbottom0.input-append.date.non_coco_start_date
                        %span#sizing-addon2.input-group-addon.bg-white
                          %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
                        = text_field_tag :non_coco_start_date, params[:non_coco_start_date], placeholder: "Pickup Date & Time", class: "form-control bg-white pon", style: "border-radius:0;font-size: 10px;", readonly: true
                    %td
                      .input-group.mbottom0.input-append.date.non_coco_end_date
                        %span#sizing-addon2.input-group-addon.bg-white
                          %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
                        = text_field_tag :non_coco_end_date, params[:non_coco_end_date], placeholder: "Drop off Date & Time", class: "form-control bg-white pon", style: "border-radius:0;font-size: 10px;", readonly: true
                    %td
                      %button.btn.btn-primary{type: "submit", style: ""}
                        Create
                - i+=1
        = paginate @products_for_non_coco_bookings, param_name: "add_non_coco_bookings"
    #delete_non_coco_bookings.tab-pane.fade
      .col-md-12.no-mar-pad
        = paginate @non_coco_transactions, param_name: "delete_non_coco_bookings"
        .table-responsive
          %table.table.table-striped.table-bordered.table-hover#delete_non_coco_bookings_table
            %thead
              %tr
                %th No&nbsp;&nbsp;
                %th Image&nbsp;&nbsp;
                %th Title&nbsp;&nbsp;
                %th ID&nbsp;&nbsp;
                %th Category&nbsp;&nbsp;
                %th Agency&nbsp;&nbsp;
                %th Start Date&nbsp;&nbsp;
                %th End Date&nbsp;&nbsp;
                %th Delete&nbsp;&nbsp;
            %tbody
              - i = 1
              - @non_coco_transactions.each do |transaction|
                %tr
                  %td= i
                  %td= cl_image_tag transaction.product.image, alt: "#{transaction.product.title}-#{transaction.product.category_name}", width: 32, height: 32, crop: :fill
                  %td= transaction.product.title
                  %td= transaction.product.id
                  %td{title: "#{transaction.product.category_name}"}=truncate transaction.product.category_name, length: 15
                  %td= transaction.non_coco_operator
                  %td= transaction.startdate.strftime("%d %b %Y %H:%M")
                  %td= transaction.enddate.strftime("%d %b %Y %H:%M")
                  %td
                    = link_to delete_non_coco_transaction_path(transaction), method: :delete, data: {confirm: "Are you sure you want to delete the booking?"} do
                      %span.glyphicon.glyphicon-remove
                - i+=1
        = paginate @non_coco_transactions, param_name: "delete_non_coco_bookings"
= content_for :extra_js do
  :javascript
    if(("#{flash[:notice]}" == "Booking done successfully.") || ("#{flash[:danger]}" == "Pick up date cannot be greater than Drop off date") || ("#{flash[:danger]}" == "Please select a date"))
      {
        $(".booking_requests").removeClass("active");
        $("#booking_requests").removeClass("in");
        $("#booking_requests").removeClass("active");
        $(".non_coco_bookings").addClass("active");
        $("#non_coco_bookings").addClass("in");
        $("#non_coco_bookings").addClass("active");
      }
    else if("#{flash[:notice]}" == "Booking deleted successfully.")
      {
        $(".booking_requests").removeClass("active");
        $("#booking_requests").removeClass("in");
        $("#booking_requests").removeClass("active");
        $(".delete_non_coco_bookings").addClass("active");
        $("#delete_non_coco_bookings").addClass("in");
        $("#delete_non_coco_bookings").addClass("active");
      }
