= content_for :title do
  -title = "Settings - Cocociti"
.container-fluid.bg-light-grey.ptop50.mob-ptop100.pbottom50.helvetica-font
  .container.mtop10
    .row
      = render partial: "profiles/settings_layout"
      .col-md-9.padding-mob0
        .panel.panel-default#profile_form
          .panel-heading
            %h4.mtop-v-5 Profile Info
          .panel-body
            #end_date_and_time_for_dob_datepicker.hidden{"data-id" => "#{DateTime.current - 18.years}"}
            #start_date_and_time_for_dob_datepicker.hidden{"data-id" => "#{DateTime.current - 130.years}"}
            .col-md-12
              ~ form_for @profile, html: {class: 'form-horizontal profile_form font13', role: "form"} do |f|
                %fieldset
                  .form-group
                    .col-sm-12.note-font-size.website-color.text-right
                      - if @profile.date_of_birth.blank? || @profile.gender.blank?
                        *, # marked fields are mandatory
                        %br
                        Fields marked with
                        %span.website-color #
                        cannot be changed later.
                      - else
                        * marked fields are mandatory
                  .form-group
                    %label.col-sm-2.control-label{:for => "textinput"}
                      Username
                      %span.website-color *
                    .col-sm-3
                      = f.text_field :slug, :placeholder => "Username", class: "form-control username lowercase", maxlength: 30, required: true
                    .col-sm-3.uname-avail.padding10.pbottom0.grey-fg
                    .col-sm-10.col-sm-offset-2.ptop10
                      %span.pull-left https://www.cocociti.com/
                      %span.pull-left.username-url.lowercase
                    .col-sm-10.col-sm-offset-2.ptop10.font11.grey-fg
                      Note: Only hyphens and underscores are allowed.
                  .form-group
                    %label.col-sm-2.control-label{:for => "textinput"}
                      First Name
                      %span.website-color *
                    .col-sm-3
                      = f.text_field :first_name, :placeholder => "First Name", class: "form-control", maxlength: 100, required: true
                    %label.col-sm-2.control-label{:for => "textinput"}
                      Last Name
                      %span.website-color *
                    .col-sm-3
                      = f.text_field :last_name, :placeholder => "Last Name", class: "form-control", maxlength: 100, required: true
                  - if @profile.date_of_birth.blank?
                    .form-group
                      %label.col-sm-2.control-label{:for => "textinput"}
                        Birthday
                        %span.website-color #
                      .col-sm-3
                        .input-group.mbottom0.input-append.date.date_of_birth
                          %span#sizing-addon2.input-group-addon.bg-white
                            %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
                          = f.text_field :date_of_birth, placeholder: "dd/mm/yyyy", class: "form-control bg-white pon", style: "border-radius:0", readonly: true
                  - if @profile.gender.blank?
                    .form-group
                      %label.col-sm-2.control-label{:for => "textinput"}
                        Gender
                        %span.website-color #
                      .col-sm-5{style: "margin-top:8px;"}
                        = f.radio_button :gender, "#{Profile::GENDER[0]}"
                        %label Male&nbsp;&nbsp;
                        = f.radio_button :gender, "#{Profile::GENDER[1]}"
                        %label Female&nbsp;&nbsp;
                        = f.radio_button :gender, "#{Profile::GENDER[2]}"
                        %label Others
                  .form-group.set-mob-no
                    %label.col-sm-2.control-label{:for => "textinput"}
                      Mobile
                      %br
                      %span.grey-fg.font11 *Not visible to others
                    .col-sm-1.no-mar-pad.pleft15
                      = select("profile", "phonecode", Country.all.collect {|c| [ "+" + c.phonecode+ "  ("+c.iso+")", c.phonecode ] }, { include_blank: false}, {class: "form-control"})
                    .col-sm-4
                      = f.text_field :phone, :placeholder => "Mobile No", class: "form-control user-mobile-no", maxlength: 10
                    .col-sm-5.mob-otp-verify.padding0.grey-fg
                      - if @profile.mobile_verified
                        Verified&nbsp;
                        %i{class: "fa fa-check-circle green-fg font17"}
                  .form-group
                    %label.col-sm-2.control-label
                      Location
                    .col-sm-6
                      = f.fields_for :location do |lf|
                        = lf.text_field :name, placeholder: "Enter your location", class: "form-control map-location controls pac-input", maxlength: 240
                  .form-group
                    %label.col-sm-2.control-label{:for => "textinput"} About
                    .col-sm-10
                      = f.text_area :about, class: "form-control textarea", rows: 4, placeholder: "About You", maxlength: 250
                  .form-group.set-prof-pic
                    %label.col-sm-2.control-label{:for => "textinput"} Profile Pic
                    .col-sm-10
                      Select file
                      = f.file_field :image, class: "fileupload"
                      %span= render partial: "/profiles/avatar"
                  .form-group
                    .col-xs-12.col-sm-12.text-center
                      = submit_tag "Save", class: "btn save-button mtop10 white-fg violet-bg border2 j-loader-trigger-link"

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $(".acc-sett").addClass("active");
      $(".user-mobile-no").on("keyup", function(){
        if($(this).val().length == 10){
          $(".mob-otp-verify").text("Checking...");
          $.get("/profiles/verify_mobile", {mobile: $(this).val()}, function(data){
            $(".mob-otp-verify").addClass("padding10 pbottom0 grey-fg")
            if(data.result == "associated"){
              $(".mob-otp-verify").text("Associated with another account");
            }else if(data.result == "getotp"){
              $(".mob-otp-verify").removeClass("padding10 pbottom0 grey-fg")
              $(".mob-otp-verify").html("<a data-remote='true' rel='nofollow' data-method='patch' href='/profiles/get_otp' class='btn btn-default get-otp-link'>Get OTP</a>")
            }
            else if(data.result == "own"){
              $(".mob-otp-verify").text("It's your own verified number!");
            }
          })
        }else{
          $(".mob-otp-verify").addClass("padding10 pbottom0 grey-fg")
          $(".mob-otp-verify").empty();
          $(".mob-otp-verify").text("Please enter your 10 digit number without leading zero.")
        }
      })
      $(document).on("click", ".get-otp-link", function(){
        $(".mob-otp-verify").html("Please wait&nbsp;&nbsp;<i class='fa fa-spinner fa-spin font21 mtop5'><i>");
      })
      $(".save-button").click(function(){
          $("#profile_date_of_birth").removeAttr("readonly");
          setTimeout(function(){$("#profile_date_of_birth").attr("readonly", true);}, 1000);
      })
      var places_input_1= $('.pac-input')[1];
      google.maps.event.addDomListener(window, 'load', function () {
         var autocomplete = new google.maps.places.Autocomplete(places_input_1);
         google.maps.event.addDomListener(places_input_1, 'keydown', function(e) {
           if (e.keyCode == 13 && $('.pac-container:visible').length) {
             e.preventDefault();
           }
         });
      });
      var c_wrap = "#{params[:change].blank? ? '': params[:change]}";
      if( c_wrap != ""){
        $('html, body').animate({
            scrollTop: $(".set-prof-pic").offset().top - 55
            }, 500);
        var x = 0;
        var intervalID = setInterval(function () {
          $(".set-prof-pic").toggleClass("bg-light-grey");
          if (++x === 2) {
            window.clearInterval(intervalID);
          }
        }, 1000);
      }
      var d_wrap = "#{params[:unlock].blank? ? '': params[:unlock]}";
      if( d_wrap != ""){
        $(".messages").html("<div class='alert alert-success alert-dismissable alert-message-div' role='alert'><button class='close' data-dismiss='alert' type='button'><span aria-hidden='true'>×</span><span class='sr-only'>Close</span></button><ul><li>Please verify your mobile number to unlock coin wishes</li></ul></div>")
        $('html, body').animate({
            scrollTop: $(".set-mob-no").offset().top - 80
            }, 500);
        var x = 0;
        var intervalID = setInterval(function () {
          $(".set-mob-no").toggleClass("grey-bg");
          if (++x === 6) {
            window.clearInterval(intervalID);
          }
        }, 1000);
      }
      var e_wrap = "#{params[:verify].blank? ? '': params[:verify]}";
      if( e_wrap != ""){
        $(".messages").html("<div class='alert alert-success alert-dismissable alert-message-div' role='alert'><button class='close' data-dismiss='alert' type='button'><span aria-hidden='true'>×</span><span class='sr-only'>Close</span></button><ul><li>Please verify your mobile number.</li></ul></div>")
        $('html, body').animate({
            scrollTop: $(".set-mob-no").offset().top - 80
            }, 500);
        var x = 0;
        var intervalID = setInterval(function () {
          $(".set-mob-no").toggleClass("grey-bg");
          if (++x === 6) {
            window.clearInterval(intervalID);
          }
        }, 1000);
      }
    });
