.container-fluid.bg-light-grey.ptop50.pbottom50.helvetica-font
  .container.mtop10.padding0
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.padding0
        .panel.panel-default#profile_form
          .panel-heading
            %h4.mtop-v-5 Basic Info
          .panel-body
            .col-xs-12.col-sm-12.no-mar-pad
              = form_for @profile, html: {class: "form-horizontal"} do |f|
                .form-group
                  %label.col-sm-3.col-xs-12.control-label.no-mar-pad
                    Username
                    %span.website-color *&nbsp;&nbsp;
                  .col-xs-12.col-sm-6.no-mar-pad
                    = f.text_field :slug, placeholder: "Username", class: "form-control username lowercase", maxlength: 200, required: true
                  .col-xs-12.col-sm-3.uname-avail.padding10.pbottom0.grey-fg.font13
                  .col-sm-9.col-xs-12.col-sm-offset-3.padding0.ptop10.font13
                    %span.pull-left https://wishboard.dtlabs.me/
                    %span.pull-left.username-url.lowercase
                  .col-sm-9.col-xs-12.col-sm-offset-3.padding0.ptop10.font11.grey-fg
                    Note: Only hyphens and underscores are allowed. You cannot change this username later.
                .form-group
                  %label.col-sm-3.col-xs-12.control-label.no-mar-pad
                    First Name
                    %span.website-color *&nbsp;&nbsp;
                  .col-xs-12.col-sm-6.no-mar-pad
                    = f.text_field :first_name, placeholder: "First Name", class: "form-control", maxlength: 200, required: true
                .form-group
                  %label.col-sm-3.col-xs-12.control-label.no-mar-pad
                    Last Name
                    %span.website-color *&nbsp;&nbsp;
                  .col-xs-12.col-sm-6.no-mar-pad
                    = f.text_field :last_name, placeholder: "Last Name", class: "form-control", maxlength: 200, required: true
                .form-group
                  %label.col-sm-3.col-xs-12.control-label.no-mar-pad
                    Enable ProfilePay
                    %span.website-color *&nbsp;&nbsp;
                  .col-xs-12.col-sm-6.no-mar-pad
                    %label.pull-left.mtop10.raise-toggle-switch.pon
                      = f.check_box :enable_profilepay
                      %div
                .form-group
                  %label.col-sm-3.col-xs-12.control-label.no-mar-pad
                    Invitation Code&nbsp;&nbsp;
                  .col-sm-3.col-xs-12.no-mar-pad
                    = text_field_tag :invited_code, "#{current_user.invited_code}", :placeholder => "Optional", class: "form-control", maxlength: 200
                  .col-sm-6.col-xs-12.mob-mtop10.padding-mob0
                    - unless @referrer.blank?
                      %span.pull-left.mright5.mtop10.font12.dull-color-italic
                        Invited by&nbsp;
                        = truncate @referrer.name, length: 25
                      %span.pull-left= cl_image_tag @referrer.avatar, class: "img-circle", width: 40, height: 40, crop: :fill
                .form-group
                  %label.col-sm-3.col-xs-12.control-label.no-mar-pad Your Profile Pic&nbsp;&nbsp;&nbsp;&nbsp;
                  .col-xs-12.col-sm-6.no-mar-pad.mob-mtop10
                    Select file
                    = f.file_field :image, class: "fileupload"
                .form-group
                  .col-xs-12.col-sm-12.text-center
                    %button.btn.save-button.violet-bg.border2.white-fg Next
                .form-group.mtop10
                  .col-xs-12.col-sm-12.text-right.extra-small-font.no-mar-pad.text-center-mob *You can always change these in your settings page.
