= content_for :title do
  - title = "Giftbox - Cocociti"
.container-fluid.ptop50.mob-ptop100.pattern-bg{style: "min-height: 700px;"}
  .container.mtop40.padding0
    .col-xs-12.col-sm-12.col-md-6.text-center{style: "background-color: #ff958d;min-height:200px;"}
      .col-xs-12.col-sm-12.white-fg
        .mtop10{style:"height:55px;"}
          %i.fa.fa-gift{style: "font-size: 50px;"}
        %span.inline-block.full-width.white-fg{style: "letter-spacing: 2px;"}
          SHOWCASE GIFTING
      .col-xs-12.col-sm-12.white-fg.font20
        .col-xs-12.col-sm-4.no-mar-pad
          .col-xs-12.col-sm-12.no-mar-pad
            Balance
          .col-xs-12.col-sm-12.no-mar-pad
            %i.fa.fa-inr
            #{current_user.total_showcase_withdraw_available_amount}
        .col-xs-12.col-sm-4.no-mar-pad
          .col-xs-12.col-sm-12.no-mar-pad
            Total
          .col-xs-12.col-sm-12.no-mar-pad
            %i.fa.fa-inr
            #{current_user.total_showcase_raised_amount}
        .col-xs-12.col-sm-4.no-mar-pad
          .col-xs-12.col-sm-12.no-mar-pad
            Withdrawn
          .col-xs-12.col-sm-12.no-mar-pad
            %i.fa.fa-inr
            #{current_user.withdraws.showcase_withdraws.complete_withdraws.sum(:coins).to_i}

    / .col-xs-12.col-sm-12.col-md-6.padding10{style: "background-color: #ffa49d;height:200px;"}
    /   .col-xs-12.col-sm-12.text-center{style:"color: #ec827a;"}
    /     .total-coins-sprite.inline-block
    .col-xs-12.col-sm-12.col-md-6.text-center{style: "background-color: #ffcbae;min-height:200px"}
      .col-xs-12.col-sm-12.text-center
        .mtop10{style:"height:55px;"}
          .no-mar-pad.inline-block
            .total-coins-sprite.inline-block{style: "float: left;"}
            - if current_user.mobile_verified?
              .wdrw-btn.send-to-bank-btn.pon.font16.mtop5.inline-block{style: "margin-left: 10px; display: inline-block"} Withdraw Coins
            - else
              = link_to verify_profile_profiles_path, class: "j-loader-trigger-link" do
                .wdrw-btn.send-to-bank-btn.pon.font16.inline-display.mtop5 Withdraw Coins
        %span.inline-block.full-width.white-fg{style: "letter-spacing: 2px;"}
          COINS
      .col-xs-12.col-sm-12.no-mar-pad.text-center.white-fg.font20
        .col-xs-12.col-sm-12
          .col-xs-12.col-sm-4.no-mar-pad
            .col-xs-12.col-sm-12.no-mar-pad
              Balance
            .col-xs-12.col-sm-12.no-mar-pad
              ="#{current_user.wallet.unused_coins.to_i}"

          .col-xs-12.col-sm-4.no-mar-pad
            .col-xs-12.col-sm-12.no-mar-pad
              Total
            .col-xs-12.col-sm-12.no-mar-pad
              %span.inline-block.full-width{style: "letter-spacing: 2px;"}
                %span.inline-display="#{current_user.wallet.total_coins.to_i}"
                .dropdown.black80-fg.zero-letter-spacing.inline-display
                  %span.pright15.pon.dropdown-toggle#dropdownMenu1{type: "button", "data-toggle" => "dropdown"}
                    %span.caret
                  %ul.dropdown-menu
                    %li.pleft-10.pright-10
                      %span
                        Sign up Bonus:
                        %br 2 coins
                    %li.divider
                    %li.pleft-10.pright-10
                      %span
                        Verified Referrals:
                        %br
                        =@verified_referrals.count.to_i
                        * 2 coins
                    %li.divider
                    %li.pleft-10.pright-10
                      %span
                        Coins of Coin Wish:
                        %br
                        =@coins_gifted.count.to_i
                        coin(s)
                    %li.divider
                    %li.pleft-10.pright-10
                      %span
                        Promotional Coins:
                        %br
                        =@promotional_coins.count.to_i
                        coin(s)
          .col-xs-12.col-sm-4.no-mar-pad
            .col-xs-12.col-sm-12.no-mar-pad
              Withdrawn
            .col-xs-12.col-sm-12.no-mar-pad
              ="#{current_user.wallet.used_coins.to_i}"
    .col-xs-12.col-sm-4.padding10.ptop0.mtop30
      %h4.no-mar-pad.padding10.full-width.text-center.border5.light-border.bg-shad WITHDRAW
      .col-xs-12.col-sm-12.no-mar-pad.mtop10{style: "height: 250px;overflow-y: auto;"}
        - current_user.showcases.active_rasing_funds.each do |showcase|

          .col-xs-12.col-sm-12.no-mar-pad.padding10.bg-shad.light-border
            .col-xs-4.col-sm-4.no-mar-pad
              = showcase.title
            .col-xs-4.col-sm-4.no-mar-pad
              %i.fa.fa-inr=showcase.available_withdraw_amount
            .col-xs-4.col-sm-4.no-mar-pad
              .btn.btn-primary.wdrw-btn{class: "#{ (showcase.available_withdraw_amount > 0) ? '' : 'disabled' }","data-amount" => "#{showcase.available_withdraw_amount}", "data-showcase-id" => "#{showcase.id}"} Withdraw
    .col-xs-12.col-sm-4.padding10.ptop0.mtop30
      %h4.no-mar-pad.padding10.full-width.text-center.border5.light-border.bg-shad CROUDFUNDING WITHDRAWAL HISTORY
      .col-xs-12.col-sm-12.no-mar-pad.mtop10{style: "height: 250px;overflow-y: auto;"}
        - @showcase_withdraws.each do |withdraw|
          %h5.no-mar-pad.padding10.border5.bg-shad.light-border
            Amount(for #{withdraw.showcase.title}) withdrawn -
            Rs.#{withdraw.coins}
            &nbsp;&nbsp;
            Date -
            = withdraw.created_at.in_time_zone("Kolkata").strftime("%d %b %Y %H:%M")
            &nbsp;&nbsp;
            - if withdraw.open?
              = link_to delete_withdraw_request_profile_path(withdraw), method: :post, data: { confirm: "Are you sure you want to delete your withdraw request?" }, class: "j-loader-trigger-link" do
                Delete Request
            - elsif withdraw.closed?
              Completed
            -elsif withdraw.rejected?
              Rejected
    .col-xs-12.col-sm-4.padding10.ptop0.mtop30
      %h4.no-mar-pad.padding10.full-width.text-center.border5.light-border.bg-shad COIN WITHDRAWAL HISTORY
      .col-xs-12.col-sm-12.no-mar-pad.mtop10{style: "height: 250px;overflow-y: auto;"}
        - @coin_withdraws.each do |withdraw|
          %h5.no-mar-pad.padding10.border5.bg-shad.light-border
            Coins withdrawn -
            = withdraw.coins
            &nbsp;&nbsp;
            Date -
            = withdraw.created_at.in_time_zone("Kolkata").strftime("%d %b %Y %H:%M")
            &nbsp;&nbsp;
            - if withdraw.open?
              = link_to delete_withdraw_request_profile_path(withdraw), method: :post, data: { confirm: "Are you sure you want to delete your withdraw request?" }, class: "j-loader-trigger-link" do
                Delete Request
            - elsif withdraw.closed?
              Completed
            -elsif withdraw.rejected?
              Rejected
    .col-xs-12.col-sm-12.padding10.ptop0.border-lt-side.mtop30{style: "min-height: 250px;"}
      %h4.no-mar-pad.padding10.full-width.text-center.border5.bg-shad.light-border RULES
      .col-xs-12.col-sm-12.no-mar-pad.mtop10
        %ul
          %li 1 click on a coin icon = ₹1 rupee (For your wishes & while gifting)
          %li For each friend you invite to Cocociti, you get 2 coins. Isn't that awesome?
          %li You can withdraw the coins earned to your bank account any time at the intervals of 10, 20, 50, 100 & in multiples of 200 thereafter
          %li The first time you can withdraw when you reach ₹10, next time when you reach ₹20, then 50, 100 and 200 each time after your first 200.
          %li
            Withdrawals are only allowed for:
            %br
            1.Indian residents, in INR only.
            %br
            2. Users 18 and above with a valid bank account.
          %li One bank account can be associated with one Cocociti account
          %li Spammy events or engagement aimed at earning promotional coins will result in cancellation of any such coins earned.
          %li Have questions? Don't worry, write to us at ayyo@cocociti.com and we'll be happy to help.
          %br
          %strong
            P.S:
          Coins are applicable to coin wishes and your personal wishes (Not if you rewish or select from popular wishes)
          %br
          %br
          %span.font20.weight-bold Happy Wishing.

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      function LoadtransferForm(showcase_id){
        $.ajax({
              type: 'post',
              url: "/profiles/send_to_bank_form",
              data: {showcase_id: showcase_id},
              success: function(data) {}
          });
      }
      $(document).on("click", ".wdrw-btn", function(){
        LoadtransferForm($(this).attr('data-showcase-id'))
      })
    })
