Dear #{@user.name},
%p
  Your order request is accepted by the owner
  %br
  %br
  Owner:
  %strong
    = @owner.name
  %br
  %br
  Amount to pay:
  &#8377;
  %strong
    = @transaction.amount
  %br
  %br
  Refundable Security Deposit:
  &#8377;
  - if @transaction.product.collect_security_deposit?
    %strong= @transaction.refundable_security_deposit
  -else
    %strong= @transaction.product.security_deposit
    %br
    Note: Refundable Security Deposit will be collected while you pick up the item.
  %br
  %br
  Duration:
  %strong
    = @transaction.duration_for_mail
  %br
  %br
  %span{style: "font-size:14px;float:left;margin-bottom:20px;width:100%;"}
    %strong
      Booking Details
    %br
    %br
    - if @transaction.days > 0
      Daily Rent:
      &#8377;
      = @transaction.daily_rent
      %br
      No of Days:
      = @transaction.days
      %br
    -if @transaction.hours > 0
      Hourly Rent:
      &#8377;
      = @transaction.hourly_rent
      %br
      No of Hours:
      = @transaction.hours
      %br
    - if @transaction.weekend_days > 0
      Premium Rent (Daily):
      &#8377;
      = @transaction.weekend_daily_rent
      %br
      No. of Premium Days:
      = @transaction.weekend_days
      %br
    - if @transaction.weekend_hours > 0
      Premium Rent (Hourly):
      &#8377;
      = @transaction.weekend_hourly_rent
      %br
      No. of Premium Hours:
      = @transaction.weekend_hours
      %br
    - if @transaction.operator_price > 0
      Operator/Driver Charge:
      = @transaction.operator_price
      %br
    Total Rent:
    &#8377;
    = @transaction.rent_without_discount
    %br
    Discounts:
    &#8377;
    = @transaction.discounts
    %br
    Total Rent after Discount:
    &#8377;
    = @transaction.rent_with_discount
    %br
    Tax:
    &#8377;
    = @transaction.tax
  %br
  %br
  %br
  %br
  = link_to "#{checkout_transaction_url(@transaction)}", style: "text-decoration: none" do
    %span{style: "padding: 15px;background-color: #05A665;color: white;font-size: 14px;"}
      Checkout
  %br
  %br
  %br
  %br
  Product:
  %strong
    = link_to @transaction.product.title, "#{user_product_url(@product.id)}"
  %br
  %br
