Dear #{@user.name},
%p
  Your order request is accepted by the owner
  %br
  %br
  Product:
  %strong
    = link_to @transaction.product.title, "#{user_product_url(@product)}"
  %br
  %br
  Owner:
  %strong
    = @owner.name
  %br
  %br
  Amount to pay:
  %strong
    = rupee @transaction.amount
  %br
  %br
  Duration:
  %strong
    = @transaction.duration_for_mail
  %br
  %br
  %br
  %br
  = link_to "#{checkout_transaction_url(@transaction)}", style: "text-decoration: none" do
    %span{style: "padding: 15px;background-color: #05A665;color: white;font-size: 14px;"}
      Checkout
