Dear #{@user.name},
%p
  Your order request is accepted by the owner
  %br
  %strong Product:
  = link_to @transaction.product.title, "#{@base_url}#{user_product_path(@owner, @product)}"
  %br
  %strong Owner:
  = @owner.name
  %br
  %strong Amount to pay:
  = rupee @transaction.amount
  %br
  Please click
  = link_to 'here', "#{@base_url}#{checkout_transaction_path(@transaction)}"
  to pay for the order.