Dear #{@user.name},
%p
  Your order request is accepted by the owner
  %br
  %br
  Owner:
  %strong
    = @owner.name
  %br
  %br
  Amount to pay:
  %strong
    = rupee @transaction.amount
  %br
  %br
  Duration:
  %strong
    = @transaction.duration_for_mail
  %br
  %br
  %span{style: "font-size:14px;float:left;margin-bottom:20px;width:100%;"}
    %strong
      Booking Details
    %br
    %br
    Daily Rent:
    &#8377;
    = @transaction.daily_rent
    %br
    No of Days:
    = @transaction.days
    %br
    - if @transaction.weekend_days > 0
      Premium Rent:
      &#8377;
      = @transaction.weekend_rent
      %br
      No. of Premium Days:
      = @transaction.weekend_days
      %br
    Total Rent:
    &#8377;
    = @transaction.rent_without_discount
    %br
    Discounts:
    &#8377;
    = @transaction.discounts
    %br
    Total Rent after Discount:
    &#8377;
    = @transaction.rent_with_discount
    %br
    Tax:
    &#8377;
    = @transaction.tax
  %br
  %br
  %br
  %br
  = link_to "#{checkout_transaction_url(@transaction)}", style: "text-decoration: none" do
    %span{style: "padding: 15px;background-color: #05A665;color: white;font-size: 14px;"}
      Checkout
  %br
  %br
  %br
  %br
  Product:
  %strong
    = link_to @transaction.product.title, "#{user_product_url(@product.id)}"
  %br
  %br
