Dear #{@user.name},
%p
  Your order request is denied by the owner
  %br
  %br
  %strong Product:
  = link_to @transaction.product.title, "#{@base_url}#{user_product_path(@product)}"
  %br
  %br
  %strong Owner:
  = @owner.name
