Ayyo!
%p
  Your payment of Rs. #{@transaction.amount} for #{@product.title} was unsuccessful
  %br
  %br
  Transaction ID: "#{@transaction.coco_transaction_id}"
  %br
  %br
  = link_to "#{checkout_transaction_url(@transaction)}", style: "text-decoration: none" do
    %span{style: "padding: 15px;background-color: #05A665;color: white;font-size: 14px;"}
      Try Again
