Ayyo!
%p
  Your payment of Rs. #{@transaction.amount} for #{@product.title} was unsuccessful. Please click the following link to make payment and book the item successfully.
  %br
  = link_to 'checkout', "#{@base_url}#{checkout_transaction_path(@transaction)}"
