= @user.name
has requested your item
= @product.title
for dates
%strong
  = @transaction.duration_for_mail
for
&#8377;
= rupee @transaction.amount
%br
%br
%strong Message from #{@user.name}:
= simple_format @message
%br
%br
= link_to "#{message_url(@transaction)}", style: "text-decoration: none" do
  %span{style: "padding: 15px;background-color: #05A665;color: white;font-size: 14px;"}
    Accept/Deny Request
