Thank you #{@user.name},
%br
Your booking is confirmed. Booking details are mentioned below.
%br
%br
%strong
  Booking ID:
  = @transaction.coco_transaction_id
%br
%br
%strong
  #{@transaction.startdate.strftime('%H:%M, %d-%b-%Y, %a')} &nbsp;&nbsp;To&nbsp;&nbsp; #{@transaction.enddate.strftime('%H:%M, %d-%b-%Y, %a')}
%br
%br
%strong
  Amount Paid:
  = rupee @transaction.amount
%br
%strong
  Refundable Deposit:
  = rupee @transaction.product.security_deposit
%br
%br
%strong
  Pick Up Location:
  %br
  = @owner.name
  %br
  = @owner.address.address1
  %br
  = @owner.address.address2
  %br
  = @owner.address.landmark
  %br
  = @owner.address.city
  %br
  = @owner.address.state
  %br
  = @owner.address.zip
  %br
