.pull-left.full-width.text-center.ptop40.pbottom40.border-bt-side-dark
  %span.font20.weight600.full-width.pull-left= chat_room.name.upcase
  %span.pull-right
    .img-circle.pulsate-dot.bg-green{class: "chat-room-online-status#{chat_room.id} #{chat_room.online_count == 0 ? 'hidden' : ''}"}
    %span{class: "extra-small-font grey-fg chat-room-online-count#{chat_room.id}"}
      = chat_room.online_count if chat_room.online_count >  0
