= link_to chat_room_path(chat_room), class: "j-ct-card-wrap j-loader-trigger-link" do
  .col-xs-12.col-sm-3.padding10
    .col-xs-12.col-sm-12.padding15.mbottom10.bg-shad.pon
      .padding10.text-center.white-fg.btn-v-outline.cc-dark-fg.transition-effect.pull-left{style: "width: 52px; height: 43px;"}
        = chat_room.name.first.upcase
      %span.pull-left.mleft10.mtop10.black80-fg{"data-toggle" => "tooltip", "data-placement" => "auto", title: "#{chat_room.name}", class: "chat-conv-card-#{chat_room.id}", "data-current-user-id" => "#{current_user.try(:id)}"}
        %span.hidden.j-croom-name= chat_room.name
        %span= truncate chat_room.name, length: 20
        - if current_user
          %span.j-chat-count.badge.btn-shadow.cc-med-bg{class: "#{chat_room.unread_messages_count(current_user) > 0 ? '' : 'hide-display'}"}= chat_room.unread_messages_count(current_user)
.pull-left.pright0.pleft0.mtop5.ptop30.h-z.pos-relative.j-online-users-full-ct-wrap{class: "chat-room-online-#{chat_room.id} #{chat_room.online_count == 0 ? 'hidden' : ''}", style: "margin-left: -55px;"}
  .online-count-wrap.img-circle.inline-block.text-center.black80-fg
    = chat_room.online_count if chat_room.online_count > 0
  .fa.fa-angle-down.j-online-users.pos-relative.v-align-bottom.pon
  .online-conv-users-wrap.hide-display.inline-block.j-online-users-wrap.pos-absolute.mtop5.padding5.border5.font12.white-fg.text-center
    = chat_room.online_users_name
