= link_to chat_room_path(chat_room) do
  .col-xs-12.col-sm-3.padding10.j-ct-card-wrap
    .col-xs-12.col-sm-12.padding15.mbottom10.bg-shad.pon
      .padding10.text-center.white-fg.btn-v-outline.cc-dark-fg.transition-effect.pull-left{style: "width: 52px; height: 43px;"}
        = chat_room.name.first.upcase
      %span.pull-left.mleft10.mtop10.black80-fg{"data-toggle" => "tooltip", "data-placement" => "auto", title: "#{chat_room.name}"}
        %span.hidden.j-croom-name= chat_room.name
        %span= truncate chat_room.name, length: 20
        %span.j-chat-count.badge.btn-shadow{class: "#{chat_room.unread_messages_count(current_user) > 0 ? '' : 'hide-display'} #{i.present? ? 'cc-dark-bg' : 'bg-light-grey grey-fg'}"}= chat_room.unread_messages_count(current_user)
      %span.pull-right 
        .img-circle.pulsate-dot.bg-green{class: "chat-room-online-status#{chat_room.id} #{chat_room.online_count == 0 ? 'hidden' : ''}"}
        %span{class: "extra-small-font grey-fg chat-room-online-count#{chat_room.id}"}
          = chat_room.online_count if chat_room.online_count >  0
