.pull-left.full-width.text-center.ptop40.pbottom40.border-bt-side-dark
  %span.font20.weight600.full-width.pull-left= chat_room.name.upcase
  %div.inline-block{class: "chat-room-online-#{chat_room.id} #{chat_room.online_count == 0 ? 'hidden' : ''}"}
    .online-count-wrap.img-circle.inline-block
      = chat_room.online_count if chat_room.online_count > 0
    .fa.fa-angle-down.j-online-users.pos-relative.v-align-bottom.pon
    .online-users-wrap.hide-display.inline-block.j-online-users-wrap.pos-absolute.mtop5.padding5.border5.font12.white-fg.text-center
      = chat_room.online_users_name
.pull-left.full-width
  %span.full-width.pull-left.text-center.font11.mbottom10
    %span α Alpha mode
  .pos-relative.pull-left#j-chat-room-members-scroll{style: "height: 360px;"}
    - chat_room.memberships.where.not(user_id: current_user.try(:id)).each do |membership|
      .col-sm-12.ptop10.pbottom5.mbottom10.pleft5
        .media.padding5.mtop0
          .media-left
            = link_to myprofile_path(membership.user.profile.slug), target: "_blank" do
              = cl_image_tag membership.user.avatar, class: "img-circle media-object mtop5", width: 30, height: 30, crop: :fill, gravity: :face
          .media-body.font-medium
            = link_to myprofile_path(membership.user.profile.slug), target: "_blank" do
              %span.pull-left.full-width.text-left.black80-fg= membership.user.name
              %span.cc-dark-fg.v-align-top.font13.pull-left
                %span.pull-left{style: "text-decoration: underline;"} cocociti.com/
                %span.pull-left{style: "text-decoration: underline;"}= membership.user.profile.slug
