= form_for chat_room, remote: true, class: "bg-white" do |f|
  .form-group
    = text_field_tag :j_nct_wish_prefix, "", placeholder: "Wish category of chat room", class: "coco-input-field form-control height50"
    = f.text_field :wish_prefix, class: "hide-display"
    .dropdown.j-nct-prefix-holder
      .dropdown-menu.pos-absolute.prefix-scrollbar.full-width{style: "max-height: 298px;overflow:hidden !important;"}
        - Showcase::WISH_PREFIX.each do |wish_prefix|
          %li
            %a.pon{"data-id" => "#{wish_prefix[1]}", "data-text" => "#{wish_prefix[0]}"}
              = wish_prefix[0]
              %span.grey-fg.font13.mob-font12.weight500
                &nbsp;
                %em= wish_prefix[2]
  .form-group
    = f.text_field :name, placeholder: "Name of chat room", class: "coco-input-field form-control height50"
  .form-group.mbottom0
    = f.submit "Create", class: "btn btn-md cc-dark-bg white-fg j-nct-submit"
