.container-fluid.bg-white.padding0.full-height.chat-ids-holder{"data-chat-room-ids" => "#{@public_chat_rooms.map{|c| c.id}.join(',')}"}
  - if @public_chat_rooms.blank?
    .col-xs-12.col-sm-12.ptop50.mob-ptop100
      %h3.mbottom0 TRENDING CHAT ROOMS
      %hr.mtop5.mbottom10
      .col-xs-12.col-sm-12.no-mar-pad
        - @trending_chat_rooms.each do |chat_room|
          = render partial: "chat_rooms/chat_room_card", locals: { chat_room: chat_room }
  - else
    .col-xs-12.col-sm-3.ptop50.mob-ptop100.btn-shadow.full-height.pleft20.pright20.h-z.j-cm-conv-wrap.hidden-xs
      .col-xs-12.col-sm-12.padding0.mbottom20.mtop20
        = text_field_tag :search_chat, "", class: "pull-left form-control padding5 pleft-10 border2", style: "height: 46px;", placeholder: "Search room.."
        .fa.fa-search.font20.pull-left{style: "margin-left: -28px;margin-top: 11px; color: #d8d8d8;"}
      - @public_chat_rooms.each_with_index do |chat_room, i|
        = render partial: "chat_rooms/chat_room_conv_card", locals: {chat_room: chat_room, i: i}
    .col-xs-12.no-mar-pad.visible-xs.ptop50.mob-ptop100.btn-shadow.full-height.h-z
      - @public_chat_rooms.each do |chat_room|
        = render partial: "chat_rooms/chat_room_card", locals: { chat_room: chat_room }
    .col-sm-6.hidden-xs#j-c-m-wrapper.ptop50.mob-ptop100.pleft0.pright0.full-height
      #chat_messages_wrapper.pull-left.full-width{style: "height:88%;"}
        = render partial: "chat_rooms/chat_room", locals: {chat_room: @public_chat_rooms.first, chat_messages: @public_chat_messages}
      = render partial: "chat_rooms/chat_submit_form", locals: {chat_room: @public_chat_rooms.first}
    .col-xs-3.hidden-xs#j-c-m-rhs.ptop50.mob-ptop100.no-mar-pad.btn-shadow.full-height.h-z.text-center
      = render partial: "chat_rooms/chat_conv_rhs", locals: {chat_room: @public_chat_rooms.first, count: @count}
      %span.font11 α Alpha mode

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $('footer').css("display", "none");
      $(".j-conv-messages .badge").hide().text("0");
      $(".j-ct-conv-wrap.active .badge").hide().text("0")
      $("#chat_message_content").focus();
      $(".j-btn-wrap").css("padding-top", ($(".j-chat-form-wrapper").height() - 25)/2);
      $(document).on("click", ".j-ct-conv-wrap", function(){
        $(this).closest(".j-cm-conv-wrap").find(".active").removeClass("active");
        $(this).addClass("active");
        $(this).find(".badge").hide();
        $(this).find(".badge").text("0");
        $("#chat_messages_wrapper").html("<span class='full-width inline-block text-center'><i class='fa fa-spinner fa-spin font25 cc-dark-fg' style='margin-top: 40%'></i></span>")
        $.ajax({url: "/chatrooms/"+$(this).data("chat-room-id")});
      })
      if(#{@public_chat_rooms.present? ? @public_chat_rooms.first.chat_messages.count : 0} > 20){
        $("#chat_messages").on("scroll", function(){
          if($(this).scrollTop() == 0){
            $(this).off("scroll");
            $(".msg-loader").show();
            $.get("/chatrooms/get_chat_messages?room_id=#{@public_chat_rooms.present? ? @public_chat_rooms.first.id: ''}&last_id=#{@public_chat_messages.present? ? @public_chat_messages.first.id: ''}");
          }
        })
      }
      $(document).on("keyup", "#search_chat", function(){
        var value = $(this).val().toLowerCase();
        $(".j-croom-name").each(function(){
          var name = $(this).text().toLowerCase();
          if(name.indexOf(value) < 0){
            $(this).closest(".j-ct-conv-wrap").hide();
          }else{
            $(this).closest(".j-ct-conv-wrap").show();
          }
        })
      })
      $(".conv-mobile").addClass("cc-med-bg");
    })
