.container-fluid.bg-white.padding0.full-height.chat-ids-holder{"data-chat-room-ids" => "#{@joined_chat_rooms.map{|c| c.id}.join(',')}", "data-logged-in-id" => "#{current_user.id}"}
  - if @joined_chat_rooms.blank?
    .container.ptop50.mob-ptop100
      .col-xs-12.col-sm-12.no-mar-pad.mtop20
        = link_to new_chat_room_path do
          .fa.fa-plus-square-o.cc-dark-fg.pull-right.pon{style: "font-size: 40px;"}
      .col-xs-12.col-sm-12.no-mar-pad
        %h4.cc-dark-fg.mbottom0 Feeling lonely? Find or create chatrooms on your favourite topic.
        %hr.mtop5.mbottom10
        .col-xs-12.col-sm-12.no-mar-pad
          - @trending_chat_rooms.each do |chat_room|
            = render partial: "chat_rooms/chat_room_card", locals: { chat_room: chat_room, i: nil }
  - else
    .col-xs-12.col-sm-3.ptop50.mob-ptop100.btn-shadow.full-height.pleft0.pright0.h-z.j-cm-conv-wrap.hidden-xs
      .col-xs-12.col-sm-3.padding15.pos-fixed.h-z
        = text_field_tag :search_chat, "", class: "pull-left form-control padding5 pleft-10 border2 search-croom-md", style: "height: 46px;", placeholder: "Search room.."
        .fa.fa-search.font20.pull-left{style: "margin-left: -28px;margin-top: 11px; color: #d8d8d8;"}
      .pos-relative.full-height.padding15#chat-card-scroll{style: "padding-top: 76px;"}
        - @messaged_chat_rooms.each_with_index do |chat_room, i|
          = render partial: "chat_rooms/chat_room_conv_card", locals: {chat_room: chat_room, i: i}
        %h4.pull-left.mbottom20.mtop20.dull-color-italic.font12 Recently visited chatrooms
        - @inactive_chatrooms.each do |chat_room|
          = render partial: "chat_rooms/chat_room_conv_card", locals: {chat_room: chat_room, i: nil}
    .col-xs-12.no-mar-pad.visible-xs.ptop50.mob-ptop100.full-height.h-z.j-cm-conv-wrap
      .col-xs-12.padding10
        = text_field_tag :search_chat, "", class: "pull-left form-control padding5 pleft-10 border2 search-croom-mob", style: "height: 46px;", placeholder: "Search room.."
        .fa.fa-search.font20.pull-left{style: "margin-left: -28px;margin-top: 11px; color: #d8d8d8;"}
      - @messaged_chat_rooms.each do |chat_room|
        = render partial: "chat_rooms/chat_room_card", locals: { chat_room: chat_room, i: -1 }
      %h4.pull-left.mleft10.mbottom20.mtop20.dull-color-italic.font12 Recently visited chatrooms
      - @inactive_chatrooms.each do |chat_room|
        = render partial: "chat_rooms/chat_room_card", locals: {chat_room: chat_room, i: nil}
    .col-sm-6.hidden-xs#j-c-m-wrapper.ptop50.mob-ptop100.pleft0.pright0.full-height
      #chat_messages_wrapper.pull-left.full-width{style: "height:88%;"}
        = render partial: "chat_rooms/chat_room", locals: {chat_room: @first_room, chat_messages: @messaged_chat_room_messages}
      = render partial: "chat_rooms/chat_submit_form", locals: {chat_room: @first_room}
    .col-xs-3.hidden-xs#j-c-m-rhs.ptop50.mob-ptop100.no-mar-pad.btn-shadow.full-height.h-z.text-center
      = render partial: "chat_rooms/chat_conv_rhs", locals: {chat_room: @first_room, count: @count}
      %span.font11 α Alpha mode

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $("#chat-card-scroll").mCustomScrollbar({theme:"minimal-dark"});
      $(".j-conv-messages .badge").addClass("hidden").text("0");
      setTimeout(function(){$(".j-ct-conv-wrap.active .badge").hide().text("0");}, 10000);
      $(".j-btn-wrap").css("padding-top", ($(".j-chat-form-wrapper").height() - 25)/2);
      $(document).on("click", ".j-ct-conv-wrap", function(){
        $(this).closest(".j-cm-conv-wrap").find(".active").removeClass("active");
        $(this).addClass("active");
        $(this).find(".badge").hide();
        $(this).find(".badge").text("0");
        $("#chat_messages_wrapper").html("<span class='full-width inline-block text-center'><i class='fa fa-spinner fa-spin font25 cc-dark-fg' style='margin-top: 40%'></i></span>")
        $.ajax({url: "/chatrooms/"+$(this).data("chat-room-id")});
      })
      if(#{@first_room.present? ? @first_room.chat_messages.count : 0} > 20){
        $("#chat_messages").on("scroll", function(){
          if($(this).scrollTop() == 0){
            $(this).off("scroll");
            $(".msg-loader").show();
            $.get("/chatrooms/get_chat_messages?room_id=#{@first_room.try(:id)}&last_id=#{@first_message.try(:id)}");
          }
        })
      }
      $(document).on("keyup", ".search-croom-md", function(){roomSearch(".search-croom-md", ".j-ct-conv-wrap")});
      $(document).on("keyup", ".search-croom-mob", function(){roomSearch(".search-croom-mob", ".j-ct-card-wrap")});
      function roomSearch(trigger, wrapper){
        var value = $(trigger).val().toLowerCase();
        $(trigger).closest(".j-cm-conv-wrap").find(".j-croom-name").each(function(){
          var name = $(this).text().toLowerCase();
          if(name.indexOf(value) < 0){
            $(this).closest(wrapper).hide();
          }else{
            $(this).closest(wrapper).show();
          }
        })
      }
      $(".conv-mobile").addClass("cc-med-bg");
      $(".emojionearea-editor").focus();
    })
