%p{style: "font-size: 16px;"}
  = link_to myprofile_url(@showcase.user.profile.slug) do
    %span= truncate @showcase.user.name.titleize, length: 50
  &nbsp;
  %span= @showcase.wishlist? ? " has a new" : " fulfilled a"
  = link_to slug_showcase_url(@showcase.slug, @showcase) do
    %span wish
%br
Discover
%span= truncate @showcase.user.name.titleize, length: 50
's&nbsp;
= link_to myshowpieces_url(@showcase.user.profile.slug) do
  Fulfilled
&nbsp;|&nbsp;
= link_to mywishes_url(@showcase.user.profile.slug) do
  Future
&nbsp;|&nbsp;
= link_to mymomentary_url(@showcase.user.profile.slug) do
  Momentary
&nbsp;
wishes here
%br
Discover more on
%a{href: "#{GLOBAL_VARIABLES[:root_url]}"}
  Cocociti
