%p{style: "font-size: 16px;"}
  = link_to myprofile_url(@wower.profile.slug) do
    %span= truncate @wower.name.titleize, length: 50
  &nbsp;
  %span liked your
  = link_to showcase_url(@showcase) do
    %span= truncate @showcase.title, length: 50
%br
Discover more on
%a{href: "#{GLOBAL_VARIABLES[:root_url]}"}
  Cocociti
