%p
  = link_to myprofile_url(@commenter.profile.slug) do
    %span= truncate @commenter.name.titleize, length: 50
  %span also commented on
  = link_to showcase_url(@showcase) do
    %span= truncate @showcase.title, length: 50
%br
%br
Discover more on
%a{href: "#{GLOBAL_VARIABLES[:root_url]}"}
  Cocociti
