.panel.panel-primary.collbod#profile_form
  .collbocol.panel-heading{:style => "background-color:#e84242; border: none;"}
    %h3.panel-title.about-text Profile Info
    %span.pull-right.clickable
      %i.glyphicon.glyphicon-chevron-up
  .row.panel-body
    .col-md-12
      ~ form_for @profile, html: {class: 'form-horizontal profile_form', role: "form"} do |f|
        .errors= render partial: "/layouts/errors", locals: {errors: @profile.errors.full_messages}
        %fieldset
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} First Name
            .col-sm-10
              = f.text_field :first_name, :placeholder => "First Name", class: "form-control"
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} Last Name
            .col-sm-10
              = f.text_field :last_name, :placeholder => "Last Name", class: "form-control"
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} Location
            .col-sm-10.closest
              = f.fields_for :location do |lf|
                = lf.text_field :name, :placeholder => "Location", class: "form-control map-location"
                = lf.hidden_field :lat, class: "lat"
                = lf.hidden_field :lng, class: "lng"
          .col-md-offset-2.list-map
            #gmap.col-sm-11.mleft15.mbottom20{data: {drag: "true"}}

          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} Phone No
            .col-sm-10
              = f.text_field :phone, :placeholder => "Phone No", class: "form-control"
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} About You
            .col-sm-10
              = f.text_area :about, class: "form-control textarea", row: "3", placeholder: "About You"
          .form-group
            %label.col-sm-2.control-label.mtop5{:for => "textinput"} Days available
            .col-sm-10.mtop10
              - Date::DAYNAMES.each_with_index do |day, i|
                %span.mleft15
                  = check_box_tag "profile[avail_days][]", i, @profile.avail_days_arr.include?(i.to_s), class: "styled", id: "#{day}"
                  %label{:for => "#{day}"}= day
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} Open Time
            .col-sm-10
              = f.select :open_time, options_for_select(Profile.time_options, @profile.open_time)
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} Close Time
            .col-sm-10
              = f.select :close_time, options_for_select(Profile.time_options, @profile.close_time)
          
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} Image
            .col-sm-10
              #fileupload.fileinput-button.upload-image-placeholder
                .fileupload-text-container
                  .fileupload-centered-text
                    .fileupload-text Select file
                    .fileupload-small-text
                = f.file_field :image, style: "display: inline-block;" , class: "fileupload"
                %span.avatar-preview= render partial: "/profiles/avatar"
                .fileupload-preview-remove-image
                  %i.icon-remove.icon-fix
                %input.listing-image-id{:name => "listing_images[][id]", :type => "hidden"}
          .form-group
            .col-sm-offset-2.col-sm-10
              .pull-right
                %button.btn.btn-info.save-button Save Information
