.container
  .row.mar-des-page
    .col-md-12
      .row
        .col-md-3
          = image_tag current_user.avatar, class: "img-responsive img-circle img-width"
        .col-md-6
          %h4.prof-header{style: "padding-top: 0;"}= current_user.name
          .prof-para= simple_format @profile.about
        .col-md-3{style: "padding-left: 50px;"}
          .col-xs-12
            .col-xs-6
              %h2.prof-or-list.mtop10
                %strong= current_user.products.count
              %p.prof-or-list-test
                %small= current_user.products.count == 1 ? "Listing" : "Listings"
            .col-xs-6
              %h2.prof-or-list.mtop10
                %strong= current_user.transactions.count
              %p.prof-or-list-test
                %small= current_user.transactions.count == 1 ? "Order" : "Orders"
            .col-xs-12.mtop20
              = link_to "Edit Profile", settings_path, class: "btn btn-success"

.row.profile
  .col-md-12.mtop20
    .tabbable-panel-about
      .tabbable-line-about.tabbable-line-about-pad
        %ul.nav.nav-tabs.pro-tabs-text
          %li.active.pro-tabs-mar12{style: "margin-left: 139px"}
            = link_to "My Profile", "#tab_default_1", data: {toggle: "tab"}
          %li.pro-tabs-mar
            = link_to "My Listings", "#tab_default_2", data: {toggle: "tab"}
          %li.pro-tabs-mar2
            = link_to "My Orders", "#tab_default_3", data: {toggle: "tab"}
        .tab-content.pro-about-con-height{style: "padding-top: 0;"}
          #tab_default_1.tab-pane.active
            .col-sm-12.box-row
              .col-sm-3 Name
              .col-sm-3.help-text &nbsp;
              .col-sm-6.text-right= current_user.name
            .col-sm-12.box-row
              .col-sm-3 Phone Number
              .col-sm-3.help-text Private info
              .col-sm-6.text-right= @profile.phone
            .col-sm-12.box-row
              .col-sm-3 Email
              .col-sm-3.help-text Private info
              .col-sm-6.text-right= current_user.email 
            .col-sm-12.box-row
              .col-sm-3 Location
              .col-sm-3.help-text Private info
              .col-sm-6.text-right= @profile.location.name if @profile.location

          #tab_default_2.tab-pane
            .update-error
            .col-md-12.hidden-xs.alert.alert-info.no-mar-left{style: "border-radius: 0; margin-bottom: 0; font-weight: bold"}
              .col-sm-1.text-right Image
              .col-sm-2 Title
              .col-sm-1 ID
              .col-sm-2 Category
              .col-sm-1.no-mar-pad Price
              .col-sm-1.no-mar-pad Shipping
              .col-sm-1 Status
              .col-sm-1 Orders
              .col-sm-1.text-right Edit
              .col-sm-1 On / Off
            - current_user.products.each_with_index do |product, i|
              .col-xs-12.closest{id: "product-#{product.id}", style: "border: 1px solid #ccc; padding: 5px 0; border-top: none;"}
                = render partial: "product", locals: {product: product, i: i}
              
          #tab_default_3.tab-pane
            .col-md-12.alert.alert-info.no-mar-left{style: "margin-bottom: 1px"}
              .col-md-3 Product
              .col-md-3 Duration
              .col-md-2 Amount
              .col-md-2 Status
              .col-md-2.text-right
            - current_user.transactions.each do |trans|
              .col-md-12.alert.alert-default.no-mar-left{style: "margin-bottom: 1px"}
                .col-md-3= trans.product.title
                .col-md-3= trans.duration
                .col-md-2
                  %i.fa.fa-rupee
                  = trans.amount || trans.product.calculate_price(trans.duration_days)
                .col-md-2= trans.status.humanize
                .col-md-2.text-right
                  - if trans.accepted?
                    = link_to "checkout", checkout_transaction_path(trans)