Welcome to Cocociti!
%br
%br
%p
  Step 1: Update profile & start renting.
  = link_to "#{settings_url}" do
    %span{style: "padding: 15px;background-color: #05A665;color: white;font-size: 14px;"}
      Update Profile
  %br
  %br
  Step 2: Create a listing and share your items with others.
  = link_to "#{new_product_url}" do
    %span{style: "padding: 15px;background-color: #05A665;color: white;font-size: 14px;"}
      Add Listing
  %br
  %br
  Step 3: Browse and save money by taking things on rent.
  = link_to "#{search_products_url}" do
    %span{style: "padding: 15px;background-color: #05A665;color: white;font-size: 14px;"}
      Search Items
  %br
  %br
  Step 4: Like us on
  = link_to "Facebook", "www.facebook.com/cocociti"
  = "& Follow us on"
  = link_to "Twitter", "www.twitter.com/cocociti"
  to get updates and new offers.
