%span{style: "font-size:14px;float:left;margin-bottom:20px;width:100%;text-align:left;"}
  -name = @cocotransfer.donor_name ? @cocotransfer.donor_name : "Cocociti User"
  Dear #{name},
%span{style: "font-size:14px;float:left;margin-bottom:10px;width:100%;"}
  Your Gift of Rs. #{@cocotransfer.total_amount} for #{@cocotransfer.showcase.title} by #{@cocotransfer.showcase.user.name} was successful.
  Transaction ID is #{@cocotransfer.txnid}
%span{style: "font-size:14px;float:left;margin-bottom:10px;width:100%;"}
  Thank you for using Cocociti.
%span{style: "font-size:16px;float:left;margin-bottom:20px;width:100%;"}
  Share, find, fund & fulfill your wishes at www.cocociti.com.
