!!!
%html{:lang => "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "Cocociti is a social network based on wishes. Make new friends, discuss, discover, share wishes, get free gifts, & raise funds to fulfill your wishes.", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "Cocociti | Share, find, fund & fulfill your wishes.", property: "og:title"}/
    %meta{content: "https://www.cocociti.com/", property: "og:url"}/
    %meta{content: "Cocociti is a social network based on wishes. Make new friends, discuss, discover, share wishes, get free gifts, & raise funds to fulfill your wishes.", property: "og:description"}/
    %title Cocociti | Share, find, fund &amp; fulfill your wishes!
  %body{style: "margin:0;padding:0;"}
    / Container
    %table{border: "0", cellpadding: "0", cellspacing: "0", height: "100%", style: "border-collapse:collapse;table-layout:fixed;margin:0 auto;border-spacing:0;padding:0;height:100%!important;width:100%!important;font-weight:normal;color:#3e4152;font-family:'roboto',Arial, Helvetica, sans-serif;font-size:14px;line-height:1.4;", width: "100%"}
      %tr
        %td{style: "background:#ffffff;padding:16px 0;"}
          %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", style: "max-width:600px;margin:auto;border-spacing:0;background:#673AB7;padding:4px;border-radius:16px;-moz-border-radius:16px;-ms-border-radius:16px;-o-border-radius:16px;-webkit-border-radius:16px;overflow:hidden", width: "100%"}
            %tr
              %td{style: "border-collapse:collapse;"}
                / Email Holder
                %table{align: "center", border: "", cellpadding: "0", cellspacing: "0", style: "margin:auto;border-spacing:0;background:white;border-radius:12px;-moz-border-radius:12px;-ms-border-radius:12px;-o-border-radius:12px;-webkit-border-radius:12px;overflow:hidden;border-collapse: collapse;", width: "100%"}
                  / Row 01
                  %tr
                    %td{style: "border-collapse:collapse;"}
                      / Header
                      %table{bgcolor: "#ffffff", border: "0", cellpadding: "0", cellspacing: "0", style: "border-spacing:0;border-collapse:collapse;", width: "100%"}
                        %tr
                          %td{align: "left", style: "border-collapse:collapse; padding:16px 32px;", valign: "middle"}
                            %table{bgcolor: "#ffffff", border: "0", cellpadding: "0", cellspacing: "0", style: "border-spacing:0;border-collapse:collapse", width: "100%"}
                              %tr
                                / Pe Icon
                                %td{align: "left", style: "padding: 0;text-align:left;border-collapse:collapse;", valign: "middle", width: "40"}
                                  %a{href: "", style: "text-decoration:none;color:#ffffff;outline:0;outline:none;border:0;border:none;", target: "_blank"}
                                    = image_tag("#{root_url}emails/coco-logo.png", alt: "Cocociti",align: "middle", border: "0", style: "margin:auto;text-align:center;border:0;outline:none;text-decoration:none;min-height:40px;", width: "40" )
                                / End of Pe Icon
                                %td{align: "left", style: "border-collapse:collapse;", valign: "middle", width: "16"}  
                                / Date / Time
                                %td{align: "right", style: "0;text-align:right;border-collapse:collapse;font-size:12px;font-family:'roboto',Arial, Helvetica, sans-serif;outline:0;outline:none;border:0;border:none;", valign: "middle"}
                                  = @cocotransfer.updated_at.strftime("%b %d %Y")
                                / End of Date / Time
                      / End of Header
                  / End of Row 01
                  / Transaction Details Wrapper
                  %tr
                    %td{style: "border-collapse:collapse;padding:0 16px"}
                      / Transaction Details
                      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", style: "background:#f7f9fa;padding:16px;border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;overflow:hidden;", width: "100%"}
                        / User name / Amount
                        %tr
                          %td{align: "left", style: "border-collapse:collapse;padding-bottom:16px;border-bottom:1px solid #eaeaed;", valign: "middle"}
                            %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
                              %tr
                                %td{align: "left", style: "border-collapse:collapse;text-transform:capitalize;", valign: "top"}
                                  %span{style: "border-collapse:collapse;width:100%;text-wrap:normal;display:block;"} Paid to
                                  %span{style: "border-collapse:collapse;font-size:16px;font-weight:500;width:100%;text-wrap:normal;display:block"}
                                    #{ @cocotransfer.receiver.name}
                                %td{align: "left", style: "border-collapse:collapse;", valign: "middle", width: "32"}
                                %td{align: "right", style: "border-collapse:collapse;font-size:20px;font-weight:500;", valign: "middle"}
                                  ₹ #{@cocotransfer.total_amount}
                        / End of User name / Amount
                        / Transaction ID
                        %tr
                          %td{align: "left", style: "border-collapse:collapse;padding:8px 0;border-bottom:1px solid #eaeaed;font-size:12px;", valign: "middle"}
                            %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
                              %tr
                                %td{align: "left", style: "border-collapse:collapse;text-transform:capitalize;text-wrap:normal;", valign: "top", width: "28%"}
                                  Txn. ID
                                %td{align: "left", style: "border-collapse:collapse;font-weight:normal;text-wrap:normal;", valign: "top", width: "16"} :
                                %td{align: "left", style: "border-collapse:collapse;font-weight:normal;text-wrap:normal;", valign: "top"}
                                  #{@cocotransfer.txnid}
                        / End of Transaction ID
                        / Transaction Status
                        %tr
                          %td{align: "left", style: "border-collapse:collapse;padding:8px 0;border-bottom:1px solid #eaeaed;font-size:12px;", valign: "middle"}
                            %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
                              %tr
                                %td{align: "left", style: "border-collapse:collapse;text-transform:capitalize;text-wrap:normal;", valign: "top", width: "28%"}
                                  Txn. status
                                %td{align: "left", style: "border-collapse:collapse;font-weight:normal;text-wrap:normal;", valign: "top", width: "16"} :
                                / Success
                                %td{align: "left", style: "border-collapse:collapse;font-weight:normal;text-wrap:normal;font-size:16px;color:#5eaa46;", valign: "top"}
                                  Successful
                                / End of Success
                        / End of Transaction Status
                        / Transaction Type
                        %tr
                          %td{align: "left", style: "border-collapse:collapse;padding:8px 0;border-bottom:1px solid #eaeaed;font-size:12px;", valign: "middle"}
                            %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
                              %tr
                                %td{align: "left", style: "border-collapse:collapse;text-transform:capitalize;text-wrap:normal;", valign: "top", width: "28%"}
                                  Debited from
                                %td{align: "left", style: "border-collapse:collapse;font-weight:normal;text-wrap:normal;", valign: "top", width: "16"} :
                                / Bank Account
                                %td{align: "left", style: "border-collapse:collapse;font-weight:normal;text-wrap:normal;font-size:12px;", valign: "top"}
                                  %span{style: "border-collapse:collapse;font-size:13px;width:100%;text-wrap:normal;display:block;text-wrap:normal;"}
                                    #{@cocotransfer.try(:debited_through)}
                                / End of Bank Account
                        / End of Transaction Type
                      / End of Transaction Details
                  / End of Transaction Wrapper Details
                  / Content
                  %tr
                    %td{style: "border-collapse:collapse;padding:32px;background:#ffffff;font-family:'roboto',Arial, Helvetica, sans-serif;"}
                      %p{style: "padding:0;margin:0;"}
                        Hi #{@cocotransfer.donor_name.try(:titelize)}
                        %br/
                        %br/
                        If you have not made this transaction or notice any error please contact us at
                        %a{href: "mailto:ayyo@cocociti.com", style: "color:#673ab7;", target: "_blank"} ayyo@cocociti.com
                        %br/
                        %br/
                        Cheers!
                        %br>/
                        Team Cocociti
                  / End of Content
                  / Footer
                  %tr
                    %td{style: "border-collapse:collapse;padding:16px 32px; border: 0;border-top:1px solid #eaeaed;font-family:'roboto',Arial, Helvetica, sans-serif;font-size:12px;"}
                      %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "100%", style: "border-collapse:collapse;"}
                        / Note
                        %tr
                          %td{:colspan => "3", style: "border-collapse:collapse;font-weight:normal;padding-top:10px;font-style:italic;color:#7e818c;"}
                            Important Note: Cocociti or its merchant partners never ask for your Cocociti password, bank details or MPIN over email/phone. Please do not share your Cocociti password or MPIN with anyone. For any questions write to
                            %a{href: "mailto:ayyo@cocociti.com", style: "color:#673ab7;", target: "_blank"} ayyo@cocociti.com
                        / Links
                        %tr
                          %td{align: "left", style: "border-collapse:collapse;font-weight:normal;", valign: "middle"}
                            %a{href: "https://www.cocociti.com", style: "color:#673ab7;font-size:12px;padding:4px;height:24px;display:inline-block;outline:0;outline:none;border:0;border:none;", target: "_blank"}
                              www.coccociti.com
                          %td{align: "left", style: "border-collapse:collapse;", valign: "middle", width: "16"}  
                          %td{align: "right", style: "border-collapse:collapse;", valign: "middle"}
                            %table{border: "0", cellpadding: "0", cellspacing: "0"}
                              %tr
                                %td{style: "border-collapse:collapse;"}
                                  %a{href: "https://goo.gl/13nMFf", style: "position: relative;margin-top: 0px;width: 150px;z-index: 1;"}
                                    %button{style: "color: #fff !important; background-color: #732db0; display: inline-block; padding: 6px 6px; margin-top:6px; margin-bottom: 0; font-size: 10px; font-weight: 400;  text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 3px;"}
                                      Support Chatroom
                                  %a{href: "https://goo.gl/Hk8Jdn", style: "float: right!important;position: relative;margin-top: 0px;width: 120px;z-index: 1;"}
                                    %img{alt: "Get it on Google Play", src: "https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png", style: "width: 100px;"}
                       
                        / End of Links
                        / End of Note
                  %tr
                    %td{style: "border-collapse:collapse;padding:16px 32px;border-top:1px solid #eaeaed;font-family:'roboto',Arial, Helvetica, sans-serif;font-size:12px; text-align: center;"}
                      %p{style: "font-size:10px; line-height: 14px;"}
                        %span{style: "font-size:10px; line-height: 14px; font-weight: bold; margin-bottom:0px;" }
                          Cocociti Online Solutions Pvt Ltd.,
                        %br/
                        %span{style: "font-size:10px; line-height: 14px; margin-bottom:0px;"}
                          BMP No.15, 4th Cross, Marappa Layout, C V Raman Nagar Bangalore, Karnataka - 560093
                        %br/
                        %span{style: "font-size:10px; line-height: 14px;"}
                          CIN: U72900KA2014PTC077438 | PAN: AAFCC8502K
                  / End of Footer
                / End of Email Holder

  