.container.pbottom50
  %h2 Inbox
  .col-md-12.pad-v-10{style: "background-color: #ccc"}
    .col-md-2 User
    .col-md-7 Subject
    .col-md-2 Transaction Status
    .col-md-1

  - @conversations.each do |conv|
    - user = receiver(conv)
    - if user
      - trans = get_transaction(conv)
      .col-md-12.pad-v-10
        .col-md-2        
          = image_tag user.avatar, size: "32x32", class: "img-circle"
          = user.name
        .col-md-7
          = link_to message_path(trans) do
            = conv.subject
        .col-md-2
          = trans.status.humanize
        .col-md-1
          = link_to message_path(conv), class: "btn btn-sm btn-danger", method: :delete, data: {confirm: "Are you sure to delete conversation?"} do
            %span.glyphicon.glyphicon-trash