Welcome to Cocociti! 

%p
  Step 1: Click
  = link_to 'here', "#{@base_url}#{settings_path}"
  to update profile & start renting.
  %br
  Step 2: Click
  = link_to 'here', "#{@base_url}#{new_product_path}"
  to create a listing and share your items with others.
  %br
  Step 3: Click
  = link_to 'here', "#{@base_url}#{search_products_path}"
  to browse and save money by taking things on rent.
  %br
  Step 4: Like us on
  = link_to "Facebook", "www.facebook.com/rhythmofnation"
  = "& Follow us on"
  = link_to "Twitter", "www.twitter.com/cocociti"
  to get updates and new offers.