.col-xs-12.col-sm-12.full-width.pos-fixed.text-center.full-height.j-checkout-wrapper.hide-display{style: "top:0;left:0;z-index:10000000;background-color:rgb(0, 0, 0);background-color:rgba(0, 0, 0, 0.6);"}
  %span.white-fg.weight600.inline-block.font-bit-large.mtop100.padding15.pbottom0{style: "border-bottom: 1px solid white;"} Please wait while the request is being processed. Do not press back or refresh button.
.container.ptop50.mob-ptop100.padding0.min-height1000
  .col-xs-12.col-sm-offset-2.col-sm-8.padding10#toggleGroup
    .col-xs-12.col-md-12.padding0.mtop10
      = render partial: "cocotransfers/showcase_details", locals: { cocotransfer: @cocotransfer}
    .col-xs-12.col-sm-12.padding0.ptop10
      #error.col-xs-12.col-sm-12.text-danger.bg-white{style: "font-weight: bold; margin-left: 5px;"}
    .col-xs-12.col-sm-12.mtop10.padding0
      .full-width.light-border.mbottom15.padding10.pull-left.pon{"data-toggle":"collapse", "data-target":"#edit_details", "data-parent":"#myGroup"}
        Contributer Details
        %span.pull-right
          %i.fa.fa-chevron-down
      #edit_details.collapse
        = render partial: "cocotransfers/form", locals: {cocotransfer: @cocotransfer,  remote: true, submit_name: "Continue"}
    .col-xs-12.col-md-12.mtop20.padding0
      .full-width.light-border.mbottom10.padding10.pull-left.pon{"data-toggle":"collapse", "data-target":"#payment_details", "data-parent":"#myGroup"}
        Payment Details
        %span.pull-right
          %i.fa.fa-chevron-down
      .full-width.pull-left.payment-citrus-errors.mbottom10.heart-red-fg
      #payment_details.collapse.in
        = hidden_field_tag :amount, @cocotransfer.amount, id: "amount"
        = hidden_field_tag :coco_transaction_id, @cocotransfer.txnid, id: "merchantTxnId"
        = hidden_field_tag :signature, @cocotransfer.security_signature, id: "requestSignature"
        = hidden_field_tag :vanityUrl, "cococitiospvtltd", id: "vanityUrl"
        = hidden_field_tag :notify_url, @cocotransfer.return_url, id: "notifyUrl"
        = hidden_field_tag :return_url, @cocotransfer.return_url, id: "returnUrl"
        = hidden_field_tag :merchantAccessKey,"#{CITRUS_CONFIG[:merchant_access_key]}", id: "merchantAccessKey"
        = hidden_field_tag :email, @cocotransfer.email, id:"email"
        = hidden_field_tag :phone, @cocotransfer.phone, id:"mobileNo"
        %input#mode{type: "hidden", value: "dropOut"}
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#credit_card"} Card
          %li
            %a{"data-toggle" => "tab", :href => "#net_banking"} Net Banking
        .tab-content.ptop10
          #credit_card.tab-pane.fade.in.active
            %input{style: "display:none"}/
            %input{style: "display:none", type: "password"}/
            .col-md-12.mtop10.no-mar-pad
              %label.col-md-3 Card Type*
              .col-md-4
                %select.coco-select-box#cardType
                  %option{:selected => "selected", :value => "credit"} Credit
                  %option{:value => "debit"} Debit
            .col-md-12.mtop10.no-mar-pad
              %label.col-md-3 Card Number*
              .col-md-9
                #cardNumber
            .col-md-12.mtop10.no-mar-pad
              %label.col-md-3 Expiry*
              .col-md-3
                #expiry
              %label.col-md-3.mob-mtop10{style: "text-align: right;"} CVV/CVC*
              .col-md-3
                #cvv
            .col-md-12.mtop10.no-mar-pad
              %label.col-md-3 Card Holder Name*
              .col-md-9
                %input.form-control#cardHolderName{type: "text", autocomplete: "false"}
            .col-md-12.text-center.mtop10{style: "font-size: 10px;"}
              By continuing, you agree to the Terms and Policies of Cocociti.
            .col-md-12.text-center
              %input.btn.btn-md.cc-dark-bg.white-fg.border2.mtop10#cardPayButton{type: "button", value: "Pay Now"}
            .col-md-12.pbottom50.mtop20.mleft20.text-center.hidden-xs
              %span.inline-block.cards-sprite
          #net_banking.tab-pane.fade
            .col-md-12.mtop10.no-mar-pad
              .col-md-3
                %label Select Your Bank*
              .col-md-6
                %select.coco-select-box#netbankingBanks.form-control.select-another
                  %option{:value => ""} Select Another Bank
            .col-md-12.text-center.mtop20{style: "font-size: 10px;"}
              By continuing, you agree to the Terms and Policies of Cocociti & Product Owner.
            .col-md-12.text-center.pbottom50
              %input.btn.btn-md.cc-dark-bg.white-fg.mtop10#netbankingButton{type: "button", value: "Pay Now"}
= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      var $toggleGroup = $('#toggleGroup');
      $toggleGroup.on('show.bs.collapse','.collapse', function() {
        $toggleGroup.find('.collapse.in').collapse('hide');
      });
      citrus.setConfig({
        env : "#{Rails.env.production? ? 'prod': 'sandbox'}",
        merchantAccessKey : '#{CITRUS_CONFIG[:merchant_access_key]}',
        vanityUrl : 'cococitiospvtltd',
      });

      citrus.cards.getPaymentDetails({
        vanityUrl: 'cococitiospvtltd'
        },
        function (err, pgSettingData) {
          if(err){
          console.log('got error while calling getPaymentDetails',err);
          return;
          }else{
          console.log("success");
          console.log(pgSettingData);
          }
          pgSettingData.netBanking.forEach(function (bank) {
          $('#netbankingBanks').append($("<option />").val(bank.issuerCode).text(bank.bankName));
          });
      });

      $("#netbankingButton").on("click", function (){
        $(this).prop('disabled', true);
        $("#cardPayButton").prop('disabled', true);
        var data = getPaymentData();
        data.paymentDetails = {
          "paymentMode" : "netBanking",
          "bankCode" : $('#netbankingBanks').val()
        };
        $(".j-checkout-wrapper").show();
        citrus.payment.makePayment(data);
      });

      $("#cardPayButton").on("click", function(){
        $("#cardPayButton").prop('disabled', true);
        setTimeout(function(){$("#cardPayButton").prop('disabled', false);}, 20000);
        var data = getPaymentData();
        data.paymentDetails = {
          paymentMode: "card",
          holder:$('#cardHolderName').val(),
          type: $('#cardType').val()
        };
        $(".j-checkout-wrapper").show();
        citrus.payment.makePayment(data);
      });

      function getPaymentData(){
        var data = {
          "mode": $('#mode').val(),
          "merchantTxnId": $('#merchantTxnId').val(),
          "amount": $('#amount').val(),
          "userDetails": {
            "email": $('#email').val(),
            "mobileNo": $('#mobileNo').val(),
          },
          "returnUrl": $('#returnUrl').val(),
          "notifyUrl": $('#notifyUrl').val(),
          "requestSignature": $("#requestSignature").val(),
        };
        return data;
      }

      function replace_html(data, cocotransfer){
        $("#amount").val(cocotransfer.amount);
        $(".cocotransfer_display_amount").html(cocotransfer.amount)
        $("#merchantTxnId").val(cocotransfer.txnid);
        $("#requestSignature").val(data.security_signature);
        $("#returnUrl").val(data.return_url);
        $("#email").val(cocotransfer.email);
      }

      citrus.registerHandlers("errorHandler", function (error) {

        $('#cardPayButton').prop('disabled', false);
        $('#netbankingButton').prop('disabled', false);
      });

      citrus.registerHandlers("serverErrorHandler", function (error){
        $('#cardPayButton').prop('disabled', false);
        $('#netbankingButton').prop('disabled', false);
      });

      citrus.registerHandlers("transactionHandler", function(resp){
        $('#cardPayButton').prop('disabled', false);
        $('#netbankingButton').prop('disabled', false);
      });

      citrus.registerHandlers("validationHandler", function (hostedField,cardValidationResult) {
        if(cardValidationResult.isValid){
          $(".payment-citrus-errors").html("");
        }else{
          $(".payment-citrus-errors").html(cardValidationResult.txMsg);
        }
      });

      $(function(){
        citrus.hostedFields.create({
          setupType : "card",
          hostedFields:[
            {
            fieldType:'cvv',
            selector:'#cvv',
            placeholder:''
            },
            {
            fieldType:'expiry',
            selector:'#expiry',
            placeholder:'mm/yy'
            },
            {
            fieldType:'number',
            selector:'#cardNumber'
            }
          ],
          style : {
            'input.valid': {
              color:'black'
            },
            'input.invalid': {
            color:'black'
            }
          }
        });
      });

      $('#cocotranfer_form').on('ajax:before', function(){
        $("#netbankingButton").prop('disabled', true);
        $("#cardPayButton").prop('disabled', true);
      })

      $('#cocotranfer_form').on('ajax:success',
        function(e, data, status, xhr){
          if(data.success ){
            replace_html(data, data.cocotransfer);
            $("#edit_details").collapse('hide');
            $("#payment_details").collapse('show');
            $("#netbankingButton").prop('disabled', false);
            $("#cardPayButton").prop('disabled', false);
            $("#error").html("").hide();
          }else{
            $("#error").html(data.error_messages).show();
            setTimeout(function(){$("#error").hide();}, 40000);
          }
      });
    });
:css
  #cardNumber,#cvv,#expiry{
    width: 100%;
    height: 34px;
  }
  .citrus-hosted-field {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
