= content_for :title do
  -title = "Gift(Cocotransfer) - Cocociti"
.container-fluid.bg-light-grey.padding0{style: "min-height: 100%;"}
  .container.ptop50.mob-ptop100
    .col-xs-12.col-sm-offset-2.col-sm-8.padding0.ptop20
      = render partial: "cocotransfers/showcase_details", locals: {cocotransfer: @cocotransfer}
      .col-xs-12.col-sm-12.bg-shad.bg-white
        = render partial: 'form' , locals: {cocotransfer: @cocotransfer, remote: false, submit_name: @cocotransfer.is_wish_fullfillment? ? "Fullfill Wish" : "Gift"}
= content_for :extra_js do
  :javascript
    // $(document).ready(function(){
    //   if(#{params[:amount]} != ""){
    //     $("#cocotransfer_total_amount").val(#{params[:amount]});
    //     $(".cocotransfer_display_amount").text(#{params[:amount]});
    //   }
    // })
