= content_for :title do
  -title = "Payment Successful"
.container-fluid.mtop50
  - @showcase = @cocotransfer.showcase
  .col-xs-12.col-md-12.mtop20.text-center
    %h2.mtop20 Boom De Yaada!!
    %h4.mtop20 Thank You.. Your payment is successfull.
  .col-xs-12.col-md-12.mtop20.text-center
    = cl_image_tag @showcase.image, class: "img-responsive img-style-new", alt: "#{@showcase.title}-#{@showcase.fundcategory.name}", width: 253, height: 190, crop: :fill
  .col-xs-12.col-md-4.col-md-offset-4.mtop20.padding5.border-solid.text-center
    %h3.mtop10 Tx ID: #{@cocotransfer.txnid}
  .col-xs-12.col-md-12.mtop20.text-center
    #{@cocotransfer.updated_at.strftime('%H:%M, %d-%b-%Y, %a')}
  .col-xs-12.col-md-12.text-right.mbottom20
    = link_to "Back to Home", root_path
  .col.xs-12.col-sm-12.pull-left
    %span
      #shareShowcaseRoundIcons{"data-id" => "#{@showcase.id}"}
= content_for :extra_js do
  :javascript
    $(document).ready(function(){
    $("#shareShowcaseRoundIcons").jsSocials({url: "https://www.cocociti.com/showcases/#{@showcase.id}",showLabel: false,showCount: false,shares: ["twitter", "facebook", "pinterest", "whatsapp"]});
    })
