%p#notice= notice

%p
  %b User:
  = @cocotransfer.user_id
%p
  %b Showcase:
  = @cocotransfer.showcase_id
%p
  %b Amount:
  = @cocotransfer.amount
%p
  %b Payment status:
  = @cocotransfer.payment_status
%p
  %b Transaction status:
  = @cocotransfer.transaction_status
%p
  %b Txnid:
  = @cocotransfer.txnid
%p
  %b Status:
  = @cocotransfer.status

= link_to 'Edit', edit_cocotransfer_path(@cocotransfer)
\|
= link_to 'Back', cocotransfers_path
