.container.padding0{style: "max-width:450px;margin-top: 10%;max-height: 60%;overflow-y: auto;"}
  - if current_user.collections.blank?
    .col-xs-12.col-sm-12.bg-white.padding20.border5.move-create-coll-wrapper
      = render partial: "showcases/create_collection"
  .col-xs-12.col-sm-12.bg-white.padding20.border5.move-showc-wrapper{class: "#{'hide-display' if current_user.collections.blank?}"}
    .panel.panel-default.mbottom0#profile_form
      .panel-heading
        %h4.mtop-v-5 Arrange your showpieces/wishes
      .panel-body
        = form_tag add_showcases_path, remote: true, class: "form-horizontal" do
          = hidden_field_tag :id, showcase.id
          = hidden_field_tag :collection_id, collection_id
          .form-group.text-center.current-coll
            = render partial: "showcases/current_collections"
          .form-group.text-center
            = submit_tag "Add", class: "btn btn-sm black80-bg white-fg"
