.container.padding0.move-show-main-wrapper{style: "max-width:450px;margin-top: 10%;"}
  .col-xs-12.col-sm-12.bg-white.padding20.border5.move-create-coll-wrapper{class: "#{current_user.collections.blank? ? 'block-display' : 'hide-display'}"}
    .col-xs-12.col-sm-12.no-mar-pad.text-center.full-height.border-medium.border5
      = form_tag create_collection_showcases_path, remote: true, class: "form-horizontal create-collect col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1" do
        .close-sprite.pon.clos-add-mov.pos-absolute{style: "left: -10px;opacity: 0.5;top: 10px;", class: "#{current_user.collections.blank? ? 'hide-display' : 'block-display'}"}
        .form-group{style: "margin-top: 35.5px;"}
          %label Name
          = text_field_tag :name, params[:name], class: "form-control grey-bg cc-field", required: true, maxlength: 100
        .form-group
          = submit_tag "Create", class: "btn btn-sm black80-bg white-fg"
        .form-group
          .create-collect-err{style: "color: red;"}
  .col-xs-12.col-sm-12.bg-white.padding20.border5.move-showc-wrapper{class: "#{'hide-display' if current_user.collections.blank?}"}
    .panel.panel-default.mbottom0#profile_form
      .panel-heading
        %h4.mtop-v-5 Arrange your showpieces/wishes
      .panel-body.ptop0
        .full-width.no-mar-pad.mtop-v-5.text-right
          %i.fa.fa-plus-circle.grey-fg.font21.add-move-showc.pon
        = form_tag add_showcases_path, remote: true, class: "form-horizontal" do
          = hidden_field_tag :id, showcase.id
          = hidden_field_tag :collection_id, collection_id
          .form-group.text-center.current-coll{style: "max-height: 70%; overflow-y: auto;"}
            = render partial: "showcases/current_collections"
          .form-group.text-center
            = submit_tag "Add", class: "btn btn-sm black80-bg white-fg"
