- notifications.each do |notification|
  - if notification.class.name == "Wow"
    = link_to update_wow_checked_path(notification), class: "pull-left full-width padding10 border-bt-side notif-single #{'bg-light-grey' if notification.checked?}" do
      .media
        .media-left
          %span= cl_image_tag notification.user.avatar, class: "img-circle", width: 30, height: 30, crop: :fill, gravity: :face
        .media-body
          %span.weight600.grey-fg= truncate notification.user.name, length: 35
          %span.font13.grey-fg
            liked your wish
          %br
          %span.grey-fg.extra-small-font
            .fa.fa-clock-o
            = time_ago_in_words(notification.created_at)
  - elsif notification.class.name == "Coin"
    = link_to update_coin_checked_path(notification), class: "pull-left full-width padding10 border-bt-side notif-single #{'bg-light-grey' if notification.checked?}" do
      .media
        .media-left
          %span= cl_image_tag notification.user.avatar, class: "img-circle", width: 30, height: 30, crop: :fill, gravity: :face
        .media-body
          %span.weight600.grey-fg= truncate notification.user.name, length: 35
          %span.font13.grey-fg
            gifted you a coin
          %br
          %span.grey-fg.extra-small-font
            .fa.fa-clock-o
            = time_ago_in_words(notification.created_at)
  - elsif notification.class.name == "Comment"
    = link_to update_comment_checked_path(notification), class: "pull-left full-width padding10 border-bt-side notif-single #{'bg-light-grey' if notification.checked?}" do
      .media
        .media-left
          %span.grey-fg= cl_image_tag notification.user.avatar, class: "img-circle", width: 30, height: 30, crop: :fill, gravity: :face
        .media-body
          %span.weight600.grey-fg= truncate notification.user.name, length: 35
          %span.font13.grey-fg
            commented on your wish
          %br
          %span.grey-fg.extra-small-font
            .fa.fa-clock-o
            = time_ago_in_words(notification.created_at)
  - elsif notification.class.name == "Relationship"
    = link_to update_follower_checked_path(notification.follower), class: "pull-left full-width padding10 border-bt-side notif-single #{'bg-light-grey' if notification.checked?}" do
      .media
        .media-left
          %span= cl_image_tag notification.follower.avatar, class: "img-circle", width: 30, height: 30, crop: :fill, gravity: :face
        .media-body
          %span.weight600.grey-fg= truncate notification.follower.name, length: 35
          %span.font13.grey-fg
            started following you
          %br
          %span.grey-fg.extra-small-font
            .fa.fa-clock-o
            = time_ago_in_words(notification.created_at)
  - elsif notification.class.name == "ShowcaseNotification"
    = link_to update_showcase_checked_path(notification), class: "pull-left full-width padding10 border-bt-side notif-single #{'bg-light-grey' if notification.checked?}" do
      .media
        .media-left
          %span= cl_image_tag notification.showcase.user.avatar, class: "img-circle", width: 30, height: 30, crop: :fill, gravity: :face
        .media-body
          %span.weight600.grey-fg= truncate notification.showcase.user.name, length: 35
          - if notification.showcase.wishlist? && notification.showcase.coin_wish?
            %span.font13.grey-fg
              has a new coin wish
          - elsif notification.showcase.wishlist?
            %span.font13.grey-fg
              has a new wish
          - elsif notification.showcase.instant_wishlist?
            %span.font13.grey-fg
              has a new momentary wish
          - else
            %span.font13.grey-fg
              fulfilled a wish.
          %br
          %span.grey-fg.extra-small-font
            .fa.fa-clock-o
            = time_ago_in_words(notification.created_at)
  - elsif notification.class.name == "AchievedNotification"
    = link_to update_achieved_checked_path(notification), class: "pull-left full-width padding10 border-bt-side notif-single #{'bg-light-grey' if notification.checked?}" do
      .media
        .media-left
          %span= cl_image_tag notification.showcase.user.avatar, class: "img-circle", width: 30, height: 30, crop: :fill, gravity: :face
        .media-body
          %span.weight600.grey-fg= truncate notification.showcase.user.name, length: 35
          %span.font13.grey-fg has fulfilled a wish
          %br
          %span.grey-fg.extra-small-font
            .fa.fa-clock-o
            = time_ago_in_words(notification.created_at)
