= form_for showcase, remote: true, html: { class: "create-showcase" } do |f|
  .col-xs-12.col-sm-12.ps-wrapper.padding0.mob-padding10{"data-pdate" => "#{DateTime.current}", "data-fdate" => "#{DateTime.current + 8.days}", "data-step" => "1", "data-intro" => "<span class='font-medium grey-fg'><h4 class='mtop0 weight-bold text-center black-fg'>SHARE YOUR WISHES</h3>Click here to post your wishes or showcase fulfilled wishes.</span>"}
    .col-xs-12.col-sm-12.padding0.bg-white.border2.ps-sub-wrap-1.ps-box-shadow
      .col-xs-12.col-sm-12.padding5.pbottom0.j-ps-holder.height89
        .col-xs-12.col-sm-12.ptop5.grey-fg.height50
          %span.type-holder.pon.pos-absolute{style: "left: 5px;top: 32px;font-size: 25px;"}
        .prefix-holder.pon.pull-left{style: "height: 34px;border-bottom: 2px solid #732db0;padding: 6px 0px;font-size: 14px;line-height: 1.42857143;display: inline;"}
        = text_field_tag :initial, "", placeholder: "What's your wish?", class: "coco-input-field form-control inline-display pull-left ps-initial"
        .dropdown.type-holder-dropdown
          .dropdown-menu.pos-relative.full-width
            - Showcase::DISPLAY_SHOWCASE_TYPE.each do |showcase_type|
              %li
                %a.pon{"data-id" => "#{showcase_type[1]}", "data-text" => "#{showcase_type[2]}"}
                  = showcase_type[0]
        .dropdown.prefix-holder-dropdown
          .dropdown-menu.pos-relative.prefix-scrollbar.full-width{style: "max-height: 298px;overflow:hidden !important;"}
            - Showcase::WISH_PREFIX.each do |wish_prefix|
              %li
                %a.pon{"data-id" => "#{wish_prefix[1]}", "data-ptext" => "#{wish_prefix[3]}", "data-ftext" => "#{wish_prefix[4]}", "data-pplaceholder" => "#{wish_prefix[5]}", "data-fplaceholder" => "#{wish_prefix[6]}"}
                  = wish_prefix[0]
                  %span.grey-fg.font13
                    &nbsp;
                    %em= wish_prefix[2]
        .hide-display
          = f.text_field :showcase_type
          = f.text_field :wish_prefix
          = f.text_field :title
      .col-xs-12.col-sm-12.no-mar-pad.cc-dark-fg.font16
        %span.padding10.pon.font-medium.file-input-button.pull-left.inline-block.pos-relative.j-img-wrapper.opacity-low
          %i.fa.fa-file-image-o.font16
          Add Photo
          = cl_image_upload_tag(:image, html: { class: "cloudinary-fileupload-new hidden file-upload-trigger" })
        %span.padding10.pon.font-medium.pull-left.inline-block.pos-relative.j-more.opacity-low
          More >>
        %span.pull-right.ps-btn-wrapper.hide-display.mtop5.mright10
          .white-fg.no-mar-pad.loader-out-showcase-button
            = f.submit "Wish", class: "loader-button loader-in-showcase-button showcase-submit"
            .loader-effect.loader-in-showcase-button.text-center{style: "display:none;padding-top: 4px;"}
              .ball-clip-rotate
                %div
    .col-xs-12.col-sm-12.padding5.bg-white.border2.ps-sub-wrap-2.ps-box-shadow.hide-display{style: "margin-top: -130px;opacity: 0;"}
      %span.pos-absolute.font13.pon.ps-wrap-2-close{style: "top: 0; right: 5px;z-index: 1055;"} x
      .col-xs-7.col-sm-9.no-mar-pad
        .col-xs-12.col-sm-12.padding5.ps-desc-wrapper{style: "height: 166px;"}
          = f.text_area :description, placeholder: "Tell the story behind this wish?", class: "form-control coco-input-field pleft5", maxlength: 1000, rows: 1, style: "height: 156px;"
        .col-xs-12.col-sm-12.padding5{style: "min-height: 50px;"}
          = f.text_field :all_tags, placeholder: "Tags (Use enter, comma or tab to separate)", class: "tm-input form-control tm-input-inverse tm-input-typeahead coco-input-field", style: "height: 40px;"
      .col-xs-5.col-sm-3.no-mar-pad
        .col-xs-12.col-sm-12.padding5.ps-photo-wrapper{style: "height: 122px;"}
          .col-xs-12.col-sm-12.text-center.photo-upload-wrapper
            .preview
            .preview-delete.hide-display.pon x
            .col-xs-12.col-sm-12.no-mar-pad
              .glyphicon.glyphicon-camera.file-input-button.cc-dark-fg.padding15.img-circle.mtop25{style: "font-size: 40px;border: 1px dashed;"}
                = cl_image_upload_tag(:image, html: { class: "cloudinary-fileupload-new" })
            .col-xs-12.col-sm-12.no-mar-pad
              .progress.progress-striped.hide-display.mbottom0.mtop5{style: "height: 6px;width:100%;"}
                .progress-bar{style: "width: 0%;"}
        .col-xs-12.col-sm-12.padding5.pright5.ps-date-wrapper.height50
          = f.text_field :year, placeholder: "When", class: "form-control coco-input-field pleft5 dt-of-achievement"
          .dropdown.dt-achievement-dropdown
            .dropdown-menu.pos-relative.full-width
              - Showcase::INSTANT_WISH_DATE.each do |instant_wish_date|
                %li
                  %a.pon{"data-id" => "#{instant_wish_date[1]}"}= instant_wish_date[0]
        .col-xs-12.col-sm-12.padding5.ps-location-wrapper.height50
          = f.fields_for :location do |lf|
            = lf.text_field :name, placeholder: "Where", class: "form-control coco-input-field pac-input pleft5", maxlength: 240
      .col-xs-12.col-sm-12.padding5.text-right.ps-btn-wrapper.no-mar-pad
        %span.pull-right.ps-btn-wrapper.hide-display
          .white-fg.no-mar-pad.loader-out-showcase-button
            = f.submit "Wish", class: "loader-button loader-in-showcase-button showcase-submit"
            .loader-effect.loader-in-showcase-button.text-center{style: "display:none;padding-top: 4px;"}
              .ball-clip-rotate
                %div
