- header ||= "no"
/
  .col-xs-12.col-sm-12-shad.no-mar-pad.grey-fg.bg-shad.bg-light-grey{style: "border-radius: 4px;"}
    .col-xs-4.col-sm-4.text-center.select-ps.padding10
      Select
    .col-xs-4.col-sm-4.text-center.upload-ps.padding10
      Upload
    .col-xs-4.col-sm-4.text-center.submit-ps.padding10
      Submit
  .col-xs-12.col-sm-12.no-mar-pad{style: "height: 12px;"}
    .arrow-wrapper
      .arrow
      .arrow-z
- if header != "yes"
  .col-xs-12.col-sm-12.padding15.text-center.ps-click-wrapper.bg-white.mbottom10.bg-shad.mob-mtop10
    %span.btn.btn-md.white-fg.ps-click-btn.bg-blue.transition-effect{"data-step" => "1", "data-intro" => "<span class='font-medium grey-fg'><h4 class='mtop0 weight-bold text-center black-fg'>SHARE YOUR WISHES</h3>Click here to post your wishes or showcase fulfilled wishes.</span>"} Show / Wish
    %span.pos-absolute.pos-q-ps-clk
      %i.font20.fa.fa-question-circle-o.grey-fg{title: "<b>Show:</b> Showcase things you own or your achievements.<br><br><b>Wish:</b> Add any of your wish here and let the world know it.", "data-toggle" => "tooltip", "data-placement" => "auto", "data-html" => "true"}
.col-xs-12.col-sm-12.no-mar-pad.bg-shad.ps-wrapper.pattern-bg.mbottom10{style: "min-height:212px;border-radius: 4px;display: #{header == "yes" ? 'block' : 'none;'}"}
  - if header != "yes"
    .close-sprite.pon.pos-absolute.clos-ps-wrapper
  .col-xs-12.col-sm-12
  .p-s-arrow.arrow-right.pon
  .p-s-arrow.arrow-left.pon.hide-display
  = form_for showcase, remote: true do |f|
    - if header == "yes"
      = hidden_field_tag :header, "yes"
    .col-xs-12.col-sm-12.no-mar-pad.text-center.set-1-ps.active{style: "min-height:210px;"}
      .col-xs-12.col-sm-12.text-center.padding5{style: "height: 42px;"}
        %span.error-ps-radio.padding5.hide-display{style: "border: 1px solid #E7766A;border-radius:3px;color: #E7766A;"}
          .glyphicon.glyphicon-exclamation-sign
          Please select an option
      .pad-v-50.pon.ps-showpiece.btn-shadow.inline-block.mob-scase-opt.img-circle{style: "width:121px;background-color:white;"}
        Show
        = f.radio_button :showcase_type, "#{Showcase::SHOWCASE_VALUES[0]}", required: true, class: "hidden showcase_type_0"
      .pad-v-50.pon.ps-wish.btn-shadow.mleft10.inline-block.mob-scase-opt.img-circle{style: "width:121px;background-color:white;"}
        Wish
        = f.radio_button :showcase_type, "#{Showcase::SHOWCASE_VALUES[1]}", required: true, class: "hidden showcase_type_1"
    .col-xs-12.col-sm-12.no-mar-pad.set-2-ps.ptop10.hide-display{style: "min-height:210px;"}
      .col-xs-12.col-sm-12.text-center.padding5
        %span.error-ps-photo.padding5.hide-display{style: "border: 1px solid #E7766A;border-radius:3px;color: #E7766A;"}
          .glyphicon.glyphicon-exclamation-sign
          Please upload a photo
      .col-xs-12.col-sm-4.col-sm-offset-1.text-center.padding0.photo-upload-wrapper
        %span.font11.col-xs-12.col-sm-12.padding0 Drag and Drop the Photo here.
        .preview
        .glyphicon.glyphicon-remove.preview-delete.hide-display.pon{style: "z-index: 1;"}
        .col-xs-12.col-sm-12.no-mar-pad
          .glyphicon.glyphicon-camera.file-input-button.grey-fg.padding20{style: "font-size: 65px;border: 1px dashed;"}
            = cl_image_upload_tag(:image, html: { class: "cloudinary-fileupload-new" })
        .col-xs-12.col-sm-12.no-mar-pad
          .progress.progress-striped.hide-display.mbottom0.mtop5{style: "height: 10px;width:107px;"}
            .progress-bar{style: "width: 0%;"}
      .col-xs-12.col-sm-6
        %span.font11 Type some tags in the input field, and separate them with enter, comma, or tab
        %br
        = f.text_field :all_tags, placeholder: "", class: "tm-input form-control tm-input-inverse tm-input-typeahead"
    .col-xs-10.col-xs-offset-1.col-sm-10.col-sm-offset-1.set-3-ps.ptop10.hide-display{style: "min-height:210px;"}
      .col-xs-12.col-sm-12.no-mar-pad
        = f.text_field :title, placeholder: "Title", class: "form-control coco-input-field hvr-underline-from-left title-gnrl", required: true, maxlength: 100
      .col-xs-12.col-sm-12.mtop10.no-mar-pad
        = f.text_area :description, placeholder: "Description", class: "form-control coco-input-field hvr-underline-from-left des-gnrl", maxlength: 1000
      .col-xs-4.col-sm-4.mtop10.no-mar-pad.pright5
        = f.text_field :year, placeholder: "Year", class: "form-control coco-input-field hvr-underline-from-left year-gnrl", maxlength: 4
      .col-xs-8.col-sm-8.mtop10.no-mar-pad.pright5
        = f.fields_for :location do |lf|
          = lf.text_field :name, placeholder: "Location", class: "form-control coco-input-field hvr-underline-from-left pac-input loc-gnrl", maxlength: 240
      .col-xs-12.col-sm-12.mtop15.text-center.showcase-btn-wrapper
        .btn.btn-social.white-fg.no-mar-pad.loader-out-button
          = f.submit "Submit", class: "loader-button btn btn-social loader-in-button showcase-submit"
          .loader-effect.btn.btn-social.loader-in-button{style: "display:none;"}
            .pull-left Please Wait...
            .ball-clip-rotate.pull-left{style: "height:22px;"}
              %div
