= content_for :title do
  - title = "#{user.name} (#{@profile.slug}) | Cocociti"
.messages
.container-fluid.pattern-bg{style: "min-height: 50px;border-bottom: 1px solid #e5e5e5;line-height: 50px;"}
  .container.padding0
    %ul.mbottom0.padding0
      %li.inline-block.mright20
        = link_to myprofile_path(@profile.slug) do
          %span.black-fg= user.collections.count + 2
          %span.grey-fg Showcases
      %li.inline-block.mright20
        = link_to following_path(@profile.slug) do
          %span.black-fg= user.following.count
          %span.grey-fg Following
      %li.inline-block.mright20
        = link_to followers_path(@profile.slug) do
          %span.black-fg= user.followers.count
          %span.grey-fg Followers
      %li.inline-block.hidden-xs.pull-right
        - if current_user && current_user.same_user?(user)
          = link_to settings_path do
            .btn.grey-fg.prof-sett
              %span.glyphicon.glyphicon-cog.pull-left
      %li.inline-block.hidden-xs.pull-right
        - if current_user && current_user != user
          .btn.text-center.pright0{class: "follow-set-#{user.id}"}
            = link_to user_toggle_follow_path(user), remote: true, method: :post do
              .btn.no-mar-pad.loader-out-follow-button.follow-button.btn-grey
                = submit_tag "#{ current_user.following?(user) ? 'Following' : "Follow" }", class: "loader-button btn loader-in-follow-button padding0 font12 grey-fg"
                .loader-effect.btn.loader-in-follow-button.grey-fg{style: "display:none;"}
                  .ball-clip-rotate{style: "height:22px;"}
                    %div ...
.container-fluid
  .container.padding0
    .col-xs-12.col-sm-12.text-center.padding0.mbottom10{style: "border-bottom: 1px solid #e5e5e5;"}
      = cl_image_tag user.avatar, class: "img-circle mob-mtop10", style: "z-index: 1;margin-top: -45px;", width: 100, height: 100, crop: :fill, gravity: :face
      .col-xs-12.col-sm-12.padding0.mbottom10.text-right.text-center-mob.font-bit-large.mob-mtop0{style: "margin-top: -52px;"}
        - if @profile.facebook.present?
          = link_to @profile.facebook do
            .fa.fa-facebook-official.grey-fg.mright5
        - if @profile.twitter.present?
          = link_to @profile.twitter do
            .fa.fa-twitter-square.grey-fg.mright5
        - if @profile.instagram.present?
          = link_to @profile.instagram do
            .fa.fa-instagram.grey-fg.mright5
        - if @profile.linkedin.present?
          = link_to @profile.linkedin do
            .fa.fa-linkedin-square.grey-fg.mright5
        - if @profile.google_plus.present?
          = link_to @profile.google_plus do
            .fa.fa-google-plus-square.grey-fg.mright5
        - if @profile.website.present?
          = link_to @profile.website do
            .fa.fa-globe.grey-fg.font25.mright5
        - if @profile.other_url.present?
          = link_to @profile.other_url do
            .fa.fa-link.white-fg.font25
      %h4.font21.mtop0= (truncate user.name, length: 20)
      %h6.grey-fg
        - if user.location && user.location.name.present?
          .fa.fa-anchor
          = (truncate user.location.name, length: 30)
      %h5.grey-fg= (truncate @profile.about, length: 250)
      %ul.mbottom10.padding0.visible-xs
        %li.inline-block
          - if current_user && current_user != user
            .btn.text-center{class: "follow-set-#{user.id}"}
              = link_to user_toggle_follow_path(user), remote: true, method: :post do
                .btn.no-mar-pad.loader-out-follow-button.follow-button.btn-grey
                  = submit_tag "#{ current_user.following?(user) ? 'Following' : "Follow" }", class: "loader-button btn loader-in-follow-button padding0 font12 grey-fg"
                  .loader-effect.btn.loader-in-follow-button.grey-fg{style: "display:none;"}
                    .ball-clip-rotate{style: "height:22px;"}
                      %div ...
        %li.inline-block
          - if current_user && current_user.same_user?(user)
            = link_to settings_path do
              .btn.grey-fg.prof-sett
                %span.glyphicon.glyphicon-cog.pull-left
#cont-wrapper.modal.fade.padding0
