= content_for :title do
  - title = "#{@user.name} (#{@profile.slug}) | Cocociti"
.col-xs-12.col-sm-3.no-mar-pad.white-fg.mob-height
  .col-xs-12.col-sm-12.text-center
    = cl_image_tag user.avatar, class: "img-circle mtop20", style: "z-index: 1;", width: 160, height: 160, crop: :fill, gravity: :face
    %h4= (truncate user.name, length: 20)
    %h4= (truncate user.location.name, length: 30 ) if user.location
    %h5= (truncate @profile.about, length: 250)
    .col-xs-12.col-sm-12.mbottom10
      - if @profile.facebook.present?
        = link_to @profile.facebook do
          .fa.fa-facebook-official.white-fg.font25.mright5
      - if @profile.twitter.present?
        = link_to @profile.twitter do
          .fa.fa-twitter-square.white-fg.font25.mright5
      - if @profile.instagram.present?
        = link_to @profile.instagram do
          .fa.fa-instagram.white-fg.font25.mright5
      - if @profile.linkedin.present?
        = link_to @profile.linkedin do
          .fa.fa-linkedin-square.white-fg.font25.mright5
      - if @profile.google_plus.present?
        = link_to @profile.google_plus do
          .fa.fa-google-plus-square.white-fg.font25.mright5
      - if @profile.website.present?
        = link_to @profile.website do
          .fa.fa-globe.white-fg.font25.mright5
      - if @profile.other_url.present?
        = link_to @profile.other_url do
          .fa.fa-link.white-fg.font25
    - if current_user && current_user.same_user?(user)
      = link_to settings_path do
        .btn.btn-profile-blue.white-fg
          %span Settings
          %span.glyphicon.glyphicon-cog
  - if current_user && current_user != user
    .col-xs-12.col-sm-12.no-mar-pad.text-center{class: "follow-set-#{user.id}"}
      = link_to user_toggle_follow_path(user), remote: true, method: :post do
        .btn.no-mar-pad.loader-out-follow-button.follow-button.btn-grey.btn-profile-blue
          = submit_tag "#{ current_user.following?(user) ? 'Following' : "Follow" }", class: "loader-button btn loader-in-follow-button padding0 btn-profile-blue white-fg font12"
          .loader-effect.btn.loader-in-follow-button{style: "display:none;"}
            .ball-clip-rotate{style: "height:22px;"}
              %div ...
  .col-xs-12.col-sm-8.col-sm-offset-2.text-center.padding10.mtop10.btn-profile-blue
    .col-xs-12.col-sm-12.no-mar-pad.font21
      %span= user.appreciations.count
      %i.fa.fa-heart.heart-red-fg
    .col-xs-12.col-sm-12.no-mar-pad
      in
      - if current_user
        = current_user.same_user?(user) ? "your" : "#{user.name}'s"
      - else
        #{user.name}'s
      showcase
  .col-sm-12.hidden-xs.mtop20
    .col-sm-12.no-mar-pad
      %h4.white-fg Following
      - user.following.limit(10).each do |following|
        = link_to myprofile_path(following.profile.slug) do
          = cl_image_tag following.avatar, class: "img-circle pull-left mright5 mbottom5", width: 40, height: 40, crop: :fill
      - if user.nil_following?
        .col-sm-12.padding20.btn-profile-blue
          Not Following anyone? Start following people to build your product network.
    .col-sm-12.no-mar-pad.mtop20
      %h4.white-fg Followers
      - user.followers.limit(10).each do |follower|
        = link_to myprofile_path(follower.profile.slug) do
          = cl_image_tag follower.avatar, class: "img-circle pull-left mright5 mbottom5", width: 40, height: 40, crop: :fill
      - if user.nil_following?
        .col-sm-12.padding20.btn-profile-blue
          No Followers yet.
.col-xs-12.col-sm-9.padding40
  = link_to myprofile_path(@profile.slug) do
    .col-xs-12.col-sm-2.col-sm-offset-1.padding10.pon.pattern-bg.showcase-profile.text-center
      %h5.weight-bold.lt-grey-fg SHOWCASE
      %h4= user.showcases.count
  = link_to myshowpieces_path(@profile.slug) do
    .col-xs-6.col-sm-2.padding10.pon.pattern-bg.showpieces-profile.text-center
      %h5.weight-bold.lt-grey-fg SHOWPIECES
      %h4= user.showcases.showpieces.count
  = link_to mywishes_path(@profile.slug) do
    .col-xs-6.col-sm-2.pon.padding10.pattern-bg.wishes-profile.text-center
      %h5.weight-bold.lt-grey-fg WISHES
      %h4= user.showcases.wishes.count
  = link_to following_path(@profile.slug) do
    .col-xs-6.col-sm-2.pon.padding10.pattern-bg.following-profile.text-center
      %h5.weight-bold.lt-grey-fg FOLLOWING
      %h4= user.following.count
  = link_to followers_path(@profile.slug) do
    .col-xs-6.col-sm-2.pon.padding10.pattern-bg.followers-profile.text-center
      %h5.weight-bold.lt-grey-fg FOLLOWERS
      %h4= user.followers.count
