.container-fluid.pattern-bg{style: "min-height: 50px;border-bottom: 1px solid #e5e5e5;line-height: 50px;", class: "prof-user-#{user.id}"}
  .container.padding0
    %ul.mbottom0.padding0
      %li.inline-block.mright20
        = link_to myprofile_path(@profile.slug), class: "j-loader-trigger-link" do
          %span.black-fg.collections-count= user.collections.count + 3
          %span.grey-fg Showcases
      %li.inline-block.mright20
        = link_to following_path(@profile.slug), class: "j-loader-trigger-link" do
          %span.black-fg.prof-following-count= user.following.count
          %span.grey-fg.hidden-xs Following
          .following-sprite.visible-xs-inline.pos-relative{style: "top: 6px;"}
      %li.inline-block.mright20
        = link_to followers_path(@profile.slug), class: "j-loader-trigger-link" do
          %span.black-fg.prof-followers-count= user.followers.count
          %span.grey-fg.hidden-xs Followers
          .followers-sprite.visible-xs-inline.pos-relative{style: "top: 6px;"}
      %li.inline-block.mright20
        = link_to wiki_path(@profile.slug), class: "j-loader-trigger-link" do
          %span.grey-fg Wiki
      /
        %li.inline-block.mright20
          = link_to view_giveaways_path(@profile.slug) do
            .btn.btn-primary.hvr-icon-pop
              Give Away
      %li.hidden-xs-inline.pull-right
        - if current_user && current_user.same_user?(user)
          = link_to settings_path, class: "j-loader-trigger-link" do
            .btn.grey-fg.prof-sett
              %span.glyphicon.glyphicon-cog.pull-left
      %li.hidden-xs-inline.pull-right
        - if current_user && current_user != user
          .text-center.padding0{class: "follow-set-#{user.id}"}
            = link_to user_toggle_follow_path(user), remote: true, method: :post do
              .btn.no-mar-pad.loader-out-follow-button.follow-button{class: "#{current_user.following?(user) ? 'green-border' : 'cc-dark-fg-border'}", style: "line-height: 0px;"}
                %button{class: "btn loader-button loader-in-follow-button padding0 bg-white font-medium #{current_user.following?(user) ? 'green-fg' : 'cc-dark-fg'}"}
                  - if current_user.following?(user)
                    Following
                    %i.fa.fa-check
                  - else
                    Follow
                    %i.fa.fa-plus-circle
                .loader-effect.btn.loader-in-follow-button.ptop1{style: "display:none;"}
                  .loading_dots
                    %span
                    %span
                    %span
.container-fluid
  .container.padding0
    .col-xs-12.col-sm-12.text-center.padding0.mbottom10{style: "border-bottom: 1px solid #e5e5e5;"}
      .img-circle.inline-block.pos-relative.mob-mtop10.tab-mtop10{style: "width: 100px;height: 100px;margin-top: -45px;overflow:hidden;"}
        = cl_image_tag user.avatar, class: "img-circle main-prof-pic", width: 100, height: 100, crop: :fill, gravity: :face, alt: "#{user.name}"
        - if current_user && current_user.same_user?(user)
          = link_to settings_path(change: "profilepic"), class: "j-loader-trigger-link" do
            .pos-absolute.font25.grey-fg.hide-display#edit-prof-pic{style: "top:45px;width: 100px;height:55px;background-color:rgba(0,0,0,0.5);"}
              .fa.fa-pencil.white-fg.mtop10
      .col-xs-12.col-sm-12.col-md-4.col-md-offset-8.padding0.mbottom10.text-right.text-center-mob.font-bit-large.mob-mtop0.tab-mtop0.text-center-tab{style: "margin-top: -52px;"}
        - if @profile.facebook.present?
          = link_to "https://facebook.com/#{@profile.facebook.split('/').last}", target: "_blank", class: "j-loader-trigger-link" do
            .fa.fa-facebook-official.grey-fg.mright5
        - if @profile.twitter.present?
          = link_to "https://twitter.com/#{@profile.twitter.split('/').last}", target: "_blank", class: "j-loader-trigger-link" do
            .fa.fa-twitter-square.grey-fg.mright5
        - if @profile.instagram.present?
          = link_to "https://instagram.com/#{@profile.instagram.split('/').last}", target: "_blank", class: "j-loader-trigger-link" do
            .fa.fa-instagram.grey-fg.mright5
        - if @profile.linkedin.present?
          = link_to "https://linkedin.com/in/#{@profile.linkedin.split('/').last}", target: "_blank", class: "j-loader-trigger-link" do
            .fa.fa-linkedin-square.grey-fg.mright5
        - if @profile.google_plus.present?
          = link_to "https://plus.google.com/#{@profile.google_plus.split('/').last}", target: "_blank", class: "j-loader-trigger-link" do
            .fa.fa-google-plus-square.grey-fg.mright5
        - if @profile.website.present?
          - if @profile.website.split('/').first == "https:" || @profile.website.split('/').first == "http:"
            = link_to @profile.website, target: "_blank", class: "j-loader-trigger-link" do
              .fa.fa-globe.grey-fg.mright5
          - elsif @profile.website.split(".").first == "www"
            = link_to "http://#{@profile.website}", target: "_blank", class: "j-loader-trigger-link" do
              .fa.fa-globe.grey-fg.mright5
          - else
            = link_to "http://www.#{@profile.website}", target: "_blank", class: "j-loader-trigger-link" do
              .fa.fa-globe.grey-fg.mright5
        - if @profile.other_url.present?
          - if @profile.other_url.split('/').first == "https:" || @profile.other_url.split('/').first == "http:"
            = link_to @profile.other_url, target: "_blank", class: "j-loader-trigger-link" do
              .fa.fa-link.grey-fg
          - elsif @profile.other_url.split(".").first == "www"
            = link_to "http://#{@profile.other_url}", target: "_blank", class: "j-loader-trigger-link" do
              .fa.fa-link.grey-fg
          - else
            = link_to "http://www.#{@profile.other_url}", target: "_blank", class: "j-loader-trigger-link" do
              .fa.fa-link.grey-fg
      %h4.font21.mtop0= (truncate user.name, length: 40)
      %h6.grey-fg
        - if user.location && user.location.name.present?
          .fa.fa-anchor
          = (truncate user.location.name, length: 40)
      %h5.grey-fg= (truncate @profile.about, length: 250)
      %ul.mbottom10.padding0.visible-xs
        %li.inline-block
          - if current_user && current_user != user
            .text-center{class: "follow-set-#{user.id}"}
              = link_to user_toggle_follow_path(user), remote: true, method: :post do
                .btn.no-mar-pad.loader-out-follow-button.follow-button.border5{class: "#{current_user.following?(user) ? 'green-border' : 'cc-dark-fg-border'}"}
                  %button{class: "btn loader-button loader-in-follow-button padding0 border5 bg-white font-medium #{current_user.following?(user) ? 'green-fg' : 'cc-dark-fg'}"}
                    - if current_user.following?(user)
                      Following
                      %i.fa.fa-check
                    - else
                      Follow
                      %i.fa.fa-plus-circle
                  .loader-effect.btn.loader-in-follow-button{style: "display:none;padding-top: 3px;"}
                    .ball-clip-rotate{style: "height:22px;"}
                      %div.blue-border ...
        %li.inline-block
          - if current_user && current_user.same_user?(user)
            = link_to settings_path, class: "j-loader-trigger-link" do
              .btn.grey-fg.prof-sett
                %span.glyphicon.glyphicon-cog.pull-left
