- feed ||= "yes"
- hide_on_load_class ||= ''
.col-xs-12.col-sm-12.no-mar-pad.mbottom20.bg-white.showcase-ps-wrapper{class: "showcase-ps-#{showcase.id} #{hide_on_load_class}"}
  .col-xs-12.col-sm-12.padding10
    %span.font11.grey-fg.pos-absolute.right15
      = time_ago_in_words(showcase.achieved_at)
    %i.glyphicon.glyphicon-option-vertical.action-showcase.grey-fg.mtop5.pon.pos-absolute.h-z.right0
    .col-xs-4.col-sm-3.option-showcase.bg-shad.text-center.right15.bg-white
      - unless showcase.coin_wish?
        - if showcase.owner?(current_user) && !showcase.campaign_ended?
          = link_to edit_showcase_path(showcase), class: "full-width grey-fg pull-left small padding5" do
            Edit...
          - unless @showcase.already_raised_some_amount
            = link_to showcase_path(showcase), method: :delete, data: { confirm: "Are you sure you want to delete your #{showcase.showcase_type_name}?" }, class: "full-width grey-fg pull-left small padding5" do
              Delete...
      - if current_user && current_user.admin?
        = link_to edit_admin_showcase_path(showcase), class: "full-width grey-fg pull-left small padding5" do
          Edit as Admin...
        = link_to admin_showcase_path(showcase), method: :delete, data: { confirm: "Are you sure you want to delete your #{showcase.showcase_type_name}?" }, class: "full-width grey-fg pull-left small padding5" do
          Delete as Admin...
      %span.embed-link.pon.full-width.grey-fg.pull-left.small.padding5{"data-url" => "#{slug_showcase_url(showcase.slug, showcase)}", "data-title" => "#{showcase.title}"}= showcase.wishlist? ? "Embed Wish".html_safe : "Embed Showpiece".html_safe
    %span.pos-absolute{style: "right: 5px;top: 25px;"}
      - if showcase.achieved?
        .achieved-wish-sprite
    .col-xs-12.col-sm-12.padding10.pleft0.pright40
      .media
        .media-left
          = link_to myprofile_path(showcase.user.profile.slug), class: "pull-left" do
            = cl_image_tag showcase.user.avatar, class: "img-circle #{showcase.owner?(current_user) ? '' : 'hovercard'}", data: {id: showcase.user.id}, width: 40, height: 40, crop: :fill, gravity: :face, alt: showcase.user.name
        .media-body
          - if showcase.custom_wish_type?
            %span.full-width.inline-block.font12.mtop10
              %span{class: "#{showcase.owner?(current_user) ? '' : 'hovercard'}", "data-id" => "#{showcase.user.id}"}= truncate showcase.user.name.titleize, length: 50
              - if showcase.achieved? || showcase.showpiece?
                fulfilled a wish.
              - elsif showcase.wishlist?
                posted a future wish.
              - elsif showcase.instant_wishlist?
                posted a momentary wish.
            %span.full-width.inline-block.font25.mob-font14.cc-dark-fg
              = showcase.title
          - else
            %span.full-width.inline-block.font25.mob-font14
              %span{class: "#{showcase.owner?(current_user) ? '' : 'hovercard'}", "data-id" => "#{showcase.user.id}"}= truncate showcase.user.name.titleize, length: 50
              %span
                - if showcase.showpiece? || showcase.achieved?
                  %span.cc-dark-fg= showcase.fulfilled_wish_prefix_label.split.last
                - else
                  = showcase.future_wish_prefix_label[/(.*)\s/,1]
                  %span.cc-dark-fg= showcase.future_wish_prefix_label.split.last
              %span.cc-dark-fg
                = showcase.title
  .col-xs-12.col-sm-8.col-md-8.padding0
    - if showcase.any_image?
      .col-xs-12.col-sm-12.padding0.text-center{style: "height: auto;max-height: 480px;overflow: hidden;"}
        .carousel.slide.image_carousel{id: "image_carousel_#{showcase.id}", "data-interval": false}
          - if showcase.image.present? && showcase.achieved? && ((showcase.fullfilled_image.present? && !showcase.showpiece?) || (showcase.backstory_image.present? && showcase.showpiece?))
            .pos-absolute.h-z.font12.white-fg.car-info-style.top5
              %span.pull-left.mtop2.j-change-count 1
              %span.pull-left.mtop2 /2
            .pos-absolute.h-z.font12.white-fg.car-info-style.j-change-info.bottom5.visible-xs
              Swipe to see next
            %a.left.carousel-control.h-z.transparent-bg-image{href: "#image_carousel_#{showcase.id}", role: "button", "data-slide" => "prev"}
              %span.fa.fa-chevron-circle-left.pos-absolute.light-grey-fg.neg-mtop10.top50percent.left10{"aria-hidden" => true}
              %span.sr-only Previous
            %a.right.carousel-control.h-z.transparent-bg-image{href: "#image_carousel_#{showcase.id}", role: "button", "data-slide" => "next"}
              %span.fa.fa-chevron-circle-right.pos-absolute.light-grey-fg.neg-mtop10.top50percent.right10{"aria-hidden" => true}
              %span.sr-only Next
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#image_carousel_#{showcase.id}"}
              %li{"data-slide-to" => "1", "data-target" => "#image_carousel_#{showcase.id}"}
          .carousel-inner
            - if showcase.backstory_image.present? && showcase.showpiece?
              .item.active
                = link_to slug_showcase_path(showcase.slug, showcase), remote: true do
                  = cl_image_tag showcase.backstory_image, class: "img-responsive inline-display", height: 480, crop: :fill, gravity: :face, alt: showcase.title
            - if showcase.image.present?
              .item{class: "#{showcase.backstory_image.blank? || !showcase.showpiece? ? 'active' : '' }"}
                = link_to slug_showcase_path(showcase.slug, showcase), remote: true do
                  = cl_image_tag showcase.image, class: "img-responsive inline-display", height: 480, crop: :fill, gravity: :face, alt: showcase.title
            - if showcase.fullfilled_image.present? && !showcase.showpiece? && showcase.achieved?
              .item{class: "#{showcase.image.blank? && !showcase.showpiece? ? 'active' : '' }"}
                = link_to slug_showcase_path(showcase.slug, showcase), remote: true do
                  = cl_image_tag showcase.fullfilled_image, class: "img-responsive inline-display", height: 480, crop: :fill, gravity: :face, alt: showcase.title
    - else
      %div.full-width.text-center.light-border.border2{style: "padding: 100px 20px"}
        %i.fa.fa-picture-o.grey-fg{style: "font-size: 100px;"}
        %br
        %span.weight600.light-grey-fg No Image
    - if showcase.tags.present?
      .col-xs-12.col-sm-12.showcase-tags.padding10.pbottom0
        - showcase.tags.each do |tag|
          %span.pright5.mbottom5.pull-left.mright5.font12
            .fa.fa-circle
            = link_to tag.name, tag_path(tag.name), class: "black-fg"
    = render partial: "showcases/description_tabs", locals: {showcase: showcase, full: "yes"}
    .col-xs-12.col-sm-12.pleft5.pright5.ptop10.pbottom10.h40
      - if current_user
        .col-xs-2.col-sm-2.pleft0.pright0
          = link_to wow_showcase_path(showcase), remote: true, method: :post, class: "wow-link-#{showcase.id} black-fg" do
            - if showcase.wowed?(current_user)
              %i.fa.fa-heart.cc-dark-fg.pull-left.hvr-push
            - else
              %i.fa.fa-heart-o.cc-dark-fg.pull-left.hvr-push
          .badge.pull-left.bg-white.grey-fg.extra-small-font.weight500.mtop2.pright5{style: "display: #{showcase.wows_any? ? 'inline-block' : 'none'}", title: "#{showcase.wowed_users}"}
            = showcase.active_wows.count
        .col-xs-2.col-sm-2.pright0.pleft5
          %i.fa.fa-comment-o.pull-left.cc-dark-fg.comment-link.pon{class: "comment-link-#{showcase.id}"}
          .badge.pull-left.bg-white.grey-fg.extra-small-font.weight500.mtop2.pright5{style: "display: #{showcase.comments_any? ? 'inline-block' : 'none'}", title: "#{showcase.commented_users_names}"}
            = showcase.comments.count
      - else
        .col-xs-2.col-sm-2.pleft0.pright0
          = link_to authenticate_path do
            %i.fa.fa-heart-o.cc-dark-fg.pull-left
            .badge.pull-left.bg-white.grey-fg.extra-small-font.weight500.mtop2.pright5{style: "display: #{showcase.wows_any? ? 'inline-block' : 'none'}", title: "#{showcase.wowed_users}"}
              = showcase.active_wows.count
        .col-xs-2.col-sm-2.pright0.pleft5
          = link_to authenticate_path do
            %i.fa.fa-comment-o.pull-left.cc-dark-fg{class: "comment-link-#{showcase.id}"}
            .badge.pull-left.bg-white.grey-fg.extra-small-font.weight500.mtop2.pright5{style: "display: #{showcase.comments_any? ? 'inline-block' : 'none'}", title: "#{showcase.commented_users_names}"}
              = showcase.comments.count
      .col-xs-6.col-sm-6.pright0.pleft5
        - if current_user
          - if showcase.owner?(current_user)
            - if (!showcase.showpiece? && !showcase.achieved?)
              = link_to fullfillment_form_showcase_path(showcase), method: :post, remote: true, class: "cc-dark-fg" do
                %i.fa.fa-check-square-o.pull-left.mtop2.font17
                %span.pull-left.font12.grey-fg.mright10 Mark as completed?
            - elsif showcase.backstory_possible?
              = link_to backstory_form_showcase_path(showcase), method: :post, remote: true, class: "cc-dark-fg" do
                %i.fa.fa-check-square-o.pull-left.mtop2.font17
                %span.pull-left.font12.grey-fg Backstory?
            - else
              .achieved-wish-sprite.mright5
              %span.grey-fg.font12 Achieved
          - else
            - unless showcase.coin_wish?
              %span.rewish-link.pon.cc-dark-fg.pull-left{"data-id" => "#{showcase.id}"}
                %i.fa.fa-clone.pull-left.mtop2
                %span.font12.grey-fg.pull-left Wish?
              .badge.pull-left.bg-light-grey.grey-fg.mtop2.mleft5.extra-small-font.mtop2.weight500{style: "display: #{showcase.children_any? ? 'inline-block' : 'none'}", title: "#{showcase.children_owner_names}"}
                = showcase.children.count
              %span.done-this.pon.cc-dark-fg.pull-left.pleft15{"data-id" => "#{showcase.id}"}
                %i.fa.fa-check-square-o.pull-left.mtop2
                %span.font12.grey-fg.pull-left Done?
        - else
          = link_to authenticate_path do
            %span.pon.cc-dark-fg.pull-left.pright5
              %i.fa.fa-clone.pull-left.mtop2
              %span.font12.grey-fg.pull-left Wish?
            .badge.pull-left.bg-light-grey.grey-fg.mtop2.mleft5.extra-small-font.mtop2.weight500{style: "display: #{showcase.children_any? ? 'inline-block' : 'none'}", title: "#{showcase.children_owner_names}"}
              = showcase.children.count
            %span.pon.cc-dark-fg.pull-left.pleft-10
              %i.fa.fa-check-square-o.pull-left.mtop2
              %span.font12.grey-fg.pull-left Done?
      .col-xs-2.col-sm-2.pright0.pleft5
        - if current_user && showcase.owner?(current_user)
          = link_to slug_showcase_path(showcase.slug, showcase, to_move: "yes", collection_id: "#{params[:showcase]}"), remote: true, class: "" do
            .fa.fa-folder-o.grey-fg.pull-right{title: "Arrange Showcase"}
    .col-xs-12.col-sm-12.no-mar-pad.min-height0{class: "user-comments-#{showcase.id}"}
      - if feed == "yes"
        - if showcase.comments.count > 4
          = link_to slug_showcase_path(showcase.slug, showcase), target: "_blank", class: "padding10 pbottom0 font12", style: "text-decoration: underline;" do
            View #{showcase.comments.count - 4} more #{(showcase.comments.count - 4) > 1 ? 'comments' : 'comment'}
        - showcase.comments.order(:created_at).last(4).each do |comment|
          = render partial: "showcases/comment", locals: {comment: comment}
      - else
        - showcase.comments.order(:created_at).each do |comment|
          = render partial: "showcases/comment", locals: {comment: comment}
    - if current_user
      .media.new-comment.padding5.ptop10.pbottom10.bg-white{class: "#{feed == 'yes' ? 'hide-display' : 'block-display'}"}
        = form_for :comment, url: comment_showcase_path(showcase), remote: true do |f|
          .media-left.pright5
            = link_to myprofile_path(current_user.profile.slug) do
              = cl_image_tag current_user.avatar, class: "img-circle media-object", width: 30, height: 30, crop: :fill, gravity: :face
          .media-body
            ~ f.text_area :description, rows: 2, class: "form-control comment-description", id: "comment-description-#{showcase.id}", required: true, placeholder: "Write a comment...", maxlength: 2500
            = f.submit "Comment", class: "btn btn-sm cc-dark-fg cc-dark-fg-border bg-white mtop5 btn-comment-create pull-left"
            .fa.fa-spinner.fa-spin.hide-display.pull-left.mtop10.mleft5.font20{class: "comment-spinner-#{showcase.id}"}
    - if showcase.video_link.present?
      .col-xs-12.col-sm-12.padding5
        .col-xs-12.col-sm-12.bg-light-grey.padding10.show-video-iframe{"data-video-frame-div": "#video-link-#{showcase.id}" }
          %i.fa.fa-play.font16
          %a{target:'_blank', href:"#{showcase.video_link}", class: "cc-dark-fg txt-underline url_preview"}
            #{showcase.video_link}
          / = link_preview_content(showcase.video_link).html_safe
        .embed-responsive.embed-responsive-16by9{id: "video-link-#{showcase.id}"}
          = showcase.video_iframe.html_safe
    - if showcase.is_only_accessible_with_link? && showcase.user == current_user
      .col-xs-12.col-sm-12.bg-white{class: "showcase-private-link-#{showcase.id}"}
        Private url : #{showcase.private_access_url}
  .col-xs-12.col-sm-12.col-md-4.ptop0.mob-padding10
    .col-xs-12.col-sm-12.col-md-12.padding10.bg-shad.mob-mtop10
      %span.pull-left.full-width.cc-dark-fg.font25.weight600
        %i.fa.fa-inr
        #{showcase.raised_amount}
      %span.pull-left.full-width.font11.weight600
        raised of Rs.#{showcase.goal_amount} goal
      %div.full-width.pull-left.mtop5
        .progress.mbottom0{style: "height: 8px;"}
          .progress-bar.cc-dark-bg{:style => "width: #{showcase.percentage_raised}%;"}
      .col-xs-6.col-sm-6.padding0.ptop10
        %span.pull-left.full-width.font11 FROM
        %span.pull-left.full-width.font-medium.weight600 #{showcase.no_of_contributers} #{showcase.no_of_contributers > 1 || showcase.no_of_contributers == 0 ? 'Contributers' : 'Contributer'}
      .col-xs-6.col-sm-6.padding0.ptop10
        %span.pull-left.full-width.font11 TIME LEFT
        %span.pull-left.full-width.font-medium.weight600 #{showcase.remaining_days} #{showcase.remaining_days > 1 || showcase.remaining_days == 0 ? 'days' : 'day'} to go
      .col-xs-12.col-sm-12.no-mar-pad.mtop20.padding0
        - if showcase.campaign_ended?
          .btn.cc-med-bg.white-fg.weight600.full-width.font20{style: "height: 45px;"}
            Gifting ended
        - else
          = form_for @cocotransfer, url: new_cocotransfer_path(@cocotransfer), method: :get do |f|
            = f.hidden_field :transferable_id, value: showcase.id, name: 'transferable_id'
            = f.hidden_field :transferable_type, value: 'Showcase', name: 'transferable_type'
            .col-xs-12.col-sm-12.mbottom10.padding0
              %i.fa.fa-inr.font-bit-large.grey-fg.pull-left.mtop10.mleft15{style: "margin-right: -25px;"}
              = f.text_field :amount, name: 'amount', value: showcase.default_gift_amount.to_i,  placeholder: "", class: "form-control bg-white cc-dark-fg-border pleft30"
            .col-xs-12.col-sm-12.no-mar-pad
              = f.submit "Gift", class: "btn cc-dark-bg white-fg weight600 full-width font20", style: "height: 45px;"
    .col-xs-12.col-sm-12.padding5.text-center.mtop10
      .shareShowcaseRoundIcons{"data-id" => "#{showcase.id}"}
    - if showcase.owner?(current_user) && !showcase.campaign_ended?
      .col-xs-12.col-sm-12.padding0.mtop10
        = link_to end_campaign_showcase_path(showcase), method: :post, data: { confirm: "Are you sure to end this gift collection?" }, class: "btn grey-fg border-medium j-loader-trigger-link full-width font20", style: "height:45px;" do
          Close Gifting&nbsp;
          %i.fa.fa-lock
    .col-xs-12.col-sm-12.padding0.mtop10
      = render partial: "showcases/owner_details", locals: {showcase: showcase}
    .col-xs-12.col-sm-12.mtop20.padding0
      = render partial: "showcases/contributers", locals: {showcase: showcase}
= content_for :extra_js do
  :javascript
    $(document).on("click", ".show-video-iframe", function(e){
      videodiv_element = $(this).attr('data-video-frame-div');
      $(this).hide();
      $(videodiv_element).removeClass('hidden');
    });
    obj = {"longUrl" : "https://www.cocociti.com/wish/#{showcase.id}"}
    $.ajax({url: "https://content.googleapis.com/urlshortener/v1/url?key=AIzaSyBKouCyRuExAspdTSgCjQ1825AbI_8Fank&alt=json", type: 'POST', contentType: "application/json", data: JSON.stringify(obj), success: function(data){
      $(".shareShowcaseRoundIcons").jsSocials({
        url: data["id"],
        text: "Help #{showcase.user.name}s fulfill #{showcase.title} at Cocociti",
        showLabel: false,
        showCount: false,
        shares: ["twitter", "facebook", "googleplus", "linkedin", "pinterest", "whatsapp"]
      });
    }});
