- show_case_link_params = showcase.is_for_raising_fund? ? {target: :_blank, class: "cc-dark-fg"} : {remote: true, class: "cc-dark-fg"}
.col-xs-12.col-sm-12.no-mar-pad
  %span.font11.grey-fg.pos-absolute.right15.mtop8
    = time_ago_in_words(showcase.achieved_at)
  %i.glyphicon.glyphicon-option-vertical.action-showcase.grey-fg.mtop5.pon.pos-absolute.h-z.right0
  .col-xs-4.col-sm-4.option-showcase.bg-shad.bg-white.text-center.bg-white.right15
    - unless showcase.coin_wish?
      - if showcase.owner?(current_user) && !showcase.campaign_ended?
        = link_to edit_showcase_path(showcase), class: "full-width grey-fg pull-left small padding5 j-loader-trigger-link" do
          Edit...
        - unless showcase.already_raised_some_amount
          = link_to showcase_path(showcase), method: :delete, data: { confirm: "Are you sure you want to delete your #{showcase.showcase_type_name}?" }, class: "full-width grey-fg pull-left small padding5 j-loader-trigger-link" do
            Delete...
    - if current_user && current_user.admin?
      = link_to edit_admin_showcase_path(showcase), class: "full-width grey-fg pull-left small padding5 j-loader-trigger-link" do
        Edit as Admin...
      = link_to admin_showcase_path(showcase), method: :delete, data: { confirm: "Are you sure you want to delete your #{showcase.showcase_type_name}?" }, class: "full-width grey-fg pull-left small padding5 j-loader-trigger-link" do
        Delete as Admin...
    %span.embed-link.pon.full-width.grey-fg.pull-left.small.padding5{"data-url" => "#{slug_showcase_url(showcase.slug, showcase)}", "data-title" => "#{showcase.title}"}= showcase.wishlist? ? "Embed Wish".html_safe : "Embed Showpiece".html_safe
  %span.pos-absolute{style: "right: 5px;top: 25px;"}
    - if showcase.achieved?
      .achieved-wish-sprite
  .col-xs-12.col-sm-12.padding10.pright.pright40
    .media
      .media-left
        = link_to myprofile_path(showcase.user.profile.slug), class: "pull-left j-loader-trigger-link" do
          = cl_image_tag showcase.user.avatar, class: "img-circle #{showcase.owner?(current_user) ? '' : 'hovercard'}", data: {id: showcase.user.id}, width: 40, height: 40, crop: :fill, gravity: :face, alt: showcase.user.name
      .media-body
        - if showcase.custom_wish_type?
          %span.full-width.inline-block.font12.mtop10
            %span{class: "#{showcase.owner?(current_user) ? '' : 'hovercard'}", "data-id" => "#{showcase.user.id}"}= truncate showcase.user.name.titleize, length: 50
            - if showcase.achieved? || showcase.showpiece?
              fulfilled a wish.
            - elsif showcase.wishlist?
              posted a future wish.
            - elsif showcase.instant_wishlist?
              posted a momentary wish.
          %span.full-width.inline-block{class: "#{showcase.image.present? ? 'font-medium' : 'font21'}"}
            = link_to slug_showcase_path(showcase.slug, showcase), show_case_link_params do
              = showcase.title
        - else
          %span.full-width.inline-block.mtop10{class: "#{showcase.image.present? ? 'font-medium' : 'font21'}"}
            %span{class: "#{showcase.owner?(current_user) ? '' : 'hovercard'}", "data-id" => "#{showcase.user.id}"}= truncate showcase.user.name.titleize, length: 50
            %span
              - if showcase.showpiece? || showcase.achieved?
                = link_to slug_showcase_path(showcase.slug, showcase, popup: "yes"), show_case_link_params do
                  %span.cc-dark-fg= showcase.fulfilled_wish_prefix_label.split.last
              - else
                = showcase.future_wish_prefix_label[/(.*)\s/,1]
                = link_to slug_showcase_path(showcase.slug, showcase, popup: "yes"), show_case_link_params do
                  %span.cc-dark-fg= showcase.future_wish_prefix_label.split.last
            %span
              = link_to slug_showcase_path(showcase.slug, showcase, popup: "yes"), show_case_link_params do
                = showcase.title
  - if showcase.any_image?
    .col-xs-12.col-sm-12.padding0.text-center{style: "height: auto;max-height: 480px;overflow: hidden;"}
      .carousel.slide.image_carousel{id: "image_carousel_#{showcase.id}", "data-interval": false}
        - if showcase.image.present? && showcase.achieved? && ((showcase.fullfilled_image.present? && !showcase.showpiece?) || (showcase.backstory_image.present? && showcase.showpiece?))
          .pos-absolute.h-z.font12.white-fg.car-info-style.top5
            %span.pull-left.mtop2.j-change-count 1
            %span.pull-left.mtop2 /2
          .pos-absolute.h-z.font12.white-fg.car-info-style.j-change-info.bottom5.visible-xs
            Swipe to see next
          %a.left.carousel-control.h-z.transparent-bg-image{href: "#image_carousel_#{showcase.id}", role: "button", "data-slide" => "prev"}
            %span.fa.fa-chevron-circle-left.pos-absolute.light-grey-fg.neg-mtop10.top50percent.left10{"aria-hidden" => true}
            %span.sr-only Previous
          %a.right.carousel-control.h-z.transparent-bg-image{href: "#image_carousel_#{showcase.id}", role: "button", "data-slide" => "next"}
            %span.fa.fa-chevron-circle-right.pos-absolute.light-grey-fg.neg-mtop10.top50percent.right10{"aria-hidden" => true}
            %span.sr-only Next
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#image_carousel_#{showcase.id}"}
            %li{"data-slide-to" => "1", "data-target" => "#image_carousel_#{showcase.id}"}
        .carousel-inner
          - if showcase.backstory_image.present? && showcase.showpiece?
            .item.active
              = link_to slug_showcase_path(showcase.slug, showcase), show_case_link_params do
                = cl_image_tag showcase.backstory_image, class: "img-responsive inline-display", height: 480, crop: :fill, gravity: :face, alt: showcase.title
          - if showcase.image.present?
            .item{class: "#{showcase.backstory_image.blank? || !showcase.showpiece? ? 'active' : '' }"}
              = link_to slug_showcase_path(showcase.slug, showcase), show_case_link_params do
                = cl_image_tag showcase.image, class: "img-responsive inline-display", height: 480, crop: :fill, gravity: :face, alt: showcase.title
          - if showcase.fullfilled_image.present? && !showcase.showpiece? && showcase.achieved?
            .item{class: "#{showcase.image.blank? && !showcase.showpiece? ? 'active' : '' }"}
              = link_to slug_showcase_path(showcase.slug, showcase), show_case_link_params do
                = cl_image_tag showcase.fullfilled_image, class: "img-responsive inline-display", height: 480, crop: :fill, gravity: :face, alt: showcase.title
      .h40.pos-absolute{style: "top: 45%;left: 45%;"}
        - if current_user
          - if !showcase.owner?(current_user) && showcase.active_coins.count <= 50 && showcase.coin_wish? && showcase.coin_wish_active?
            - if current_user.unlocked_coin_wish?
              - if showcase.coined?(current_user)
                .coin-sprite-o-full.pos-relative.flipped-horz
              - else
                %div{class: "coin-link-#{showcase.id}"}
                  = link_to coin_showcase_path(showcase), remote: true, method: :post, data: {confirm: "You are about to gift 1 coin to your friend. We will credit 1 rupee on your behalf to the owner of this coin wish and this can't be undone, yay! Happy gifting"} do
                    .coin-sprite-o-less.pos-relative.flipped-horz
            - else
              = link_to settings_path(unlock: "coin_wish") do
                .coin-sprite-o-less.pos-relative.flipped-horz
        - else
          = link_to authenticate_path do
            %i.coin-sprite-o-less
- if showcase.tags.present?
  .col-xs-12.col-sm-12.showcase-tags.bg-white.padding10.ptpp0
    - showcase.tags.each do |tag|
      %span.pright5.mbottom5.pull-left.mright5.font12
        .fa.fa-circle
        = link_to tag.name, tag_path(tag.name), class: "black-fg"
- if showcase.is_for_raising_fund?
  .col-xs-12.col-sm-12.padding10{style: "background-color: #fbfbfb;"}
    .col-xs-6.col-sm-6.padding0.pright-10
      %span.pull-left.cc-dark-fg.font16
        %i.fa.fa-inr
        #{showcase.raised_amount}
      %span.pull-left.font11.mtop5.mleft5
        raised of Rs.#{showcase.goal_amount} goal
      %div.full-width.pull-left.mtop5
        .progress.mbottom0{style: "height: 8px;"}
          .progress-bar.cc-dark-bg{:style => "width: #{showcase.percentage_raised}%;"}
    .col-xs-6.col-sm-6.padding0
      - if showcase.campaign_ended?
        .btn.border-medium.black80-fg.full-width
          Gifting ended
      - else
        = form_for Cocotransfer.new, url: new_cocotransfer_path(@cocotransfer), method: :get do |f|
          = f.hidden_field :showcase_id, value: showcase.id, name: 'showcase_id'
          .col-xs-8.col-sm-8.padding0
            %i.fa.fa-inr.grey-fg.pull-left.mtop10.mleft10{style: "margin-right: -20px;"}
            = f.text_field :amount, name: 'amount', value: showcase.default_gift_amount.to_i,  placeholder: "", class: "form-control cc-dark-fg-border pleft20", style: "background-color: transparent;"
          .col-xs-4.col-sm-4.pright0
            = f.submit "Gift", class: "btn cc-dark-bg white-fg full-width"
.col-xs-12.col-sm-12.border-two.padding10.bg-white.h40
  - if current_user
    .col-xs-2.col-sm-2.pleft0.pright0
      = link_to wow_showcase_path(showcase), remote: true, method: :post, class: "wow-link-#{showcase.id} black-fg" do
        - if showcase.wowed?(current_user)
          %i.fa.fa-heart.grey-fg.pull-left.hvr-push
        - else
          %i.fa.fa-heart-o.grey-fg.pull-left.hvr-push
      .badge.pull-left.bg-white.grey-fg.extra-small-font.weight500.mtop2.pleft0.pright0{style: "display: #{showcase.wows_any? ? 'inline-block' : 'none'}", title: "#{showcase.wowed_users}"}
        = showcase.active_wows.count
    .col-xs-2.col-sm-2.pright0.pleft5
      %i.fa.fa-comment-o.pull-left.grey-fg.comment-link.pon{class: "comment-link-#{showcase.id}"}
      .badge.pull-left.bg-white.grey-fg.extra-small-font.weight500.mtop2.pleft0.pright0{style: "display: #{showcase.comments_any? ? 'inline-block' : 'none'}", title: "#{showcase.commented_users_names}"}
        = showcase.comments.count
  - else
    .col-xs-2.col-sm-2.pleft0.pright0
      = link_to authenticate_path, class: "j-loader-trigger-link" do
        %i.fa.fa-heart-o.grey-fg.pull-left
        .badge.pull-left.bg-white.grey-fg.extra-small-font.weight500.mtop2.pleft0.pright0{style: "display: #{showcase.wows_any? ? 'inline-block' : 'none'}", title: "#{showcase.wowed_users}"}
          = showcase.active_wows.count
    .col-xs-2.col-sm-2.pright0.pleft5
      = link_to authenticate_path, class: "j-loader-trigger-link" do
        %i.fa.fa-comment-o.pull-left.grey-fg{class: "comment-link-#{showcase.id}"}
        .badge.pull-left.bg-white.grey-fg.extra-small-font.weight500.mtop2.pleft0.pright0{style: "display: #{showcase.comments_any? ? 'inline-block' : 'none'}", title: "#{showcase.commented_users_names}"}
          = showcase.comments.count
  .col-xs-6.col-sm-6.pright0.pleft5
    - if current_user
      - if showcase.owner?(current_user)
        - if (!showcase.showpiece? && !showcase.achieved?)
          = link_to fullfillment_form_showcase_path(showcase), method: :post, remote: true, class: "grey-fg" do
            %i.fa.fa-check-square-o.pull-left.font-bit-large.mtop2{title: "Mark as Completed", "data-toggle" => "tooltip", "data-placement" => "auto"}
            %span.pull-left.font12.mtop2.grey-fg.mright10 Mark as completed?
        - elsif showcase.backstory_possible?
          = link_to backstory_form_showcase_path(showcase), method: :post, remote: true, class: "grey-fg" do
            %i.fa.fa-check-square-o.pull-left.font-bit-large.mtop2
            %span.pull-left.font12.mtop2.grey-fg Backstory?
        - else
          .achieved-wish-sprite.mright5
          %span.grey-fg.font12 Achieved
      - else
        - unless showcase.coin_wish?
          %span.rewish-link.pon.grey-fg.pull-left{"data-id" => "#{showcase.id}"}
            %i.fa.fa-clone.pull-left.mtop2
            %span.font12.grey-fg.pull-left.mtop2 Wish?
          .badge.bg-white.pull-left.pleft0.pright0.grey-fg.mtop2.mleft5.extra-small-font.mtop2.weight500{style: "display: #{showcase.children_any? ? 'inline-block' : 'none'}", title: "#{showcase.children_owner_names}"}
            = showcase.children.count
          %span.done-this.pon.grey-fg.pull-left.pleft-10{"data-id" => "#{showcase.id}"}
            %i.fa.fa-check-square-o.pull-left.font17.mtop2
            %span.font12.grey-fg.pull-left.mtop2 Done?
      - if showcase.coin_wish?
        %i.fa.fa-inr.pull-left.grey-fg.mtop2{class: "badge-coin-link-#{showcase.id}"}
        .badge.pull-left.bg-white.grey-fg.extra-small-font.weight500.mtop2.pleft0.pright0{title: "#{showcase.coined_users}"}
          = showcase.active_coins.count
    - else
      = link_to authenticate_path, class: "j-loader-trigger-link" do
        %span.pon.grey-fg.pull-left.pright5
          %i.fa.fa-clone.pull-left.mtop2{title: "Wish"}
          %span.font12.grey-fg.pull-left.mtop2 Wish?
        .badge.pull-left.bg-light-grey.grey-fg.mtop2.mleft5.extra-small-font.mtop2.weight500{style: "display: #{showcase.children_any? ? 'inline-block' : 'none'}", title: "#{showcase.children_owner_names}"}
          = showcase.children.count
        %span.pon.grey-fg.pull-left.pleft-10
          %i.fa.fa-check-square-o.pull-left.font17.mtop2
          %span.font12.grey-fg.pull-left.mtop2 Done?
    - if showcase.is_wishpay?
      %i.fa.fa-diamond.pull-left.mleft10.grey-fg.mtop2.j-wishpay-open.pon
      .pos-absolute.hide-display.j-wishpay-wrap.bg-white.padding10.btn-shadow{style: "top: -50px;right: 94px;border-radius: 35px;width: auto;"}
        -if showcase.can_be_fullfilled_at_once?
          = form_for Cocotransfer.new, url: new_cocotransfer_path(@cocotransfer), html: {class: "inline-block"}, method: :get do |f|
            = f.hidden_field :transferable_id, value: showcase.id, name: 'transferable_id'
            = f.hidden_field :transferable_type, value: "Showcase", name: 'transferable_type'
            = f.hidden_field :gift_type, value: "fullfill", name: 'gift_type'
            .inline-block
              %button.btn.btn-sm.cc-dark-fg-border.cc-dark-fg{style: "background-color: transparent;border-radius: 16px;"}
                /%i.fa.fa-star
                %span.inline-block Fulfill
        = form_for Cocotransfer.new, url: new_cocotransfer_path(@cocotransfer), html: {class: "inline-block"}, method: :get do |f|
          = f.hidden_field :transferable_id, value: showcase.id, name: 'transferable_id'
          = f.hidden_field :transferable_type, value: "Showcase", name: 'transferable_type'
          .inline-block
            %button.btn.btn-sm.cc-dark-fg-border.cc-dark-fg{style: "background-color: transparent;border-radius: 16px;"}
              /%i.fa.fa-star-half-o.cc-dark-fg
              %span.inline-block Contribute
  .col-xs-2.col-sm-2.pright0.pleft5
    - if current_user && showcase.owner?(current_user)
      = link_to slug_showcase_path(showcase.slug, showcase, to_move: "yes", collection_id: "#{params[:showcase]}"), remote: true, class: "" do
        .fa.fa-folder-o.grey-fg.pull-right.font16{title: "Arrange Showcase"}
    %i.fa.fa-share.font-medium.mtop2.pull-right.pon.share_popup_icon.grey-fg{"aria-hidden" => "true", "data-showcase-id": "#{showcase.id}", title: "Share"}
    %div.share_popup
      .shareShowcaseRoundIcons{"data-id" => "#{showcase.id}", "data-showcase-id": "#{showcase.id}"}
= render partial: "showcases/description_tabs", locals: {showcase: showcase}
.col-xs-12.col-sm-12.no-mar-pad.bg-white.min-height0{class: "user-comments-#{showcase.id}"}
  - if feed == "yes"
    - if showcase.comments.count > 4
      = link_to slug_showcase_path(showcase.slug, showcase), target: "_blank", class: "padding10 pbottom0 font12", style: "text-decoration: underline;" do
        View #{showcase.comments.count - 4} more #{(showcase.comments.count - 4) > 1 ? 'comments' : 'comment'}
    - showcase.comments.order(:created_at).last(4).each do |comment|
      = render partial: "showcases/comment", locals: {comment: comment}
  - else
    - showcase.comments.order(:created_at).each do |comment|
      = render partial: "showcases/comment", locals: {comment: comment}
- if current_user
  .media.new-comment.padding5.ptop10.pbottom10.bg-white{class: "#{feed == 'yes' ? 'hide-display' : 'block-display'}"}
    = form_for :comment, url: comment_showcase_path(showcase), remote: true do |f|
      .media-left.pright5
        = link_to myprofile_path(current_user.profile.slug) do
          = cl_image_tag current_user.avatar, class: "img-circle media-object", width: 30, height: 30, crop: :fill, gravity: :face
      .media-body
        ~ f.text_area :description, rows: 2, class: "form-control comment-description", id: "comment-description-#{showcase.id}", required: true, placeholder: "Write a comment...", maxlength: 2500
        = f.submit "Comment", class: "btn btn-sm cc-dark-fg cc-dark-fg-border mtop5 bg-white btn-comment-create pull-left"
        .fa.fa-spinner.fa-spin.hide-display.pull-left.mtop10.mleft5.font20{class: "comment-spinner-#{showcase.id}"}
