- showcases.each do |showcase|
  .col-xs-12.col-sm-12.no-mar-pad.mbottom10.bg-white.border-left-band-showcase.bg-shad.border-medium
    .col-xs-12.col-sm-12.padding10
      = link_to myprofile_path(showcase.user.profile.slug) do
        = cl_image_tag showcase.user.avatar, class: "img-circle", width: 40, height: 40, crop: :fill
      %span.weight500{style: "color: #28B473;"}= showcase.user.name
      = showcase.wishlist? ? " added to wishlist" : " added to showcase"
    .col-xs-12.col-sm-12.padding10.ptop0.text-center{style: "height: auto;min-height: 380px;max-height: 480px;overflow: hidden;"}
      = cl_image_tag showcase.image, class: "img-responsive inline-display", width: 637, crop: :fill, gravity: :face
    .col-xs-12.col-sm-12.padding10
      %h4.no-mar-pad= showcase.title
    .col-xs-12.col-sm-12.padding10
      %span.small.grey-fg= showcase.description
    .col-xs-4.col-sm-2.border-two.padding10.bg-light-grey
      = link_to wow_showcase_path(showcase), remote: true, method: :post, class: "wow-link-#{showcase.id} black-fg" do
        - if showcase.wowed?(current_user)
          %i.fa.fa-heart.heart-red-fg
        - else
          %i.fa.fa-heart-o
      .badge{style: "display: #{showcase.wows_any? ? 'inline-block' : 'none'}"}
        = showcase.wows.count
    .col-xs-8.col-sm-10.pon.comment-link.border-two.padding10.bg-light-grey
      %i.fa.fa-comment-o{class: "comment-link-#{showcase.id}"}
      .badge{style: "display: #{showcase.comments_any? ? 'inline-block' : 'none'}"}
        = showcase.comments.count
    .col-xs-12.col-sm-12.no-mar-pad.bg-light-grey{class: "user-comments-#{showcase.id}"}
      - showcase.comments.order(:created_at).limit(4).each do |comment|
        = render partial: "showcases/comment", locals: {comment: comment}
    .media.new-comment.padding10.pbottom20.bg-light-grey
      = form_for :comment, url: comment_showcase_path(showcase), remote: true do |f|
        .media-left
          = cl_image_tag current_user.avatar, class: "img-circle media-object", width: 40, height: 40, crop: :fill
        .media-body
          = f.text_area :description, rows: 3, class: "form-control comment-description", id: "comment-description-#{showcase.id}"
          = f.submit "Comment", class: "btn btn-primary btn-social mtop10 btn-shadow"
