- showcases.each do |showcase|
  .col-xs-6.col-sm-3.padding10{class: "showcase-card-#{showcase.id}"}
    .col-xs-12.col-sm-12.no-mar-pad.padding10.bg-white.pbottom0{style: "box-shadow: 0 1px 2px rgba(0,0,0,0.07);"}
      .col-xs-12.col-sm-12.no-mar-pad.text-center.h189.show-img-wrap.mob125h.hidden-overflow.tab125h
        = link_to showcase_path(showcase), remote: true do
          .pos-absolute.show-details.hide-display.full-width.full-height.padding10.font13.text-left.black-fg{style: "background-color: rgba(255,255,255,0.7)"}
            %h4.mtop0= truncate showcase.title.humanize, length: 40
            - if showcase.description.present?
              %span= truncate showcase.description, length: 250
          - if showcase.image.present?
            = cl_image_tag showcase.image, class: "img-responsive inline-display", width: 300, height: 225, crop: :fill, gravity: :face, alt: showcase.title
          - else
            .white-bg.cc-dark-fg.font20.inline-block.ptop50{style: "width: 253px;height: 189px;"}
              - if showcase.custom_wish_type?
                = showcase.title
              - else
                %span
                  - if showcase.showpiece?
                    = showcase.fulfilled_wish_prefix_label.lstrip.humanize
                  - else
                    = showcase.future_wish_prefix_label.lstrip.humanize
                %span{style: "word-break: break-word;"}
                  = showcase.title
      .col-xs-12.col-sm-12.no-mar-pad
        .col-xs-4.col-sm-4.padding5.ptop8
          - if showcase.owner?(current_user)
            = link_to showcase_path(showcase, to_move: "yes", collection_id: "#{@collection.id if @collection.present?}"), remote: true do
              .fa.fa-plus.grey-fg.pull-left
          %a{href: "#{showcase_url(showcase)}", "data-image" => "#{showcase.image}", "data-title" => "#{showcase.title}", "data-desc" => "#{showcase.description}", class: "btnShare"}
            .fa.fa-facebook-official.pull-left
        .col-xs-4.col-sm-4.padding5
          - if current_user
            = link_to wow_showcase_path(showcase), remote: true, method: :post, class: "wow-link-#{showcase.id} cc-dark-fg" do
              - if showcase.wowed?(current_user)
                %i.fa.fa-heart
              - else
                %i.fa.fa-heart-o
          - else
            = link_to authenticate_path, class: "cc-dark-fg" do
              %i.fa.fa-heart-o
          .badge.font11.pleft0.weight500.bg-white.cc-dark-fg{style: "display: #{showcase.wows_any? ? 'inline-block' : 'none'}", title: "#{showcase.wowed_users}", "data-toggle" => "tooltip"}
            = showcase.active_wows.count
        .col-xs-4.col-sm-4.padding5
          - if current_user
            = link_to showcase_path(showcase), remote: true, class: "cc-dark-fg" do
              %i.fa.fa-comment-o{class: "comment-link-#{showcase.id}"}
          - else
            = link_to authenticate_path, class: "cc-dark-fg" do
              %i.fa.fa-comment-o{class: "comment-link-#{showcase.id}"}
          .badge.font11.pleft0.weight500.bg-white.cc-dark-fg{style: "display: #{showcase.comments_any? ? 'inline-block' : 'none'}", title: "#{showcase.commented_users_names}", "data-toggle" => "tooltip"}
            = showcase.comments.count
        %i.glyphicon.glyphicon-option-vertical.action-showcase.grey-fg.mtop8.pon.pos-absolute.neg-right6
        .col-xs-6.col-sm-6.option-showcase.bg-shad.bg-white.text-center.bg-white.right15.bottom10
          - if showcase.owner?(current_user)
            = link_to edit_showcase_path(showcase), class: "full-width grey-fg pull-left small padding5" do
              Edit...
            = link_to showcase_path(showcase), method: :delete, data: { confirm: "Are you sure you want to delete your #{showcase.showcase_type_name}?" }, class: "full-width grey-fg pull-left small padding5" do
              Delete...
          - if current_user && current_user.admin?
            = link_to edit_admin_showcase_path(showcase), class: "full-width grey-fg pull-left small padding5" do
              Edit as Admin...
            = link_to admin_showcase_path(showcase), method: :delete, data: { confirm: "Are you sure you want to delete your #{showcase.showcase_type_name}?" }, class: "full-width grey-fg pull-left small padding5" do
              Delete as Admin...
          %span.embed-link.pon.full-width.grey-fg.pull-left.small.padding5{"data-url" => "#{showcase_url(showcase)}", "data-title" => "#{showcase.title}"}= showcase.wishlist? ? "Embed Wish".html_safe : "Embed Showpiece".html_safe
