- feed ||= "yes"
- showcases.each do |showcase|
  .col-xs-12.col-sm-12.no-mar-pad.mbottom30.bg-white.bg-shad.no-bord-mob.showcase-ps-wrapper{class: "showcase-ps-#{showcase.id}"}
    .col-xs-12.col-sm-12.no-mar-pad
      %i.glyphicon.glyphicon-option-vertical.action-showcase.grey-fg.mtop5.pon.pos-absolute{style: "right:0px;"}
      .col-xs-4.col-sm-4.option-showcase.bg-shad.bg-white.text-center.bg-white.right15
        - if showcase.owner?(current_user)
          = link_to edit_showcase_path(showcase), class: "full-width grey-fg pull-left small padding5" do
            Edit...
          = link_to showcase_path(showcase), method: :delete, data: { confirm: "Are you sure you want to delete your #{showcase.showcase_type_name}?" }, class: "full-width grey-fg pull-left small padding5" do
            Delete...
        %span.embed-link.pon.full-width.grey-fg.pull-left.small.padding5{"data-url" => "#{showcase_url(showcase)}", "data-title" => "#{showcase.title}"}= showcase.wishlist? ? "Embed Wish".html_safe : "Embed Showpiece".html_safe
      = link_to myprofile_path(showcase.user.profile.slug), class: "pull-left full-width text-center", style: "margin-top: -20px;" do
        = cl_image_tag showcase.user.avatar, class: "img-circle hovercard", data: {id: showcase.user.id}, width: 40, height: 40, crop: :fill, gravity: :face, alt: showcase.user.name
      %span.full-width.pull-left.text-center.font-medium.padding10.ptop0.pright5
        = link_to myprofile_path(showcase.user.profile.slug) do
          %span.weight600.hovercard{"data-id" => "#{showcase.user.id}"}= truncate showcase.user.name.titleize, length: 50
        %span.small.grey-fg added
        = link_to showcase_path(showcase) do
          %span.weight600= truncate showcase.title, length: 50
        %span.small.grey-fg to
        %span.weight600= showcase.wishlist? ? "<a href='/#{showcase.user.profile.slug}/wishes'> Wishlist</a>".html_safe : "<a href='/#{showcase.user.profile.slug}/showpieces'> Showcase</a>".html_safe
        %span.pull-right.font11.mtop5.grey-fg
          .fa.fa-clock-o
          = time_ago_in_words(showcase.created_at)
    = link_to showcase_path(showcase) do
      .col-xs-12.col-sm-12.padding0.text-center{style: "height: auto;max-height: 480px;overflow: hidden;"}
        = cl_image_tag showcase.image, class: "img-responsive inline-display", height: 480, crop: :fill, gravity: :face, alt: showcase.title
    .col-xs-3.col-sm-3.border-two.padding10.bg-white.h40
      - if current_user
        = link_to wow_showcase_path(showcase), remote: true, method: :post, class: "wow-link-#{showcase.id} black-fg" do
          - if showcase.wowed?(current_user)
            %i.fa.fa-heart.heart-red-fg.pull-left
          - else
            %i.fa.fa-heart-o.pull-left
      - else
        = link_to authenticate_path, class: "black-fg" do
          %i.fa.fa-heart-o.pull-left
      .badge.pull-left{style: "display: #{showcase.wows_any? ? 'inline-block' : 'none'}", title: "#{showcase.wowed_users}"}
        = showcase.active_wows.count
    .col-xs-3.col-sm-3.pon.comment-link.border-two.padding10.bg-white.h40
      - if current_user
        %i.fa.fa-comment-o.pull-left{class: "comment-link-#{showcase.id}"}
        .badge.pull-left{style: "display: #{showcase.comments_any? ? 'inline-block' : 'none'}", title: "#{showcase.commented_users_names}"}
          = showcase.comments.count
      - else
        = link_to authenticate_path, class: "black-fg" do
          %i.fa.fa-comment-o.pull-left{class: "comment-link-#{showcase.id}"}
          .badge.pull-left{style: "display: #{showcase.comments_any? ? 'inline-block' : 'none'}"}
            = showcase.comments.count
    .col-xs-3.col-sm-3.border-two.padding5.bg-white.text-right.h40
      -# if current_user && showcase.product.present?
        = link_to user_product_path(showcase.product), target: "_blank" do
          .btn.btn-sm.btn-social.white-fg Rent
    .col-xs-3.col-sm-3.border-two.padding10.bg-white.text-right.h40
      - if current_user && showcase.owner?(current_user)
        = link_to showcase_path(showcase, to_move: "yes", collection_id: "#{params[:showcase]}"), remote: true, class: "" do
          .fa.fa-plus.grey-fg.pull-right.font16
      %a{href: "#{showcase_url(showcase)}", "data-image" => "#{showcase.image}", "data-title" => "#{showcase.title}", "data-desc" => "#{showcase.description}", class: "btnShare"}
        .fa.fa-facebook-official.grey-fg.pull-right
    .col-xs-12.col-sm-12.padding10.pbottom0.bg-white
      %h4.no-mar-pad= showcase.title
    .col-xs-12.col-sm-12.padding10.ptop0.bg-white
      %span.small.grey-fg.excerpt-desc= truncate(raw(showcase.description), length: 150)
      - if showcase.description.length > 150
        %span.small.grey-fg.full-desc{style: "display: none;"}= simple_format(showcase.description)
        %a.small.grey-fg.see-more.pon{style: "color: blue !important;"} See More
    .col-xs-12.col-sm-12.showcase-tags.bg-white.border-bt-side.padding10.ptop0
      - showcase.tags.each do |tag|
        %span.pright5.mbottom5.pull-left.mright5.font12
          .fa.fa-circle
          = link_to tag.name, tag_path(tag.name), class: "black-fg"
    .col-xs-12.col-sm-12.no-mar-pad.bg-white{class: "user-comments-#{showcase.id}"}
      - if feed == "yes"
        - if showcase.comments.count > 4
          = link_to showcase_path(showcase), target: "_blank", class: "padding10 pbottom0 font12", style: "text-decoration: underline;" do
            View #{showcase.comments.count - 4} more #{(showcase.comments.count - 4) > 1 ? 'comments' : 'comment'}
        - showcase.comments.last(4).each do |comment|
          = render partial: "showcases/comment", locals: {comment: comment}
      - else
        - showcase.comments.each do |comment|
          = render partial: "showcases/comment", locals: {comment: comment}
    - if current_user
      .media.new-comment.padding10.pbottom20.bg-white
        = form_for :comment, url: comment_showcase_path(showcase), remote: true do |f|
          .media-left
            = link_to myprofile_path(current_user.profile.slug) do
              = cl_image_tag current_user.avatar, class: "img-circle media-object", width: 30, height: 30, crop: :fill, gravity: :face
          .media-body
            = f.text_area :description, rows: 3, class: "form-control comment-description", id: "comment-description-#{showcase.id}"
            = f.submit "Comment", class: "btn btn-primary btn-social mtop10 btn-shadow"
