- showcases.each do |showcase|
  .col-xs-12.col-sm-12.no-mar-pad.mbottom10.bg-white.bg-shad.border-medium
    .col-xs-12.col-sm-12.padding10
      - if showcase.owner?(current_user)
        %i.glyphicon.glyphicon-option-vertical.action-showcase.grey-fg.pull-right.mtop5.pon
        .col-xs-4.col-sm-2.option-showcase.padding0.light-border.bg-shad.bg-white.pull-right.text-center
          = link_to edit_showcase_path(showcase), class: "border-bt-side full-width grey-fg pull-left small padding5" do
            Edit&nbsp;
            .glyphicon.glyphicon-edit.grey-fg
          = link_to showcase_path(showcase), method: :delete, class: "full-width grey-fg pull-left small padding5" do
            Delete&nbsp;
            .glyphicon.glyphicon-minus-sign.grey-fg
      = link_to myprofile_path(showcase.user.profile.slug) do
        = cl_image_tag showcase.user.avatar, class: "img-circle hovercard", data: {id: showcase.user.id}, width: 40, height: 40, crop: :fill, gravity: :face
        %span.weight600.hovercard{"data-id" => "#{showcase.user.id}"}= truncate showcase.user.name.titleize, length: 50
      %span.small.grey-fg added
      = link_to showcase_path(showcase) do
        %span.weight600= truncate showcase.title.titleize, length: 50
      %span.small.grey-fg to
      %span.weight600= showcase.wishlist? ? "<a href='/#{showcase.user.profile.slug}/wishes'> Wishlist</a>".html_safe : "<a href='/#{showcase.user.profile.slug}/showpieces'> Showcase</a>".html_safe
    .col-xs-12.col-sm-12.padding10.ptop0.text-center{style: "height: auto;min-height: 380px;max-height: 480px;overflow: hidden;"}
      = cl_image_tag showcase.image, class: "img-responsive inline-display", width: 637, crop: :fill, gravity: :face
    .col-xs-12.col-sm-12.padding10
      %h4.no-mar-pad= showcase.title
    .col-xs-12.col-sm-12.padding10
      %span.small.grey-fg.excerpt-desc= truncate showcase.description, length: 150
      - if showcase.description.length > 150
        %span.small.grey-fg.full-desc{style: "display: none;"}= showcase.description
        %a.small.grey-fg.see-more.pon{style: "color: blue !important;"} See More
    .col-xs-4.col-sm-2.border-two.padding10.bg-light-grey
      = link_to wow_showcase_path(showcase), remote: true, method: :post, class: "wow-link-#{showcase.id} black-fg" do
        - if showcase.wowed?(current_user)
          %i.fa.fa-heart.heart-red-fg
        - else
          %i.fa.fa-heart-o
      .badge{style: "display: #{showcase.wows_any? ? 'inline-block' : 'none'}"}
        = showcase.wows.count
    .col-xs-8.col-sm-10.pon.comment-link.border-two.padding10.bg-light-grey
      %i.fa.fa-comment-o{class: "comment-link-#{showcase.id}"}
      .badge{style: "display: #{showcase.comments_any? ? 'inline-block' : 'none'}"}
        = showcase.comments.count
    .col-xs-12.col-sm-12.no-mar-pad.bg-light-grey{class: "user-comments-#{showcase.id}"}
      - showcase.comments.order(created_at: :desc).limit(4).each do |comment|
        = render partial: "showcases/comment", locals: {comment: comment}
    .media.new-comment.padding10.pbottom20.bg-light-grey
      = form_for :comment, url: comment_showcase_path(showcase), remote: true do |f|
        .media-left
          = link_to myprofile_path(current_user.profile.slug) do
            = cl_image_tag current_user.avatar, class: "img-circle media-object", width: 30, height: 30, crop: :fill, gravity: :face
        .media-body
          = f.text_area :description, rows: 3, class: "form-control comment-description", id: "comment-description-#{showcase.id}"
          = f.submit "Comment", class: "btn btn-primary btn-social mtop10 btn-shadow"

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      function hoverCard(){
        $(".hovercard").tooltipster({
          interactive: true,
          content: 'Loading...',
          contentCloning: false,
          contentAsHTML: true,
          maxWidth: 286,
          animation: 'fade',
          functionBefore: function(origin, continueTooltip) {
              // we'll make this function asynchronous and allow the tooltip to go ahead and show the loading notification while fetching our data.
              continueTooltip();
              if (origin.data('ajax') !== 'cached') {
              $.ajax({
                  type: 'GET',
                  url: "/user_card/"+($(this).data('id')),
                  success: function(data) {
                      // update our tooltip content with our returned data and cache it
                      origin.tooltipster('content', data.user).data('ajax', 'cached');
                  }
              });
            }
          }
        });
      }
      hoverCard();
      $(document).on("mouseover", ".hovercard", hoverCard);
    });
