- users.each do |user|
  .col-xs-12.col-sm-4{class: "user-wrapper-#{user.id}", style: "min-width: #{min_width ||= '292px'};padding: #{card_padding ||= '0px 5px 10px 5px'}"}
    .col-xs-12.col-sm-12.bg-white.bg-shad.no-mar-pad
      .col-xs-12.col-sm-12.header-with-grad{style: "height:88px;"}
      .col-xs-12.col-sm-12.padding5.ptop0
        %span.mtop5.mbottom5.pull-left.weight500.mleft95{title: "#{user.name}", "data-toggle" => "tooltip", "data-placement" => "top", style: "font-size: #{name_size ||= '12px'}"}
          = (truncate user.name, length: 20)
        - if current_user && current_user != user
          .col-xs-12.col-sm-12.no-mar-pad{class: "follow-set-#{user.id}"}
            = link_to user_toggle_follow_path(user), remote: true, method: :post, class: "mleft95 pull-left" do
              .btn.no-mar-pad.loader-out-follow-button.follow-button.btn-grey
                = submit_tag "#{ current_user.following?(user) ? 'Following' : "Follow" }", class: "loader-button btn loader-in-follow-button padding0 grey-fg"
                .loader-effect.btn.loader-in-follow-button.grey-fg{style: "display:none;"}
                  .ball-clip-rotate{style: "height:22px;"}
                    %div ...
        - else
          .col-xs-12.col-sm-12{style: "height: 27px;display: #{xtra_col ||= 'block'}"}
        .col-xs-12.col-sm-12.no-mar-pad.text-center
          = link_to myshowpieces_path(user.profile.slug) do
            .col-xs-3.col-sm-3.no-mar-pad.grey-fg
              %span.font13 Showpieces
              %h4= user.showcases.showpieces.count
          = link_to mywishes_path(user.profile.slug) do
            .col-xs-3.col-sm-3.no-mar-pad.grey-fg
              %span.font13 Wishes
              %h4= user.showcases.wishes.count
          = link_to following_path(user.profile.slug) do
            .col-xs-3.col-sm-3.no-mar-pad.grey-fg
              %span.font13 Following
              %h4.following-count= user.following.count
          = link_to followers_path(user.profile.slug) do
            .col-xs-3.col-sm-3.no-mar-pad.grey-fg
              %span.font13 Followers
              %h4.followers-count= user.followers.count
      .col-xs-12.col-sm-12{style: "margin-top: #{neg_mtop ||= '-168px;'}"}
        = link_to myprofile_path(user.profile.slug) do
          = cl_image_tag user.avatar, class: "img-circle pull-left", style: "z-index: 1;position: relative;", width: 80, height: 80, crop: :fill
