.pos-absolute.hidden-xs.text-center.font25.full-width{style: "bottom: 5px;z-index:8;color:white;"}
  .fa.fa-arrow-down.bulge-out.pon
.errors
.container-fluid.white-fg.padding0.pbottom100.pos-relative{style: "min-height: 120%;background-image: linear-gradient(to right, #0891e6 0%, #1ab9cb 100%);"}
  .container.padding0
    %h3.mbottom20.weight-bold.text-center
      %img{src: "#{GLOBAL_VARIABLES[:root_url]}/assets/images/logo.svg", style: "width: 40px;margin-top: -5px;"}
      Cocociti
    .col-xs-12.col-sm-6.col-md-8.no-mar-pad.text-center-mob
      %h2.pleft5.pright5.mob-font20.mob-mtop0.tab-font20{style: "margin-top: 150px;"}
        One life. Million Wishes. What's yours?
      .cd-intro.height100
        %h1.mtop0.cd-headline.letters.type
          %span.weight-bold I want to
          %span.cd-words-wrapper.waiting
            %b.is-visible travel alone
            %b attend sunburn
            %b learn guitar
            %b climb Everest
            %b scuba dive
            %b visit Goa
            %b go Camping
            %b go Kayaking
            %b hike Kilimanjaro
    .col-xs-12.col-sm-6.col-md-4
      .col-xs-12.col-sm-12.box-shad.ptop50.bg-white{style: "border: 5px solid #f2f2f4;border-radius: 10px;overflow: hidden;min-height: 525px;z-index: 20;"}
        .pos-absolute.bubble-1
        .pos-absolute.bubble-3
        %ul.nav.nav-tabs.inline-block.full-width.text-center{style: "border-bottom: none;"}
          %li.inline-block{class: "#{'active' unless params[:tab] == "signup"}", style: "float: none;"}
            %a{"data-toggle" => "tab", :href => "#home-login", style: "border: none;padding: 12px 15px;"} Login
          %li.inline-block{class: "#{'active' if params[:tab] == "signup"}", style: "float: none;"}
            %a{"data-toggle" => "tab", :href => "#home-sign-up", style: "border: none;padding: 12px 15px;"} Sign Up
        .tab-content.ptop10
          #home-login.tab-pane.fade{class: "#{'active in' unless params[:tab] == "signup"}"}
            .col-md-12.mtop50.padding0
              = form_for(User.new, :url => new_user_session_path, remote: true, html: {"data-parsley-validate" => true, class: "login-form"}) do |f|
                .form-group.clearfix
                  .col-sm-12
                    .input-group
                      %span.input-group-addon
                        %i.fa.fa-envelope
                      = f.text_field :email, placeholder: t("email_address", default: "Email Address"), class: "form-control login-email", "data-parsley-trigger" => "change", required: true
                .form-group.clearfix
                  .col-sm-12
                    .input-group
                      %span.input-group-addon{style: "padding: 6px 13px;"}
                        %i.fa.fa-lock.font-bit-large
                      = f.password_field :password, :placeholder => t('password', default: "Password"), class: "form-control", "data-parsley-trigger" => "change", required: true
                .form-group.clearfix.mtop20.text-center
                  = link_to "Forgot password?", new_user_password_path, class: "font13"
                .form-group.clearfix.mbottom40
                  .col-xs-12.col-sm-6.col-sm-offset-3.text-center.paddin
                    = f.submit "Login", class: "loader-button btn pop-up-but login-button"
                    .loader-effect.btn.pop-up-but.ptop15{style: "display:none;"}
                      .inline-block.font12.v-align-top.mtop2 Please Wait...
                      .ball-clip-rotate.inline-block
                        %div
          #home-sign-up.tab-pane.fade{class: "#{'active in' if params[:tab] == "signup"}"}
            .col-md-12.padding0.mtop40
              = form_for(User.new, :url => user_registration_path, remote: true, html: {"data-parsley-validate" => true, class: "agreement-require signup-form"}) do |f|
                = hidden_field_tag :invited_code, "#{params[:invited_code]}"
                .form-group.clearfix
                  .col-sm-12
                    .input-group
                      %span.input-group-addon
                        %i.fa.fa-envelope
                      = f.text_field :email, :autofocus => true, placeholder: t("email_address", default: "Email Address"), class: "form-control signup-email", "data-parsley-trigger" => "change", required: true
                .form-group.clearfix
                  .col-sm-12
                    .input-group
                      %span.input-group-addon{style: "padding: 6px 13px;"}
                        %i.fa.fa-lock.font-bit-large
                      = f.password_field :password, :placeholder => t('password', default: "Password"), class: "form-control", "data-parsley-trigger" => "change", required: true
                .form-group.clearfix
                  .col-sm-12
                    .input-group
                      %span.input-group-addon{style: "padding: 6px 13px;"}
                        %i.fa.fa-lock.font-bit-large
                      = f.password_field :password_confirmation, :placeholder => t('password', default: "Confirm Password"), class: "form-control", "data-parsley-trigger" => "change", required: true
                .form-group.clearfix
                  .col-xs-12.col-sm-12.grey-fg.text-center
                    %span.font11 By continuing, you agree to the Terms of Service
                .form-group.clearfix
                  .col-xs-12.col-sm-6.col-sm-offset-3.mbottom40
                    = f.submit "Sign up", class: "loader-button btn pop-up-but login-button"
                    .loader-effect.btn.pop-up-but.ptop15{style: "display:none;"}
                      .inline-block.font12.v-align-top.mtop2 Please Wait...
                      .ball-clip-rotate.inline-block
                        %div
  %svg.topLeftRounded{:height => "100", :preserveaspectratio => "none", :version => "1.1", :viewbox => "50 20 50 80", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
    %path{:d => "M0,100 C15,100 35,50 50,50 L50,50 C65,50 85,100 100,100 Z"}
.container-fluid.ptop30.pbottom30.bg-white
  %h3.weight-bold.mbottom20.text-center.add-1
    %span
      WE ADD ₹1 TO YOUR WALLET FOR ALL YOUR WISHES
.container-fluid.white-fg.padding0.pbottom100.pos-relative{style: "background-image: linear-gradient(135deg, #ff683e 0%, #fe9124 100%);"}
  %svg.bottomRightRounded{:height => "100", :preserveaspectratio => "none", :version => "1.1", :viewbox => "0 20 50 80", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
    %path{:d => "M0,100 C15,100 35,50 50,50 L50,50 C65,50 85,100 100,100 Z"}
  .container.padding0.w-h-it-wrk
    %h1.text-center.weight-bold.mbottom40.ptop70{style: "font-size: 2em"} Features
    .col-xs-12.col-sm-5.h186.padding20.col-sm-offset-1.orng-brgt.orng-bbtom.text-center-mob
      .hw-sh-sprite.pull-left.mright10.mtop20
      %h3 Showcase
      %p.font-medium Tell the world about those awesome wishes you achieved and showcase it on your Cocociti profile.
    .col-xs-12.col-sm-5.h186.padding20.orng-bbtom.text-center-mob
      .hw-cw-sprite.pull-left.mright10.mtop20
      %h3 Coin Wish
      %p.font-medium Coin wishes help you earn for each click you get on your coin wishes, simple. Gift 1 rupee to others just by clicking on their coin wishes.
    .col-xs-12.col-sm-5.h186.padding20.col-sm-offset-1.orng-brgt.text-center-mob.mob-orng-bbtom
      .hw-sc-sprite.pull-left.mright10.mtop20
      %h3 Social
      %p.font-medium Post wishes with photos. Share it to Fb, Twitter, WhatsApp, and many more apps to let your friends know what you are wishing for.
    .col-xs-12.col-sm-5.h186.padding20.text-center-mob
      .hw-pf-sprite.pull-left.mright10.mtop20
      %h3 Your personal Brand
      %p.font-medium Cocociti profile is your personal brand statement . Show & tell the world about things you have achieved and what you want to do.
  %svg.topLeftRounded{:height => "100", :preserveaspectratio => "none", :version => "1.1", :viewbox => "50 20 50 80", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
    %path{:d => "M0,100 C15,100 35,50 50,50 L50,50 C65,50 85,100 100,100 Z"}
.container-fluid.ptop30.pbottom30.bg-white
  %h4.cc-dark-fg.mbottom20.text-center “It is not true that people stop pursuing dreams because they grow old, they grow old because they stop pursuing dreams.” ― Gabriel García Márquez
.container-fluidptop30.pbottom100.pos-relative.white-fg{style: "background-image: linear-gradient(to right, #0891e6 0%, #1ab9cb 100%);"}
  %svg.bottomRightRounded{:height => "100", :preserveaspectratio => "none", :version => "1.1", :viewbox => "0 20 50 80", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
    %path{:d => "M0,100 C15,100 35,50 50,50 L50,50 C65,50 85,100 100,100 Z"}
  .container.padding0.w-h-it-wrk
    %h1.text-center.weight-bold.mbottom40.ptop70{style: "font-size: 2em"} Featured Wishes
    - @showcases.each do |showcase|
      = render partial: "home/showcase_card_with_user", locals: {showcase: showcase}
= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $(document).on("click", ".fa-arrow-down", function(){
        $('html, body').animate({
            scrollTop: $(".add-1").offset().top - 20
            }, 500);
      });
    })
