.container-fluid.ptop50.padding0.full-height.wrap-1
  .pos-absolute.glassy-bg
  .container.padding0.white-fg.text-center
    .col-xs-12.col-sm-12.no-mar-pad
      %h4.mtop70
        Cocociti presents first ever
      %h1.mtop10{style: "font-size: 6em;letter-spacing: 2px;color: #31cacc;"}
        World Fans’ Day
      %h3.mtop10
        Celebrities to fans & fans to celebrities, infinite love
    .col-xs-12.col-sm-12
      %span.padding15.mtop20.brd-box.inline-block.pon.fn-ln-mr Learn More
.container-fluid.padding0.wrap-2{style: "min-height: 700px;"}
  .container.padding0.white-fg.text-center.ptop30.pbottom60.border-bt-side{style: "min-height: 400px;"}
    .col-sm-4.col-xs-12.mtop30
      .col-sm-12.col-xs-12.padding20.fan-box.q-box-1.hide-display
        %h2
          WHO
          %i.fa.fa-question-circle-o
        %h4.mtop20
          Your favourite celebrities are here with you.
    .col-sm-4.col-xs-12.mtop30
      .col-sm-12.col-xs-12.padding20.fan-box.q-box-2.hide-display
        %h2
          WHAT
          %i.fa.fa-question-circle-o
        %h4.mtop20
          To show their love with lovely gifts.
    .col-sm-4.col-xs-12.mtop30
      .col-sm-12.col-xs-12.padding20.fan-box.q-box-3.hide-display
        %h2
          HOW
          %i.fa.fa-question-circle-o
        %h4.mtop20
          Sign Up on Cocociti and request for the gifts from your favourite celebrities.
  .container.padding0.white-fg.text-center.ptop30.pbottom60.border-bt-side{style: "min-height: 400px;"}
    .col-sm-3.col-xs-12.mtop30
      .col-sm-12.col-xs-12.padding10.fan-box.text-center.black-fg.celeb-wrap.hide-display{style: "height: auto;"}
        .col-sm-12.col-xs-12.padding0{style: "height: 150px;"}
          %img.img-circle{src: "https://res.cloudinary.com/cocociti/image/upload/v1458216157/default_images/profile-pic.png", width: 100, height: 100}
          .col-xs-12.col-sm-12.mtop20
            .btn.no-mar-pad.loader-out-follow-button.follow-button.btn-grey
              = submit_tag "Follow", class: "loader-button btn loader-in-follow-button padding0 grey-fg"
        .col-sm-12.col-xs-12.padding0.mtop10{style: "height: 100px;"}
          %img{src: "#{GLOBAL_VARIABLES[:root_url]}/assets/images/gift.png"}
        .col-sm-12.col-xs-12.no-mar-pad
          .btn.btn-sm.full-width.mtop10.white-fg.fan-box-btn
            Request
    .col-sm-3.col-xs-12.mtop30
      .col-sm-12.col-xs-12.padding10.fan-box.text-center.black-fg.celeb-wrap.hide-display{style: "height: auto;"}
        .col-sm-12.col-xs-12.padding0{style: "height: 150px;"}
          %img.img-circle{src: "https://res.cloudinary.com/cocociti/image/upload/v1458216157/default_images/profile-pic.png", width: 100, height: 100}
          .col-xs-12.col-sm-12.mtop20
            .btn.no-mar-pad.loader-out-follow-button.follow-button.btn-grey
              = submit_tag "Follow", class: "loader-button btn loader-in-follow-button padding0 grey-fg"
        .col-sm-12.col-xs-12.padding0.mtop10{style: "height: 100px;"}
          %img{src: "#{GLOBAL_VARIABLES[:root_url]}/assets/images/gift.png"}
        .col-sm-12.col-xs-12.no-mar-pad
          .btn.btn-sm.full-width.mtop10.white-fg.fan-box-btn
            Request
    .col-sm-3.col-xs-12.mtop30
      .col-sm-12.col-xs-12.padding10.fan-box.text-center.black-fg.celeb-wrap.hide-display{style: "height: auto;"}
        .col-sm-12.col-xs-12.padding0{style: "height: 150px;"}
          %img.img-circle{src: "https://res.cloudinary.com/cocociti/image/upload/v1458216157/default_images/profile-pic.png", width: 100, height: 100}
          .col-xs-12.col-sm-12.mtop20
            .btn.no-mar-pad.loader-out-follow-button.follow-button.btn-grey
              = submit_tag "Follow", class: "loader-button btn loader-in-follow-button padding0 grey-fg"
        .col-sm-12.col-xs-12.padding0.mtop10{style: "height: 100px;"}
          %img{src: "#{GLOBAL_VARIABLES[:root_url]}/assets/images/gift.png"}
        .col-sm-12.col-xs-12.no-mar-pad
          .btn.btn-sm.full-width.mtop10.white-fg.fan-box-btn
            Request
    .col-sm-3.col-xs-12.mtop30
      .col-sm-12.col-xs-12.padding10.fan-box.text-center.black-fg.celeb-wrap.hide-display{style: "height: auto;"}
        .col-sm-12.col-xs-12.padding0{style: "height: 150px;"}
          %img.img-circle{src: "https://res.cloudinary.com/cocociti/image/upload/v1458216157/default_images/profile-pic.png", width: 100, height: 100}
          .col-xs-12.col-sm-12.mtop20
            .btn.no-mar-pad.loader-out-follow-button.follow-button.btn-grey
              = submit_tag "Follow", class: "loader-button btn loader-in-follow-button padding0 grey-fg"
        .col-sm-12.col-xs-12.padding0.mtop10{style: "height: 100px;"}
          %img{src: "#{GLOBAL_VARIABLES[:root_url]}/assets/images/gift.png"}
        .col-sm-12.col-xs-12.no-mar-pad
          .btn.btn-sm.full-width.mtop10.white-fg.fan-box-btn
            Request
.container-fluid.padding0.wrap-3{style: "background-color: #6475dc;min-height: 500px;"}
  .container.padding0.white-fg.text-center.pbottom70
    %h1.mtop70.mbottom40
      DISCOVER HOW THE WORLD IS USING COCOCITI
    .col-sm-9.col-xs-12{style: "min-height: 160px"}
      %h3.mtop10 Awesome platform to showcase
      %h5 Awesome platform to showcase.Awesome platform to showcase.Awesome platform to showcase.Awesome platform to showcase.Awesome platform to showcase.Awesome platform to showcase.Awesome platform to showcase.Awesome platform to showcase.Awesome platform to showcase.Awesome platform to showcase.
    .col-sm-3.col-xs-12.text-center.hidden-xs{style: "min-height: 160px"}
      %img{src: "#{GLOBAL_VARIABLES[:root_url]}/assets/images/showpiece.png", height: 100}
    .col-sm-3.col-xs-12.hidden-xs{style: "min-height: 160px"}
      %img{src: "#{GLOBAL_VARIABLES[:root_url]}/assets/images/discover-coco.png", height: 100}
    .col-sm-9.col-xs-12.text-center{style: "min-height: 160px"}
      %h3.mtop10 Discover interesting people & their showcases.
      %h5 Discover interesting people & their showcases.Discover interesting people & their showcases.Discover interesting people & their showcases.Discover interesting people & their showcases.Discover interesting people & their showcases.Discover interesting people & their showcases.
    .col-xs-12.col-sm-12
      .btn.btn-lg.mtop10.fan-box-btn
        View a Sample Profile

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $(window).scroll(function(){
        if($(window).scrollTop() >= ($(".wrap-2").offset().top) - 400){
          $(".q-box-1").fadeIn(500,function(){
            $(".q-box-2").fadeIn(500,function(){
              $(".q-box-3").fadeIn(500, function(){
                $(".celeb-wrap").fadeIn();
              });
            })
          })
        }
      })
      var root = $('html, body');
      $(".fn-ln-mr").click(function(){
        root.animate({
            scrollTop: $(".wrap-2").offset().top - 53
            }, 500);
        return false;
      })
    })
