.messages
.container-fluid.ptop50.pattern-bg.padding0.mob-ptop100{style: "min-height: 1000px;"}
  .pos-fixed.bubble-1
  .pos-fixed.bubble-3
  .pos-fixed.bubble-2
  .container.padding0.helvetica-font
    .col-sm-3.hidden-xs.no-mar-pad.ptop15
      = render partial: "user_card", locals: {users: Array(current_user), card_padding: "0px", neg_mtop: "-146px", name_size: "17px;margin-bottom:10px;", xtra_col: "none;"}
      .col-xs-12.col-sm-4.bg-shad.padding10.mtop15.bg-white{style: "min-width: 292px;"}
        %h4.header-text.no-mar-pad.font17.weight500{style: "text-align: left; line-height: 35px;"}
          TRENDING
          .fa.fa-line-chart.green-fg
        - tag_cloud Tag.counts, %w{font11 font13 font17 font20} do |tag, css_class|
          %span.padding5.mbottom5.inline-block.grey-fg
            /.fa.fa-circle{style: "color:green"}
            .fa.fa-line-chart.green-fg
            = link_to tag.name.strip, tag_path(tag.name), class: "#{css_class} black-fg"
    .col-xs-12.col-sm-6.ptop15.padding-mob0.main-feed{class: "#{'hide-display' if params[:view] == "follow"}"}
      = render partial: "post_showcase", locals: {showcase: @showcase}
      .col-xs-12.col-sm-12.padding0.help-txt-wrap.white-fg.mtop10.text-center.light-border{style: "background-color: #f5f7f6;"}
        /
          .padding10.grad1
          .close-sprite.pos-absolute.clos-help.pon{style: "right: 10px;"}
          .media.mtop0
            .media-left{style: "vertical-align: middle;"}
              .fa.fa-info-circle.font25
            .media-body.font13
              Show: Showcase things you own or your achievements.
              %br
              Wish: Add any of your wish here and let the world know it.
        %span
          %img.img-responsive{src:"#{GLOBAL_VARIABLES[:root_url]}/assets/images/ind-day-triangle.jpg"}
      .col-xs-12.col-sm-12.no-mar-pad.showcase-strip.mtop40
        = render partial: "home/showcases", locals: {showcases: @showcases}
      .col-xs-12.col-sm-12.text-center.feed-loader.padding40{style: "display:none;"}
        %i.fa.fa-circle-o-notch.fa-spin.font21
        Please wait...
      #infinite-scrolling-posts.hidden
        = paginate @showcases, param_name: "showcases"
        = hidden_field_tag :prev_showcase, @showcases.current_page - 1
    .col-sm-3.col-xs-12.no-mar-pad.ptop15{class: "#{'hidden-xs' unless params[:view] == "follow"}"}
      .col-xs-12.col-sm-12.padding10.bg-shad.bg-white{style: "border-bottom: none;"}
        ~ form_tag user_results_path, method: :get, id: "profile-search-form" do
          .col-xs-12.col-sm-12.no-mar-pad= text_field_tag :user_query, params[:user_query], placeholder: "Search people/friends", class: "form-control profile-query bg-light-grey", style: "border-radius: 20px;"
          .col-xs-1.col-sm-1.no-mar-pad{style: "margin-left: -41px;"}
            %button.btn{type: 'submit', style: "background-color: transparent;"}
              %span.glyphicon.glyphicon-search.grey-fg
      .col-xs-12.col-sm-12.padding10.follow-wrapper.bg-shad.bg-white
        .col-xs-12.col-sm-12.no-mar-pad.follow-strip
          = render partial: "follow", locals: {users: @users}
        .col-xs-12.col-sm-12.text-center.feed-loader.padding20{style: "display:none;"}
          %i.fa.fa-circle-o-notch.fa-spin.font21
          Please wait...
        #infinite-scrolling-follow.hidden
          = paginate @users, param_name: "users"
        = hidden_field_tag :prev_user, @users.current_page - 1

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $(".follow-wrapper").mCustomScrollbar({
    					theme:"minimal-dark",//rounded-dots-dark
              callbacks: {
                whileScrolling: function(){
                  if ($('#infinite-scrolling-follow').length) {
                    var more_posts_url = $('#infinite-scrolling-follow .pagination .next a').attr('href');
                    if (more_posts_url && this.mcs.topPct == 100) {
                      $('.feed-loader').show();
                      $.getScript(more_posts_url+'&prev_user_page='+$("#prev_user").val()+'&prev_showcase_page='+$("#prev_showcase").val());
                    }
                  }
                }
              }
    	});
      if ($('#infinite-scrolling-posts').length) {
        $(window).on('scroll', function (){
          var more_posts_url = $('#infinite-scrolling-posts .pagination .next a').attr('href');
          if (more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - 250) {
            $(window).off("scroll");
            $('.feed-loader').show();
            $.getScript(more_posts_url+'&prev_showcase_page='+$("#prev_showcase").val()+'&prev_user_page='+$("#prev_user").val());
          }
        });
      }
      if(#{params[:view] == "follow"}){
        $(".follow-mob").addClass("cc-xtr-dark-bg");
      }
      else{
        $(".feed-mob").addClass("cc-xtr-dark-bg");
      }
    });
