.container-fluid.ptop50.padding0.mob-ptop100{style: "min-height: 1000px;background:#ebeced;"}
  .pos-fixed.bubble-4
  .pos-fixed.bubble-3
  .pos-fixed.bubble-2
  .container.padding0.helvetica-font
    .col-sm-3.hidden-xs.no-mar-pad.ptop15
      = render partial: "user_card", locals: {users: Array(current_user), card_margin: "0px"}
      .col-xs-12.col-sm-4.padding10.pleft0.mtop15{style: "min-width: 292px;"}
        %h6.no-mar-pad.font12.pleft0.text-left.weight-bold{style: "line-height: 18px;border-bottom: none;"}
          TRENDING
        - tag_cloud Tag.counts, %w{font11 font13 font17 font20} do |tag, css_class|
          %span.padding5.inline-block.grey-fg.pull-left.full-width
            .fa.fa-line-chart.cc-dark-fg.font12
            = link_to tag.name.strip, tag_path(tag.name), class: "font11 black-fg"
    .col-xs-12.col-sm-6.ptop15.padding-mob0.main-feed{class: "#{'hide-display' if params[:view] == "follow"}"}
      = render partial: "post_showcase", locals: {showcase: @showcase}
      .col-xs-12.col-sm-12.padding10.grad1.help-txt-wrap.white-fg.mtop10.mbottom10.bg-shad
        .close-sprite.pos-absolute.clos-help.pon{style: "right: 10px;"}
        .media.mtop0
          .media-left{style: "vertical-align: middle;"}
            .fa.fa-info-circle.font25
          .media-body.font13
            Show: Showcase things you own or your achievements.
            %br
            Wish: Add any of your wish here and let the world know it.
      .col-xs-12.col-sm-12.no-mar-pad.mbottom10.coin-wish-wrapper
        - if current_user.unlocked_coin_wish?
          - if @coin_wishes.present?
            #myCoinCarousel.carousel.slide.hidden-xs{data: {ride: "carousel"}}
              .carousel-inner{role: "listbox"}
                - @coin_wishes.each_slice(2).with_index do |coin_wishes, i|
                  .item{class: "#{'active' if i==0}"}
                    - coin_wishes.each do |coin_wish|
                      .col-sm-6.padding5
                        .col-sm-12.no-mar-pad.padding10.bg-white.pbottom0{style: "box-shadow: 0 1px 2px rgba(0,0,0,0.07);"}
                          .col-sm-12.no-mar-pad.text-center.min186h.show-img-wrap
                            = cl_image_tag coin_wish.image, class: "img-responsive inline-display", width: 300, height: 225, crop: :fill, gravity: :face, alt: coin_wish.title
                          .col-sm-8.col-sm-offset-2.mtop10.pbottom10
                            %span.text-center.pull-left.full-width.pon.padding5.font12.adn-box.coin-brd-box{"data-id" => "#{coin_wish.id}"}
                              = truncate coin_wish.title, length: 18
                              .fa.fa-circle-thin
              %a.left.carousel-control{href: "#myCoinCarousel", role: "button", "data-slide" => "prev"}
                %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => true}
                %span.sr-only Previous
              %a.right.carousel-control{href: "#myCoinCarousel", role: "button", "data-slide" => "next"}
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => true}
                %span.sr-only Next
            #myCoinMobileCarousel.carousel.slide.visible-xs{data: {ride: "carousel"}}
              .carousel-inner{role: "listbox"}
                - @coin_wishes.each.with_index do |coin_wish, i|
                  .item{class: "#{'active' if i==0}"}
                    .col-xs-12.padding5
                      .col-xs-12.no-mar-pad.padding10.bg-white.pbottom0{style: "box-shadow: 0 1px 2px rgba(0,0,0,0.07);"}
                        .col-xs-12.no-mar-pad.text-center.min186h.show-img-wrap
                          = cl_image_tag coin_wish.image, class: "img-responsive inline-display", width: 300, height: 225, crop: :fill, gravity: :face, alt: coin_wish.title
                        .col-xs-8.col-xs-offset-2.mtop10.pbottom10
                          %span.text-center.pull-left.full-width.pon.padding5.font12.adn-box.coin-brd-box{"data-id" => "#{coin_wish.id}"}
                            = truncate coin_wish.title, length: 18
                            .fa.fa-circle-thin
              %a.left.carousel-control{href: "#myCoinMobileCarousel", role: "button", "data-slide" => "prev"}
                %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => true}
                %span.sr-only Previous
              %a.right.carousel-control{href: "#myCoinMobileCarousel", role: "button", "data-slide" => "next"}
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => true}
                %span.sr-only Next
            .col-xs-12.col-sm-12.text-center.hide-display.coin-add-wishlist.mtop10.mbottom20
              ~ form_tag add_coin_wish_showcases_path do
                = hidden_field_tag :id, "", {class: "coin_wish_id"}
                = submit_tag "Add Coin Wish", class: "btn btn-md wow-badge-bg white-fg", data: {confirm: "#{current_user.active_coin_wish.blank? ? '' : 'You already hace one active coin wish. Are you sure you want to proceed with the new one?'}"}
        - else
          %span.full-width.padding50.text-center.bg-white.pull-left{style: "border: 2px solid #ffb900;"}
            = link_to settings_path(unlock: "coin_wish"), class: "btn btn-outline-gold" do
              Unlock Coin Wish
      .col-xs-12.col-sm-12.no-mar-pad.mbottom10
        - if @admin_showcases.present?
          #myCarousel.carousel.slide.hidden-xs{data: {ride: "carousel"}}
            .carousel-inner{role: "listbox"}
              - @admin_showcases.each_slice(2).with_index do |admin_showcases, i|
                .item{class: "#{'active' if i==0}"}
                  - admin_showcases.each do |admin_showcase|
                    .col-sm-6.padding5
                      .col-sm-12.no-mar-pad.padding10.bg-white.pbottom0{style: "box-shadow: 0 1px 2px rgba(0,0,0,0.07);"}
                        .col-sm-12.no-mar-pad.text-center.min186h.show-img-wrap
                          = cl_image_tag admin_showcase.image, class: "img-responsive inline-display", width: 300, height: 225, crop: :fill, gravity: :face, alt: admin_showcase.title
                        .col-sm-8.col-sm-offset-2.mtop10.pbottom10
                          %span.text-center.pull-left.full-width.pon.padding5.font12.adn-box.brd-box{"data-id" => "#{admin_showcase.id}"}
                            = truncate admin_showcase.title, length: 18
                            .fa.fa-square-o
            %a.left.carousel-control{href: "#myCarousel", role: "button", "data-slide" => "prev"}
              %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => true}
              %span.sr-only Previous
            %a.right.carousel-control{href: "#myCarousel", role: "button", "data-slide" => "next"}
              %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => true}
              %span.sr-only Next
          #myMobileCarousel.carousel.slide.visible-xs{data: {ride: "carousel"}}
            .carousel-inner{role: "listbox"}
              - @admin_showcases.each.with_index do |admin_showcase, i|
                .item{class: "#{'active' if i==0}"}
                  .col-xs-12.padding5
                    .col-xs-12.no-mar-pad.padding10.bg-white.pbottom0{style: "box-shadow: 0 1px 2px rgba(0,0,0,0.07);"}
                      .col-xs-12.no-mar-pad.text-center.min186h.show-img-wrap
                        = cl_image_tag admin_showcase.image, class: "img-responsive inline-display", width: 300, height: 225, crop: :fill, gravity: :face, alt: admin_showcase.title
                      .col-xs-8.col-xs-offset-2.mtop10.pbottom10
                        %span.text-center.pull-left.full-width.pon.padding5.font12.adn-box.brd-box{"data-id" => "#{admin_showcase.id}"}
                          = truncate admin_showcase.title, length: 18
                          .fa.fa-square-o
            %a.left.carousel-control{href: "#myMobileCarousel", role: "button", "data-slide" => "prev"}
              %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => true}
              %span.sr-only Previous
            %a.right.carousel-control{href: "#myMobileCarousel", role: "button", "data-slide" => "next"}
              %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => true}
              %span.sr-only Next
          .col-xs-12.col-sm-12.text-center.hide-display.add-wishlist.mtop10.mbottom20
            ~ form_tag multiple_rewish_showcases_path do
              = hidden_field_tag :showcase_ids
              = submit_tag "Add to Wishlist", class: "btn btn-md wow-badge-bg white-fg"
      .col-xs-12.col-sm-12.no-mar-pad.showcase-strip.mtop30
        - unless @showcases.blank?
          = render partial: "home/showcases", locals: {showcases: @showcases}
        - else
          %h3.text-center.padding20.bg-white{style: "height:300px;"}
            Ayyo! Nothing to show. Invite your friends and follow others to activate your feed.
      .col-xs-12.col-sm-12.text-center.feed-loader.padding40{style: "display:none;"}
        %i.fa.fa-circle-o-notch.fa-spin.font21
        Please wait...
      #infinite-scrolling-posts.hidden
        = paginate @showcases, param_name: "showcases"
        = hidden_field_tag :prev_showcase, @showcases.current_page - 1
    .col-sm-3.col-xs-12.no-mar-pad.ptop15{class: "#{'hidden-xs' unless params[:view] == "follow"}"}
      .col-xs-12.col-sm-12.padding10.bg-white{style: "border-bottom: none;"}
        ~ form_tag user_results_path, method: :get, id: "profile-search-form" do
          .col-xs-12.col-sm-12.no-mar-pad= text_field_tag :user_query, params[:user_query], placeholder: "Search people/friends", class: "form-control profile-query bg-light-grey", style: "border-radius: 20px;"
          .col-xs-1.col-sm-1.no-mar-pad{style: "margin-left: -41px;"}
            %button.btn{type: 'submit', style: "background-color: transparent;"}
              %span.glyphicon.glyphicon-search.grey-fg
      .col-xs-12.col-sm-12.padding10.follow-wrapper.bg-shad.bg-white
        .col-xs-12.col-sm-12.no-mar-pad.follow-strip
          = render partial: "follow", locals: {users: @users}
        .col-xs-12.col-sm-12.text-center.feed-loader.padding20{style: "display:none;"}
          %i.fa.fa-circle-o-notch.fa-spin.font21
          Please wait...
        #infinite-scrolling-follow.hidden
          = paginate @users, param_name: "users"
        = hidden_field_tag :prev_user, @users.current_page - 1

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $(".follow-wrapper").mCustomScrollbar({
    					theme:"minimal-dark",//rounded-dots-dark
              callbacks: {
                whileScrolling: function(){
                  if ($('#infinite-scrolling-follow').length) {
                    var more_posts_url = $('#infinite-scrolling-follow .pagination .next a').attr('href');
                    if (more_posts_url && this.mcs.topPct == 100) {
                      $('.feed-loader').show();
                      $.getScript(more_posts_url+'&prev_user_page='+$("#prev_user").val()+'&prev_showcase_page='+$("#prev_showcase").val());
                    }
                  }
                }
              }
    	});
      if ($('#infinite-scrolling-posts').length) {
        $(window).on('scroll', function (){
          var more_posts_url = $('#infinite-scrolling-posts .pagination .next a').attr('href');
          if (more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - 250) {
            $(window).off("scroll");
            $('.feed-loader').show();
            $.getScript(more_posts_url+'&prev_showcase_page='+$("#prev_showcase").val()+'&prev_user_page='+$("#prev_user").val());
          }
        });
      }
      if(#{params[:view] == "follow"}){
        $(".follow-mob").addClass("cc-xtr-dark-bg");
      }
      else{
        $(".feed-mob").addClass("cc-xtr-dark-bg");
      }
    });
