.container-fluid.mtop50{style: "background-color:#fafafa;max-width: 1361px;"}
  .col-sm-3.hidden-xs.ptop15{style: "height: 1000px;"}
    .col-sm-12.no-mar-pad.border-left-band-profile.bg-shad.bg-white{style: "height: 215px;", class: "user-wrapper-#{current_user.id}"}
      .col-sm-12{style: "height:108px;background-color:#ffe066;"}
      .col-sm-12{style: "height:108px;"}
        %span.mtop5.pull-left.font-bit-large.weight500{title: "#{current_user.name}", "data-toggle" => "tooltip", "data-placement" => "top", style: "margin-left: 95px;height: 40px;"}
          = (truncate current_user.name.titleize, length: 30)
        .col-sm-12.no-mar-pad.text-center
          .col-sm-6.col-md-3.no-mar-pad
            %span.extra-small-font SHOWPIECES
            %h4= current_user.showcases.showpieces.count
          .col-sm-6.col-md-3.no-mar-pad
            %span.extra-small-font WISHES
            %h4= current_user.showcases.wishes.count
          .col-sm-6.col-md-3.no-mar-pad
            %span.extra-small-font FOLLOWING
            %h4.following-count= current_user.following.count
          .col-sm-6.col-md-3.no-mar-pad
            %span.extra-small-font FOLLOWERS
            %h4.followers-count= current_user.followers.count
      .col-sm-12{style: "margin-top: -148px;"}
        = link_to myprofile_path(current_user.profile.slug) do
          = cl_image_tag current_user.avatar, class: "img-circle pull-left", style: "border: 1px solid #fff;z-index: 1;position: relative;", width: 80, height: 80, crop: :fill, gravity: :face
  .col-xs-12.col-sm-6.no-mar-pad.ptop15{style: "border-top: 0px;"}
    .col-xs-12.col-sm-12.bg-white.padding10.mbottom10.border-left-band-action.bg-shad
      .col-xs-2.col-sm-1.no-mar-pad.full-height
        = link_to myprofile_path(current_user.profile.slug) do
          = cl_image_tag current_user.avatar, class: "img-circle", width: 40, height: 40, crop: :fill, gravity: :face
      = form_for @showcase, url: showcases_path do |f|
        .col-xs-12.col-sm-2.no-mar-pad.text-center-mob{style: "overflow: hidden;height: 152px;"}
          .preview
          .glyphicon.glyphicon-remove.preview-delete.bg-white{style: "display: none;position: absolute;z-index: 1;"}
          .glyphicon.glyphicon-camera.file-input-button{style: "font-size: 65px;color: #E0E0E0;padding: 20px;border: 1px dashed;"}
            = cl_image_upload_tag(:image)
          .progress.progress-striped{style: "display: none;height: 10px;width:107px;"}
            .progress-bar{style: "width: 0%;"}
        .col-xs-12.col-sm-9.text-center
          = f.text_field :title, placeholder: "Title", class: "form-control coco-input-field hvr-underline-from-left", required: true, maxlength: 100
        .col-xs-12.col-sm-9.text-center.ptop10
          = f.text_area :description, placeholder: "Description", class: "form-control coco-input-field hvr-underline-from-left", required: true, maxlength: 1000
        .col-xs-4.col-sm-3.ptop10
          = f.text_field :year, placeholder: "Year", class: "form-control coco-input-field hvr-underline-from-left", required: true, maxlength: 4
        .col-xs-8.col-sm-4.ptop10
          = f.fields_for :location do |lf|
            = lf.text_field :name, placeholder: "Location", class: "form-control coco-input-field hvr-underline-from-left", required: true, maxlength: 100
        .col-xs-12.col-sm-2.no-mar-pad.mtop10.mob-pad{style: "color: #9A9A9A;"}
          .col-xs-6.col-sm-12.no-mar-pad.pull-left
            = f.radio_button :showcase_type, "#{Showcase::SHOWCASE_VALUES[0]}", required: true
            %label.mbottom0 Showpiece
          .col-xs-6.col-sm-12.no-mar-pad.pull-left.col-xs-6
            = f.radio_button :showcase_type, "#{Showcase::SHOWCASE_VALUES[1]}", required: true
            %label.mbottom0 Wish
        .col-xs-12.col-sm-12.mtop10.text-center.showcase-btn-wrapper{style: "padding-top: 34px;"}
          = f.submit "Showcase", class: "btn btn-primary btn-shadow btn-social weight-bold showcase-submit", style: "display: none;"
    .col-sm-12.no-mar-pad.showcase-strip
      = render partial: "home/showcases", locals: {showcases: @showcases}
    .col-xs-12.col-sm-12.text-center.feed-loader.padding40{style: "display:none;"}
      %i.fa.fa-circle-o-notch.fa-spin.font21
      Please wait...
    #infinite-scrolling-posts.hidden
      = paginate @showcases, param_name: "showcases"
      = hidden_field_tag :prev_showcase, @showcases.current_page - 1
  .col-sm-3.hidden-xs.ptop15{style: "height: 1000px;"}
    %h4.no-mar-pad.padding15.white-fg{style: "background-color: #50514F;border-top-left-radius:4px;border-top-right-radius:4px;"} People to follow
    .col-sm-12.padding10.follow-wrapper.border-left-band-follow.bg-shad.bg-white{style: "height: 300px;overflow:hidden;"}
      .col-sm-12.no-mar-pad.follow-strip
        = render partial: "follow", locals: {users: @users}
      .col-xs-12.col-sm-12.text-center.feed-loader.padding20{style: "display:none;"}
        %i.fa.fa-circle-o-notch.fa-spin.font21
        Please wait...
      #infinite-scrolling-follow.hidden
        = paginate @users, param_name: "users"
      = hidden_field_tag :prev_user, @users.current_page - 1

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $(".follow-wrapper").mCustomScrollbar({
    					setHeight:330,
    					theme:"inset-2-dark",
              callbacks: {
                whileScrolling: function(){
                  if ($('#infinite-scrolling-follow').length) {
                    var more_posts_url = $('#infinite-scrolling-follow .pagination .next a').attr('href');
                    console.log(this.mcs.topPct)
                    if (more_posts_url && this.mcs.topPct == 100) {
                      $('.feed-loader').show();
                      $.getScript(more_posts_url+'&prev_user_page='+$("#prev_user").val()+'&prev_showcase_page='+$("#prev_showcase").val());
                    }
                  }
                }
              }
    	});
      if ($('#infinite-scrolling-posts').length) {
        $(window).on('scroll', function() {
          var more_posts_url = $('#infinite-scrolling-posts .pagination .next a').attr('href');
          if (more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - 60) {
            $('.feed-loader').show();
            $.getScript(more_posts_url+'&prev_showcase_page='+$("#prev_showcase").val()+'&prev_user_page='+$("#prev_user").val());
          }
        });
      }
    });
