.container-fluid.ptop50.padding0.mob-ptop100{style: "min-height: 1000px;background:#ebeced;"}
  .container.padding0.helvetica-font
    .col-sm-3.hidden-xs.no-mar-pad.ptop15#lhs-feed
      = render partial: "user_card", locals: {users: Array(current_user), card_margin: "0px"}
      .col-xs-12.col-sm-4.padding10.pleft0.mtop15{style: "min-width: 292px;"}
        %h6.no-mar-pad.font12.pleft0.text-left.weight-bold{style: "line-height: 18px;border-bottom: none;"}
          TRENDING
        - tag_cloud Tag.counts, %w{font11 font13 font17 font20} do |tag, css_class|
          %span.padding5.inline-block.grey-fg.pull-left.full-width
            .fa.fa-line-chart.cc-dark-fg.font12
            = link_to tag.name.strip, tag_path(tag.name), class: "font11 black-fg"
    .col-xs-12.col-sm-6.ptop15.padding-mob0.main-feed{class: "#{'hide-display' if params[:view] == "follow"}"}
      #new-wish
        = render partial: "post_showcase", locals: {showcase: @scase}
      - if current_user.unlocked_coin_wish?
        - if @coin_wishes.present?
          .col-xs-12.col-sm-12.no-mar-pad
            .col-xs-12.col-sm-12.text-center.no-mar-pad
              %span.header-text.weight500.zero-letter-spacing.font16 COIN WISHES
              %span.pos-absolute.pos-q-km-clk.font11.grey-fg.txt-underline.pon.c-w-lrn-mr
                Know More
                %i.fa.fa-question-circle-o
          .col-xs-12.col-sm-12.no-mar-pad.mbottom10.coin-wish-wrapper
            #myCoinCarousel.carousel.slide.hidden-xs{data: {ride: "carousel"}, data: {interval: false}}
              .carousel-inner{role: "listbox"}
                - @coin_wishes.each_slice(2).with_index do |coin_wishes, i|
                  .item{class: "#{'active' if i==0}"}
                    - coin_wishes.each do |coin_wish|
                      .col-sm-6.padding5
                        .col-sm-12.no-mar-pad.padding10.bg-white.pbottom0.bg-shad
                          .col-sm-12.no-mar-pad.text-center.h186.show-img-wrap.tab125h.hidden-overflow
                            = cl_image_tag coin_wish.image, class: "img-responsive inline-display", width: 300, height: 225, crop: :fill, gravity: :face, alt: coin_wish.title
                          .col-md-8.col-sm-12.col-md-offset-2.mtop10.pbottom10
                            %span.text-center.pull-left.full-width.pon.padding5.font12.adn-box.coin-brd-box{"data-id" => "#{coin_wish.id}"}
                              = truncate coin_wish.title, length: 18
                              .fa.fa-circle-thin
              %a.left.carousel-control{href: "#myCoinCarousel", role: "button", "data-slide" => "prev"}
                %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => true}
                %span.sr-only Previous
              %a.right.carousel-control{href: "#myCoinCarousel", role: "button", "data-slide" => "next"}
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => true}
                %span.sr-only Next
            #myCoinMobileCarousel.carousel.slide.visible-xs{data: {ride: "carousel"}}
              .carousel-inner{role: "listbox"}
                - @coin_wishes.each.with_index do |coin_wish, i|
                  .item{class: "#{'active' if i==0}"}
                    .col-xs-12.padding5
                      .col-xs-12.no-mar-pad.padding10.bg-white.pbottom0.bg-shad
                        .col-xs-12.no-mar-pad.text-center.h186.show-img-wrap.hidden-overflow
                          = cl_image_tag coin_wish.image, class: "img-responsive inline-display", width: 300, height: 225, crop: :fill, gravity: :face, alt: coin_wish.title
                        .col-xs-12.mtop10.pbottom10
                          %span.text-center.pull-left.full-width.pon.padding5.font12.adn-box.coin-brd-box{"data-id" => "#{coin_wish.id}"}
                            = truncate coin_wish.title, length: 18
                            .fa.fa-circle-thin
              %a.left.carousel-control{href: "#myCoinMobileCarousel", role: "button", "data-slide" => "prev"}
                %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => true}
                %span.sr-only Previous
              %a.right.carousel-control{href: "#myCoinMobileCarousel", role: "button", "data-slide" => "next"}
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => true}
                %span.sr-only Next
            .col-xs-12.col-sm-12.text-center.hide-display.coin-add-wishlist.mtop10.mbottom20
              ~ form_tag add_coin_wish_showcases_path do
                = hidden_field_tag :id, "", {class: "coin_wish_id"}
                = submit_tag "Add Coin Wish", class: "btn btn-md wow-badge-bg white-fg", data: {confirm: "#{current_user.active_coin_wish.blank? ? '' : 'Only one coin wish can be active at a time. If you click okay and proceed, current selection will become your active coin wish. But do not worry, the old earnings will be added to your wallet without any deductions.'}"}
      - else
        .col-xs-12.col-sm-12.no-mar-pad.mbottom10
          %span.full-width.ptop50.pbottom50.pleft-10.pright-10.text-center.bg-white.pull-left{style: "border: 2px solid #ffb900;", "data-step" => "2", "data-intro" => "<span class='font-medium grey-fg'><h4 class='mtop0 weight-bold text-center black-fg'>COIN WISHES</h3>Coin Wishes help you to earn whenever your friends click on it. Click unlock and start earning.</span>"}
            = link_to unlock_coin_wish_profiles_path, class: "btn btn-outline-gold" do
              Unlock Coin Wish&nbsp;
              .fa.fa-unlock
            %h6.mbottom0.grey-fg Click Unlock above to activate coin wishes and receive sign up bonus to your bank account.
            %span.font11.grey-fg.txt-underline.pon.c-w-lrn-mr
              Know More
      - if @admin_showcases.present?
        .col-xs-12.col-sm-12.no-mar-pad{"data-step" => "3", "data-intro" => "<span class='font-medium grey-fg'><h4 class='mtop0 weight-bold text-center black-fg'>ONE CLICK WISHES</h3>Feling lazy? Start by adding popular wishes to your wishlist just with a single click.</span>"}
          .col-xs-12.col-sm-12.no-mar-pad
            .col-xs-12.col-sm-12.text-center.no-mar-pad
              %span.header-text.weight500.zero-letter-spacing.font16 POPULAR NEW YEAR WISHES
          .col-xs-12.col-sm-12.no-mar-pad.mbottom10
            #myCarousel.carousel.slide.hidden-xs{data: {ride: "carousel"}}
              .carousel-inner{role: "listbox"}
                - @admin_showcases.each_slice(2).with_index do |admin_showcases, i|
                  .item{class: "#{'active' if i==0}"}
                    - admin_showcases.each do |admin_showcase|
                      .col-sm-6.padding5
                        .col-sm-12.no-mar-pad.padding10.bg-white.pbottom0.bg-shad
                          .col-sm-12.no-mar-pad.text-center.h186.show-img-wrap.tab125h.hidden-overflow
                            = cl_image_tag admin_showcase.image, class: "img-responsive inline-display", width: 300, height: 225, crop: :fill, gravity: :face, alt: admin_showcase.title
                          .col-md-8.col-sm-12.col-md-offset-2.mtop10.pbottom10
                            %span.text-center.pull-left.full-width.pon.padding5.font12.adn-box.brd-box{"data-id" => "#{admin_showcase.id}"}
                              = truncate admin_showcase.title, length: 18
                              .fa.fa-square-o
              %a.left.carousel-control{href: "#myCarousel", role: "button", "data-slide" => "prev"}
                %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => true}
                %span.sr-only Previous
              %a.right.carousel-control{href: "#myCarousel", role: "button", "data-slide" => "next"}
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => true}
                %span.sr-only Next
            #myMobileCarousel.carousel.slide.visible-xs{data: {ride: "carousel"}}
              .carousel-inner{role: "listbox"}
                - @admin_showcases.each.with_index do |admin_showcase, i|
                  .item{class: "#{'active' if i==0}"}
                    .col-xs-12.padding5
                      .col-xs-12.no-mar-pad.padding10.bg-white.pbottom0.bg-shad
                        .col-xs-12.no-mar-pad.text-center.h186.show-img-wrap.hidden-overflow
                          = cl_image_tag admin_showcase.image, class: "img-responsive inline-display", width: 300, height: 225, crop: :fill, gravity: :face, alt: admin_showcase.title
                        .col-xs-12.mtop10.pbottom10
                          %span.text-center.pull-left.full-width.pon.padding5.font12.adn-box.brd-box{"data-id" => "#{admin_showcase.id}"}
                            = truncate admin_showcase.title, length: 18
                            .fa.fa-square-o
              %a.left.carousel-control{href: "#myMobileCarousel", role: "button", "data-slide" => "prev"}
                %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => true}
                %span.sr-only Previous
              %a.right.carousel-control{href: "#myMobileCarousel", role: "button", "data-slide" => "next"}
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => true}
                %span.sr-only Next
            .col-xs-12.col-sm-12.text-center.hide-display.add-wishlist.mtop10.mbottom20
              ~ form_tag multiple_rewish_showcases_path do
                = hidden_field_tag :showcase_ids
                = submit_tag "Add to Wishlist", class: "btn btn-md wow-badge-bg white-fg"
      .col-xs-12.col-sm-12.no-mar-pad.showcase-strip.mtop30
        - unless @showcases.blank?
          = render partial: "home/showcases", locals: {showcases: @showcases}
        - else
          .col-xs-12.col-sm-12.text-center.padding10.bg-white.mbottom40
            %h5 Ayyo! Nothing to show. Invite your friends and follow others to activate your feed.
            %h4.weight-bold.mtop20 TOP PERFORMERS
            .col-xs-12.col-sm-12.no-mar-pad{"data-step" => "7", "data-intro" => "<span class='font-medium grey-fg'><h4 class='mtop0 weight-bold text-center black-fg'>BE UPDATED</h3>An empty feed is boring. Follow a minimum of our 8 most active users above to get the best out of Cocociti and to be updated.</span>"}
              - @top_performers.each do |performer|
                .col-xs-6.col-sm-6.col-md-3.padding5
                  .col-sm-12.col-xs-12.padding5{style: "border: 1px solid #f1f1f1; height: 125px;"}
                    = cl_image_tag performer.avatar, class: "img-circle mtop10 mbottom5", width: 40, height: 40, crop: :fill
                    %h5.no-mar-pad.font11= truncate performer.name, length: 15
                    %div.mtop-v-5{class: "follow-set-#{performer.id}"}
                      = link_to user_toggle_follow_path(performer), remote: true, method: :post do
                        .btn.no-mar-pad.loader-out-follow-button.follow-button.border5{class: "#{current_user.following?(performer) ? 'green-border' : 'blue-border'}", style: "line-height: 0px;"}
                          %button{class: "btn loader-button loader-in-follow-button padding0 border5 bg-white font-medium #{current_user.following?(performer) ? 'green-fg' : 'cc-dark-fg'}"}
                            - if current_user.following?(performer)
                              Following
                              %i.fa.fa-check
                            - else
                              Follow
                              %i.fa.fa-plus-circle
                          .loader-effect.btn.loader-in-follow-button{style: "display:none;padding-top: 3px;"}
                            .ball-clip-rotate{style: "height:22px;"}
                              %div.blue-border ...
      .col-xs-12.col-sm-12.text-center.feed-loader.padding40{style: "display:none;"}
        %i.fa.fa-circle-o-notch.fa-spin.font21
        Please wait...
      #infinite-scrolling-posts.hidden
        = paginate @showcases, param_name: "showcases"
        = hidden_field_tag :prev_showcase, @showcases.current_page - 1
    .col-sm-3.col-xs-12.no-mar-pad.ptop15.check-mobile#rhs-feed{class: "#{'hidden-xs' unless params[:view] == "follow"}"}
      .col-xs-12.col-sm-12.padding10.bg-white.rhs-intro{style: "border-bottom: none;", "data-step" => "4", "data-intro" => "<span class='font-medium grey-fg'><h4 class='mtop0 weight-bold text-center black-fg'>SEARCH FRIENDS</h3>Feeling lonely? Type names and search for your friends here.</span>"}
        ~ form_tag user_results_path, method: :get, id: "profile-search-form" do
          .col-xs-12.col-sm-12.no-mar-pad= text_field_tag :user_query, params[:user_query], placeholder: "Search people/friends", class: "form-control profile-query bg-light-grey", style: "border-radius: 20px;"
          .col-xs-1.col-sm-1.no-mar-pad{style: "margin-left: -41px;"}
            %button.btn{type: 'submit', style: "background-color: transparent;"}
              %span.glyphicon.glyphicon-search.grey-fg
      .col-xs-12.col-sm-12.text-center.padding15.mbottom10.bg-white.bg-shad.rhs-intro{"data-step" => "5", "data-intro" => "<span class='font-medium grey-fg'><h4 class='mtop0 weight-bold text-center black-fg'>INVITE FRIENDS</h3>Couldn't find your friends? Don't worry! Just invite them to be part of your wishes & to know theirs.</span>"}
        = link_to invitations_path do
          .btn.btn-md.btn-v-outline.transition-effect
            Invite Friends
      .col-xs-12.col-sm-12.padding10.follow-wrapper.bg-shad.bg-white.hide-display
        .col-xs-12.col-sm-12.no-mar-pad.follow-strip
          =# render partial: "follow", locals: {users: @users}
        .col-xs-12.col-sm-12.text-center.feed-loader.padding20{style: "display:none;"}
          %i.fa.fa-circle-o-notch.fa-spin.font21
          Please wait...
        #infinite-scrolling-follow.hidden
          =# paginate @users, param_name: "users"
        =# hidden_field_tag :prev_user, @users.current_page - 1
      .col-xs-12.col-sm-12.hidden-xs.padding10.bg-shad.bg-white.text-center.mbottom10#sim-wrapper{style: "min-height: 183px;"}
        .fa.fa-spinner.fa-spin.sim-frnds-spinner.mtop70
      .col-xs-12.col-sm-12.hidden-xs.padding15.bg-shad.bg-white.text-center.rhs-intro.mbottom10{"data-step" => "6", "data-intro" => "<span class='font-medium grey-fg'><h4 class='mtop0 weight-bold text-center black-fg'>CHECK YOUR EARNINGS</h3>Did you know that we add ₹1 for all your wishes & ₹2 to your wallet whenever your friends join Cocociti? Check your earnings status here.</span>"}
        .col-xs-12.col-sm-12.col-md-8.no-mar-pad.grey-fg.font12
          %span.balance-coins-sprite-grey.inline-block
          .full-width.pull-left.neg-mtop5
            %span.inline-block Savings
            %span.inline-block.font20
              = @wallet.unused_coins
        .col-xs-12.col-sm-12.col-md-4.no-mar-pad
          = link_to wallet_path do
            .btn.btn-sm.mtop15.btn-v-outline.transition-effect
              Your Wallet
      - if @featured_tags.present?
        .col-xs-12.col-sm-12.hidden-xs.padding10.bg-shad.bg-white.text-center.mbottom20{style: "height: 180px;"}
          #myInterestsCarousel.carousel.slide.hidden-xs{data: {ride: "carousel"}, data: {interval: false}}
            %span.pull-left.font12.weight-bold.ptop5.pbottom5.grey-fg.mbottom5 FOLLOW INTERESTS
            %a.light-grey-fg.pull-right.pleft5.border-lt-side{href: "#myInterestsCarousel", role: "button", "data-slide" => "next"}
              %span{"aria-hidden" => true} >
              %span.sr-only Next
            %a.light-grey-fg.pull-right.pright5{href: "#myInterestsCarousel", role: "button", "data-slide" => "prev"}
              %span{"aria-hidden" => true} <
              %span.sr-only Previous
            .carousel-inner{role: "listbox"}
              - @featured_tags.each_slice(3).with_index do |tags, i|
                .item{class: "#{'active' if i==0}"}
                  - tags.each do |tag|
                    = link_to user_toggle_follow_interest_path(tag), remote: true, method: :post do
                      .btn.btn-sm.border-medium.full-width.grey-fg.follow-tag-wrap.mbottom5{id: "follow-tag-#{tag.id}"}
                        = truncate tag.name, length: 30
                        .fa.fa-check-circle.font20

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $(".follow-wrapper").mCustomScrollbar({
    					theme:"minimal-dark",//rounded-dots-dark
              callbacks: {
                whileScrolling: function(){
                  if ($('#infinite-scrolling-follow').length) {
                    var more_posts_url = $('#infinite-scrolling-follow .pagination .next a').attr('href');
                    if (more_posts_url && this.mcs.topPct == 100) {
                      $('.feed-loader').show();
                      $.getScript(more_posts_url+'&prev_user_page='+$("#prev_user").val()+'&prev_showcase_page='+$("#prev_showcase").val());
                    }
                  }
                }
              }
    	});
      if ($('#infinite-scrolling-posts').length) {
        $(window).on('scroll', function (){
          var more_posts_url = $('#infinite-scrolling-posts .pagination .next a').attr('href');
          if (more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - 250) {
            $(window).off("scroll");
            $('.feed-loader').show();
            $.getScript(more_posts_url+'&prev_showcase_page='+$("#prev_showcase").val()+'&prev_user_page='+$("#prev_user").val());
          }
        });
      }
      if(#{params[:view] == "follow"}){
        $(".follow-mob").addClass("cc-med-bg");
      }
      else{
        $(".feed-mob").addClass("cc-med-bg");
        width = $("#lhs-feed").width();
        left = $("#lhs-feed").position().left;
        top = $("#lhs-feed").position().top;
        //$(".main-feed").css({"left": width-1, "position": "relative"});
        //$("#lhs-feed").css({"width":width , "top": top, "left": left, "position": "fixed"});
        //$("#rhs-feed").css({"width": width, "top": top, "right": left, "position": "fixed"});
      }
      var welcome = "#{params[:welcome].blank? ? '' : params[:welcome]}"
      if(welcome == "tour" || "#{current_user.sign_in_count}" <= 2){
        if($("#rhs-feed").css("z-index") == 10){
          $(this).find(".rhs-intro").removeAttr("data-step data-intro");
        }
        introJs().start();
      }
      $.get("/get_similar_friends");
    });
