.intro-header
  .container-fluid
    .row
      #rent-lend-wrapper
        #rent-lend-plate
          .home-lend-page.home-side-bar.hidden-xs
            .home-lend-icon.btn.btn-lg.home-icon
              %span.lend-hover LEND
              %i.glyphicon.glyphicon-menu-left.arrow-lend.lend-hover#arrow-rent-lend
            .rent-lend-content.col-md-7.col-md-offset-1
              .col-md-12.no-mar-pad
                %h4.no-mar-pad.mbottom20.em-font.header-text.white-fg{style: "border: none;"} LET YOUR THINGS WORK FOR YOU!
                .col-md-3.no-mar-pad.height100
                  .home-click-lend-sprite.shadow.inline-block
                .col-md-9.no-mar-pad.height100
                  %strong.font-bit-large CLICK
                  %br
                  high quality pics of the product with good lighting, make sure important product aspects are clear.
                .col-md-9.no-mar-pad.height100
                  %strong.font-bit-large LIST
                  %br
                  your Item, it’s free. Add product details, upload pics, set daily/weekly rent, deposit and terms of rental.
                .col-md-3.no-mar-pad.height100
                  .home-upload-lend-sprite.shadow.inline-block
                .col-md-3.no-mar-pad.height100
                  .home-relax-lend-sprite.shadow.inline-block
                .col-md-9.no-mar-pad.height100
                  %strong.font-bit-large RELAX
                  %br
                  and let others find your item & book it on Cocociti. Coco operations team will handle the rental for you.
                .col-md-9.no-mar-pad.height85
                  %strong.font-bit-large RECEIVE MONEY
                  %br
                  to your a/c from Cocociti after the rental. Remember, we charge tiny commission only for successful rentals.
                .col-md-3.no-mar-pad.height85
                  .home-money-lend-sprite.shadow.inline-block
                .col-md-12.no-mar-pad.text-center
                  - if current_user
                    = link_to new_product_path do
                      .btn.website-color-bg.hvr-icon-forward.white-fg List Your Item&nbsp;&nbsp;
                  - else
                    .btn.website-color-bg.hvr-icon-forward.white-fg{data: {toggle: "modal", target: "#login"}} List Your Item&nbsp;&nbsp;
          .home-rent-page.home-side-bar.hidden-xs
            .home-rent-icon.btn.btn-lg.home-icon
              %span.rent-hover{style: "left:-10px"} RENT
              %i.glyphicon.glyphicon-menu-right.arrow-rent.rent-hover#arrow-rent-lend
            .rent-lend-content.col-md-7.col-md-offset-4
              .col-md-12.no-mar-pad
                %h4.no-mar-pad.mbottom20.em-font.header-text.white-fg{style: "border: none;"} LET OUR THINGS WORK FOR YOU!
                .col-md-3.no-mar-pad.height100
                  .home-browse-rent-sprite.shadow.inline-block
                .col-md-9.no-mar-pad.height100
                  %strong.font-bit-large BROWSE
                  %br
                  from our vast list of handpicked items across categories & shortlist the item of your choice.
                .col-md-9.no-mar-pad.height100
                  %strong.font-bit-large PAY
                  %br
                  securely by clicking on the rent button. Security deposit you pay while booking is fully refundable.
                .col-md-3.no-mar-pad.height100
                  .home-pay-rent-sprite.shadow.inline-block
                .col-md-3.no-mar-pad.height100
                  .home-collect-rent-sprite.shadow.inline-block
                .col-md-9.no-mar-pad.height100
                  %strong.font-bit-large COLLECT
                  %br
                  or get the item home delivered. Our partner locations are spread all over Bangalore for your service.
                .col-md-9.no-mar-pad.height85
                  %strong.font-bit-large RETURN
                  %br
                  the product to the same location. We will refund your security deposit along with surprise discounts.
                .col-md-3.no-mar-pad.height85
                  .home-return-rent-sprite.shadow.inline-block
                .col-md-12.no-mar-pad.text-center
                  = link_to all_products_path do
                    .btn.website-color-bg.hvr-icon-forward.white-fg Browse All&nbsp;&nbsp;
          .col-lg-12.intro-message
            /%img{src: "#{GLOBAL_VARIABLES[:root_url]}/assets/images/home-globe.png", class: "img-responsive", style: "margin: 0px auto;"}
            .col-md-11.col-md-offset-1.hidden-xs.mtop20
              = link_to category_path("bikes-two-wheelers") do
                .home-bike-sprite.inline-block.mright80.hvr-wobble-top.shadow
              = link_to category_path("cars-self-drive-chauffeur") do
                .home-car-sprite.inline-block.mright80.hvr-wobble-top.shadow
              = link_to category_path("fashion-rent-a-dress") do
                .home-dress-sprite.inline-block.mright80.hvr-wobble-top.shadow
              = link_to category_path("adventure-sports-travel-gear") do
                .home-adventure-sprite.inline-block.mright80.hvr-wobble-top.shadow
            .col-xs-12.no-mar-pad.visible-xs
              #myCarousel.carousel.slide{data: {ride: "carousel"}}
                .carousel-inner{role: "listbox"}
                  .item.active
                    .col-md-12.col-xs-12
                      = link_to category_path("bikes-two-wheelers") do
                        .home-bike-sprite.inline-block.hvr-wobble-top.shadow
                  .item
                    .col-md-12.col-xs-12
                      = link_to category_path("cars-self-drive-chauffeur") do
                        .home-car-sprite.inline-block.hvr-wobble-top.shadow
                  .item
                    .col-md-12.col-xs-12
                      = link_to category_path("fashion-rent-a-dress") do
                        .home-dress-sprite.inline-block.hvr-wobble-top.shadow
                  .item
                    .col-md-12.col-xs-12
                      = link_to category_path("adventure-sports-travel-gear") do
                        .home-adventure-sprite.inline-block.hvr-wobble-top.shadow
            .col-md-12.mbottom20
              %h3.mbottom5
                All Things Rental!
              %small.white-fg in Bangalore
            .col-md-10.col-md-offset-1.main-search-bar{style: "z-index: 1001;"}
              .form-section
                .row.border-home-search.mbottom10
                  = form_tag search_products_path, method: "get" do |f|
                    .col-md-3.no-mar-pad
                      .input-group.mbottom0.input-append.date.from_date_time
                        %span#sizing-addon2.input-group-addon.bg-white
                          %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
                        = text_field_tag :start_date_time, params[:start_date_time], placeholder: "Pick up Date & Time", class: "form-control home_start_date bg-white pon", style: "border-radius:0", required: true, readonly: true
                    .col-md-3.no-mar-pad
                      .input-group.mbottom0.input-append.date.end_date_time
                        %span#sizing-addon2.input-group-addon.bg-white{:style => "border-radius:0;"}
                          %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
                        = text_field_tag :end_date_time, params[:end_date_time], placeholder: "Drop off Date & Time", class: "form-control home_end_date bg-white pon", style: "border-radius:0", required: true, readonly: true
                    .col-md-3.no-mar-pad
                      .form-group.mbottom0
                        = select_tag :category, options_from_collection_for_select(Product.distinct_parent_category, :id, :name, params[:category]), prompt: "Select Category", class: "form-control coco-select-box selectpicker home_search_box"
                    .col-md-3.no-mar-pad
                      %button.btn.land-src-button{type: "submit"} Search
                .row.help-links
                  %a.inline-block.mtop10{:href => "#best-deals"} Featured Listings
                  %a.inline-block.mtop10{:href => "#coco-discounts"} Cocopricing
                  %a.inline-block.mtop10{:href => "#why-us"} Why Us
                  %a.inline-block.mtop10{:href => "#need-help"} Need Help?
                .col-md-12.no-mar-pad.text-center
                  = link_to all_products_path do
                    .btn.btn-md.mtop20.hvr-icon-forward.white-fg.shadow{style: "background-color: #1C8888;"} Browse All&nbsp;&nbsp;

#best-deals.ht-home-header.grey-bg.col-md-12

.container-fluid.mob-fluid-con.grey-bg
  .col-md-4.col-md-offset-4.text-center.mbottom40
    %span.header-text FEATURED LISTINGS
  .container.container-pad.mob-con.pbottom50
    .row
      .col-md-12.text-center.mtop20.pbottom20.hidden
        .col-md-1.col-md-offset-2.hidden-xs.featured-button-1.pon
          .featured-button.featured-active ALL
        .col-md-3.hidden-xs.featured-button-2.pon
          .featured-button BIKES & TWO WHEELERS
        .col-md-4.hidden-xs.featured-button-3.pon
          .featured-button ADVENTURE | SPORTS | TRAVEL GEAR
      .col-md-12.col-sm-12.no-mar-pad.featured-list-1
        - Product.featured.best_deal.each_slice(4) do |slide|
          .col-md-12.col-sm-12
            - slide.each do |product|
              .col-md-3.col-sm-4
                = render partial: "best_deals", locals: {product: product}
      .col-md-12.col-sm-12.no-mar-pad.featured-list-2{style: "display:none;"}
        - Product.featured.where(parent_category: 1).best_deal.each_slice(4) do |slide|
          .col-md-12.col-sm-12
            - slide.each do |product|
              .col-md-3.col-sm-4
                = render partial: "best_deals", locals: {product: product}
      .col-md-12.col-sm-12.no-mar-pad.featured-list-3{style: "display:none;"}
        - Product.featured.where(parent_category: 10).best_deal.each_slice(4) do |slide|
          .col-md-12.col-sm-12
            - slide.each do |product|
              .col-md-3.col-sm-4
                = render partial: "best_deals", locals: {product: product}

#coco-discounts.ht-home-header.col-md-12
.container-fluid.mob-fluid-con
  .col-md-4.col-md-offset-4.text-center
    %span.header-text COCOPRICING DISCOUNTS
.col-md-12.padding20.text-center{style: "padding-top: 10px !important;"}
  .col-md-12.text-center.padding10
    .text-center.inline-block
      .discount-circle.hvr-grow{style: "background-color: #e84242;"}
        %span.discount-text
          10%
      %br
      %span.discount-text-days
        3+ days
    .text-center.inline-block
      .discount-circle.hvr-grow{style: "background-color: #E28A2B;"}
        %span.discount-text
          20%
      %br
      %span.discount-text-days
        10+ days
    .text-center.inline-block
      .discount-circle.hvr-grow
        %span.discount-text
          30%
      %br
      %span.discount-text-days
        20+ days
    .text-center.inline-block
      .discount-circle.hvr-grow{style: "background-color: #663399;"}
        %span.discount-text
          40%
      %br
      %span.discount-text-days
        30+ days
    .text-center.inline-block
      .discount-circle.hvr-grow{style: "background-color: #008000;"}
        %span.discount-text
          50%
      %br
      %span.discount-text-days
        90+ days

#why-us.ht-home-header.col-md-12
.col-md-12.why-us.rotate30.ptop70.pbottom100
  .col-md-4.col-md-offset-4.text-center.mbottom40.rotate-30
    %span.header-text.white-fg WHY US
  .container.rotate-30
    .col-md-12.no-mar-pad
      .col-md-2
        %span.img-responsive.pad.pull-right.why-us-size.why-us-1-sprite
      .col-md-4
        %p.y-u.pad
          %strong
            12/7 Support
          %br
          When something goes wrong, just let us know and we’ll make it right. It’s as simple as that. Cocociti Experience Managers are just a call away; 9 am to 9 pm.
      .col-md-2
        %span.img-responsive.pad.pull-right.why-us-size.why-us-2-sprite
      .col-md-4
        %p.y-u.pad
          %strong
            Curated listings & Trusted Vendors
          %br
          Every vendor on Cocociti is handpicked for quality products & exceptional service; be it products or our delivery partners. Individual listings are made available by our expert curators.

    .col-md-12.no-mar-pad
      .col-md-2
        %span.img-responsive.pad.pull-right.why-us-size.why-us-3-sprite
      .col-md-4
        %p.y-u.pad
          %strong
            Safe payments & Fast Refunds
          %br
          All transactions are facilitated through our secure system with payment protection. Your money is kept in an escrow till the end of the renting tenure & security deposit is refunded once product is returned in good condition.
      .col-md-2
        %span.img-responsive.pad.pull-right.why-us-size.why-us-4-sprite
      .col-md-4
        %p.y-u.pad
          %strong
            Live Better
          %br
          Your email & number is not shared until a booking is confirmed. Say yes to peace of mind & no to annoying calls & spam mails.

#list-product.ht-home-header.col-md-12.hidden
.container.hidden
  .col-md-4.col-md-offset-4.text-center.mbottom40
    %span.header-text MAKE MONEY, WISE
  .col-md-12.pbottom20
    %p.list-p-p
      Cocociti is a smart way to earn money by renting stuff. All you need to do is to click few pics, upload it to Cocociti, and mention your terms! You set the price for your listings, your availability, and booking requirements. You can message users and approve rentals as per your choice.
    %center
      %strong
        %h3.website-color
          LET YOUR THINGS WORK FOR YOU!
      %br
      %br
      = link_to new_product_path, class: "pa" do
        List Your Item

.tag-bg.col-md-12
  .container.hidden-xs
    .row.tag-mar
      - Category.root.each_slice(4) do |slice|
        .col-md-12.no-mar-pad
          - slice.each do |cat|
            .col-md-12.no-mar-pad
              %ul.tag-ul.no-mar-pad.mtop5
                %li.inline-display
                  %h4.tag-ul-h4.no-mar-pad.inline-display
                    = cat.name
                    \-
                - cat.subs.each do |sub|
                  %li.tag-ul-li.inline-display
                    = sub.name
                    for rent
                  |
#need-help.ht-home-header.col-md-12
.col-md-12.text-center.padding10{style: "background-color: beige;"}
  %h1.mbottom40
    Couldn't find what you were looking for? Call us on 96 8686 0303
