= content_for :header_extra do
  = render "layouts/search_form"

.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Cocociti
          %h3.land-head All Things Rental!
          .row
            .col-md-10.col-md-offset-2
              .form-section
                .row
                  = form_tag search_products_path, method: "get" do |f|
                    .col-md-3
                      .input-group.mbottom0.input-append.date.from_date_time
                        %span#sizing-addon2.input-group-addon.bg-white
                          %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
                        = text_field_tag :start_date_time, params[:start_date_time], placeholder: "Pickup Date & Time", class: "form-control bg-white pon", style: "border-radius:0", readonly: true
                    .col-md-3.land-src-mar
                      .input-group.mbottom0.input-append.date.end_date_time
                        %span#sizing-addon2.input-group-addon.bg-white{:style => "border-radius:0;"}
                          %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
                        = text_field_tag :end_date_time, params[:end_date_time], placeholder: "Drop off Date & Time", class: "form-control bg-white pon", style: "border-radius:0", readonly: true
                    .col-md-3.land-src-mar
                      .form-group.mbottom0
                        /= text_field_tag :term, "", placeholder: "Search an Item", class: "form-control", style: "border-radius:0"
                        = select_tag :category, options_from_collection_for_select(Product.select(:parent_category).distinct, :parent_category, :parent_category, params[:category]), prompt: "Category", class: "form-control selectpicker"
                    .col-md-2.land-src-mar
                      %button.btn.land-src-button{type: "submit"} Search
                .row
                  .col-md-3.col-md-offset-2.help-links.mtop20
                    %a{:href => "#best-deals"} Best Deals
                    %a{:href => "#how-it-works"} How it Works
                  .col-md-3.help-links.mtop20.land-src-mar-help-links
                    %a{:href => "#why-us"} Why us
                    %a{:href => "#list-product"} List Your Item

#best-deals.ht-home-header

.container-fluid.mob-fluid-con
  .col-md-4.col-md-offset-4.text-center
    %span.header-text BEST DEALS
  .container.container-pad.head-mar.mob-con
    .row
      - Product.featured.best_deal.each_slice(4) do |slide|
        .col-md-12.col-sm-12
          - slide.each do |product|
            .col-md-3.col-sm-4
              = render partial: "products/product", locals: {product: product}

#how-it-works.ht-home-header

.container.pbottom50
  .col-md-4.col-md-offset-4.text-center
    %span.header-text HOW IT WORKS
  .row.hw-mar
    #myCarousel.carousel.slide{data: {ride: "carousel"}}
      %ol.carousel-indicators.slide-bot
        %li.active.st-soursol{data: {target: "#myCarousel", "slide-to" => "0"}} 1
        %li.st-soursol{data: {target: "#myCarousel", "slide-to" => "1"}} 2
        %li.st-soursol{data: {target: "#myCarousel", "slide-to" => "2"}} 3
        %li.st-soursol{data: {target: "#myCarousel", "slide-to" => "3"}} 4
      .carousel-inner{role: "listbox"}
        .item.active
          .col-md-12
            .col-md-6
              = image_tag "img/Work/1 (1).jpg", class: "img-responsive work-img"
            .col-md-6.work-font
              %h1.work-num 1
              %hr.intro-divider
              %h6.work-h
              %p.work-p Owners list products for rent, specify price, product details, terms and availability

        .item
          .col-md-12
            .col-md-6
              = image_tag "img/Work/1 (2).jpg", class: "img-responsive work-img"
            .col-md-6.work-font
              %h1.work-num 2
              %hr.intro-divider
              %h6.work-h
              %p.work-p The renter books the product and pays online. The car owner accepts the request and the renter receives further instructions.

        .item
          .col-md-12
            .col-md-6
              = image_tag "img/Work/1 (3).jpg", class: "img-responsive work-img"
            .col-md-6.work-font
              %h1.work-num 3
              %hr.intro-divider
              %h6.work-h
              %p.work-p Cocociti performs ID and credit checks, Owner makes the product available for pickup and Renter gets the product on time.


        .item
          .col-md-12
            .col-md-6
              = image_tag "img/Work/1 (4).jpg", class: "img-responsive work-img"
            .col-md-6.work-font
              %h1.work-num 4
              %hr.intro-divider
              %h6.work-h
              %p.work-p Renter returns the product safely. Cocociti initiates the refund process to renters’ account and credits rent to owners’ account.


#why-us.ht-home-header

.container
  .col-md-4.col-md-offset-4.text-center
    %span.header-text WHY US
  .row.yu-mar
    .col-md-12
      .col-md-6-offset-1
        .col-md-2
          = image_tag "coco-yu/24h.png", class: "img-responsive pad pull-right"
        .col-md-4
          %p.y-u.pad
            100% verified profiles, photos & products.
            %br
            Every seller on Cocociti has been personally selected for quality products & customer service.

      .col-md-6-offset-1
        .col-md-2
          = image_tag "coco-yu/bags.png", class: "img-responsive pull-right"
        .col-md-4
          %p.y-u.pad
            Simple, safe and fast payments & refunds
            %br
            All financial transactions are facilitated through our secure system with payment protection enabled.

    .col-md-12
      .col-md-6-offset-1
        .col-md-2
          = image_tag "coco-yu/card2.png", class: "img-responsive pull-right"
        .col-md-4
          %p.y-u.pad
            24 hours delivery
            %br
            Guaranteed door-to-door pickup and delivery within Bangalore city.

      .col-md-6-offset-1
        .col-md-2
          = image_tag "coco-yu/tag-green-1.png", class: "img-responsive pull-right"
        .col-md-4
          %p.y-u.pad
            Cocociti Experience Managers
            %br
            When something goes wrong, just let us know and we’ll make make it right. It’s as simple as that.

#list-product.ht-home-header

.container
  .col-md-4.col-md-offset-4.text-center
    %span.header-text LIST YOUR ITEM
  .row.lp-mar
    .col-md-12
      %p.list-p-p Cocociti is a smart way to earn money by renting stuff. All you need to do is to click few pics, upload it to Cocociti, and mention your terms! You set the price for your listings, your availability, and booking requirements. You can message users and approve rentals as per your choice.
      %center
        = link_to new_product_path do
          %button.but-mar List Your Item

.tag-bg.tag-container
  .container.hidden-xs
    .row.tag-mar

      - Category.root.each_slice(4) do |slice|
        .col-md-12
          - slice.each do |cat|
            .col-md-3
              %ul.tag-ul
                %li.tag-ul-h
                  %h4.tag-ul-h4= cat.name
                - cat.subs.each do |sub|
                  %li.tag-ul-li= sub.name
