= content_for :header_extra do
  = render "layouts/search_form"

.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          /%h1 Cocociti
          %img{src: "#{GLOBAL_VARIABLES[:root_url]}/assets/images/home-globe.png", class: "img-responsive", style: "margin: 0px auto;"}
          %h3.land-head All Things Rental!
          .row
            .col-md-10.col-md-offset-1.main-search-bar
              .form-section
                .row.border-home-search.mbottom10
                  = form_tag search_products_path, method: "get" do |f|
                    .col-md-3.no-mar-pad
                      .input-group.mbottom0.input-append.date.from_date_time
                        %span#sizing-addon2.input-group-addon.bg-white
                          %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
                        = text_field_tag :start_date_time, params[:start_date_time], placeholder: "Pick up Date & Time", class: "form-control home_start_date bg-white pon", style: "border-radius:0", readonly: true
                    .col-md-3.no-mar-pad
                      .input-group.mbottom0.input-append.date.end_date_time
                        %span#sizing-addon2.input-group-addon.bg-white{:style => "border-radius:0;"}
                          %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
                        = text_field_tag :end_date_time, params[:end_date_time], placeholder: "Drop off Date & Time", class: "form-control bg-white pon", style: "border-radius:0", readonly: true
                    .col-md-3.no-mar-pad
                      .form-group.mbottom0
                        = select_tag :category, options_from_collection_for_select(Product.distinct_parent_category, :id, :name, params[:category]), prompt: "Select Category", class: "form-control coco-select-box selectpicker home_search_box"
                    .col-md-3.no-mar-pad
                      %button.btn.land-src-button{type: "submit"} Search
                .row.help-links
                  %a.inline-block.mtop10{:href => "#best-deals"} Featured Listings
                  %a.inline-block.mtop10.hidden{:href => "#browse"} Browse
                  %a.inline-block.mtop10{:href => "#how-it-works"} How it Works
                  %a.inline-block.mtop10{:href => "#why-us"} Why us
                  %a.inline-block.mtop10{:href => "#list-product"} List your Item

#best-deals.ht-home-header.col-md-12

.container-fluid.mob-fluid-con
  .col-md-4.col-md-offset-4.text-center
    %span.header-text FEATURED LISTINGS
  .container.container-pad.head-mar.mob-con
    .row
      .col-md-12.text-center.mtop20.mbottom20
        .col-md-1.col-md-offset-2.hidden-xs.featured-button-1.pon
          .featured-button.featured-active ALL
        .col-md-3.hidden-xs.featured-button-2.pon
          .featured-button BIKES & TWO WHEELERS
        .col-md-4.hidden-xs.featured-button-3.pon
          .featured-button ADVENTURE | SPORTS | TRAVEL GEAR
      .col-md-12.col-sm-12.no-mar-pad.featured-list-1
        - Product.featured.best_deal.each_slice(4) do |slide|
          .col-md-12.col-sm-12
            - slide.each do |product|
              .col-md-3.col-sm-4
                = render partial: "best_deals", locals: {product: product}
      .col-md-12.col-sm-12.no-mar-pad.featured-list-2{style: "display:none;"}
        - Product.featured.where(parent_category: 1).best_deal.each_slice(4) do |slide|
          .col-md-12.col-sm-12
            - slide.each do |product|
              .col-md-3.col-sm-4
                = render partial: "best_deals", locals: {product: product}
      .col-md-12.col-sm-12.no-mar-pad.featured-list-3{style: "display:none;"}
        - Product.featured.where(parent_category: 10).best_deal.each_slice(4) do |slide|
          .col-md-12.col-sm-12
            - slide.each do |product|
              .col-md-3.col-sm-4
                = render partial: "best_deals", locals: {product: product}

.col-md-12.strip-bg.text-center.padding20
  %h1.mbottom20.white-fg
    Couldn't find what you were looking for. Call us on 96 8686 0303

#browse.ht-home-header.col-md-12.hidden

.col-md-12.text-center.padding20.white-fg.browse-home.hidden{style: "font-size:25px;font-weight: bold;"}
  = link_to category_path("bikes-two-wheelers") do
    .col-md-3.col-md-offset-1.padding10.mtop20.border-category.strip-bg Bikes & Two Wheelers
  = link_to category_path("fashion-rent-a-dress") do
    .col-md-2.col-md-offset-1.padding10.mtop20.border-category.strip-bg Clothing
  = link_to category_path("bikes-two-wheelers") do
    .col-md-3.col-md-offset-1.padding10.mtop20.border-category.strip-bg Houseboats
  .clearfix.hidden-xs-block
  = link_to category_path("bikes-two-wheelers") do
    .col-md-3.col-md-offset-1.padding10.mtop20.mbottom20.border-category.strip-bg Cameras & Accessories
  = link_to category_path("bikes-two-wheelers") do
    .col-md-2.col-md-offset-1.padding10.mtop20.mbottom20.border-category.strip-bg Books
  = link_to category_path("bikes-two-wheelers") do
    .col-md-3.col-md-offset-1.padding10.mtop20.mbottom20.border-category.strip-bg Adventure | Travel Gear

#how-it-works.ht-home-header.col-md-12

.container.pbottom50
  .col-md-4.col-md-offset-4.text-center
    %span.header-text HOW IT WORKS
  .col-md-12.col-md-offset-1.mtop50
    = image_tag "/assets/images/how_it_works.png", class: "img-responsive text-center"
  .col-md-3.col-xs-12.text-center
    %h3.pull-left.land-src-mar-browse.website-color
      BROWSE
  .col-md-3.col-xs-12.text-center
    %h3.pull-left.land-src-mar-book.website-color
      BOOK INSTANTLY
  .col-md-3.col-xs-12.text-center
    %h3.pull-left.land-src-mar-pickup.website-color
      PICK UP
  .col-md-3.col-xs-12.text-center
    %h3.pull-left.land-src-mar-return.website-color
      RETURN

.col-md-12.strip-bg.padding20.text-center
  .text-center.white-fg.mbottom10{style: "font-size: 30px;display: block;font-weight: bold;"} COCOPRICING DISCOUNTS
  .text-center.discount-sprite.white-fg
    %center.discount-text
      3+ days
      %br
      10%
  .text-center.discount-sprite.white-fg
    %center.discount-text
      10+ days
      %br
      20%
  .text-center.discount-sprite.white-fg
    %center.discount-text
      20+ days
      %br
      30%
  .text-center.discount-sprite.white-fg
    %center.discount-text
      30+ days
      %br
      40%
  .text-center.discount-sprite.white-fg
    %center.discount-text
      90+ days
      %br
      50%

#why-us.ht-home-header.col-md-12

.container
  .col-md-4.col-md-offset-4.text-center.mbottom40
    %span.header-text WHY US
  .row.yu-mar
    .col-md-12
      .col-md-6-offset-1
        .col-md-2
          %span.img-responsive.pad.pull-right.why-us-size.why-us-1-sprite
        .col-md-4
          %p.y-u.pad
            %strong
              12/7 Support
            %br
            When something goes wrong, just let us know and we’ll make make it right. It’s as simple as that. Cocociti Experience Managers are just a call away; 9 am to 9 pm.

      .col-md-6-offset-1
        .col-md-2
          %span.img-responsive.pad.pull-right.why-us-size.why-us-2-sprite
        .col-md-4
          %p.y-u.pad
            %strong
              Curated listings & Trusted Vendors
            %br
            Every vendor on Cocociti is handpicked for quality products & exceptional service; be it products or our delivery partners. Individual listings are made available by our expert curators.

    .col-md-12
      .col-md-6-offset-1
        .col-md-2
          %span.img-responsive.pad.pull-right.why-us-size.why-us-3-sprite
        .col-md-4
          %p.y-u.pad
            %strong
              Safe payments & Fast Refunds
            %br
            All transactions are facilitated through our secure system with payment protection. Your money is kept in an escrow till the end of the renting tenure & security deposit is refunded once product is returned in good condition.

      .col-md-6-offset-1
        .col-md-2
          %span.img-responsive.pad.pull-right.why-us-size.why-us-4-sprite
        .col-md-4
          %p.y-u.pad
            %strong
              Live Better
            %br
            Your email & number is not shared until a booking is confirmed. Say yes to peace of mind & no to annoying calls & spam mails.

#list-product.ht-home-header.col-md-12

.container
  .col-md-4.col-md-offset-4.text-center.mbottom40
    %span.header-text MAKE MONEY, WISE
  .col-md-12.pbottom20
    %p.list-p-p
      Cocociti is a smart way to earn money by renting stuff. All you need to do is to click few pics, upload it to Cocociti, and mention your terms! You set the price for your listings, your availability, and booking requirements. You can message users and approve rentals as per your choice.
    %center
      %strong
        %h3.website-color
          LET YOUR THINGS WORK FOR YOU!
      %br
      %br
      = link_to new_product_path, class: "pa" do
        List Your Item

.tag-bg.col-md-12
  .container.hidden-xs
    .row.tag-mar
      - Category.root.each_slice(4) do |slice|
        .col-md-12
          - slice.each do |cat|
            .col-md-3
              %ul.tag-ul
                %li.tag-ul-h
                  %h4.tag-ul-h4= cat.name
                - cat.subs.each do |sub|
                  %li.tag-ul-li= sub.name
