= content_for :header_extra do
  = render "layouts/search_form"

.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Cocociti
          %h3.land-head All Things Rental!
          .row
            .col-md-10.col-md-offset-2
              .form-section
                .row
                  = form_tag search_products_path, method: "get" do |f|
                    .col-md-3
                      .input-group.mbottom0.input-append.date.from_date_time
                        %span#sizing-addon2.input-group-addon.bg-white
                          %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
                        = text_field_tag :start_date_time, params[:start_date_time], placeholder: "Pickup Date & Time", class: "form-control home_start_date bg-white pon", style: "border-radius:0", readonly: true
                    .col-md-3.land-src-mar
                      .input-group.mbottom0.input-append.date.end_date_time
                        %span#sizing-addon2.input-group-addon.bg-white{:style => "border-radius:0;"}
                          %span.glyphicon.glyphicon-calendar{"aria-hidden" => "true"}
                        = text_field_tag :end_date_time, params[:end_date_time], placeholder: "Drop off Date & Time", class: "form-control bg-white pon", style: "border-radius:0", readonly: true
                    .col-md-3.land-src-mar
                      .form-group.mbottom0
                        /= text_field_tag :term, "", placeholder: "Search an Item", class: "form-control", style: "border-radius:0"
                        = select_tag :category, options_from_collection_for_select(Product.distinct_parent_category, :id, :name, params[:category]), prompt: "Select Category", class: "form-control coco-select-box selectpicker home_search_box"
                    .col-md-2.land-src-mar
                      %button.btn.land-src-button{type: "submit"} Search
                .row
                  .col-md-3.col-md-offset-2.help-links.mtop20
                    %a{:href => "#best-deals"} Best Deals
                    %a{:href => "#how-it-works"} How it Works
                  .col-md-3.help-links.mtop20.land-src-mar-help-links
                    %a{:href => "#why-us"} Why us
                    %a{:href => "#list-product"} List Your Item

#best-deals.ht-home-header

.container-fluid.mob-fluid-con
  .col-md-4.col-md-offset-4.text-center
    %span.header-text BEST DEALS
  .container.container-pad.head-mar.mob-con
    .row
      - Product.featured.best_deal.each_slice(4) do |slide|
        .col-md-12.col-sm-12
          - slide.each do |product|
            .col-md-3.col-sm-4
              =# render partial: "best_deals", locals: {product: product}

#how-it-works.ht-home-header

.container.pbottom50
  .col-md-4.col-md-offset-4.text-center
    %span.header-text HOW IT WORKS
  .col-md-12.col-md-offset-1.mtop30
    = image_tag "/assets/images/how_it_works.png", class: "img-responsive text-center"


#why-us.ht-home-header

.container
  .col-md-4.col-md-offset-4.text-center
    %span.header-text WHY US
  .row.yu-mar
    .col-md-12
      .col-md-6-offset-1
        .col-md-2
          %span.img-responsive.pad.pull-right.why-us-size.why-us-1-sprite
        .col-md-4
          %p.y-u.pad
            %strong
              12/7 Support
            %br
            When something goes wrong, just let us know and we’ll make make it right. It’s as simple as that. Cocociti Experience Managers are just a call away; 9 am to 9 pm.

      .col-md-6-offset-1
        .col-md-2
          %span.img-responsive.pad.pull-right.why-us-size.why-us-2-sprite
        .col-md-4
          %p.y-u.pad
            %strong
              Curated listings & Trusted Vendors.
            %br
            Every vendor on Cocociti is handpicked for quality products & exceptional service; be it products or our delivery partners. Individual listings are made available by our expert curators.

    .col-md-12
      .col-md-6-offset-1
        .col-md-2
          %span.img-responsive.pad.pull-right.why-us-size.why-us-3-sprite
        .col-md-4
          %p.y-u.pad
            %strong
              Super Safe payments & Super Fast Refunds
            %br
            All transactions are facilitated through our secure system with payment protection enabled. Your money is kept in an escrow till the end of the renting tenure and security deposit will be credited back to your account after confirmation from product owner.

      .col-md-6-offset-1
        .col-md-2
          %span.img-responsive.pad.pull-right.why-us-size.why-us-4-sprite
        .col-md-4
          %p.y-u.pad
            %strong
              Live Better
            %br
            Your email & number is not shared until a booking is confirmed. Say yes to peace of mind & no to annoying calls & spam mails.

#list-product.ht-home-header

.container
  .col-md-4.col-md-offset-4.text-center
    %span.header-text LIST YOUR ITEM
  .row.lp-mar
    .col-md-12
      %p.list-p-p Cocociti is a smart way to earn money by renting stuff. All you need to do is to click few pics, upload it to Cocociti, and mention your terms! You set the price for your listings, your availability, and booking requirements. You can message users and approve rentals as per your choice.
      %center
        = link_to new_product_path do
          %button.but-mar List Your Item

.tag-bg.tag-container
  .container.hidden-xs
    .row.tag-mar

      - Category.root.each_slice(4) do |slice|
        .col-md-12
          - slice.each do |cat|
            .col-md-3
              %ul.tag-ul
                %li.tag-ul-h
                  %h4.tag-ul-h4= cat.name
                - cat.subs.each do |sub|
                  %li.tag-ul-li= sub.name
