.container-fluid.grey-bg.ptop50.pbottom50
  .container.mtop30
    .col-xs-12.col-sm-12
      .pull-right.padding10
        = link_to toggle_follow_all_interest_path, remote: true, method: :post do
          .btn.btn-primary Select All
    - Tag.featured.each do |tag|
      .col-xs-12.col-sm-3.padding10
        .col-xs-12.col-sm-12.no-mar-pad.bg-white.font17.bg-shad.text-center{style: "height:170px;"}
          = link_to user_toggle_follow_interest_path(tag), remote: true, method: :post, class: "full-width pull-left", style: "margin-top:54px;margin-bottom:35px;" do
            .fa.fa-check-circle.font40.tag-grey-fg.follow-tag-icon{class: "follow-tag-#{tag.id} #{'green-fg' if current_user.is_active_interest?(tag)}"}
          %span.full-width.pull-left.white-fg.padding10.blue-bg= tag.name
    .col-xs-12.col-sm-12
      .pull-right.padding10
        = link_to following_all_path do
          .btn.btn-primary Continue
