.container-fluid.mtop50.bg-shad.pbottom50.padding0.helvetica-font.bg-light-grey{style: "min-height:1000px;"}
  = render partial: "profile", locals: {user: @user}
  .container.padding0
    .col-md-12.mbottom10
      .ol.breadcrumb.no-mar-pad.note-font-size
        = render_breadcrumbs tag: :li, separator: "&nbsp;&nbsp;<span class='glyphicon glyphicon-menu-right extra-small-font'></span>&nbsp;&nbsp;".html_safe
    .collection-strip
      .col-xs-12.col-sm-3.mbottom20
        = link_to myshowpieces_path(@profile.slug), style: "color: #292929" do
          .col-xs-12.col-sm-12.folder-prof.text-center.hvr-float
            Showpieces
      .col-xs-12.col-sm-3.mbottom20
        = link_to mywishes_path(@profile.slug), style: "color: #292929" do
          .col-xs-12.col-sm-12.folder-prof.text-center.hvr-float
            Wishes
      - @user.collections.each do |collection|
        = render partial: "showcases/collection", locals: {collection: collection}
    - if current_user && current_user.same_user?(@user)
      .col-xs-12.col-sm-3.mbottom20
        .col-xs-12.col-sm-12.no-mar-pad{style: "border-radius: 2px;border: 1px solid #5A5A5A;height: 198px"}
          .col-xs-12.col-sm-12.no-mar-pad.text-center.full-height
            .plus-sprite.pon.plus-prof
            %h5.mtop5.pon.grey-fg.plus-prof Add
            = form_tag create_collection_showcases_path, remote: true, class: "form-horizontal create-collect col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 hide-display" do
              .close-sprite.pon.clos-c-collect{style: "left: -10px;opacity: 0.5;"}
              .form-group{style: "margin-top: 35.5px;"}
                %label Name
                = text_field_tag :name, params[:name], class: "form-control grey-bg", required: true, maxlength: 100
              .form-group
                = submit_tag "Create", class: "btn btn-sm"
              .form-group
                .create-collect-err{style: "color: red;"}
