.container-fluid.mtop50{style: "max-width: 1361px;"}
  .col-xs-12.col-sm-12.text-center{style: "height: 160px;background-color: #ffe066;"}
    = cl_image_tag @user.avatar, class: "img-circle mtop20", style: "border: 2px solid #fff;z-index: 1;", width: 140, height: 140, crop: :fill
    %h4.grey-fg= (truncate @user.name, length: 20)
  .col-xs-12.col-sm-12.no-mar-pad.text-center.grey-fg{style: "background-color: #ffe066;"}
    .col-xs-6.col-sm-2.col-sm-offset-2
      %h6.no-mar-pad.weight-bold WISHES
      %h4= @user.showcases.wishes.count
    .col-xs-6.col-sm-2
      %h6.no-mar-pad.weight-bold SHOWPIECES
      %h4= @user.showcases.showpieces.count
    .col-xs-6.col-sm-2
      %h6.no-mar-pad.weight-bold FOLLOWING
      %h4.following-count= @user.following.count
    .col-xs-6.col-sm-2
      %h6.no-mar-pad.weight-bold FOLLOWERS
      %h4.followers-count= @user.followers.count
  .col-xs-12.col-sm-3.mtop20
    .col-xs-12.col-sm-12.mbottom40.grey-bg.no-mar-pad
      %h4.no-mar-pad.padding15.white-fg{style: "background-color: #50514F;border-top-left-radius:4px;border-top-right-radius:4px;"} Following
      - @user.following.limit(8).each do |following|
        .col-xs-3.col-sm-3.no-mar-pad.text-center.ptop10.pbottom10
          = link_to myprofile_path(following.profile.slug) do
            = cl_image_tag following.avatar, class: "", width: 40, height: 40, crop: :fill
    .col-xs-12.col-sm-12.grey-bg.no-mar-pad
      %h4.no-mar-pad.padding15.white-fg{style: "background-color: #50514F;border-top-left-radius:4px;border-top-right-radius:4px;"} Followers
      - @user.followers.limit(8).each do |follower|
        .col-xs-3.col-sm-3.no-mar-pad.text-center.ptop10.pbottom10
          = link_to myprofile_path(follower.profile.slug) do
            = cl_image_tag follower.avatar, class: "", width: 40, height: 40, crop: :fill
  .col-xs-12.col-sm-9.mtop20
    .col-xs-12.col-sm-12.no-mar-pad.showcase-strip
      = render partial: "showcases", locals: {showcases: @showcases}
    #infinite-scrolling-posts.hidden
      = paginate @showcases, param_name: "showcases"
      = hidden_field_tag :prev_showcase, @showcases.current_page - 1

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      if ($('#infinite-scrolling-posts').length) {
        $(window).on('scroll', function() {
          var more_posts_url = $('#infinite-scrolling-posts .pagination .next a').attr('href');
          if (more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - 60) {
            $('#infinite-scrolling-posts .pagination').html('<img src="/assets/images/bx_loader-6d46e2cf165a5a0584afba7bc9663da292ee08c97cfc7613de6013ed05be892a.gif" alt="Loading..." title="Loading..." />');
            $.getScript(more_posts_url+'&prev_showcase_page='+$("#prev_showcase").val()+'&prev_user_page='+$("#prev_user").val());
          }
        });
      }
    });
