.container-fluid.mtop50.bg-shad.pbottom50.padding0.helvetica-font.bg-light-grey{style: "min-height:1000px;"}
  = render partial: "profile", locals: {user: @user}
  .container.padding0
    .col-md-12.mbottom10
      .ol.breadcrumb.no-mar-pad.note-font-size
        = render_breadcrumbs tag: :li, separator: "&nbsp;&nbsp;<span class='glyphicon glyphicon-menu-right extra-small-font'></span>&nbsp;&nbsp;".html_safe
    .collection-strip
      .col-xs-12.col-sm-3.mbottom20
        = link_to myshowpieces_path(@profile.slug), style: "color: #292929" do
          .col-xs-12.col-sm-12.folder-prof.text-center.hvr-float
            %span.scase-name-wrap.white-fg.font-medium
              Showpieces
              .badge.weight500= @user.showcases.showpieces.count
      .col-xs-12.col-sm-3.mbottom20
        = link_to mywishes_path(@profile.slug), style: "color: #292929" do
          .col-xs-12.col-sm-12.folder-prof.text-center.hvr-float
            %span.scase-name-wrap.white-fg.font-medium
              Wishes
              .badge.weight500= @user.showcases.wishes.count
      - @user.collections.each do |collection|
        = render partial: "showcases/collection", locals: {collection: collection}
    - if current_user && current_user.same_user?(@user)
      .col-xs-12.col-sm-3.mbottom20
        = render partial: "showcases/create_collection"
