= content_for :title do
  - title = "Wishes by #{@user.name} (@#{@profile.slug}) | Cocociti"
.container-fluid.ptop50.mob-ptop100.bg-shad.pbottom50.padding0.helvetica-font{style: "background-color: #F7F7F7;"}
  = render partial: "profile", locals: {user: @user}
  .container.padding0
    .col-md-12.mbottom10.no-mar-pad.pleft-10
      .ol.breadcrumb.no-mar-pad.note-font-size
        = render_breadcrumbs tag: :li, separator: "&nbsp;&nbsp;<span class='glyphicon glyphicon-menu-right extra-small-font'></span>&nbsp;&nbsp;".html_safe
        .badge.coll-show-count.weight500= @user.showcases.wishes.count
    .col-xs-12.col-sm-12.no-mar-pad
      .col-xs-12.col-sm-12.no-mar-pad.showcase-strip
        - if @showcases.present?
          = render partial: "showcase_cards", locals: {showcases: @showcases}
        - else
          - if current_user && current_user.same_user?(@user)
            %h3.text-center.padding20 “Sometimes things become possible if we want them bad enough.” - T.S. Eliot
            .col-xs-12.col-md-12.text-center
              = link_to "Wish", "#showcase-modal", data: {toggle: "modal", dismiss: "modal"}, class: "btn black80-bg white-fg", style: "padding: 7px 12px;;border: 1px solid #ccc;border-radius:18px;"
          - else
            %h3.text-center.padding20{style: "height:300px;"} “Ayyo...Wishlist is empty!”
      #infinite-scrolling-content.hidden
        = paginate @showcases, param_name: "showcases"
      .col-xs-12.col-sm-12.text-center.feed-loader.padding40{style: "display:none;"}
        %i.fa.fa-circle-o-notch.fa-spin.font21
        Please wait...
