= content_for :title do
  -title = "Invite Friends - Cocociti"
.container-fluid.bg-light-grey.ptop50.mob-ptop100.pbottom50.helvetica-font.padding0
  .container.mtop10.padding0
    #google_client_id{"data-client-id" => "#{GLOBAL_VARIABLES[:google_client_id]}"}
    #google_api_key{"data-api-key" => "#{GLOBAL_VARIABLES[:google_api_key]}"}
    .row
      .col-xs-12.col-sm-12.no-mar-pad
        .panel.panel-default#profile_form
          .panel-heading
            %h4.mtop-v-5.pleft-10
              Send Invitations
          .panel-body
            .col-xs-12.col-sm-12
              ~ form_tag send_email_invitations_path, class: "form-horizontal" do
                - if params[:invite_friends] == "invite"
                  = hidden_field_tag :intro, "yes"
                %fieldset.mtop10
                  .col-xs-12.col-sm-6.mbottom10.text-center
                    %span.inline-block.padding5{style: "border: 1px solid #337ab7;"}
                      %span.pull-left.mright5.grey-fg{style: "margin-top: 7px;"} Your Referral Code:
                      %span.pull-left.font25{style: "color: #337ab7;"}= current_user.invite_code
                  .col-xs-12.col-sm-6.mbottom10
                    %ul
                      %li.font20 You get 2 rupees for each verified friend you referred.
                      %li If you add multiple email addresses, separate them with a comma.
                      %li Your invite code will be automatically send with the email, no need to type it again.
                  .form-group
                    %label.col-sm-2.control-label Email Ids
                    .col-sm-10.no-mar-pad= text_area_tag :emails, "", rows: "2", placeholder: "Enter the emails ids here", class: "form-control textarea bg-light-grey import-emails"
                  .form-group
                    .col-xs-12.col-sm-10.col-sm-offset-2.padding0
                      #shareRoundIcons.pull-left
                      .btn.btn-primary.google-contacts-import.mtop10.mleft10
                        .glyphicon.glyphicon-envelope
                        &nbsp;Import Your Gmail Contacts
                      .status-invite.inline-block
                  .form-group
                    %label.col-sm-2.control-label Personal Messages
                    .col-sm-10.no-mar-pad= text_area_tag :message, "Hey, found this website super interesting. It allows us to share our wishes, achievements and showcase things we own to our friends along with discovering people with similar interests. Sign up & don't forget to follow me there. :)", rows: "5", placeholder: "Invite message for your friends.", class: "form-control textarea bg-light-grey"
                  .form-group
                    .col-xs-12.col-sm-12.text-center
                      = submit_tag "Send Invite", class: "btn save-button mtop10 white-fg"
                  - if params[:invite_friends] == "invite"
                    .form-group
                      .col-xs-12.col-sm-12.no-mar-pad.text-right.text-center-mob
                        .padding10.pbottom0
                          = link_to root_path(welcome: "tour") do
                            Skip to Feed
= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      //Share buttons using jssocial
      obj = {"longUrl" : "https://www.cocociti.com?invited_code=#{current_user.invite_code}"}
      $.ajax({url: "https://content.googleapis.com/urlshortener/v1/url?key=AIzaSyBKouCyRuExAspdTSgCjQ1825AbI_8Fank&alt=json", type: 'POST', contentType: "application/json", data: JSON.stringify(obj), success: function(data){
        $("#shareRoundIcons").jsSocials({
          url: data["id"],
          text: "Sign up here to earn free money to fulfill your wishes. I just did.",
          showLabel: false,
          showCount: false,
          shares: ["twitter", "facebook", "googleplus", "linkedin", "pinterest", "whatsapp"]
        });
      }});
    });
