= content_for :title do
  -title = "Invite Friends - Cocociti"
.container-fluid.aboutpad
  .container.container-pad
    .container
      .row
        .col-md-12
          %p Add the email addresses of the people you are inviting to the field below. If you add multiple email addresses, separate them with comma.
          ~ form_tag send_email_invitations_path, class: "form-horizontal" do
            %fieldset
              .form-group
                %label.col-sm-2.control-label Emails
                .col-sm-10= text_area_tag :emails, "", rows: "3", placeholder: "Emails", class: "form-control textarea"
              .form-group
                %label.col-sm-2.control-label Personal Messages
                .col-sm-10= text_area_tag :message, "", rows: "5", placeholder: "Personal Messages", class: "form-control textarea"
              .form-group
                .col-xs-12.col-sm-12.text-center
                  = submit_tag "Send Invite", class: "btn btn-info save-button"
              - if params[:invite_friends] == "invite"
                .form-group
                  .col-xs-12.col-sm-12
                    .pull-right.padding10
                      = link_to root_path do
                        .btn.btn-primary Skip to Feed
