.modal.profile-modal.fade{id: "cocotransfers-#{showcase.id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => true }x
        %h2 Contributions
      .modal-body
        %span.pbottom5.border-bt-side-dark.full-width.pull-left.font20 #{showcase.no_of_contributers} #{showcase.no_of_contributers > 1 ? 'Contributers' : 'Contributer'}
        - showcase.cocotransfers.complete.order(created_at: :desc).each do |cocotransfer|
          - donor = cocotransfer.fullfillment_contributer
          .col-xs-12.col-sm-12.padding10.mtop10.bg-light-grey
            .media-left
              -if donor && donor.avatar
                = link_to myprofile_path(donor.profile.slug) do
                  = cl_image_tag donor.avatar, class: "img-circle media-object", width: 30, height: 30, crop: :fill, gravity: :face
              -else
                %span.img-circle.grey-bg.text-center{style: "height: 30px;"}
                  A
            .media-body.media-middle
              - if cocotransfer.is_anonymous?
                %span.cc-dark-fg= cocotransfer.display_donor_name
              - else
                = link_to myprofile_path(donor.profile.slug) do
                  %span.cc-dark-fg= cocotransfer.display_donor_name
              contributed Rs.#{cocotransfer.amount}
      .clearfix
      .modal-footer
        = link_to "Close", "javascript:;", class: "btn btn-danger pull right", data: {dismiss: "modal"}
