.col-xs-12.col-sm-3.mbottom20.collection-wrapper{class: "collection-#{collection.id}"}
  .col-xs-12.col-sm-12.folder-prof.text-center.hvr-float.pon
    - if collection.user == current_user
      = link_to delete_collection_showcase_path(collection), remote: true, method: :delete, data: { confirm: "Are you sure you want to delete #{collection.name}?" }, style: "z-index: 1;" do
        .close-sprite.hide-display
    = link_to view_collection_path(collection.user.profile.slug, showcase: collection.id), style: "color: #292929", class: "inline-block full-width full-height" do
      = collection.name
      .badge.font17= collection.showcases.count
