.col-xs-12.col-sm-12.padding0
  %span.pbottom5.border-bt-side-dark.full-width.pull-left.font20 #{showcase.no_of_contributers} #{showcase.no_of_contributers > 1 ? 'Contributers' : 'Contributer'}
  - showcase.cocotransfers.complete.order(created_at: :desc).limit(10).each do |cocotransfer|
    - donor = cocotransfer.fullfillment_contributer
    .col-xs-12.col-sm-12.padding10.mtop10.bg-light-grey
      .media-left
        -if donor && donor.avatar
          = link_to myprofile_path(donor.profile.slug) do
            = cl_image_tag donor.avatar, class: "img-circle media-object", width: 30, height: 30, crop: :fill, gravity: :face
        -else
          %span.img-circle.grey-bg.text-center{style: "height: 30px;"}
            A
      .media-body.media-middle
        - if cocotransfer.is_anonymous?
          %span.cc-dark-fg= cocotransfer.display_donor_name
        - else
          = link_to myprofile_path(donor.profile.slug) do
            %span.cc-dark-fg= cocotransfer.display_donor_name
        contributed Rs.#{cocotransfer.amount}
  - if showcase.cocotransfers.complete.count > 10
    .col-xs-12.col-sm-12.mtop10
      = link_to "Show All", "#cocotransfers-#{showcase.id}", data: {toggle: "modal"}
      = render partial: "showcases/raise_funds/contributers", locals: {showcase: showcase}
