= form_for showcase, :url => toggle_achieve_wish_showcase_path(showcase), :method => :post, remote: true, html: { class: "fullfill-showcase", id: "mark-as-fullied-form" , "data-model": "showcase"} do |f|
  .col-xs-12.col-sm-12.padding5.bg-white.border2.fs-sub-wrap-2.fs-box-shadow
    .col-xs-7.col-sm-7.no-mar-pad
      .col-xs-12.col-sm-12.padding5{:style => "height: 166px;"}
        = f.text_area :achieved_description, placeholder: "Tell the story of fullfillment of this wish?", class: "form-control coco-input-field pleft5", maxlength: 2500, rows: 1, style: "height: 156px;"
    .col-xs-5.col-sm-5.no-mar-pad
      .col-xs-12.col-sm-12.padding5.fs-photo-wrapper{:style => "height: 122px;"}
        .col-xs-12.col-sm-12.text-center.photo-upload-wrapper
          .preview{"data-height" => "150"}
            - if showcase.fullfilled_image.present?
              = cl_image_tag showcase.fullfilled_image, class: "img-responsive inline-display", height: 480, crop: :fill, gravity: :face, alt: showcase.title
          %div
          = showcase.fullfilled_image.blank? ? 'hide-display' : 'block-display'
          preview-delete pon"&gt;x
        .col-xs-12.col-sm-12.no-mar-pad
          .glyphicon.glyphicon-camera.file-input-button.cc-dark-fg.padding15.img-circle.mtop25{:style => "font-size: 40px;border: 1px dashed;"}
            = cl_image_upload_tag(:fullfilled_image, html: { class: cloudinary-fileupload-new })
        .col-xs-12.col-sm-12.no-mar-pad
          .progress.progress-striped.hide-display.mbottom0.mtop5{:style => "height: 6px;width:100%;"}
            .progress-bar{:style => "width: 0%;"}
    .col-xs-12.col-sm-12.padding5.pright5.fs-date-wrapper.height50
      = f.text_field :date_of_achievement, placeholder: When, class: form-control coco-input-field pleft5 date-of-achievement bg-white
  .col-xs-12.col-sm-12.padding5.no-mar-pad
  .col-xs-12.col-sm-12.padding5.text-right.fs-btn-wrapper.no-mar-pad
    %span.pull-right
      = f.hidden_field :after_rating
      %span#star_rating.star_rating{"data-rateyo-rating" => ""}
      = showcase.get_rating
      " data-input-field="#showcase_after_rating" data-display-rating=".ratingvalue"&gt;
    %span.mright20{:style => "margin-right: 20px"}
      Rating:
      %span.ratingvalue 4
    = succeed "\">" do
      %span
    .white-fg.no-mar-pad.loader-out-showcase-fullfill-button
      = f.submit Mark as fullfilled, class: loader-button loader-in-showcase-fullfill-button showcase-fullfillment-submit
      .loader-effect.loader-in-showcase-fullfill-button.text-center{:style => "display:none;padding-top: 4px;"}
        .ball-clip-rotate
          %div
