- user = showcase.user
.col-xs-12.col-sm-12.bg-light-grey.padding10.border-bt-side.grey-fg
  ORGANIZER
.col-xs-12.col-sm-12.bg-light-grey.padding5
  .col-xs-6.col-sm-6.padding5.border-rt-side.black80-fg
    %span.full-width.pull-left.weight500.font-medium{title: "#{user.name}", "data-toggle" => "tooltip", "data-placement" => "auto"}
      = (truncate user.name, length: 20)
    %span.full-width.pull-left.font11
      (@#{user.profile.slug})
  - if current_user && current_user != user
    .col-xs-6.col-sm-6.padding5.text-center{class: "follow-set-#{user.id}"}
      = link_to user_toggle_follow_path(user), remote: true, method: :post, class: "inline-block mtop5" do
        .btn.no-mar-pad.loader-out-follow-button.follow-button{class: "#{current_user.following?(user) ? 'green-border' : 'cc-dark-fg-border'}", style: "line-height: 0px;"}
          %button{class: "btn loader-button loader-in-follow-button padding0 bg-light-grey font-medium #{current_user.following?(user) ? 'green-fg' : 'cc-dark-fg'}"}
            - if current_user.following?(user)
              Following
              %i.fa.fa-check
            - else
              Follow
              %i.fa.fa-plus-circle
          .loader-effect.btn.loader-in-follow-button.ptop1{style: "display:none;"}
            .loading_dots
              %span
              %span
              %span
- if showcase.beneficiary.present?
  .col-xs-12.col-sm-12.bg-light-grey.padding10.mtop10
    %span.full-width.pull-left.weight500.font-medium
      Beneficiary: 
      = showcase.beneficiary
