- user = showcase.user
.col-xs-12.col-sm-12.col-md-6.inline-block
  = link_to myprofile_path(user.profile.slug) do
    = cl_image_tag user.avatar, class: "img-circle", width: 100, height: 100, crop: :fill, gravity: :face, style: "border: 4px solid #732db0;"
  .padding5
    %span.full-width.pull-left.weight500.font17.black-fg{title: "#{user.name}", "data-toggle" => "tooltip", "data-placement" => "auto"}
      = (truncate user.name, length: 20)
    %span.full-width.pull-left.grey-fg.font11
      @#{user.profile.slug}
.col-xs-12.col-sm-12.col-md-6.no-mar-pad.mtop5{class: "follow-set-#{user.id}"}
  - if current_user && current_user != user
    = link_to user_toggle_follow_path(user), remote: true, method: :post, class: "inline-block" do
      .btn.no-mar-pad.loader-out-follow-button.follow-button{class: "#{current_user.following?(user) ? 'green-border' : 'cc-dark-fg-border'}", style: "line-height: 0px;"}
        %button{class: "btn loader-button loader-in-follow-button padding0 bg-white font-medium #{current_user.following?(user) ? 'green-fg' : 'cc-dark-fg'}"}
          - if current_user.following?(user)
            Following
            %i.fa.fa-check
          - else
            Follow
            %i.fa.fa-plus-circle
        .loader-effect.btn.loader-in-follow-button.ptop1{style: "display:none;"}
          .loading_dots
            %span
            %span
            %span
  .col-xs-6.col-sm-6.padding5.text-right{title: "Following", "data-toggle" => "tooltip", "data-placement" => "auto"}
    = link_to following_path(user.profile.slug), class: "grey-fg" do
      .following-sprite
      %span.pull-right.no-mar-pad.font-medium.weight600.following-count{style: "line-height: 30px;"}= user.following.count
  .col-xs-6.col-sm-6.padding5.text-left{title: "Followers", "data-toggle" => "tooltip", "data-placement" => "auto"}
    = link_to followers_path(user.profile.slug), class: "grey-fg" do
      %span.pull-left.no-mar-pad.font-medium.weight600.followers-count.inline-display{style: "line-height: 30px;"}= user.followers.count
      .followers-sprite
