= form_for @showcase, html: { class: "create-showcase" } do |f|
  .col-xs-12.col-sm-12.no-mar-pad.mbottom10.text-center.photo-edit-wrapper.hidden-overflow.ps-edit-wrapper{style: "max-height:480px;min-height: 150px;height: auto;", "data-pdate" => "#{@showcase.created_at.to_date}", "data-fdate" => "#{@showcase.created_at.to_date + 8.days}"}
    .preview-edit
      - if @showcase.image.present?
        = cl_image_tag @showcase.image, class: "img-responsive inline-display", height: 480, crop: :fill, gravity: :face, alt: @showcase.title
    .preview-delete-edit.bg-white.pon.pos-absolute.font16{class: "#{@showcase.image.blank? ? 'hide-display' : 'block-display'}"} x
    .col-xs-12.col-sm-12.no-mar-pad
      .glyphicon.glyphicon-camera.file-input-button-edit.mtop20.padding20.cc-dark-fg.dotted-border{style: "font-size: 65px;display: #{@showcase.image.present? ? 'none': 'inline-block'};"}
        = cl_image_upload_tag(:image, html: { class: "cloudinary-fileupload-edit file-upload-trigger" })
    .col-xs-12.col-sm-12.no-mar-pad
      .progress.progress-striped.progress-edit.mbottom0{style: "display: none;height: 6px;width:107px;"}
        .progress-bar.progress-bar-edit{style: "width: 0%;"}
  .col-xs-12.col-sm-12.text-center.j-ps-holder.height89
    .col-xs-12.col-sm-12.ptop5.height50
      %span.type-holder.pon.pos-absolute{style: "left: 5px;top: 5px;font-size: 11px;"}
    .col-xs-12.col-sm-12.no-mar-pad{style: "border-bottom: 2px solid #732db0;"}
      .prefix-holder.pon.pull-left{style: "height: 34px;padding: 6px 0px;font-size: 14px;line-height: 1.42857143;display: inline-block;#{@showcase.custom_wish_type?}"}
        - if !@showcase.custom_wish_type? && @showcase.wish_prefix.present?
          %span.cc-dark-fg-dotted-border.mleft5
            - if @showcase.showpiece?
              = Showcase::WISH_PREFIX.sort {|a,b| a[1] <=> b[1]}[@showcase.wish_prefix][3]
            - else
              = Showcase::WISH_PREFIX.sort {|a,b| a[1] <=> b[1]}[@showcase.wish_prefix][4]
            &nbsp;
            %i.fa.fa-angle-down.font16
        - else
          %span.cc-dark-fg-dotted-border.mleft5
            = Showcase::WISH_PREFIX[18][3]
            &nbsp;
            %i.fa.fa-angle-down.font16
      = text_field_tag :initial, "#{@showcase.title}", placeholder: "What's your wish?", class: "coco-input-field form-control inline-display pull-left ps-initial", style: "width: auto;border-bottom: none;"
    .dropdown.type-holder-dropdown
      .dropdown-menu.full-width.pos-relative
        - Showcase::DISPLAY_SHOWCASE_TYPE.each do |showcase_type|
          %li
            %a.pon{"data-id" => "#{showcase_type[1]}", "data-text" => "#{showcase_type[2]}"}
              = showcase_type[0]
    .dropdown.prefix-holder-dropdown
      .dropdown-menu.prefix-scrollbar.full-width.pos-relative
        - Showcase::WISH_PREFIX.each do |wish_prefix|
          %li
            %a.pon{"data-id" => "#{wish_prefix[1]}", "data-ptext" => "#{wish_prefix[3]}", "data-ftext" => "#{wish_prefix[4]}", "data-pplaceholder" => "#{wish_prefix[5]}", "data-fplaceholder" => "#{wish_prefix[6]}"}
              = wish_prefix[0]
              %span.grey-fg.font13.mob-font12.weight500
                &nbsp;
                %em= wish_prefix[2]
    .hide-display
      = f.text_field :showcase_type
      = f.text_field :wish_prefix
      = f.text_field :title
  .col-xs-12.col-sm-12.text-center.ptop10
    ~ f.text_area :description, placeholder: "Tell the story behind this wish?", class: "form-control coco-input-field", maxlength: 2500
  .col-xs-12.col-sm-12.ptop20.pbottom10
    = f.text_field :all_tags, placeholder: "Tags (Use enter, comma or tab to separate)", class: "tm-edit-input form-control tm-input-inverse tm-input-typeahead coco-input-field"
  .col-xs-12.col-sm-7.ptop10.height50
    = f.fields_for :location do |lf|
      = lf.text_field :name, placeholder: "Where", class: "form-control coco-input-field pac-input", maxlength: 100
  - unless @showcase.achieved? && (!@showcase.showpiece?)
    .col-xs-12.col-sm-5.ptop10.height50
      = f.text_field :target_date, value: "#{@showcase.changed_date}", placeholder: "When", class: "form-control coco-input-field dt-of-achievement bg-white more-target-date #{showcase.is_for_raising_fund? ? 'hidden' : ''}", readonly: true

  .col-xs-12.col-sm-12.ptop10
    .col-xs-6.col-sm-6.ptop10.height50
      Enable Wishpay Payment:
      - if showcase.show_wishpay_edit_fields?
        = f.check_box :wishpay_status, checked: showcase.is_wishpay?
      - else
        = f.check_box :wishpay_status, checked: showcase.is_wishpay?, disabled: "disabled", backend_disabled: true
    - if current_user.crowdfunding_wishes_enabled? && current_user.mobile_verified?
      .col-xs-6.col-sm-6.ptop10.height50
        Enable Crowdfunding:
        - if showcase.accept_fund_is_editable?
          = f.check_box :accept_fund
        - else
          = f.check_box :accept_fund, disabled: "disabled", backend_disbaled: true
      .col-xs-12.col-sm-12.raise-funds-fields{class: "#{showcase.is_for_raising_fund? ? '' : 'hidden'}"}
        .col-xs-12.col-sm-6.pleft0.height50
          = f.text_field :goal_amount, placeholder: "Goal Amount*", class: "form-control coco-input-field", maxlength: 7
        .col-xs-12.col-sm-6.pright0.height50
          = f.text_field :target_date, value: "#{@showcase.changed_date}", placeholder: "Goal Date*", class: "form-control coco-input-field dt-of-achievement bg-white goal-target-date", readonly: true
        .col-xs-12.col-sm-12.pleft0.pright0.ptop10
          .col-xs-4.col-sm-3.pleft0
            %label{for: "showcase_fundcategory_id"} Category
          .col-xs-8.col-sm-9.padding0
            = f.select :fundcategory_id, Fundcategory.all.map{|m| [m.name, m.id]}, {include_blank: 'Select category*'}, class: "form-control coco-select-box", style: "border-radius: 0px !important;"
        .col-xs-12.col-sm-12.pleft0.pright0.ptop10
          .col-xs-4.col-sm-3.pleft0.ptop10
            %label Raising for:&nbsp;
          .col-xs-8.col-sm-4.pleft0.pright10.ptop10
            = f.collection_radio_buttons :raising_for, Showcase::RAISING_FOR, :first, :last do |b|
              = b.radio_button(class: "pull-left", style: "margin-left: 6px;") + b.label(class: "pull-left mbottom0 mleft5")
          .col-xs-8.col-xs-offset-4.col-sm-offset-0.col-sm-5.pleft0.pright0
            = f.text_field :beneficiary, class: "form-control coco-input-field #{showcase.is_raising_for_others? ? '' : 'hidden'}", placeholder: "Beneficiary name*"
        .col-xs-12.col-sm-12.height50.padding0.ptop10
          = f.text_field :video_link, placeholder: "Video Link", class: "form-control coco-input-field", maxlength: 200
  .col-xs-12.col-sm-12.ptop10.height50.wishpay-fields{class: "#{showcase.is_wishpay? ? '' : 'hidden'}"}
    .col-xs-12.col-sm-6.pleft0.height50
      = f.text_field :projected_amount, placeholder: "Projected Amount*", class: "form-control coco-input-field", maxlength: 7
  .col-xs-12.col-sm-12.mtop20.text-center
    = f.submit "Update", class: "btn cc-dark-bg white-fg weight-bold j-loader-trigger-link showcase-update-submit"
