- if @showcase.coins_any?
  $(".badge-coin-link-#{@showcase.id}").next(".badge").show();
- else
  $(".badge-coin-link-#{@showcase.id}").next(".badge").hide();
$(".badge-coin-link-#{@showcase.id}").next(".badge").text("#{@showcase.active_coins.count}")
$(".badge-coin-link-#{@showcase.id}").next(".badge").attr("title", "#{@showcase.coined_users}")
- if @showcase.coined?(current_user)
  $(".coin-link-#{@showcase.id}").html("<div class='coin-sprite-o-full pos-relative flipped-horz'></div>");
  $(".coin-link-#{@showcase.id}").find(".coin-sprite-o-less").removeClass("coin-sprite-o-less").addClass("coin-sprite-o-full");
  $(".messages").html("#{j render partial: 'layouts/messages'}")
/
  - if @showcase.coined?(current_user)
    $(".coin-link-#{@showcase.id}").find(".coin-sprite-o-less").removeClass("coin-sprite-o-less").addClass("coin-sprite-o-full");
  - else
    $(".coin-link-#{@showcase.id}").find(".coin-sprite-o-full").removeClass("coin-sprite-o-full").addClass("coin-sprite-o-less");
