$(".comment-spinner-#{@showcase.id}").addClass("hide-display");
$(".messages").html("#{j(render 'layouts/messages')}")
- if @comment.errors.blank?
  - if @showcase.comments_any?
    $(".comment-link-#{@showcase.id}").next(".badge").show();
  - else
    $(".comment-link-#{@showcase.id}").next(".badge").hide();
  $(".comment-link-#{@showcase.id}").next(".badge").text("#{@showcase.comments.count}")
  $(".comment-link-#{@showcase.id}").next(".badge").attr("title", "#{@showcase.commented_users_names}")
  $(".user-comments-#{@showcase.id}").append("#{j render partial: "comment", locals: {comment: @comment}}");
  $("#comment-description-#{@showcase.id}").val("");
