$(".loader-button").show();
$(".loader-effect").hide();
$(".messages").html("#{j(render 'layouts/messages')}")
- if @showcase.errors.blank?
  $("#showcase-modal .modal-dialog").html("#{j render partial: 'showcases/wish_success', locals: {showcase: @showcase}}");
  var new_showcase = $("#{j render partial: 'home/showcases', locals: {showcases: Array(@showcase)}}").hide();
  $(".showcase-strip").prepend(new_showcase);
  $(".showcase-ps-#{@showcase.id}").fadeIn("slow");
  $("#new-wish").html("#{j render partial: 'home/post_showcase', locals: {showcase: @scase}}")
  $("#shareShowcaseRoundIcons").jsSocials({url: "https://www.cocociti.com/showcases/#{@showcase.id}",showLabel: false,showCount: false,shares: ["twitter", "facebook", "pinterest", "whatsapp"]});
  var tags = new Bloodhound({datumTokenizer: function(datum) {return Bloodhound.tokenizers.whitespace(datum.value);},queryTokenizer: Bloodhound.tokenizers.whitespace,remote: {wildcard: '%QUERY',url: '/showcases/gettags?q=%QUERY',transform: function(response) {return $.map(response, function(tags) {return {value: tags};});}}});
  blank_array = []
  var tagApi = $(".tm-input").tagsManager({hiddenTagListName: "showcase[all_tags]",maxTags: 15,prefilled: blank_array});
  $(".tm-input").typeahead(null, {display: 'value',source: tags,}).on('typeahead:selected', function (e, d) {tagApi.tagsManager("pushTag", d.value);$('.tm-input').typeahead('val', "");});
  tagApi.tagsManager("empty");
  $(".prefix-scrollbar").mCustomScrollbar({setHeight: 298});
