.container-fluid.ptop50.bg-light-grey.padding0
  .container.padding0.ptop20.pbottom70.helvetica-font
    .col-xs-12.col-sm-6.col-sm-offset-3.light-border.bg-white.bg-shad.padding0.pbottom20
      = form_for @showcase do |f|
        .col-xs-12.col-sm-12.no-mar-pad.mbottom10.text-center{style: "overflow: hidden;max-height:480px;height: auto;"}
          .preview-edit
            = cl_image_tag @showcase.image, class: "img-responsive inline-display", height: 480, crop: :fill, gravity: :face, alt: @showcase.title
          .glyphicon.glyphicon-remove.preview-delete-edit.bg-white.pon{style: "position: absolute;z-index: 1;top:0;right:0"}
          .col-xs-12.col-sm-12.no-mar-pad
            .glyphicon.glyphicon-camera.file-input-button-edit.mtop20{style: "display:none;font-size: 65px;color: #E0E0E0;padding: 20px;border: 1px dashed;"}
              = cl_image_upload_tag(:image, html: { class: "cloudinary-fileupload-edit" })
          .col-xs-12.col-sm-12.no-mar-pad
            .progress.progress-striped.progress-edit.mtop5.mbottom0{style: "display: none;height: 10px;width:107px;"}
              .progress-bar.progress-bar-edit{style: "width: 0%;"}
        .col-xs-12.col-sm-12
          %span.font11 Type some tags in the input field, and separate them with enter, comma, or tab
          %br
          = f.text_field :all_tags, placeholder: "Tags separated with enter, comma, or tab", class: "tm-edit-input form-control tm-input-inverse tm-input-typeahead"
        .col-xs-12.col-sm-12.text-center.ptop10
          = f.text_field :title, placeholder: "Title", class: "form-control coco-input-field hvr-underline-from-left title-gnrl", required: true, maxlength: 100
        .col-xs-12.col-sm-12.text-center.ptop10
          = f.text_area :description, placeholder: "Description", class: "form-control coco-input-field hvr-underline-from-left des-gnrl", maxlength: 1000
        .col-xs-4.col-sm-3.ptop10
          = f.text_field :year, placeholder: "Year", class: "form-control coco-input-field hvr-underline-from-left year-edit", maxlength: 4, style: "display: #{@showcase.wishlist? ? 'none' : 'block'}"
        .col-xs-8.col-sm-6.ptop10
          = f.fields_for :location do |lf|
            = lf.text_field :name, placeholder: "Location", class: "form-control coco-input-field hvr-underline-from-left pac-input loc-edit", maxlength: 100, style: "display: #{@showcase.wishlist? ? 'none' : 'block'}"
        .col-xs-12.col-sm-3.mtop10{style: "color: #9A9A9A;"}
          %span.no-mar-pad.col-xs-12.col-sm-12
            = f.radio_button :showcase_type, "#{Showcase::SHOWCASE_VALUES[0]}", required: true, class: "ps-edit-showpiece"
            %label.mbottom0 Show
          %span.no-mar-pad.col-xs-12.col-sm-12
            = f.radio_button :showcase_type, "#{Showcase::SHOWCASE_VALUES[1]}", required: true, class: "ps-edit-wish"
            %label.mbottom0 Wish
        .col-xs-12.col-sm-12.mtop10.text-center.showcase-btn-wrapper
          = f.submit "#{@showcase.wishlist? ? 'Wishlist' : 'Showcase'}", class: "btn btn-primary btn-shadow btn-social weight-bold showcase-edit-submit"

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      var places_input_1= $('.pac-input')[1];
      google.maps.event.addDomListener(window, 'load', function () {
          var autocomplete = new google.maps.places.Autocomplete(places_input_1);
          google.maps.event.addDomListener(places_input_1, 'keydown', function(e) {
            if (e.keyCode == 13 && $('.pac-container:visible').length) {
              e.preventDefault();
            }
          });
      });
    })
