.container-fluid.ptop50.mob-ptop100.bg-light-grey.padding0
  .container.padding0.ptop20.pbottom70.helvetica-font
    .col-xs-12.col-sm-6.col-sm-offset-3.light-border.bg-white.bg-shad.padding0.pbottom20
      = form_for @showcase, html: { class: "create-showcase" } do |f|
        - if @showcase.achieved? && ((!@showcase.showpiece?) || (@showcase.backstory_possible?))
          #showcaseFormTab.ptop10
            %ul.nav.nav-tabs.nav-justified
              -if @showcase.achieved? && (!@showcase.showpiece?)
                %li.active
                  %a{"data-toggle" => "tab", :href => "#normal_#{@showcase.id}"} Before
                %li
                  %a{"data-toggle" => "tab", :href => "#after_#{@showcase.id}"} After
              -elsif @showcase.backstory_possible?
                %li.active
                  %a{"data-toggle" => "tab", :href => "#normal_#{@showcase.id}"} Before
                %li
                  %a{"data-toggle" => "tab", :href => "#backstory_#{@showcase.id}"} Backstory
              -else
                %li.active
                  %a{"data-toggle" => "tab", :href => "#normal_#{@showcase.id}"} Before
            .tab-content.padding10
              .tab-pane.fade.in.active{:id => "normal_#{@showcase.id}"}
                = render partial: "showcases/showcase_form_fields", locals: {f: f, showcase: @showcase}
              .tab-pane.fade.text-justify{:id => "after_#{@showcase.id}"}
                = render partial: "showcases/after_fullfill_form_fields", locals: {f: f, showcase: @showcase}
              .tab-pane.fade.text-justify{:id => "backstory_#{@showcase.id}"}
                = render partial: "showcases/backstory_form_fields", locals: {f: f, showcase: @showcase}
        -else
          = render partial: "showcases/showcase_form_fields", locals: {f: f, showcase: @showcase}
        .col-xs-12.col-sm-12.mtop25.text-center
          = f.submit "Wish", class: "btn cc-dark-bg white-fg weight-bold showcase-submit"

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $wrap = $("#edit_showcase_"+#{@showcase.id});
      $wrap.find(".type-holder").html("#{@showcase.showcase_type_label.html_safe}");
      date_options = {format: 'dd-mm-yyyy', autoclose: true, minView: 2, pickerPosition: "bottom-right", startDate: "", endDate: "" };
      if($wrap.find("#showcase_showcase_type").val() == 0){
        date_options["endDate"] = new Date($(".ps-wrapper").data("pdate"));
        $wrap.find(".dt-of-achievement").datetimepicker(date_options);
      }
      else if($wrap.find("#showcase_showcase_type").val() == 1){
        date_options["startDate"] = new Date($(".ps-wrapper").data("fdate"));
        $wrap.find(".dt-of-achievement").datetimepicker(date_options);
      }
      $editwrap =   $("#edit_showcase_"+#{@showcase.id})
      $editwrap.find(".ps-initial").animate({"width": $editwrap.find(".j-ps-holder").width() - $editwrap.find(".prefix-holder").width() - 5}, 200);
      var places_input_1= $('.pac-input')[1];
      google.maps.event.addDomListener(window, 'load', function () {
              var autocomplete = new google.maps.places.Autocomplete(places_input_1);
              google.maps.event.addDomListener(places_input_1, 'keydown', function(e) {
                if (e.keyCode == 13 && $('.pac-container:visible').length) {
                  e.preventDefault();
                }
              });
          });
      reatch_cloundinary('.cloudinary-fileupload-fullfill');
    })
