#cont-wrapper.modal.fade.padding0
.messages
.container-fluid.ptop50.pattern-bg.padding0
  .container.ptop40.helvetica-font.padding0
    .col-xs-12.col-sm-8.col-sm-offset-2.padding0
      = render partial: "home/showcases", locals: {showcases: Array(@showcase), feed: "no"}
= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      var c_wrap = "#{params[:q].blank? ? '': params[:q]}";
      if( c_wrap != ""){
        $('html, body').animate({
            scrollTop: $("#media-comment-#{params[:q]}").offset().top - 55
            }, 500);
        var x = 0;
        var intervalID = setInterval(function () {
          $("#media-comment-#{params[:q]}").toggleClass("btn-social white-fg");
          if (++x === 6) {
            window.clearInterval(intervalID);
          }
        }, 1000);
      }
    })
