= content_for :meta_content do
  - meta_content = @showcase.description
= content_for :title do
  - title = @showcase.title
#cont-wrapper.modal.fade.padding0
.messages
.container-fluid.ptop50.bg-light-grey.padding0
  .container.ptop40.helvetica-font.padding0
    - unless current_user
      .col-xs-12.col-sm-3.pull-right.white-fg.text-center.mbottom40.pright0.padding-mob0
        .col-xs-12.col-sm-12.no-mar-pad.tt-blue-bg
          %h3 New to Cocociti?
          %h5.mbottom20.mtop20 Discover people, showcases and wishlists around the world
          .col-xs-12.col-sm-12
            = link_to "Sign Up", authenticate_path(tab: "signup"), class: "btn bg-white full-width tt-blue-fg mtop20 mbottom20"
    .col-xs-12.col-sm-6.col-sm-offset-3.padding0
      = render partial: "home/showcases", locals: {showcases: Array(@showcase), feed: "no"}
= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      var c_wrap = "#{params[:q].blank? ? '': params[:q]}";
      if( c_wrap != ""){
        $('html, body').animate({
            scrollTop: $("#media-comment-#{params[:q]}").offset().top - 55
            }, 500);
        var x = 0;
        var intervalID = setInterval(function () {
          $("#media-comment-#{params[:q]}").toggleClass("bg-light-grey");
          if (++x === 6) {
            window.clearInterval(intervalID);
          }
        }, 1000);
      }
    })
