- if @showcase.wows_any?
  $(".wow-link-#{@showcase.id}").next(".badge").show();
- else
  $(".wow-link-#{@showcase.id}").next(".badge").hide();
$(".wow-link-#{@showcase.id}").next(".badge").text("#{@showcase.active_wows.count}")
$(".wow-link-#{@showcase.id}").next(".badge").attr("data-original-title", "#{@showcase.wowed_users}")
- if @showcase.wowed?(current_user)
  $(".wow-link-#{@showcase.id} i").addClass("heart-red-fg");
  $(".wow-link-#{@showcase.id} i").removeClass("fa-heart-o").addClass("fa-heart");
-else
  $(".wow-link-#{@showcase.id} i").removeClass("heart-red-fg");
  $(".wow-link-#{@showcase.id} i").removeClass("fa-heart").addClass("fa-heart-o");
