%td= cocotransfer.txnid
%td= link_to cocotransfer.transferable.title, slug_showcase_path(cocotransfer.transferable.slug, cocotransfer.transferable.id), target: "_blank"
%td= link_to cocotransfer.transferable.user.name, "#profile-#{cocotransfer.transferable.user.profile_id}", data: {toggle: "modal" }
%td= cocotransfer.donor_name
%td= cocotransfer.created_at.strftime("%d %a %b, %Y %H:%M")
%td= rupee cocotransfer.amount
%td= cocotransfer.display_status
%td
  = link_to "#cocotrfrs-#{cocotransfer.id}", class: "btn btn-sm btn-success", data: {toggle: "modal"} do
    %span.glyphicon.glyphicon-eye-open

= render partial: "admin/users/profile", locals: {profile: cocotransfer.transferable.user.profile}

.modal.profile-modal.fade{id: "cocotrfrs-#{cocotransfer.id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => true }x
        %h2 Cocotransfer Details
      .modal-body
        .col-sm-12.no-mar-pad
          .col-sm-4
            = cl_image_tag cocotransfer.transferable.image, width: 253, height: 190, crop: :fill
          .col-sm-8
            %strong= cocotransfer.transferable.title
            %br
            %label Owner:
            = cocotransfer.transferable.user.name
        .col-sm-12.no-mar-pad.mtop10
          %label.col-sm-4 Status
          .col-sm-8= cocotransfer.display_status
        .col-sm-12.no-mar-pad
          %label.col-sm-4 Cocotransfer ID
          .col-sm-8= cocotransfer.txnid
        .col-sm-12.no-mar-pad
          %label.col-sm-4 Donor
          .col-sm-8= cocotransfer.fullfillment_contributer.try(:name)
        .col-sm-12.no-mar-pad
          %label.col-sm-4 Date
          .col-sm-8= cocotransfer.created_at.strftime("%d %a %b, %Y %H:%M")
        .col-sm-12.no-mar-pad
          %label.col-sm-4 Amount
          .col-sm-8= rupee cocotransfer.amount
      .clearfix
      .modal-footer
        = link_to "Close", "javascript:;", class: "btn btn-danger pull right", data: {dismiss: "modal"}
