.container.mtop70.min-height1000
  .col-sm-5
    %h1
      Coin Cocotransfers
      %small= "#{@cocotransfers.count} cocotransfers"
  .col-xs-12.no-mar-pad
    = paginate @cocotransfers
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover#admin-cocotransfers
        %thead
          %tr
            %th No&nbsp;&nbsp;
            %th User
            %th Coin amount
            %th Approved
        %tbody
          - @cocotransfers.each_with_index do |cocotransfer, i|
            %tr
              %td
                - page = params[:page].blank? ? 1 : params[:page].to_i
                = (i+1) + 100*(page-1)
              %td
                = link_to myprofile_path(cocotransfer.fullfillment_contributer.slug), target: "_blank" do
                  = cocotransfer.donor_name
                  = "(@#{cocotransfer.fullfillment_contributer.slug})"
              %td= cocotransfer.coin_amount
              %td
                - if cocotransfer.paid?
                  %span.btn.btn-sm.btn-success.glyphicon.glyphicon-ok-circle
                - else
                  = link_to verify_coin_to_cash_admin_cocotransfer_path(cocotransfer) do
                    %span.btn.btn-sm.btn-danger.glyphicon.glyphicon-ban-circle

    = paginate @cocotransfers
