.container.mtop70
  .col-sm-5
    %h1
      Grouppay Cocotransfers
      %small= "#{@cocotransfers.count} cocotransfers"
  .col-xs-12.no-mar-pad
    = paginate @cocotransfers
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover#admin-cocotransfers
        %thead
          %tr
            %th No&nbsp;&nbsp;
            %th ID&nbsp;&nbsp;
            %th Showcase&nbsp;&nbsp;
            %th Owner&nbsp;&nbsp;
            %th Donor&nbsp;&nbsp;
            %th Date&nbsp;&nbsp;
            %th Amount&nbsp;&nbsp;
            %th Status&nbsp;&nbsp;
            %th Details&nbsp;&nbsp;
        %tbody
          - @cocotransfers.each_with_index do |cocotransfer, i|
            %tr
              %td
                - page = params[:page].blank? ? 1 : params[:page].to_i
                = (i+1) + 100*(page-1)
              = render partial: "cocotransfer", locals: { cocotransfer: cocotransfer }
    = paginate @cocotransfers
