.container.mtop70
  .col-sm-5
    %h1
      Cocotransfers
      %small= "#{Cocotransfer.all.count} cocotransfers"
  .col-sm-7.no-mar-pad.mtop25
    .pull-right
      ~ form_tag url_for, method: :get do
        .col-xs-11.no-mar-pad= text_field_tag :term, params[:term], placeholder: "Search", class: "form-control", style: "width: 300px; border-radius: 4px 0px 0px 4px;"
        .col-xs-1.no-mar-pad
          %button.btn.btn-danger.pull-right{type: 'submit', style: "border-radius: 0px 4px 4px 0;"}
            %span.glyphicon.glyphicon-search
  .col-xs-12.no-mar-pad
    = paginate @cocotransfers
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover#admin-cocotransfers
        %thead
          %tr
            %th No&nbsp;&nbsp;
            %th ID&nbsp;&nbsp;
            %th Showcase&nbsp;&nbsp;
            %th Owner&nbsp;&nbsp;
            %th Donor&nbsp;&nbsp;
            %th Date&nbsp;&nbsp;
            %th Amount&nbsp;&nbsp;
            %th Status&nbsp;&nbsp;
            %th Details&nbsp;&nbsp;
        %tbody
          - @cocotransfers.each_with_index do |cocotransfer, i|
            %tr
              %td
                - page = params[:page].blank? ? 1 : params[:page].to_i
                = (i+1) + 100*(page-1)
              = render partial: "cocotransfer", locals: { cocotransfer: cocotransfer }
    = paginate @cocotransfers
