.container-fluid.ptop50.mob-ptop100.bg-light-grey.padding0.ps-wrapper{"data-pdate" => "#{DateTime.current}", "data-fdate" => "#{DateTime.current + 8.days}"}
  .container.padding0.ptop20.pbottom70.helvetica-font
    .col-xs-12.col-sm-6.col-sm-offset-3.light-border.bg-white.bg-shad.padding0.pbottom20
      = form_for [:admin, @showcase], html: {class: "create-showcase"} do |f|
        .col-xs-12.col-sm-12.no-mar-pad.mbottom10.text-center.photo-edit-wrapper{style: "overflow: hidden;max-height:480px;height: auto;"}
          .preview-edit
            - if @showcase.image.present?
              = cl_image_tag @showcase.image, class: "img-responsive inline-display", height: 480, crop: :fill, gravity: :face, alt: @showcase.title
          .preview-delete-edit.bg-white.pon.pos-absolute.font16{class: "#{@showcase.image.blank? ? 'hide-display' : 'block-display'}"} x
          .col-xs-12.col-sm-12.no-mar-pad
            .glyphicon.glyphicon-camera.file-input-button-edit.mtop20.padding20.cc-dark-fg.dotted-border{style: "font-size: 65px;display: #{@showcase.image.present? ? 'none': 'inline-block'};"}
              = cl_image_upload_tag(:image, html: { class: "cloudinary-fileupload-edit file-upload-trigger" })
          .col-xs-12.col-sm-12.no-mar-pad
            .progress.progress-striped.progress-edit.mtop5.mbottom0{style: "display: none;height: 10px;width:107px;"}
              .progress-bar.progress-bar-edit{style: "width: 0%;"}
        .col-xs-12.col-sm-12.text-center.j-ps-holder.ptop5.mtop20.height89
          .col-xs-12.col-sm-12.ptop5.height50
            %span.type-holder.pon.pos-absolute{style: "left: 5px;top: 5px;font-size: 11px;"}
          .col-xs-12.col-sm-12.no-mar-pad{style: "border-bottom: 2px solid #732db0;"}
            .prefix-holder.pon.pull-left{style: "height: 34px;padding: 6px 0px;font-size: 14px;line-height: 1.42857143;display: inline-block;#{@showcase.custom_wish_type?}"}
              - if !@showcase.custom_wish_type? && @showcase.wish_prefix.present?
                %span.cc-dark-fg-dotted-border.mleft5
                  - if @showcase.showpiece?
                    = Showcase::WISH_PREFIX[@showcase.wish_prefix][3]
                  - else
                    = Showcase::WISH_PREFIX[@showcase.wish_prefix][4]
                  &nbsp;
                  %i.fa.fa-angle-down.font16
            = text_field_tag :initial, "#{@showcase.title}", placeholder: "What's your wish?", class: "coco-input-field form-control inline-display pull-left ps-initial", style: "width: auto;border-bottom: none;"
          .dropdown.type-holder-dropdown
            .dropdown-menu.full-width.pos-relative
              - Showcase::DISPLAY_SHOWCASE_TYPE.each do |showcase_type|
                %li
                  %a.pon{"data-id" => "#{showcase_type[1]}", "data-text" => "#{showcase_type[2]}"}
                    = showcase_type[0]
          .dropdown.prefix-holder-dropdown
            .dropdown-menu.prefix-scrollbar.full-width.pos-relative
              - Showcase::WISH_PREFIX.each do |wish_prefix|
                %li
                  %a.pon{"data-id" => "#{wish_prefix[1]}", "data-ptext" => "#{wish_prefix[3]}", "data-ftext" => "#{wish_prefix[4]}", "data-pplaceholder" => "#{wish_prefix[5]}", "data-fplaceholder" => "#{wish_prefix[6]}"}
                    = wish_prefix[0]
                    %span.grey-fg.font13
                      &nbsp;
                      %em= wish_prefix[2]
          .hide-display
            = f.text_field :showcase_type
            = f.text_field :wish_prefix
            = f.text_field :title
        .col-xs-12.col-sm-12.text-center.ptop10
          ~ f.text_area :description, placeholder: "Tell the story behind this wish?", class: "form-control coco-input-field", maxlength: 1000
        .col-xs-12.col-sm-12.ptop20.pbottom10
          = f.text_field :main_tags, placeholder: "Main Tags (Use enter, comma or tab to separate)", class: "tm-admin-main-tag-input form-control tm-input-inverse tm-input-typeahead coco-input-field"
        .col-xs-12.col-sm-12.ptop20.pbottom10
          = f.text_field :sub_tags, placeholder: "Sub Tags (Use enter, comma or tab to separate)", class: "tm-admin-sub-tag-input form-control tm-input-inverse tm-input-typeahead coco-input-field"
        .col-xs-12.col-sm-7.ptop10.height50
          = f.fields_for :location do |lf|
            = lf.text_field :name, placeholder: "Where", class: "form-control coco-input-field pac-input", maxlength: 100
        .col-xs-12.col-sm-5.ptop10.height50
          = f.text_field :target_date, value: "#{@showcase.changed_date}", placeholder: "When", class: "form-control coco-input-field dt-of-achievement bg-white more-target-date #{@showcase.is_for_raising_fund? ? 'hidden' : ''}"
        .col-xs-12.col-sm-3.mtop10
          %span.no-mar-pad.col-xs-12.col-sm-12
            = f.radio_button :admin_status, "#{Showcase::ADMIN_STATUS[0]}"
            %label.mbottom0 Active
          %span.no-mar-pad.col-xs-12.col-sm-12
            = f.radio_button :admin_status, "#{Showcase::ADMIN_STATUS[1]}"
            %label.mbottom0 Inactive
        .col-xs-4.col-sm-3.ptop10
          = f.check_box :coin_wish
          %label.mbottom0 Coin WIsh
        .col-xs-8.col-sm-3.mtop10
          = f.check_box :category_wish
          %label.mbottom0 Category Wish
        .col-xs-12.col-sm-12.ptop10.height50
          Accept Fund:
          - if @showcase.accept_fund_is_editable?
            = f.check_box :accept_fund
          - else
            = f.check_box :accept_fund, disabled: "disabled"
        .col-xs-12.col-sm-12.raise-funds-fields{class: "#{@showcase.is_for_raising_fund? ? '' : 'hidden'}"}
          .col-xs-12.col-sm-6.pleft0.height50
            = f.text_field :goal_amount, placeholder: "Goal Amount*", class: "form-control coco-input-field", maxlength: 7
          .col-xs-12.col-sm-6.pright0.height50
            = f.text_field :target_date, value: "#{@showcase.changed_date}", placeholder: "Goal Date*", class: "form-control coco-input-field dt-of-achievement bg-white goal-target-date"
          .col-xs-12.col-sm-12.pleft0.pright0.ptop10
            .col-xs-4.col-sm-3.pleft0
              %label{for: "showcase_fundcategory_id"} Category
            .col-xs-8.col-sm-9.padding0
              = f.select :fundcategory_id, Fundcategory.all.map{|m| [m.name, m.id]}, {include_blank: 'Select category*'}, class: "form-control coco-select-box", style: "border-radius: 0px !important;"
          .col-xs-12.col-sm-12.pleft0.pright0.ptop10
            .col-xs-4.col-sm-3.pleft0.ptop10
              %label Raising for:&nbsp;
            .col-xs-8.col-sm-4.pleft0.pright10.ptop10
              = f.collection_radio_buttons :raising_for, Showcase::RAISING_FOR, :first, :last do |b|
                = b.radio_button(class: "pull-left", style: "margin-left: 6px;") + b.label(class: "pull-left mbottom0 mleft5")
            .col-xs-8.col-xs-offset-4.col-sm-offset-0.col-sm-5.pleft0.pright0
              = f.text_field :beneficiary, class: "form-control coco-input-field #{@showcase.is_raising_for_others? ? '' : 'hidden'}", placeholder: "Beneficiary name*"
          .col-xs-12.col-sm-12.height50.padding0.ptop10
            = f.text_field :video_link, placeholder: "Video Link", class: "form-control coco-input-field", maxlength: 200
        .col-xs-12.col-sm-12.mtop25.text-center
          = f.submit "Update", class: "btn cc-dark-bg white-fg weight-bold showcase-update-submit"

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      showTag(".tm-admin-main-tag-input", "showcase[main_tags]", #{@showcase.main_tags}.split(","), "getmaintags");
      showTag(".tm-admin-sub-tag-input", "showcase[sub_tags]", #{@showcase.sub_tags}.split(","), "getsubtags");
      $wrap = $("#edit_showcase_"+#{@showcase.id});
      $wrap.find(".ps-initial").css({"width": $wrap.find(".j-ps-holder").width() - $wrap.find(".prefix-holder").width() - 3});
      $(document).on("click", ".showcase-update-submit", function(e){
        $wrap = $("#edit_showcase_"+#{@showcase.id});
        e.preventDefault();
        $wrap.find("#showcase_title").val($wrap.find(".ps-initial").val());
        $wrap.submit();
      });
      $wrap.find(".type-holder").html("#{@showcase.showcase_type_label.html_safe}");
      date_options = {format: 'dd-mm-yyyy', autoclose: true, minView: 2, pickerPosition: "bottom-right", startDate: "", endDate: "" };
      if($wrap.find("#showcase_showcase_type").val() == 0){
        if($wrap.find("#showcase_accept_fund").is(":checked")){
          date_options["startDate"] = new Date($(".ps-wrapper").data("pdate"));
        }else{
          date_options["endDate"] = new Date($(".ps-wrapper").data("pdate"));
        }
      }
      else if($wrap.find("#showcase_showcase_type").val() == 1){
        date_options["startDate"] = new Date($(".ps-wrapper").data("fdate"));
      }
      else if($wrap.find("#showcase_showcase_type").val() == 2){
        date_options["endDate"] = new Date($(".ps-wrapper").data("fdate"));
        date_options["startDate"] = new Date($(".ps-wrapper").data("pdate"));
      }
      $wrap.find(".dt-of-achievement").datetimepicker(date_options);
      var places_input_1= $('.pac-input')[1];
      google.maps.event.addDomListener(window, 'load', function () {
        var autocomplete = new google.maps.places.Autocomplete(places_input_1);
        google.maps.event.addDomListener(places_input_1, 'keydown', function(e) {
          if (e.keyCode == 13 && $('.pac-container:visible').length) {
            e.preventDefault();
          }
        });
      });
    })
