.container-fluid.ptop50.mob-ptop100.bg-light-grey.padding0
  .container.padding0.ptop20.pbottom70.helvetica-font
    .col-xs-12.col-sm-6.col-sm-offset-3.light-border.bg-white.bg-shad.padding0.pbottom20
      = form_for [:admin, @showcase] do |f|
        .col-xs-12.col-sm-12.no-mar-pad.mbottom10.text-center.photo-edit-wrapper{style: "overflow: hidden;max-height:480px;height: auto;"}
          .preview-edit
            = cl_image_tag @showcase.image, class: "img-responsive inline-display", height: 480, crop: :fill, gravity: :face, alt: @showcase.title
          .glyphicon.glyphicon-remove.preview-delete-edit.bg-white.pon.pos-absolute{style: "z-index: 1;top:0;right:0"}
          .col-xs-12.col-sm-12.no-mar-pad
            .glyphicon.glyphicon-camera.file-input-button-edit.mtop20.padding20.grey-fg{style: "display: none;font-size: 65px;border: 1px dashed;"}
              = cl_image_upload_tag(:image, html: { class: "cloudinary-fileupload-edit" })
          .col-xs-12.col-sm-12.no-mar-pad
            .progress.progress-striped.progress-edit.mtop5.mbottom0{style: "display: none;height: 10px;width:107px;"}
              .progress-bar.progress-bar-edit{style: "width: 0%;"}
        .col-xs-12.col-sm-12
          %span.font11 Type some tags in the input field, and separate them with enter, comma, or tab
          %br
          = f.text_field :all_tags, placeholder: "Tags separated with enter, comma, or tab", class: "tm-edit-input form-control tm-input-inverse tm-input-typeahead"
        .col-xs-12.col-sm-12.text-center.ptop10
          = f.text_field :title, placeholder: "Title", class: "form-control coco-input-field hvr-underline-from-left title-gnrl", required: true, maxlength: 100
        .col-xs-12.col-sm-12.text-center.ptop10
          = f.text_area :description, placeholder: "Description", class: "form-control coco-input-field hvr-underline-from-left des-gnrl", maxlength: 1000
        .col-xs-12.col-sm-3.mtop10
          %span.no-mar-pad.col-xs-12.col-sm-12
            = f.radio_button :admin_status, "#{Showcase::ADMIN_STATUS[0]}", required: true
            %label.mbottom0 Active
          %span.no-mar-pad.col-xs-12.col-sm-12
            = f.radio_button :admin_status, "#{Showcase::ADMIN_STATUS[1]}", required: true
            %label.mbottom0 Inactive
        .col-xs-4.col-sm-3.ptop10
          = f.check_box :coin_wish
          %label.mbottom0 Coin WIsh
        .col-xs-12.col-sm-12.mtop10.text-center.showcase-btn-wrapper
          = f.submit "Submit", class: "btn btn-primary btn-shadow btn-social weight-bold"
