.container-fluid.ptop50.mob-ptop100.bg-light-grey.padding0{style: "min-height: 1000px;"}
  .container.padding0.ptop20.pbottom70.helvetica-font
    .col-xs-12.col-sm-6.col-sm-offset-3.light-border.bg-white.bg-shad.padding0.pbottom20
      = form_for [:admin, @showcase] do |f|
        .col-xs-12.col-sm-12.text-center.padding20.photo-upload-wrapper
          %span.font11.col-xs-12.col-sm-12.padding0 Drag and Drop the Photo here.
          .preview
          .glyphicon.glyphicon-remove.preview-delete.hide-display.pon{style: "z-index: 1;"}
          .col-xs-12.col-sm-12.no-mar-pad
            .glyphicon.glyphicon-camera.file-input-button.grey-fg.padding20{style: "font-size: 65px;border: 1px dashed;"}
              = cl_image_upload_tag(:image, html: { class: "cloudinary-fileupload-new" })
          .col-xs-12.col-sm-12.no-mar-pad
            .progress.progress-striped.hide-display.mbottom0.mtop5{style: "height: 10px;width:107px;"}
              .progress-bar{style: "width: 0%;"}
        .col-xs-12.col-sm-12
          %span.font11 Type some tags in the input field, and separate them with enter, comma, or tab
          %br
          = f.text_field :all_tags, placeholder: "Tags separated with enter, comma, or tab", class: "tm-edit-input form-control tm-input-inverse tm-input-typeahead"
        .col-xs-12.col-sm-12.text-center.ptop10
          = f.text_field :title, placeholder: "Title", class: "form-control coco-input-field hvr-underline-from-left title-gnrl", required: true, maxlength: 100
        .col-xs-12.col-sm-12.text-center.ptop10
          = f.text_area :description, placeholder: "Description", class: "form-control coco-input-field hvr-underline-from-left des-gnrl", maxlength: 1000
        .col-xs-12.col-sm-3.mtop10
          %span.no-mar-pad.col-xs-12.col-sm-12
            = f.radio_button :admin_status, "#{Showcase::ADMIN_STATUS[0]}", required: true
            %label.mbottom0 Active
          %span.no-mar-pad.col-xs-12.col-sm-12
            = f.radio_button :admin_status, "#{Showcase::ADMIN_STATUS[1]}", required: true
            %label.mbottom0 Inactive
        .col-xs-4.col-sm-3.ptop10
          = f.check_box :coin_wish
          %label.mbottom0 Coin WIsh
        .col-xs-12.col-sm-12.mtop10.text-center.showcase-btn-wrapper
          = f.submit "#{@showcase.wishlist? ? 'Wishlist' : 'Showcase'}", class: "btn btn-primary btn-shadow btn-social weight-bold showcase-edit-submit"
