= form_for [:admin, category], html: {"data-parsley-validate" => true}, remote: true do |f|
  .errors
  .form-group
    = f.label :name
    = f.text_field :name, :class => 'form-control', "data-parsley-trigger" => "change", required: true
  .form-group
    = f.label :image
    = f.text_field :image, :class => 'form-control'
  .form-group
    = f.label :slug, "Slug/URL"
    = f.text_field :slug, :class => 'form-control'
  .form-group
    = f.hidden_field :parent_id
    = f.submit 'Save', class: "btn btn-primary"
