%td
  - page = params[:page].blank? ? 1 : params[:page].to_i
  = (i+1) + 30*(page-1)
%td{style: "width: 60px"}
  = cl_image_tag product.image, alt: "#{product.title}-#{product.category_name}", width: 32, height: 32, crop: :fill
%td= product.id
%td= product.title
%td
  %span{title: "#{product.category_path}"}
    = truncate product.category_path, length: 10
%td
  %span{title: "#{product.location.name}"}
    = truncate product.location.name, length: 10
%td= product.created_at.strftime("%d %b, %y")
%td= link_to "#{truncate product.user.email, length: 10}", "#profile-#{product.user.profile_id}", data: {toggle: 'modal'}
%td= product.price
%td= product.hourly_price
%td= product.rental_status
%td.avail{style: "width: 80px"}= render partial: "avail_toggle", locals: {product: product}
%td.closest.text-center
  = check_box_tag :available, product.featured, product.featured?, class: "featured-toggle", data: {id: product.id}
  %span.update-msg{style: "color: green;"}
  %span.update-error{style: "color: red;"}
%td= product.owner_available_status
%td.currently-avail{style: "width: 80px"}= render partial: "currently_avail_toggle", locals: {product: product}
%td{style: "width: 90px"}
  = link_to user_product_path(product.id), class: "btn btn-sm btn-primary edit-product", target: "_blank" do
    %span.glyphicon.glyphicon-eye-open
  = link_to edit_product_path(product), class: "btn btn-sm btn-primary", target: "_blank" do
    %span.glyphicon.glyphicon-pencil

= render partial: "/admin/users/profile", locals: {profile: product.user.profile}
