.container
  .col-sm-5
    %h1
      Products
      %small= "#{Product.all.count} products"
  .col-sm-7.no-mar-pad.mtop25
    .pull-right
      ~ form_tag url_for, method: :get do
        .col-xs-11.no-mar-pad= text_field_tag :term, params[:term], placeholder: "Search", class: "form-control", style: "width: 300px; border-radius: 4px 0px 0px 4px;"
        .col-xs-1.no-mar-pad
          %button.btn.btn-danger.pull-right{type: 'submit', style: "border-radius: 0px 4px 4px 0;"}
            %span.glyphicon.glyphicon-search
  .col-xs-12.no-mar-pad
    = paginate @products
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover#admin-products
        %thead
          %tr
            %th No&nbsp;&nbsp;
            %th Img&nbsp;&nbsp;
            %th P-ID&nbsp;&nbsp;
            %th Title&nbsp;&nbsp;
            %th Cat&nbsp;&nbsp;
            %th Location&nbsp;&nbsp;
            %th Listing Date&nbsp;&nbsp;
            %th Owner&nbsp;&nbsp;
            %th DL Price&nbsp;&nbsp;
            %th HR Price&nbsp;&nbsp;
            %th OFR&nbsp;&nbsp;
            %th LS - Admin&nbsp;&nbsp;
            %th F&nbsp;&nbsp;
            %th LS - Owner&nbsp;&nbsp;
            %th CA
            %th

        %tbody
          - @products.each_with_index do |product, i|
            %tr{id: "product-row-#{product.id}"}
              = render partial: "product", locals: { product: product, i: i }
    = paginate @products
