Dear #{@owner.name},
%p
  = @user.name
  has paid for the order of #{@product.name}.
  %br
  %strong TransactionID:
  = @transaction.txnid
  %br
  %strong Duration:
  = @transaction.duration
  %br
  %strong Amount
  = rupee @transaction.amount