%h6.font16 Crowdfunding
-if @crowdfunding_showcases.count == 0
  .col-xs-12{style: "height: 100%;"}
    %p.font14{style: "margin-left: 10px;"} No Transfers to show
- else
  .col-xs-12{style: "height: 100%;"}
    .col-xs-12.font14
      .col-xs-4
        Wish Title
      .col-xs-4
        Amount
      .col-xs-4
    .col-xs-12{style: "overflow-y: scroll; height: 80%;"}
      - @crowdfunding_showcases.each do |showcase|
        .col-xs-12.extra-small-font.mtop5
          .col-xs-4
            #{showcase.truncated_title}
          .col-xs-4
            #{showcase.available_withdraw_amount}
          .col-xs-4
            .btn.btn-primary.wdrw-btn{class: "#{ (showcase.available_withdraw_amount > 0) ? '' : 'disabled' }","data-amount" => "#{showcase.available_withdraw_amount}", "data-showcase-id" => "#{showcase.id}"} Withdraw
               