%h5.histroy-header PROFILE TRANSACTIONS
-if @all_related_cocotransfers.count == 0
  .col-xs-12.col-sm-12.full-height.text-center
    %span.font20.mtop70.inline-block No transactions!.
- else
  .col-xs-12.col-sm-12.padding0.j-pft-section
    - @all_related_cocotransfers.each do |cocotransfer|
      .col-xs-12.col-sm-12.pad-v-15.weight600{style: "border-bottom: 1px solid #f1f1f1;"}
        .col-xs-8.col-sm-8
          -if cocotransfer.is_coin_converted?
            .media-left
              %i.fa.fa-inr.white-fg.img-circle.box-shad{style: "background-color: #3AD1BE;padding: 5px 9px;box-shadow: 0 0px 0px 0 #3AD1BE, 0 6px 11px 0 #3AD1BE;"}
            .media-body
              %span.font-medium.black80-fg.inline-block Converted Coins
          -elsif cocotransfer.is_transferd_by?(current_user.id)
            .media-left
              %i.fa.fa-inr.white-fg.img-circle.box-shad{style: "background-color: #FB5234;padding: 5px 9px;box-shadow: 0 0px 0px 0 #FB5234, 0 6px 11px 0 #FB5234;"}
            .media-body
              %span.font-medium.black80-fg.inline-block Transfer to
              - if cocotransfer.showcase_transfer?
                %span.block-display.font11.grey-fg
                  #{truncate cocotransfer.transferable.title, length: 30}
              - elsif cocotransfer.profile_transfer?
                %span.block-display.font11.grey-fg
                  #{cocotransfer.receiver.name}
                  (@#{cocotransfer.receiver.slug})
          -else
            .media-left
              %i.fa.fa-inr.white-fg.img-circle.box-shad{style: "background-color: #3AD1BE;padding: 5px 9px;box-shadow: 0 0px 0px 0 #3AD1BE, 0 6px 11px 0 #3AD1BE;"}
            .media-body
              %span.font-medium.black80-fg.inline-block Received from
              %span.block-display.font11.grey-fg
                #{cocotransfer.donor_name}
                (@#{cocotransfer.fullfillment_contributer.slug if cocotransfer.fullfillment_contributer.present?})
        .col-xs-4.col-sm-4.text-right.black80-fg
          %i.fa.fa-inr
          #{cocotransfer.total_amount}
          %span.extra-small-font.block-display.grey-fg= cocotransfer.created_at.in_time_zone("Kolkata").strftime("%d %b %Y %H:%M")
