- if product.for_free?
  .col-md-12
    .col-md-7
      %label Shipping
    .col-md-5
      %span.price
        %i.fa.fa-rupee
        %span.total-price= product.ship_price
- else
  .col-md-12
    .col-md-7.col-xs-7
      %label= product.price_label
    .col-md-5.col-xs-5
      %span.price
        %i.fa.fa-rupee
        = product.price
  %hr.col-md-12.col-xs-12.mtop-v-5
  .col-md-12
    .col-md-7.col-xs-7
      %label Days
    .col-md-5.col-xs-5
      %span.price.days= days
  %hr.col-md-12.col-xs-12.mtop-v-5
  .col-md-12
    .col-md-7.col-xs-7
      %label Total price
    .col-md-5.col-xs-5
      %span.price
        %i.fa.fa-rupee
        %span.total-price= days * product.price
  %hr.col-md-12.col-xs-12.mtop-v-5
  .col-md-12
    .col-md-7.col-xs-7
      %label Discounts( #{product.discount_percent(days)}% )
    .col-md-5.col-xs-5
      %span.price
        %span.min-sign= " - " if product.discount_by_days(days) > 0
        %i.fa.fa-rupee
        %span.discount= product.discount_by_days(days)
  %hr.col-md-12.col-xs-12.mtop-v-5
  .col-md-12
    .col-md-7.col-xs-7
      %label Tax( #{product.tax}% )
    .col-md-5.col-xs-5
      %span.price
        %i.fa.fa-rupee
        %span.total-price= product.tax_amount(days, @transaction.operator_type)
  %hr.col-md-12.col-xs-12.mtop-v-5
  - if @transaction.operator_type != 0
    .col-md-12
      .col-md-7.col-xs-7
        %label Operator Charge
      .col-md-5.col-xs-5
        %span.price
          %i.fa.fa-rupee
          %span.total-price= product.service_charge(@transaction.operator_type)
    %hr.col-md-12.col-xs-12.mtop-v-5
  .col-md-12
    .col-md-7.col-xs-7
      %label Refunable Security Deposit
    .col-md-5.col-xs-5
      %span.price
        %i.fa.fa-rupee
        = product.security_deposit
.col-md-12.col-xs-12.mbottom10.ptop10.pbottom10{style: "background-color:#BFBFBF"}
  .col-md-7.col-xs-7
    %label Pay
  .col-md-5.col-xs-5
    %span.price
      %i.fa.fa-rupee
      %span.total-amount= product.calculate_price(days, @transaction.operator_type)
