- if product.for_free?
  .col-md-12
    .col-md-7
      %label Shipping
    .col-md-5
      %span.price
        %i.fa.fa-rupee
        %span.total-price= product.ship_price
- else
  - if transaction.days > 0
    .col-md-12
      .col-md-7.col-xs-7
        %label Rent for #{transaction.days} day(s)
      .col-md-5.col-xs-5
        %span.price
          %i.fa.fa-rupee
          = transaction.daily_rent * transaction.days
    %hr.col-md-11.col-xs-12.mtop-v-5
  - if transaction.hours > 0
    .col-md-12
      .col-md-7.col-xs-7
        %label Rent for #{transaction.hours} hour(s)
      .col-md-5.col-xs-5
        %span.price.days= transaction.hourly_rent * transaction.hours
    %hr.col-md-11.col-xs-12.mtop-v-5
  - if transaction.weekend_days > 0
    .col-md-12
      .col-md-7.col-xs-7
        %label Rent for #{transaction.weekend_days} premium day(s)
      .col-md-5.col-xs-5
        %span.price
          %i.fa.fa-rupee
          = transaction.weekend_daily_rent * transaction.weekend_days
    %hr.col-md-11.col-xs-12.mtop-v-5
    - if transaction.weekend_hours > 0
      .col-md-12
        .col-md-7.col-xs-7
          %label Rent for #{transaction.weekend_hours} premium hour(s)
        .col-md-5.col-xs-5
          %span.price.days= transaction.weekend_hourly_rent * transaction.weekend_hours
      %hr.col-md-11.col-xs-12.mtop-v-5
  - if transaction.operator_price > 0
    .col-md-12
      .col-md-7.col-xs-7
        %label Operator/Driver Charge
      .col-md-5.col-xs-5
        %span.price
          %i.fa.fa-rupee
          %span.total-price= transaction.operator_price
    %hr.col-md-11.col-xs-12.mtop-v-5
  .col-md-12
    .col-md-7.col-xs-7
      %label Total Rent
    .col-md-5.col-xs-5
      %span.price
        %i.fa.fa-rupee
        %span.total-price= transaction.rent_without_discount
  %hr.col-md-11.col-xs-12.mtop-v-5
  .col-md-12
    .col-md-7.col-xs-7
      %label Discounts
    .col-md-5.col-xs-5
      %span.price
        %span.min-sign= " - " if transaction.discounts > 0
        %i.fa.fa-rupee
        %span.discount= transaction.discounts
  %hr.col-md-11.col-xs-12.mtop-v-5
  .col-md-12
    .col-md-7.col-xs-7
      %label Total Rent after Discount
    .col-md-5.col-xs-5
      %span.price
        %i.fa.fa-rupee
        %span.total-price= transaction.rent_with_discount
  %hr.col-md-11.col-xs-12.mtop-v-5
  .col-md-12
    .col-md-7.col-xs-7
      %label Tax
    .col-md-5.col-xs-5
      %span.price
        %i.fa.fa-rupee
        %span.total-price= transaction.tax
  %hr.col-md-11.col-xs-12.mtop-v-5
  .col-md-12
    .col-md-7.col-xs-7
      %label Refunable Security Deposit
    .col-md-5.col-xs-5
      %span.price
        %i.fa.fa-rupee
        = transaction.refundable_security_deposit
.col-md-12.col-xs-12.mbottom10.ptop10.pbottom10{style: "border: 2px solid #388CA7;border-radius: 2px;"}
  .col-md-7.col-xs-7
    %label Amount Payable
  .col-md-5.col-xs-5
    %span.price
      %i.fa.fa-rupee
      %span.total-amount= transaction.amount
.col-md-12.col-xs-12.mbottom10.ptop10.pbottom10{style: "border: 2px solid #388CA7;border-radius: 2px;;color:#E84242;"}
  .col-md-7.col-xs-7
    %label Booking ID
  .col-md-5.col-xs-5.text-right
    = @transaction.coco_transaction_id
