.container-fluid.aboutpad
  .container
    .col-sm-12
      %h3 Question about payments and refunds? Dial: 96 8686 0303. All payments are protected and kept in an escrow account untill fulfillment of the service offered
    = form_for @transaction, html:{class: "form-horizonral", id: "checkout-form"} do |f|
      = hidden_field_tag :product_id, @product.id

      .col-md-4.pull-right.no-mar-pad
        %h3 Summary
        = image_tag @product.image, style: "width: 100%;"
        %h4= @product.title
        .col-md-12.mtop10= @transaction.duration
        - days = (@transaction.enddate.to_date - @transaction.startdate.to_date).to_i
        - days = 1 if days < 1
        .col-md-12.summary-info.no-mar-pad= render partial: "price", locals: {product: @product, days: days}
        .col-md-12.mtop20.no-mar-pad
          = f.text_field :startdate, placeholder: "From" ,class: "form-control startdate hide"
        .col-md-12.mtop10.no-mar-pad
          = f.text_field :enddate, placeholder: "To" ,class: "form-control enddate hide"
        .col-md-12.no-mar-pad.date-error{style: "color: red"}

      .col-md-8
        %h3.col-md-12.mtop20 Billing Address
        = fields_for @address do |af|
          .col-md-12.mtop20
            %label.col-md-3 First Name
            .col-md-5= af.text_field :first_name, class: "form-control", required: true
          .col-md-12.mtop10
            %label.col-md-3 Last Name
            .col-md-5= af.text_field :last_name, class: "form-control", required: true
          .col-md-12.mtop10
            %label.col-md-3 Email
            .col-md-5= af.text_field :email, class: "form-control", required: true
          .col-md-12.mtop10
            %label.col-md-3 Mobile
            .col-md-5= af.text_field :mobile, class: "form-control", required: true
          .col-md-12.mtop10
            %label.col-md-3 Street 1
            .col-md-5= af.text_field :address1, class: "form-control", required: true
          .col-md-12.mtop10
            %label.col-md-3 Street 2
            .col-md-5= af.text_field :address2, class: "form-control", required: true
          .col-md-12.mtop10
            %label.col-md-3 Zipcode
            .col-md-5= af.text_field :zip, class: "form-control check_zip", required: true
          .col-md-12.mtop10
            %label.col-md-3 City
            .col-md-5= af.text_field :city, class: "form-control city", required: true
          .col-md-12.mtop10
            %label.col-md-3 State
            .col-md-5
              = af.select :state, options_for_select(india_states), {prompt: 'State'}, class: "select_box state", required: true
        %h3.col-md-12.mtop20 Card info
        .col-md-12
          #error.col-md-12.text-danger{style: "font-weight: bold; margin-left: 5px;"}
        .col-md-8.no-mar-pad
          .col-md-12.mtop20
            %label.col-md-5 Card Holder Name
            .col-md-7= text_field_tag :card_holder, "",name: nil, class: "form-control"
          .col-md-12.mtop10
            %label.col-md-5 Card Number
            .col-md-7= text_field_tag :card_number, "",name: nil, class: "form-control"
          .col-md-12.mtop10
            %label.col-md-5 Expiry date
            .col-md-3= text_field_tag :card_expiry, "", placeholder: "mm/yy", name: nil, class: "form-control"
            %label.col-md-2{style: "text-align: right;"} cvv/cvc
            .col-md-2= text_field_tag :card_cvv, "",name: nil, class: "form-control"
        .col-md-4.no-mar-pad
          = image_tag "verified.jpg"
          %br
          = image_tag "citrus.jpg"
        .col-md-12.mtop10
          = label_tag :agreement, "Agreement", :class => 'col-md-3'
          .col-sm-8.no-mar-pad
            .col-sm-12
              = check_box_tag :agreement
              %span.mleft10 By charging on Cocociti you agree all Terms and policies of Cocociti
            .col-sm-12.agreement-error.text-danger{style: "display: none; font-weight: bold;"} You must agree to pay.
        .col-md-8.mtop10
          .pull-right{style: "margin-bottom: 50px;"}
            = f.submit "Pay", class: "btn btn-info save-button"

#transaction{data: {key: CITRUS_CONFIG[:merchant_access_key], id: @transaction.txnid, price: @transaction.amount, signature: @transaction.hmac_sha1, url: request.protocol + request.host_with_port}}

= content_for :extra_js do
  = javascript_include_tag "jquery.payment", "citrus", "checkout"
