= content_for :title do
  -title = "Checkout"
.container-fluid.aboutpad
  .container
    .col-sm-12.no-mar-pad
      = hidden_field_tag :id, @product.id
      .col-md-4.pull-right.no-mar-pad
        .col-md-12.text-center.padding5{style: "border: 1px solid #06B335;border-radius: 2px;"} Your session expires in #{GLOBAL_VARIABLES[:time_out]} mins. Hurry up!
        = cl_image_tag @product.image.filename, class: "img-responsive img-style-new", alt: "#{@product.title}-#{@product.category_name}", width: 253, height: 190, crop: :fill
        %h4.text-center= @product.title
        .col-md-12.mtop10.text-center.mbottom20{style: "font-weight: bold"}
          = @transaction.duration
        .col-md-12.no-mar-pad.summary-info= render partial: "price", locals: {transaction: @transaction, product: @product}
        = hidden_field_tag :amount, @amount, id: "citrusAmount"
        = hidden_field_tag :coco_transaction_id, @transaction.coco_transaction_id, id: "citrusMerchantTxnId"
        = hidden_field_tag :signature, @transaction.security_signature, id: "citrusSignature"
        = hidden_field_tag :return_url, @return_url, id: "citrusReturnUrl"
        =# hidden_field_tag :notify_url, @transaction.notify_url, id: "citrusNotifyUrl"

      .col-md-8.no-mar-pad
        .col-md-12
          %span.shaktiman-sprite.pull-left
          %h4.mtop20.pull-left{style: "color: #e84242"} Questions about payments or refunds? Dial: 96 8686 0303
        .col-md-12
          .errors{style: "display:none;"}
            .alert.alert-danger.alert-dismissable{:role => "alert"}
              %button.close{:type => "button"}
                %span{:aria => {:hidden => "true"} } &times;
                %span.sr-only Close
              %ul
        %h3.col-md-12.mtop20 Billing Address
        = fields_for @address do |af|
          .col-md-12.mtop20.no-mar-pad
            %label.col-md-3 First Name*
            .col-md-5= af.text_field :first_name, class: "form-control", id: "citrusFirstName", required: true
          .col-md-12.mtop10.no-mar-pad
            %label.col-md-3 Last Name*
            .col-md-5= af.text_field :last_name, class: "form-control", id: "citrusLastName", required: true
          .col-md-12.mtop10.no-mar-pad
            %label.col-md-3 Email*
            .col-md-5= af.text_field :email, class: "form-control", id: "citrusEmail", required: true
          .col-md-12.mtop10.no-mar-pad
            %label.col-md-3 Mobile*
            .col-md-5= af.text_field :mobile, class: "form-control", id: "citrusMobile", required: true
          .col-md-12.mtop10.no-mar-pad
            %label.col-md-3 Address Line 1*
            .col-md-5= af.text_field :address1, class: "form-control", id: "citrusStreet1", required: true
          .col-md-12.mtop10.no-mar-pad
            %label.col-md-3 Address Line 2*
            .col-md-5= af.text_field :address2, class: "form-control", id: "citrusStreet2", required: true
          .col-md-12.mtop10.no-mar-pad
            %label.col-md-3 Zipcode*
            .col-md-5= af.text_field :zip, class: "form-control check_zip", id: "citrusZip", required: true
          .col-md-12.mtop10.no-mar-pad
            %label.col-md-3 City*
            .col-md-5= af.text_field :city, class: "form-control city", id: "citrusCity", required: true
          .col-md-12.mtop10.no-mar-pad
            %label.col-md-3 State*
            .col-md-5
              = af.select :state, india_states, {include_blank: 'Select State'}, class: "select_box state coco-select-box", id: "citrusState",  required: true
        .col-md-12
          #error.col-md-12.text-danger{style: "font-weight: bold; margin-left: 5px;"}
        .col-md-12.mtop20.no-mar-pad.mbottom20
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#credit_card"} Card
            %li
              %a{"data-toggle" => "tab", :href => "#net_banking"} Net Banking
          .tab-content.ptop10
            #credit_card.tab-pane.fade.in.active
              %input{style: "display:none"}/
              %input{style: "display:none", type: "password"}/
              .col-md-12.mtop10.no-mar-pad
                %label.col-md-3 Card Type*
                .col-md-4
                  %select.coco-select-box#citrusCardType
                    %option{:selected => "selected", :value => "credit"} Credit
                    %option{:value => "debit"} Debit
              .col-md-12.mtop10.no-mar-pad
                %label.col-md-3 Card Number*
                .col-md-6
                  %input.form-control#citrusNumber{type: "text", value: "", autocomplete: "false"}/
                .col-md-2.col-xs-6
                  %input.form-control.padding5.text-center.bg-white#checkout_page_card_type{readonly: true, style: "text-transform: uppercase;font-weight: bold;font-size:9px;"}
                  %input.form-control.hidden#citrusScheme{readonly: true}
              .col-md-12.mtop10.no-mar-pad
                %label.col-md-3 Card Holder Name*
                .col-md-6
                  %input.form-control#citrusCardHolder{type: "text", value: "", autocomplete: "false"}/
              .col-md-12.mtop10.no-mar-pad
                %label.col-md-3 Expiry*
                .col-md-3
                  %input.form-control#citrusExpiry{type: "text", value: "", placeholder: "mm/yyyy", autocomplete: "false"}/
                %label.col-md-2{style: "text-align: right;"} CVV/CVC*
                .col-md-3
                  %input.form-control#citrusCvv{type: "password", value: "", autocomplete: "false", placeholder: "CVV/CVC"}/
              .col-md-12.text-center.mtop20{style: "font-size: 10px;"}
                By continuing, you agree to the Terms and Policies of Cocociti & Product Owner.
              .col-md-12.text-center
                %input.btn.btn-info.save-button.mtop10#citrusCardPayButton{type: "button", value: "Pay Now"}/
              .col-md-12.pbottom50.mtop20.mleft20.hidden-xs
                %span.pull-left.cards-sprite
            #net_banking.tab-pane.fade
              .col-md-12.mtop10.no-mar-pad
                .col-md-3
                  %label Select Your Bank*
                .col-md-6
                  %select.coco-select-box#citrusAvailableOptions
              .col-md-12.text-center.mtop20{style: "font-size: 10px;"}
                By continuing, you agree to the Terms and Policies of Cocociti & Product Owner.
              .col-md-12.text-center.pbottom50
                %input.btn.btn-info.save-button.mtop10#citrusNetbankingButton{type: "button", value: "Pay Now"}/
- if Rails.env.development?
  = content_for :extra_js do
    = javascript_include_tag "//icp.citruspay.com/js/citrus.js"
    = javascript_include_tag "//icp.citruspay.com/js/jquery.payment.min.js"
- elsif Rails.env.production?
  = content_for :extra_js do
    = javascript_include_tag "//www.citruspay.com/resources/pg/js/webjs/citrus.js"
    = javascript_include_tag "//www.citruspay.com/resources/pg/js/webjs/jquery.payment.js"

= content_for :extra_js do
  :javascript
    CitrusPay.Merchant.Config = {
          // Merchant details
          Merchant: {
              accessKey: '#{CITRUS_CONFIG[:merchant_access_key]}', //Replace with your access key
              vanityUrl: 'cococitiospvtltd'  //Replace with your vanity URL
          }
      };

    fetchPaymentOptions();

    function handleCitrusPaymentOptions(citrusPaymentOptions) {
        if (citrusPaymentOptions.netBanking != null)
            for (i = 0; i < citrusPaymentOptions.netBanking.length; i++) {
                var obj = document.getElementById("citrusAvailableOptions");
                var option = document.createElement("option");
                option.text = citrusPaymentOptions.netBanking[i].bankName;
                option.value = citrusPaymentOptions.netBanking[i].issuerCode;
                obj.add(option);
            }
    }

    function citrusServerErrorMsg(errorResponse) {
        alert(errorResponse);
        console.log(errorResponse);
    }
    function citrusClientErrMsg(errorResponse) {
        alert(errorResponse);
        console.log(errorResponse);
    }
    $(document).ready(function(){
      $("#citrusCvv,#citrusExpiry").val("");
      $('#citrusNetbankingButton,#citrusCardPayButton').on("click", function () {
        button_id = $(this).attr("id");
        $.post("/transactions/#{@transaction.id}/check_status_and_save_address_of_transaction",
          { first_name: $("#citrusFirstName").val(),
            last_name: $("#citrusLastName").val(),
            address1: $("#citrusStreet1").val(),
            address2: $("#citrusStreet2").val(),
            city: $("#citrusCity").val(),
            state: $("#citrusState").val(),
            zip: $("#citrusZip").val(),
            email: $("#citrusEmail").val(),
            mobile: $("#citrusMobile").val(),
            mid: "#{@transaction.coco_transaction_id}" },
            function(result){
              if(result.errors.length){
                $(".errors").show();
                $('html, body').animate({
                    scrollTop: 0
                    }, 500);
                $.each(result, function(index, value){
                  $(".errors ul").append("<li>" + value + "</li>");
                });
              }
              else{
                if(button_id == "citrusNetbankingButton"){
                  makePayment("netbanking")
                }
                else if(button_id == "citrusCardPayButton"){
                  makePayment("card")
                }
              }
          });
      });
      var timeout_seconds = #{GLOBAL_VARIABLES[:time_out]*60*1000}
      setTimeout(function(){window.location.href = "#{root_url}";}, timeout_seconds);
      $("button.close").click(function(){
        $(".errors ul").empty();
        $(".errors").hide();
        })
        jQuery.support.cors = true;

     // setup card inputs;
     jQuery('#citrusExpiry').payment('formatCardExpiry');
     jQuery('#citrusCvv').payment('formatCardCVC');
     jQuery('#citrusNumber').keyup(function() {
      var cardNum = jQuery('#citrusNumber').val().replace(/\s+/g, '');
       var type = jQuery.payment.cardType(cardNum);
       console.log(type);
       //jQuery("#citrusNumber").css("background-image", "url(images/" + type + ".png)");
       if(type!='amex')
         jQuery("#citrusCvv").attr("maxlength","3");
       else
         jQuery("#citrusCvv").attr("maxlength","4");
       jQuery('#citrusNumber').payment('formatCardNumber');
       jQuery("#citrusScheme").val(type);
       jQuery("#checkout_page_card_type").val(type);
     });
    });
