.container
  .page-header
    .col-sm-5
      %h1 
        Products
        %small= "#{@products.total_count} products"

    .col-sm-7.no-mar-pad.mtop25
      .pull-right
        ~ form_tag url_for, method: :get do 
          .col-xs-11.no-mar-pad= text_field_tag :term, "", placeholder: "Search", class: "form-control", style: "width: 300px; border-radius: 4px 0px 0px 4px;"
          .col-xs-1.no-mar-pad
            %button.btn.btn-danger.pull-right{type: 'submit', style: "border-radius: 0px 4px 4px 0;"}
              %span.glyphicon.glyphicon-search 
  .col-xs-12.no-mar-pad
    = paginate @products
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th &nbsp;
            %th Image
            %th Title
            %th Category
            %td Listing Date
            %th Owner
            %th Status
            %th On/Off
            %th Featured
            %th

        %tbody
          - @products.each_with_index do |product, i|
            %tr{id: "product-row-#{product.id}"}
              = render partial: "product", locals: { product: product, i: i }
    = paginate @products