- klass = @product.new_record? ? " agreement-require" : ""
~ form_for @product, html: {class: "form-horizontal#{klass}"} do |f|
  
  .col-md-12
    .errors= render partial: "/layouts/errors", locals: {errors: @product.errors.full_messages}
    .panel.panel-primary.collbod
      .collbocol.panel-heading{style: "background-color: #e84242"}
        %h3.panel-title.post-cat Select Category
        %span.pull-right.clickable
          %i.glyphicon.glyphicon-chevron-up
      .panel-body
        .row
          .col-md-12
            %fieldset
              .form-group
                %label.col-sm-2.control-label.pro-detail Category
                .col-sm-10
                  - Category.feature.each do |cat|
                    %span.button-checkbox
                      %button.btn.btn-default.cat-text.cat-select{type: "button", class: "#{'btn-primary' if cat.id==@selected_cat}",data: {color: "primary", id: cat.id}}
                        = image_tag cat.image
                        = cat.name
                      = check_box_tag :category, "", false,class: "hidden"
                  %span.button-checkbox
                    .btn-group
                      %button.btn.btn-default.dropdown-toggle.other-btn{type: "button", data: {color: "primary", toggle: "dropdown"}}
                        = image_tag "icons/others.png"
                        %span.selection.cat-text.img-text-pad More
                        %span.caret
                      %ul.dropdown-menu.cat-text{role: "menu"}
                        - Category.root.other.each do |cat|
                          %li= link_to cat.name, "javascript:;", class: "cat-select cat-other", data: {id: cat.id}
              .form-group
                %label.col-sm-2.control-label.pro-detail{for: "textinput"} Sub-category
                = f.hidden_field :category_id
                #sub-categories.col-sm-10

              .form-group
                %label.col-sm-2.control-label.pro-detail Listing Type
                = f.hidden_field :listing_type
                .col-sm-10
                  %span.button-checkbox
                    %button.btn-default.btn.cat-text.type-select{type: "button", class: "#{'btn-primary' if @product.listing_type=='Free'}", data: {color: "primary", type: "Free"}}
                      = image_tag "icons/Free.png"
                      Free
                    = check_box_tag :listing_type, "Free", false, class: "hidden"
                  %span.button-checkbox
                    %button.btn-default.btn.cat-text.type-select{type: "button", class: "#{'btn-primary' if @product.listing_type=='Rent'}", data: {color: "primary", type: "Rent"}}
                      = image_tag "icons/Rent.png"
                      Rent
                    = check_box_tag :listing_type, "Rent", false, class: "hidden"
                  %span.button-checkbox
                    %button.btn-default.btn.cat-text.type-select{type: "button", class: "#{'btn-primary' if @product.listing_type=='Sale'}", data: {color: "primary", type: "Sale"}}
                      = image_tag "icons/Sale.png"
                      Sale
                    = check_box_tag :listing_type, "Sale", false, class: "hidden"
                  %span.button-checkbox
                    %button.btn-default.btn.cat-text.type-select{type: "button", class: "#{'btn-primary' if @product.listing_type=='Free'}", data: {color: "primary", type: "Requesting"}}
                      = image_tag "icons/Requesting.png"
                      Requesting
                    = check_box_tag :listing_type, "Requesting", false, class: "hidden"
  .col-md-12
    .panel.panel-primary.collbod
      .collbocol.panel-heading{style: "background-color: #e84242"}
        %h3.panel-title.post-cat Select Category
        %span.pull-right.clickable
          %i.glyphicon.glyphicon-chevron-up
      .panel-body
        .row
          .col-md-12
            %fieldset
              .form-group
                %label.col-sm-2.control-label Listing Title
                .col-sm-4
                  = f.text_field :title, class: "form-control"
              .form-group.none-free
                %label.col-sm-2.control-label Price
                .col-sm-4
                  = f.text_field :price, placeholder: "Perday", class: "form-control"

              .form-group.none-free
                %label.col-sm-2.control-label Tax
                .col-sm-2.no-mar-pad
                  .col-sm-8= f.text_field :tax, placeholder: "Percent", class: "form-control"
                  %small.col-sm-4.no-mar-pad{style: "margin-top: 10px"} %
              .form-group
                %label.col-sm-2.control-label Ship Price
                .col-sm-10
                  .checkbox-group-container
                    - Product::WEIGHTS.count.times do |i|
                      .col-sm-4
                        .checkbox-container
                          = f.radio_button :ship_price, Product::SHIP_PRICES[i], class: "custom_field_checkbox", id: "ship_price-#{i}"
                          %label.light{for: "ship_price-#{i}"}= "#{Product::SHIP_PRICES[i]} ( #{Product::WEIGHTS[i]} )"
      

              .form-group.none-free
                %label.col-sm-2.control-label Discounts 
                .col-sm-2
                  %small.col-sm-12 > 3 days
                  %span.col-sm-8= f.text_field :discount_3, class: "form-control"
                  %small.col-sm-4.no-mar-pad{style: "margin-top: 10px"} %
                .col-sm-2
                  %small.col-sm-12 > 10 days
                  %span.col-sm-8= f.text_field :discount_10, class: "form-control"
                  %small.col-sm-4.no-mar-pad{style: "margin-top: 10px"} %
                .col-sm-2
                  %small.col-sm-12 > 20 days
                  %span.col-sm-8= f.text_field :discount_20, class: "form-control"
                  %small.col-sm-4.no-mar-pad{style: "margin-top: 10px"} %
                .col-sm-2
                  %small.col-sm-12 > 30 days
                  %span.col-sm-8= f.text_field :discount_30, class: "form-control"
                  %small.col-sm-4.no-mar-pad{style: "margin-top: 10px"} %
                .col-sm-2
                  %small.col-sm-12 > 90 days
                  %span.col-sm-8= f.text_field :discount_90, class: "form-control"
                  %small.col-sm-4.no-mar-pad{style: "margin-top: 10px"} %

              .form-group
                %label.col-sm-2.control-label Available
                .col-sm-4
                  .checkbox-container
                    = f.check_box :available, class: "custom_field_checkbox"
                    %lable.light{for: "product_available"} Available
              .form-group
                %label.col-sm-2.control-label Detail Description
                .col-sm-10
                  = f.text_area :description, class: "form-control textarea", rows: "3", placeholder: "Description"
              
              .form-group
                %label.col-sm-2.control-label Owner Type
                .col-sm-10
                  = f.select :owner_type, options_for_select(["Individual", "Dealer/Agency"], @product.owner_type), {}, class: "selectpicker"


              .form-group
                %label.col-sm-2.control-label Operator Type
                .col-sm-3
                  = f.select :operator_type, options_for_select([["Dry Rental", 0], ["Wet Hire", 1], ["Both", 2]], @product.operator_type.to_s), {}, class: "selectpicker"
                %label.col-sm-2.no-mar-pad.control-label.oprice{class: "#{'hide' if f.object.operator_type==0}"} Operator Price
                %span.col-sm-5.oprice{class: "#{'hide' if f.object.operator_type==0 }"}
                  .col-sm-3= f.text_field :operator_price, class: "form-control"

              .form-group
                %label.col-sm-2.control-label Product Condition
                .col-sm-10
                  .checkbox-group-container
                    .col-sm-5
                      .checkbox-container
                        = f.radio_button :product_condition, "New", class: "custom_field_checkbox", id: "cond-1"
                        %label.light{for: "cond-1"} New
                      .checkbox-container
                        = f.radio_button :product_condition, "Excellent", class: "custom_field_checkbox", id: "cond-2"
                        %label.light{for: "cond-2"} Excellent
                      .checkbox-container
                        = f.radio_button :product_condition, "Good", class: "custom_field_checkbox", id: "cond-3"
                        %label.light{for: "cond-3"} Good
                    .col-sm-5
                      .checkbox-container
                        = f.radio_button :product_condition, "Average", class: "custom_field_checkbox", id: "cond-4"
                        %label.light{for: "cond-4"} Average
                      .checkbox-container
                        = f.radio_button :product_condition, "Okeyish", class: "custom_field_checkbox", id: "cond-5"
                        %label.light{for: "cond-5"} Okeyish
              .form-group
                %label.col-sm-2.control-label Tech Spec/Instructions (If any)
                .col-sm-10
                  =f.text_area :tech_spec, placeholder: "Tech Specs/Instructions(If any)", class: "form-control textarea", rows: "3"
              
              .form-group.none-free
                %label.col-sm-2.control-label Security Deposit
                .col-sm-10
                  - @product.security_deposit ||=0
                  =f.text_field :security_deposit, placeholder: "Security Deposit", class: "form-control"
              .form-group
                %label.col-sm-2.control-label Terms & Conditions
                .col-sm-10
                  =f.text_area :terms_and_conditions, placeholder: "Terms & Conditions", class: "form-control textarea", rows: "3"
              .form-group
                %label.col-sm-2.control-label Year of Manufacture
                .col-sm-10
                  =f.text_field :year_of_manufacture, placeholder: "Year of Manufacture", class: "form-control"

              .form-group
                %label.col-sm-2.control-label Doc Requirement
                .col-sm-10
                  .row.checkbox-group-container
                    .col-sm-5
                      - @product.doc_requirement ||= []
                      .checkbox-container
                        = check_box_tag "product[doc_requirement][]", "Aadhar/ Govt ID/ Passport", @product.doc_requirement.include?("Aadhar/ Govt ID/ Passport"), class: "custom_field_checkbox", id: "req-1"
                        %lable.light{for: "req-1"} Aadhar/ Govt ID/ Passport
                      .checkbox-container
                        = check_box_tag "product[doc_requirement][]", "Address proof", @product.doc_requirement.include?("Address proof"), class: "custom_field_checkbox", id: "req-2"
                        %lable.light{for: "req-2"} Address proof
                      .checkbox-container
                        = check_box_tag "product[doc_requirement][]", "Local Reference", @product.doc_requirement.include?("Local Reference"), class: "custom_field_checkbox", id: "req-3"
                        %lable.light{for: "req-3"} Local Reference
                    .col-sm-5
                      .checkbox-container
                        = check_box_tag "product[doc_requirement][]", "Driving License", @product.doc_requirement.include?("Driving License"), class: "custom_field_checkbox", id: "req-4"
                        %lable.light{for: "req-4"} Driving License
                      .checkbox-container
                        = check_box_tag "product[doc_requirement][]", "Company ID", @product.doc_requirement.include?("Company ID"), class: "custom_field_checkbox", id: "req-5"
                        %lable.light{for: "req-5"} Company ID

              .form-group.none-free
                %label.col-sm-2.control-label Replacement Cost
                .col-sm-10
                  = f.text_field :replacement_cost, placeholder: "Replacement Cost", class: "form-control"
              .form-group
                %label.col-sm-2.control-label Location
                .col-sm-10.closest
                  = f.fields_for :location do |lf|
                    = lf.text_field :name, placeholder: "Location", class: "form-control map-location"
                    = lf.hidden_field :lat, class: "lat"
                    = lf.hidden_field :lng, class: "lng"
              .col-md-offset-2
                #gmap.col-sm-11.mleft15.mbottom20{data: {drag: "true"}}
                
              .form-group
                %label.col-sm-2.control-label Images
                .col-md-10
                  = f.hidden_field :image_ids, value: @images.map(&:id), id: "image_ids"
                  = link_to "upload images", "javascript:;", class: "btn btn-success upload-image"
                  %br
                  %br
                  .col-sm-1.progress-count 0%
                  #progress.col-sm-10.no-mar-pad{style: "display: none;"}
                    .bar{style:"width: 0%;"}
                  %br
                  #preview
                    - @images.each do |image|
                      .col-sm-2= image_tag image.file.thumb.url
                    
                  / .col-sm-12
                  /   %h4 The photo uploading should be original, clear and recent
                  / .col-sm-4
                  /   = image_tag @product.image_1_url, size: "128x128" if @product.image_1_url && !@product.new_record?
                  /   .fileinput-button.upload-image-placeholder
                  /     .fileupload-text-container
                  /       .fileupload-centered-text
                  /         .fileupload-text Select file
                  /         .fileupload-small-text
                  /     = f.file_field :image_1, style: "display: inline-block;" , class: "fileupload"
                  /     %img.fileupload-preview-image{style: "display: none;"}
                  /     .fileupload-preview-remove-image
                  /       %i.icon-remove.icon-fix
                  / .col-sm-4
                  /   = image_tag @product.image_2_url, size: "128x128" if @product.image_2_url && !@product.new_record?
                  /   .fileinput-button.upload-image-placeholder
                  /     .fileupload-text-container
                  /       .fileupload-centered-text
                  /         .fileupload-text Select file
                  /         .fileupload-small-text
                  /     = f.file_field :image_2, style: "display: inline-block;" , class: "fileupload"
                  /     %img.fileupload-preview-image{style: "display: none;"}
                  /     .fileupload-preview-remove-image
                  /       %i.icon-remove.icon-fix
                  / .col-sm-4
                  /   = image_tag @product.image_3_url, size: "128x128" if @product.image_3_url && !@product.new_record?
                  /   .fileinput-button.upload-image-placeholder
                  /     .fileupload-text-container
                  /       .fileupload-centered-text
                  /         .fileupload-text Select file
                  /         .fileupload-small-text
                  /     = f.file_field :image_3, style: "display: inline-block;" , class: "fileupload"
                  /     %img.fileupload-preview-image{style: "display: none;"}
                  /     .fileupload-preview-remove-image
                  /       %i.icon-remove.icon-fix
              - if @product.new_record?
                .form-group.clearfix
                  = label_tag :agreement, "Agreement", :class => 'col-sm-2 control-label'
                  .col-sm-10.mtop10
                    .col-sm-12
                      = check_box_tag :agreement
                      %span.mleft10 By posting on Cocociti you agree all Terms and policies of Cocociti 
                    .col-sm-12.agreement-error.text-danger{style: "display: none; font-weight: bold;"} You must agree to post a listing. 

              .form-group
                .col-sm-offset-2.col-sm-10
                  .pull-right
                    = f.submit "Save Listing", class: "btn btn-info save-button"
.clearfix
= file_field_tag "files[]", multiple: true, class: "fileupload", data: {url: images_path}, style: "opacity: 0", id: "image-uploader"

= content_for :extra_js do   
  :coffee
    $ ->
      $.get("/products/sub_categories", {category: "#{@selected_cat}", selected: "#{@selected_sub}"})
      $(document).on "click", '.cat-select', ->
        if $(@).hasClass("cat-other")
          $(@).closest(".form-group").find(".cat-text").removeClass("btn-primary")
          $(@).closest(".form-group").find(".other-btn").addClass("btn-primary")
        $.get("/products/sub_categories", {category: $(@).data("id"), selected: "#{@selected_sub}"})
      $(".cat-text").click ->
        $(@).closest(".form-group").find(".cat-text").removeClass("btn-primary")
        $(@).closest(".form-group").find(".other-btn").removeClass("btn-primary")
        $(@).addClass("btn-primary")
        if $(@).hasClass("type-select")
          type = $(@).data('type')
          $("#product_listing_type").val(type)
          if type=='Free'
            $('.none-free').hide()
          else
            $('.none-free').show()
      $(document).on "click", '.cat-sub', ->
        $("#product_category_id").val($(@).data("id"))
        $(@).closest(".btn-group").find("span.selection").html($(@).data("name"))

      toggleOperator()
      $("#product_operator_type").change ->
        toggleOperator()

    toggleOperator = () =>
      if $("#product_operator_type").val()=="0"
        $(".oprice").addClass('hide');
      else
        $(".oprice").removeClass('hide');