- length ||= 18
.bgc-fff.box-shad.btm-mrg-20.property-listing.col-sm-12.col-xs-12.no-mar-pad
  - unless product.currently_available?
    = link_to user_product_path(product.id), target: "_blank" do
      .overlay.text-center
        .btn.padding10.grey-fg.mtop45per.dark-grey-bg
          OUT FOR RENT
          .glyphicon.glyphicon-exclamation-sign
  = link_to user_product_path(product.id), target: "_blank" do
    = cl_image_tag product.image.filename, class: "img-responsive img-style-new", alt: "#{product.title}-#{product.category_name}", width: 253, height: 190, crop: :fill
  = cl_image_tag product.user.avatar, class: "img-circle profile_pic", width: 40, height: 40, crop: :fill, gravity: :face
  %h4.media-heading.price-bg
    = link_to "javascript:;", target: "_parent", class: "bd-#{product.listing_type_name.downcase}" do
      - if product.for_free?
        Free
      - else
        - if product.daily_type?
          %i.fa.fa-rupee= "#{product.price}"
          %span.note-font-size /day
        -elsif product.hourly_type?
          %i.fa.fa-rupee= " #{product.hourly_price}"
          %span.note-font-size /hr
        - if product.instant?
          %i.instant-sprite{title: "Book Instantly, No confirmation needed", "data-toggle" => "tooltip"}
  .media-body.fnt-smaller.padding10
    %ul.list-inline.btm-mrg-10
      %li.name-tag{title: "#{product.title}", "data-toggle" => "tooltip"}= truncate product.title, length: length
      %li.pull-right.place{title: "#{product.location_address}", "data-toggle" => "tooltip"}= truncate product.location_address, length: length
    %div.pull-left.full-width
      /%h6.month-week &nbsp;
      %span.pull-left.font11{title: "#{product.category.name}", "data-toggle" => "tooltip"}= truncate product.category.name, length: length
      %i.pull-right
        = render partial: "products/rated", locals: {rate: product.rate}
