- length ||= 13
.brdr.bgc-fff.pad-10.box-shad.btm-mrg-20.property-listing
  .media
    = link_to user_product_path(product.id), target: "_blank" do
      = cl_image_tag product.image.filename, class: "img-responsive img-style-new", alt: "#{product.title}-#{product.category_name}", width: 253, height: 190, crop: :fill
    = link_to "javascript:;" do
      = cl_image_tag product.user.avatar, class: "img-circle profile_pic", width: 40, height: 40, crop: :fill
    %h4.media-heading.price-bg
      = link_to "javascript:;", target: "_parent", class: "bd-#{product.listing_type_name.downcase}" do
        - if product.for_free?
          Free
        - else
          - if product.daily_type?
            %i.fa.fa-rupee= "#{product.price}"
            %span.note-font-size /day
          -elsif product.hourly_type?
            %i.fa.fa-rupee= " #{product.hourly_price}"
            %span.note-font-size /hr
          - if product.instant?
            %i.instant-sprite{title: "Book Instantly, No confirmation needed"}
    .media-body.fnt-smaller.padding10
      %ul.list-inline.btm-mrg-10
        %li.name-tag{title: "#{product.title}"}= truncate product.title, length: length
        %li.pull-right.place{title: "#{product.location_address}"}= truncate product.location_address, length: length
      %div.pull-left.full-width
        /%h6.month-week &nbsp;
        %span.pull-left.note-font-size{title: "#{product.category.name}"}= truncate product.category.name, length: length
        %i.pull-right
          = render partial: "products/rated", locals: {rate: product.rate}
