- if @products.blank?
  .col-xs-12.col-sm-12.no-mar-pad
    %h3.text-center Ayyo, Items are not available for the selected time frame.
- else
  = content_for :title do
    - unless @from_all_page
      - title = "#{@products.first.category_path} for rent in Bangalore"
    - else
      - title = "Rent Anything Online. Hire or rent Bikes, Self drive Cars, and all things at world's largest rental marketplace - Cocociti.com"
  = content_for :meta_content do
    - meta_content = "Cocociti is the most effortless way to rent or hire everything and anything online - Bikes, Self Drive cars, Cameras, Dress, Backpacks, Tents, Electronics, Furniture, Home Appliances, Tools & Equipment Rental and avail on demand access to things at Cocociti."
  .container-fluid.mar-des-page.grey-bg
    .col-xs-12.col-md-12
      .ol.breadcrumb.mbottom0.note-font-size
        = render_breadcrumbs tag: :li, separator: "&nbsp;&nbsp;<span class='glyphicon glyphicon-menu-right extra-small-font'></span>&nbsp;&nbsp;".html_safe
    .col-xs-12.col-md-12.no-mar-pad.col-sm-12.ptop10.mbottom40
      - @products.each_slice(4) do |slide|
        .col-xs-12.col-sm-12
          - slide.each do |product|
            .col-xs-12.col-sm-3
              = render partial: "product", locals: {product: product}
