= content_for :title do
  -title = "#{@product.title}-#{@product.category_name}-#{@product.location.name.split(/\W+/)[0]}-#{@product.location.name.split(/\W+/)[1]}"
= content_for :header_extra do
  = render "layouts/search_form"
.container
  .row.mar-des-page
    .col-md-8
      - unless @product.images.blank?
        %ul.bxslider
          - @product.images.each do |image|
            %li{style: "text-align: center"}= cl_image_tag image.filename, alt: "#{@product.title}-#{@product.category_name}", width: 740, height: 460, crop: :fill
        #bx-pager.text-center
          - @product.images.each_with_index do |image, i|
            = link_to "", "data-slide-index" => i do
              = cl_image_tag image.filename, alt: "#{@product.title}-#{@product.category_name}", width: 145, height: 80, crop: :fill
        .col-xs-12.col-md-12.available
          .col-xs-12.col-sm-4
            = cl_image_tag @product.user.avatar, class: "img-circle mtop20", width: 40, height: 40, crop: :fill
            %h6.des-own-det= @product.user.name
          .col-xs-12.col-sm-4
            = image_tag "img/des-assets/time.png", class: "des-assests"
            %h6.des-own-det= "#{@product.user.profile.open_time} - #{@product.user.profile.close_time}"
          .col-xs-12.col-sm-4
            = image_tag "img/des-assets/individual.png", class: "des-assests"
            - if @product.owner_type == Product::OWNER_TYPE[0][1]
              %h6.des-own-det= Product::OWNER_TYPE[0][0].upcase
            - elsif @product.owner_type == Product::OWNER_TYPE[1][1]
              %h6.des-own-det= Product::OWNER_TYPE[1][0].upcase

    .col-md-4
      %h2.product-name= @product.title
      .col-md-6
        %h6.reviw= @product.reviews_count
      .col-md-6.rat.pbottom10
        %i.product-rated
          = render partial: "rated", locals: {rate: @product.rate}
      - unless session[:end_date_time].blank? || session[:start_date_time].blank?
        .col-md-6
          From Date
          %br/
          = session[:start_date_time]
        .col-md-6
          To Date
          %br/
          = session[:end_date_time]
      - else
        .col-md-12.border-light.text-center.no-mar-pad.padding10
          Please select a 'Pick up Date' and a 'Drop off Date' and click search.
      ~ form_tag product_checkout_path(@product) do
        .col-md-12
          .tabbable-panel-rs
            .tabbable-line-rs
              %ul.nav.nav-tabs.rent-sale-text
                %li.active
                  = link_to @product.listing_type_name, "#tab_default_1_1", "data-toggle" => "tab", class: "bg-white"
              .tab-content.table-panel-rs-heoght
                #tab_default_1_1.tab-pane.active{style: "min-height: 160px;"}
                  - if @product.operator_type != Product::OPERATOR_TYPE[0][1]
                    %p
                      - if @product.operator_type != Product::OPERATOR_TYPE[1][1]
                        = radio_button_tag :operator_type, Product::OPERATOR_TYPE[0][1], true, class: "operator_type"
                        %label Product Only
                        %span.pull-right
                          %i.fa.fa-rupee
                          0
                      %br
                      = radio_button_tag :operator_type, Product::OPERATOR_TYPE[1][1], @product.operator_type == Product::OPERATOR_TYPE[1][1], class: "operator_type"
                      %label With Operator/Driver (Assisted)
                      %span.pull-right
                        %i.fa.fa-rupee
                        = @product.operator_price
                  - if @product.for_free?
                    %ul.sale-details.pull-left
                      %li Shipping
                    %ul.pull-right.sale-details2.text-right
                      %li
                        %i.fa.fa-rupee
                        = @product.ship_price
                  - else
                    %ul.sale-details.pull-left
                      %li Deposit
                      %li Daily price
                      %li Days
                      %li Discount ( #{@product.discount_percent(@days)}% )
                      %li Tax ( #{@product.tax}% )
                      /%li Shipping
                      %li Pay amount
                    %ul.pull-right.sale-details2.text-right
                      %li
                        %i.fa.fa-rupee
                        = @product.security_deposit
                      %li
                        %i.fa.fa-rupee
                        = @product.price
                      %li.days= 1
                      %li
                        %span.min-sign
                        %i.fa.fa-rupee
                        %span.discount 0
                      %li
                        %i.fa.fa-rupee
                        - type = @product.operator_type== Product::OPERATOR_TYPE[1][1] ? 1 : 0
                        %span.tax-amount= @product.tax_amount(1, type)
                      %li
                        /%i.fa.fa-rupee
                        =# @product.ship_price
                      %li
                        %i.fa.fa-rupee
                        %span.total-amount= @product.calculate_price(1, type)
        .col-xs-12.col-md-12.from-bar
          - if current_user != @product.user
            .col-md-12.date-error{style: "color: red"}
            .col-md-12{style: "padding: 0; margin-left: 15px"}
              - if current_user && @product.available?
                %button#rent-btn.src-but{type: "submit", style: "width: 100%;padding: 0"}= @product.for_free? ? "Get" : "Rent"
              - else
                %button.src-but{type: "button", style: "width: 100%;padding: 0", data: {toggle: "modal", target: "#login"}}
                  Login to Book
  .col-xs-12.col-md-8.mtop20.no-padding-left
    %h4.list-detail-head Description
    %hr.col-md-12.mtop-v-5
    %p.list-detail-desc.text-justify= @product.description
  .col-xs-12.col-md-8.mtop20.no-padding-left
    #myTab
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#product_details"} Product Details
        %li
          %a{"data-toggle" => "tab", :href => "#tech_specification"} Tech Specification
        %li
          %a{"data-toggle" => "tab", :href => "#terms_and_policy"} Terms and Policy
        %li
          %a{"data-toggle" => "tab", :href => "#reviews"} Reviews
      .tab-content.ptop10
        #product_details.tab-pane.fade.in.active
          .col-md-12.no-padding-left.list-prod-detail Location
          .col-md-12.mbottom10.no-padding-left
            = @product.location_address
          .col-md-12.no-padding-left.list-prod-detail Product condition
          .col-md-12.mbottom10.no-padding-left
            = @product.product_condition_name
          .col-md-12.no-padding-left.list-prod-detail Year of Manufacture
          .col-md-12.mbottom10.no-padding-left
            = @product.year_of_manufacture
          .col-md-12.no-padding-left.list-prod-detail Documents Required
          .col-md-12.no-padding-left
            = @product.documents
        #tech_specification.tab-pane.fade.text-justify
          = @product.tech_spec
        #terms_and_policy.tab-pane.fade.text-justify
          = @product.terms_and_conditions
        #reviews.tab-pane.fade
          %h4.rev-head= @product.reviews_count
          - @product.reviews.each do |review|
            = render partial: "review", locals: {review: review}

  .col-xs-12.col-md-8.mtop20.no-padding-left
    - if current_user && current_user.can_review?(@product)
      .well
        .my-review= render partial: "my_review", locals: {product: @product}
        - if current_user.rated_value(@product) > 0
          %h4 Your rating
          %i.star-mar.rate_stars
            = render partial: "rated", locals: {rate: current_user.rated_value(@product)}
        - else
          %h4 Rate here
          %i.star-mar.rate_stars
            = render partial: "rating", locals: {rate: 0}
.row
  = hidden_field_tag :map_location, @product.location_address, class: "map-location"
  .map-mar.hidden-xs
    #gmap.hidden{style: "min-height: 300px;", data: {drag: false}}

= content_for :extra_js do
  :javascript
    $(function(){
      getPrice();
      $("input[name=operator_type]").click(function(){
         getPrice();
       });
     function getPrice(){
       operator_type = $("input[name=operator_type]:checked").val();
       data = {startdate: "#{session[:start_date_time]}", enddate: "#{session[:end_date_time]}", id: "#{@product.id}", operator_type: operator_type}
        $.get("/products/get_price", data)
         .done(function(result){
             $(".days").text(result.days);
             $(".tax-amount").text(result.tax);
             $(".total-price").text(result.total_price);
             $(".total-amount").text(result.pay_amount);
             $(".discount").text(result.discount);
             $(".min-sign").text(result.sign);
             $("#operator_type").val(operator_type);
        });
      }
    });
