= content_for :meta_content do
  -meta_content = "#{truncate @product.description, length: 200}"
= content_for :title do
  -title = "#{@product.title}-#{@product.category_name}-for-rent-in-Bangalore-#{@product.location.name.split(/\W+/)[0]}-#{@product.location.name.split(/\W+/)[1]} - Cocociti"
= content_for :header_extra do
  = render "layouts/search_form"
.container
  .row.mar-des-page
    .col-md-8
      - unless @product.images.blank?
        %ul.bxslider
          - @product.images.each do |image|
            %li{style: "text-align: center"}= cl_image_tag image.filename, alt: "#{@product.title}-#{@product.category_name}", :transformation => {:width => 740, :height => 460, :crop => :fill}, :overlay => "#{GLOBAL_VARIABLES[:watermark]}",
            :crop => :fit, :gravity => :south_east, :x => 15, :y => 20
        #bx-pager.text-center
          - @product.images.each_with_index do |image, i|
            = link_to "", "data-slide-index" => i do
              = cl_image_tag image.filename, alt: "#{@product.title}-#{@product.category_name}", width: 145, height: 80, crop: :fit
        .col-xs-12.col-md-12.available
          .col-xs-12.col-sm-3.bord-right-prd-show
            %h6.des-own-det Owner
            = cl_image_tag @product.user.avatar, class: "img-circle mbottom5", width: 40, height: 40, crop: :fill
            %h6.des-own-det= @product.user.name
          .col-xs-12.col-sm-3.bord-right-prd-show
            %h6.des-own-det Open - Close Time
            %center
              .open-close-sprite
            %h6.des-own-det.pull-left.full-width= "#{@product.user.profile.open_time} - #{@product.user.profile.close_time}"
          .col-xs-12.col-sm-3.bord-right-prd-show
            %h6.des-own-det Booking Type
            - if @product.owner_type == Product::OWNER_TYPE[0][1]
              %center
                .booking-type-sprite
              %h6.des-own-det.pull-left.full-width= Product::OWNER_TYPE[0][0].humanize
            - elsif @product.owner_type == Product::OWNER_TYPE[1][1]
              %center
                .booking-type-confirm-sprite
              %h6.des-own-det.pull-left.full-width= Product::OWNER_TYPE[1][0].humanize
          .col-xs-12.col-sm-3
            %h6.des-own-det Business Type
            %center
              .business-type-sprite
            %h6.des-own-det.pull-left.full-width= @product.user.profile.business_type_name
    .col-md-4
      %h2.product-name.no-mar-pad.mbottom5= @product.title
      .col-md-6
        %h4.no-mar-pad= @product.reviews_count
      .col-md-6.text-right.mbottom10
        %i.product-rated
          = render partial: "rated", locals: {rate: @product.rate}
      - unless session[:end_date_time].blank? || session[:start_date_time].blank?
        .col-md-6.mbottom10
          From Date
          %br/
          %strong= session[:start_date_time]
        .col-md-6.text-right
          To Date
          %br/
          %strong= session[:end_date_time]
      - else
        .col-md-12.border-light.text-center.no-mar-pad.padding10.mbottom10
          Please select a 'Pick up Date' and a 'Drop off Date' and click search.
      ~ form_tag product_checkout_path(@product) do
        .col-md-12.no-mar-pad
          - if @product.operator_type == Product::OPERATOR_TYPE[2][1]
            %p
              = radio_button_tag :operator_type, Product::OPERATOR_TYPE[0][1], true, class: "operator_type"
              %label Product Only
              %span.pull-right
                %i.fa.fa-rupee
                0
              %br
              = radio_button_tag :operator_type, Product::OPERATOR_TYPE[1][1], @product.operator_type == Product::OPERATOR_TYPE[1][1], class: "operator_type"
              %label With Operator/Driver (Assisted)
              %span.pull-right
                %i.fa.fa-rupee
                - if @hours > 0
                  = @product.operator_price * (@days + 1)
                - else
                  = @product.operator_price * (@days)
          - if @product.for_free?
            %ul.sale-details.pull-left
              %li Shipping
            %ul.pull-right.sale-details2.text-right
              %li
                %i.fa.fa-rupee
                = @product.ship_price
          - else
            - op_type = @product.operator_type== Product::OPERATOR_TYPE[1][1] ? Product::OPERATOR_TYPE[1][1] : Product::OPERATOR_TYPE[0][1]
          .table-responsive
            %table.table.table-bordered.table-striped.table-hover.mbottom5#rent-details-table
              - if @days > 0
                %tr.breakup-columns
                  %td Daily Rent
                  %td.text-right
                    = @product.price
                %tr.breakup-columns
                  %td.font-medium No. of Days
                  %td.font-medium.text-right
                    x&nbsp;&nbsp;
                    = @days
                %tr
                  %td
                    %span.non-breakup-columns Rent for #{@days} day(s)
                  %td.font-medium.text-right
                    %span.breakup-columns =&nbsp;&nbsp;
                    = @product.price * @days
              - if @hours > 0
                %tr.breakup-columns
                  %td Hourly Rent
                  %td.text-right
                    = @product.hourly_price
                %tr.breakup-columns
                  %td.font-medium No. of Hours
                  %td.font-medium.text-right
                    x&nbsp;&nbsp;
                    = @hours
                %tr
                  %td
                    %span.non-breakup-columns Rent for #{@hours} hour(s)
                  %td.font-medium.text-right
                    %span.breakup-columns =&nbsp;&nbsp;
                    = @product.hourly_price * @hours
              - if @no_of_weekenddays > 0
                %tr.breakup-columns
                  %td.font-medium
                    Daily Premium Rent**
                  %td.font-medium.text-right
                    = @product.seasonal_weekend_pricing(1, 0, 0)
                %tr.breakup-columns
                  %td.font-medium No. of Premium Days
                  %td.font-medium.text-right
                    x&nbsp;&nbsp;
                    = @no_of_weekenddays
                %tr
                  %td
                    %span.non-breakup-columns Rent for #{@no_of_weekenddays} premium day(s)**
                  %td.font-medium.text-right
                    %span.breakup-columns =&nbsp;&nbsp;
                    = @product.seasonal_weekend_pricing(1, 0, 0) * @no_of_weekenddays
              - if @hours > 0 && @end_day_weekend > 0
                %tr.breakup-columns
                  %td.font-medium
                    Hourly Premium Rent**
                  %td.font-medium.text-right
                    = @product.seasonal_weekend_pricing(0, 1, 1)
                %tr.breakup-columns
                  %td.font-medium No. of Premium Hours
                  %td.font-medium.text-right
                    x&nbsp;&nbsp;
                    = @hours
                %tr
                  %td
                    %span.non-breakup-columns Rent for #{@hours} premium hour(s)**
                  %td.font-medium.text-right
                    %span.breakup-columns =&nbsp;&nbsp;
                    = @product.seasonal_weekend_pricing(0, 1, 1) * @hours
              - if @product.operator_type== Product::OPERATOR_TYPE[1][1]
                %tr
                  %td.font-medium
                    - if @hours > 0
                      Operator Price x #{@days + 1} day(s)
                    - else
                      Operator Price x #{@days} day(s)
                  %td.font-medium.text-right
                    - if @hours > 0
                      = @product.operator_price * (@days + 1)
                    - else
                      = @product.operator_price * (@days)
              %tr
                %td.font-medium Total Rent
                %td.font-medium.text-right
                  %span.price-without-discount= @product.price_without_discount(@days, @hours, op_type, @no_of_weekenddays, @end_day_weekend)
              %tr
                %td.font-medium
                  Discounts
                  - if @product.discounts_any?
                    *
                %td.font-medium.text-right
                  %span.discount= @product.discount_by_days(@days, @hours, op_type, @no_of_weekenddays, @end_day_weekend)
              %tr
                %td
                  %strong Total Rent after Discount
                %td.text-right
                  %strong
                    %span.price-with-discount= @product.price_with_discount(@days, @hours, op_type, @no_of_weekenddays, @end_day_weekend)
              %tr
                %td.font-medium Tax ( #{@product.tax}% )
                %td.font-medium.text-right
                  %span.tax-amount= @product.tax_amount(@days, @hours, op_type, @no_of_weekenddays, @end_day_weekend)
              %tr
                %td.font-medium Refundable Security Deposit
                %td.font-medium.text-right
                  = @product.security_deposit
              /
                %tr
                  %td.font-medium Shipping
                  %td.font-medium.text-right
              %tr
                %td
                  %h4.no-mar-pad
                    %strong Total Amount Payable
                %td.text-right
                  %h4.no-mar-pad
                    %i.fa.fa-rupee
                    %span.total-amount
                      %strong= @product.calculate_price(@days, @hours, op_type, @no_of_weekenddays, @end_day_weekend)
          .col-md-12.no-mar-pad.mbottom10.text-right
            .note-font-size.detailed-breakup.pon
              Click here for detailed break up&nbsp;
              %i.glyphicon.glyphicon-menu-down.clickable
        .col-xs-12.col-md-12.from-bar
          - if current_user
            .col-md-12.padding0.mleft15
              - if current_user != @product.user && @product.available?
                - unless session[:end_date_time].blank? || session[:start_date_time].blank?
                  %button#rent-btn.src-but.full-width.padding0{type: "submit"}= @product.for_free? ? "Get" : "Rent"
                - else
                  %button.src-but.full-width.padding0.search-in-show{type: "button"} Search
              - if current_user == @product.user || current_user.admin?
                = link_to edit_product_path(@product.id)  do
                  %button#rent-btn.src-but.full-width.padding0{type: "button"} Edit This Item
              - if current_user.admin?
                = link_to update_admin_approved_product_path(@product.id), method: :post do
                  %button#rent-btn.src-but.full-width.padding0.mtop0{type: "button"}= @product.admin_approved == true ? "Unapprove" : "Approve"
          - else
            .col-md-12.padding0.mleft15
              %button.src-but.full-width.padding0{type: "button", data: {toggle: "modal", target: "#login"}}
                Login to Book
        - if @no_of_weekenddays > 0 || @product.discounts_any?
          .col-xs-12.col-md-12.from-bar.mtop10.padding10.note-font-size
            - if @no_of_weekenddays > 0
              ** Premium Rent is charged by Item owner
              %br
              %i.fa.fa-rupee
              = @product.seasonal_weekend_pricing(1, 0, 0)
              \/day
              %br
              - if @hours > 0 && @end_day_weekend > 0
                %i.fa.fa-rupee
                = @product.seasonal_weekend_pricing(0, 1, 1)
                \/hr
              %br
              Premium days set by Item owner are as follows:
              %br
              = @product.weekend_days_display
              %br
              %br
            - if @product.discounts_any?
              * Discounts given by product owner
              %br
              3 + days = #{@product.discount_3}%
              %br
              10 + days = #{@product.discount_10}%
              %br
              20 + days = #{@product.discount_20}%
              %br
              30 + days = #{@product.discount_30}%
              %br
              90 + days = #{@product.discount_90}%
  .col-xs-12.col-md-8.mtop20.no-padding-left
    %h4.list-detail-head Description
    %hr.col-md-12.mtop-v-5
    %p.list-detail-desc.text-justify= @product.description
  .col-xs-12.col-md-8.mtop20.no-padding-left
    #myTab
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#product_details"} Product Details
        %li
          %a{"data-toggle" => "tab", :href => "#tech_specification"} Tech Specification
        %li
          %a{"data-toggle" => "tab", :href => "#terms_and_policy"} Terms and Policy
        %li
          %a{"data-toggle" => "tab", :href => "#reviews"} Reviews
      .tab-content.ptop10
        #product_details.tab-pane.fade.in.active
          .col-md-12.no-padding-left.list-prod-detail Location
          .col-md-12.mbottom10.no-padding-left
            = @product.location_address
          .col-md-12.no-padding-left.list-prod-detail Product condition
          .col-md-12.mbottom10.no-padding-left
            = @product.product_condition_name
          .col-md-12.no-padding-left.list-prod-detail Year of Manufacture
          .col-md-12.mbottom10.no-padding-left
            = @product.year_of_manufacture
          .col-md-12.no-padding-left.list-prod-detail Documents Required
          .col-md-12.no-padding-left
            = @product.documents
        #tech_specification.tab-pane.fade.text-justify
          = simple_format @product.tech_spec
        #terms_and_policy.tab-pane.fade.text-justify
          = simple_format @product.terms_and_conditions
        #reviews.tab-pane.fade
          %h4.rev-head= @product.reviews_count
          - @product.reviews.each do |review|
            = render partial: "review", locals: {review: review}

  .col-xs-12.col-md-8.mtop20.no-padding-left
    - if current_user && current_user.can_review?(@product)
      .well
        .my-review= render partial: "my_review", locals: {product: @product}
        - if current_user.rated_value(@product) > 0
          %h4 Your rating
          %i.star-mar.rate_stars
            = render partial: "rated", locals: {rate: current_user.rated_value(@product)}
        - else
          %h4 Rate here
          %i.star-mar.rate_stars
            = render partial: "rating", locals: {rate: 0}
.row
  = hidden_field_tag :map_location, @product.location_address, class: "map-location"
  .map-mar.hidden-xs
    #gmap.hidden{style: "min-height: 300px;", data: {drag: false}}

= content_for :extra_js do
  :javascript
    $(function(){
      $(".detailed-breakup").click(function(){
          $(".breakup-columns,.non-breakup-columns").fadeToggle(100);
          if($(this).find("i").hasClass("glyphicon-menu-up"))
          {
            $(this).find("i").removeClass("glyphicon-menu-up").addClass("glyphicon-menu-down")
          }
          else{
            $(this).find("i").removeClass("glyphicon-menu-down").addClass("glyphicon-menu-up")
          }
      })
      $("input[name=operator_type]").click(function(){
         getPrice();
      });
      function getPrice(){
        operator_type = $("input[name=operator_type]:checked").val();
        data = {days: "#{@days}", id: "#{@product.id}", hours: "#{@hours}", operator_type: operator_type, no_of_weekenddays: "#{@no_of_weekenddays}", end_day_weekend: "#{@end_day_weekend}"}
        $.get("/products/get_price", data)
         .done(function(result){
             $("#operator_type").val(operator_type);
             $(".price-without-discount").text(result.price_without_discount);
             $(".discount").text(result.discount);
             $(".min-sign").text(result.sign);
             $(".price-with-discount").text(result.price_with_discount);
             $(".tax-amount").text(result.tax);
             $(".total-amount").text(result.pay_amount);
        });
      }
    });
