- klass1 = rate > 0 ? 'glyphicon-star' : 'glyphicon-star-empty'
- klass2 = rate > 1 ? 'glyphicon-star' : 'glyphicon-star-empty'
- klass3 = rate > 2 ? 'glyphicon-star' : 'glyphicon-star-empty'
- klass4 = rate > 3 ? 'glyphicon-star' : 'glyphicon-star-empty'
- klass5 = rate > 4 ? 'glyphicon-star' : 'glyphicon-star-empty'
= link_to rate_product_path(@product, value: 1), method: :post, remote: true do
  %span.glyphicon{class: klass1}
= link_to rate_product_path(@product, value: 2), method: :post, remote: true do
  %span.glyphicon{class: klass2}
= link_to rate_product_path(@product, value: 3), method: :post, remote: true do
  %span.glyphicon{class: klass3}
= link_to rate_product_path(@product, value: 4), method: :post, remote: true do
  %span.glyphicon{class: klass4}
= link_to rate_product_path(@product, value: 5), method: :post, remote: true do
  %span.glyphicon{class: klass5}