= content_for :header_extra do
  = render "layouts/search_form"
.container
  .row.mar-des-page
    .col-md-8
      - unless @product.images.blank?
        %ul.bxslider
          - @product.images.each do |image|
            %li{style: "text-align: center"}= image_tag image.file_url, style: "max-height: 650px; margin-left: auto; margin-right: auto;"
        #bx-pager
          - @product.images.each_with_index do |image, i|
            = link_to "", "data-slide-index" => i do 
              = image_tag image.file_url, height: "100"

    .col-md-4
      %h2.product-name= @product.title
      .col-md-6
        %h6.reviw= @product.reviews_count
      .col-md-6.rat
        %i.product-rated
          = render partial: "rated", locals: {rate: @product.rate}
      .col-md-12
        .tabbable-panel-rs
          .tabbable-line-rs
            %ul.nav.nav-tabs.rent-sale-text
              %li.active
                = link_to @product.listing_type, "#tab_default_1_1", "data-toggle" => "tab"
            .tab-content.table-panel-rs-heoght
              #tab_default_1_1.tab-pane.active{style: "min-height: 100px;"}
                - if @product.operator_type != 0
                  %p
                    - if @product.operator_type != 1
                      = radio_button_tag :operator, 0, true, class: "operator_type"
                      %label Rent
                      %span.pull-right
                        %i.fa.fa-rupee
                        0
                    %br
                    = radio_button_tag :operator, 1, @product.operator_type == 1, class: "operator_type"
                    %label Wet Hire 
                    %span.pull-right
                      %i.fa.fa-rupee
                      = @product.operator_price
                - if @product.for_free?
                  %ul.sale-details.pull-left
                    %li Shipping
                  %ul.pull-right.sale-details2.text-right
                    %li
                      %i.fa.fa-rupee
                      = @product.ship_price
                - else
                  %ul.sale-details.pull-left
                    %li Deposit
                    %li Daily price
                    %li Days
                    %li Tax ( #{@product.tax}% )
                    %li Shipping
                    %li Discount
                    %li Pay amount
                  %ul.pull-right.sale-details2.text-right
                    %li
                      %i.fa.fa-rupee
                      = @product.security_deposit
                    %Li
                      %i.fa.fa-rupee
                      = @product.price
                    %li.days= 1
                    %Li
                      %i.fa.fa-rupee
                      - type = @product.operator_type== 1 ? 1 : 0
                      %span.tax-amount= @product.tax_amount(1, type)
                    %li
                      %i.fa.fa-rupee
                      = @product.ship_price
                    %li
                      %span.min-sign
                      %i.fa.fa-rupee
                      %span.discount 0
                    %li
                      %i.fa.fa-rupee
                      %span.total-amount= @product.calculate_price(1)
      .col-md-12.from-bar
        - if current_user != @product.user
          ~ form_tag product_checkout_path(@product) do
            = hidden_field_tag :product_id, @product.id
            = hidden_field_tag :operator_type, 0
            .col-md-12.date-error{style: "color: red"}
            .col-md-6.from-pad
              = text_field_tag :from, "", placeholder: "From", class: "form-control datepicker price-trigger startdate", "area-describedby" => "sizing-addon1", readonly: 'readonly', required: true, "data-date-disabled-dates" => "#{@product.unavailable_dates}", "data-date-days-of-week-disabled" => "#{@product.disabled_days}", "data-date-enabled-hours" => "#{@product.enabled_hours}", data: {min_h: @product.min_h, min_m: @product.min_m, first_avail: @product.first_avail}

            .col-md-6.from-pad.in-put-to
              = text_field_tag :to, "", placeholder: "To", readonly: 'readonly', class: "form-control datepicker price-trigger enddate", "area-describedby" => "sizing-addon1", required: true, "data-date-disabled-dates" => "#{@product.unavailable_dates}", "data-date-days-of-week-disabled" => "#{@product.disabled_days}", "data-date-enabled-hours" => "#{@product.enabled_hours}", data: {min_h: @product.min_h, min_m: @product.min_m, first_avail: @product.first_avail}
            .col-md-12{style: "padding: 0; margin-left: 15px"}
              - if current_user
                %button#rent-btn.src-but{type: "submit", style: "width: 100%;padding: 0"}= @product.for_free? ? "Get" : "Rent"
              - else 
                %button.src-but{type: "button", style: "width: 100%;padding: 0", data: {toggle: "modal", target: "#login"}}= @product.for_free? ? "Get" : "Rent"

.container
  .row
    .col-xs-12.col-md-12.available
      .col-xs-6.col-sm-2
        = image_tag @product.user.avatar, class: "img-circle", size: "70x70"
        %h6.des-own-det= @product.user.name
      .col-xs-6.col-sm-2
        = image_tag "img/des-assets/calender.png", class: "des-assests"
        %h6.des-own-det SUN-SAT
      .col-xs-6.col-sm-2
        = image_tag "img/des-assets/time.png", class: "des-assests"
        %h6.des-own-det 8AM-8PM
      .col-xs-6.col-sm-2
        = image_tag "img/des-assets/individual.png", class: "des-assests"
        %h6.des-own-det INDIVIDUAL
      .col-xs-6.col-sm-2
        = image_tag "img/des-assets/verified.png", class: "des-assests"
        %h6.des-own-det VERIFIED

.container
  .row.des-mar
    %h4.des-head Description
    %p.des-para= simple_format @product.description
.container.product
  .row
    .col-md-12.pr-mar
      .tabbable-panel-pd.pr-bor
        .tabbable-line-pd
          %ul.nav.nav-tabs.pr-details-tab
            %li.active.mar-pd
              %a{href: "#tab_default_1", data: {toggle: "tab"}} Product Details
            %li.mar-cp
              %a{href: "#tab_default_2", data: {toggle: "tab"}} Contact Person
            %li.mar-pt
              %a{href: "#tab_default_3", data: {toggle: "tab"}} Terms and Policy fields
          .tab-content
            #tab_default_1.tab-pane.active.temp-font
              .col-sm-3 Location
              .col-sm-9.text-right
                = @product.location_address
                &nbsp;
              %hr.col-sm-12
              .col-sm-3 Product condition
              .col-sm-9.text-right
                = @product.product_condition
                &nbsp;
              %hr.col-sm-12
              .col-sm-3 Year Manufacture
              .col-sm-9.text-right
                = @product.year_of_manufacture
                &nbsp;
              %hr.col-sm-12
              .col-sm-3 Tech Spec
              .col-sm-9.text-right
                = simple_format @product.tech_spec
                &nbsp;
              %hr.col-sm-12
              .col-sm-3 Documents Required
              .col-sm-9.text-right
                = @product.documents
                &nbsp;
              %p{style: "margin-bottom: 0"} &nbsp;
            #tab_default_2.tab-pane
              %p= @product.user.name
            #tab_default_3.tab-pane
              %p= simple_format @product.terms_and_conditions
.container
  .row
    .col-md-12.rev-mar
      %h4.rev-head= @product.reviews_count
      - if current_user && current_user.can_review?(@product)
        .well
          .my-review= render partial: "my_review", locals: {product: @product}
          
          - if current_user.rated_value(@product) > 0
            %h4 Your rating
            %i.star-mar.rate_stars
              = render partial: "rated", locals: {rate: current_user.rated_value(@product)}
          - else
            %h4 Rate here
            %i.star-mar.rate_stars
              = render partial: "rating", locals: {rate: 0}          
          
      #reviews
        - @product.reviews.each do |review|
          = render partial: "review", locals: {review: review}

.row
  = hidden_field_tag :map_location, @product.location_address, class: "map-location"
  .map-mar.hidden-xs
    #gmap{style: "min-height: 300px;", data: {draggable: false}}