%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header.navb
      %button.navbar-toggle{data: {toggle: "collapse", target: ".navbar-collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.hidden-xs.logoh{href: "#"}
        = image_tag "coc.png", class: "img-responsive"
      %a.navbar-brand.visible-xs{href: "#"}
        = image_tag "coc.png", class: "img-responsive"

    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: "#{'active' if controller_name=='users'}"}= link_to "Users", admin_users_path
        %li= link_to "Stats", admin_miscellaneous_index_path
        %li= link_to "Main Tags", admin_miscellaneous_index_path
        %li{class: "#{'active' if controller_name=='users'}"}= link_to "Messaging", messages_admin_users_path
        %li{class: "dropdown"}
          =link_to "Showcases", "#"
          .dropdown-content
            %div.padding10= link_to  "Admin Wishes", admin_showcases_path, class: "internallink grey-fg"
            %div.padding10= link_to "User Discovery Wishes", user_discovery_admin_showcases_path,  class: "internallink grey-fg"
        %li{class: "dropdown"}
          =link_to "Crowdfunding", "#"
          .dropdown-content
            %div.padding10= link_to  "Wishes", crowdfunding_admin_showcases_path, class: "internallink grey-fg"
            %div.padding10= link_to "Cocotransfers", grouppay_cocotransfers_admin_cocotransfers_path,  class: "internallink grey-fg"
            %div.padding10= link_to "Withdraws", crowdfunding_withdraws_admin_users_path, class: "grey-fg"
        %li{class: "#{'active' if controller_name=='showcases'}"}= link_to "Withdraws", withdraws_admin_users_path
        %li{class: "#{'active' if controller_name=='showcases'}"}= link_to "Notification", admin_admin_firebasenotifications_path
        %li{class: "dropdown"}
          =link_to "More", "#"
          .dropdown-content
            %div.padding10= link_to  "Categories", admin_categories_path, class: "internallink grey-fg"
            %div.padding10= link_to "Products", admin_products_path,  class: "internallink grey-fg"
            %div.padding10= link_to "Transactions", admin_transactions_path, class: "grey-fg"
        %li
          = link_to destroy_user_session_path, method: :delete do
            %span Sign out
            %span.glyphicon.glyphicon-log-out
:css
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
  }
  .dropdown:hover .dropdown-content {
      display: block;
  }
  .internallink{
    width: 100%;
    height: 30px;
  }
