%footer.col-md-12.white-fg{style: "display: #{@footer_visible || 'block'}"}
  .container-fluid
    .row
      .col-md-12.no-mar-pad
        %ul.text-center.pleft0.mbottom5
          %li.mright20.hvr-underline-from-center= link_to "About", "/about", class: "tag-a"
          %li.mright20.hvr-underline-from-center= link_to "Contact", "/contact", class: "tag-a"
          %li.mright20.hvr-underline-from-center= link_to "Goodness & Open Source".html_safe, "/goodness-and-open-source", class: "tag-a"
          %li.mright20.hvr-underline-from-center= link_to "Hackers", "/hackers", class: "tag-a"
          %li.hvr-underline-from-center= link_to "Jobs", "/jobs", class: "tag-a"
          /%li= link_to "Site Map", "/sitemap", class: "tag-a"
      .col-md-12.no-mar-pad
        %ul.text-center.mbottom0.pleft0
          %li.hvr-float-shadow
            = link_to "https://fb.com/cocociti", target: "_blank" do
              %span.fb-sprite.footer-sprite-size.pull-left
          %li.hvr-float-shadow
            = link_to "https://twitter.com/cocociti", target: "_blank" do
              %span.twitter-sprite.footer-sprite-size.pull-left
          %li.hvr-float-shadow
            = link_to "https://google.com/+cocociti", target: "_blank" do
              %span.gplus-sprite.footer-sprite-size.pull-left
          %li.hvr-float-shadow
            = link_to "https://www.linkedin.com/company/cocociti", target: "_blank" do
              %span.linkedin-sprite.footer-sprite-size.pull-left
          %li.hvr-float-shadow
            = link_to "https://www.instagram.com/cocociti/", target: "_blank" do
              %span.instagram-sprite.footer-sprite-size.pull-left
      .col-md-12.no-mar-pad
        %ul.tag-ul.mbottom0.text-center.coco-care.pleft0
          %li.inline-block.mright20
            %span.glyphicon.glyphicon-phone.pull-left{style: "color: #fff;margin-top: 2px;margin-right: 5px;"}
            96 8686 0303
          %li.inline-block.mright20.hvr-underline-from-center
            %span.glyphicon.glyphicon-envelope.pull-left{style: "color: #fff;margin-top: 3px;margin-right: 5px;"}
            %a.tag-a.font13{href: "mailto:ayyo@cocociti.com"} ayyo@cocociti.com
      .col-md-12.mtop10.no-mar-pad
        %ul.text-center.mbottom0.mtop5.pleft0
          %li.inline-block.mright20
            %span.pull-left.cards-footer-sprite
      .col-md-12.text-center.mtop5.no-mar-pad
        %ul.text-center.mbottom0.pleft0
          %li.inline-block
            %span.text-muted.small.fot-res Copyright &copy; #{Time.now.in_time_zone("Kolkata").strftime('%Y')} Cocociti Online Solutions Pvt Ltd. All items &copy; their respective owners.
      .col-md-12.text-center.no-mar-pad
        %ul.text-center.mbottom0.pleft0
          %li.inline-block= link_to "Terms |", "/terms", class: "font-medium fot-res white-fg hvr-underline-from-center", rel: "no-follow"
          %li.inline-block= link_to "Privacy |", "/privacy", class: "font-medium fot-res white-fg hvr-underline-from-center", rel: "no-follow"
          %li.inline-block= link_to " Refunds & cancellation", "/refund", class: "font-medium white-fg text-muted hvr-underline-from-center", rel: "no-follow"
      .col-xs-12.text-center.visible-xs
        %a{href: "https://goo.gl/Hk8Jdn"}
          %img{alt: "Get it on Google Play", src: "https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png", style: "width: 150px;margin-bottom: -10px;"}
      = link_to "#" do
        %span.fot-up-img.up-sprite.pull-right.horz.pos-relative
      %a.hidden-xs.pull-right.pos-relative.h-z{href: "https://goo.gl/Hk8Jdn", style: "margin-top: -50px;width: 150px;"}
        %img{alt: "Get it on Google Play", src: "https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png", style: "width: 150px;"}
