%footer.fot.fot-mar.mar-fot{style: "display: #{@footer_visible || 'block'}"}
  .container
    .row
      .col-lg-12
        .col-md-4.mbottom20
          %p.fot-p.text-justify
            %strong
              Cocociti
            is your trusted human2human online rental marketplace. Product owners make money by renting out products to people in need and users save money by avoiding costly purchases, indeed. Access things as and when you need it or help others by listing your available on Cocociti. All at the convenience of making life easier for both sides.
            %br
            %strong
              Boom De Yada!
        .col-md-4.mbottom20
          %ul
            %li= link_to "About", "/about", class: "tag-a"
            %li= link_to "Terms", "/terms", class: "tag-a"
            %li= link_to "Privacy", "/privacy", class: "tag-a"
            %li= link_to "Contact", "/contact", class: "tag-a"
            %li= link_to "Goodness &<br> Open Source".html_safe, "/goodness-and-open-source", class: "tag-a"
            /%li= link_to "Site Map", "/sitemap", class: "tag-a"

        .col-md-4.mbottom20
          %ul.tag-ul
            %li.tag-ul-h
              %h4.fot-li.mtop0 COCOCARE
            %li.mbottom10
              %span.glyphicon.glyphicon-phone{style: "color: #D02121;"}
              %i 96 8686 0303
              %br
            %li.mbottom10
              %span.glyphicon.glyphicon-envelope{style: "color: #D02121;"}
              ayyo@cocociti.com
              %br
            %li
              = link_to "https://fb.com/cocociti" do
                %span.fb-sprite.footer-sprite-size.pull-left
              = link_to "https://google.com/+cocociti" do
                %span.gplus-sprite.footer-sprite-size.pull-left
              = link_to "https://twitter.com/cocociti" do
                %span.twitter-sprite.footer-sprite-size.pull-left
    = link_to "#" do
      %span.pull-right.fot-up-img.up-sprite.footer-sprite-size
    %p.copyright.text-muted.small.pull-right.fot-res &copy; #{Time.now.in_time_zone("Kolkata").strftime('%Y')} Cocociti
