%nav.navbar.navbar-default.navbar-fixed-top.topnav.nav-bar-color.no-border{:role => "navigation", style: "box-shadow: 0 1px 1px rgba(0,0,0,0.07);"}
  .navbar.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle{data: {toggle: "collapse", target: ".navbar-collapse"}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.pleft5{href: "/", style: "font-size: 1.6em;letter-spacing: 1px;color:black;"}
          Cocociti
        = yield :header_extra
      .col-sm-4.no-mar-pad.hidden-xs{style: "margin-top: 8px;"}
        ~ form_tag results_path, method: :get do
          .col-sm-11.no-mar-pad= text_field_tag :query, params[:query], placeholder: "Search", class: "form-control search-query", style: "border-radius: 20px;"
          .col-sm-1.no-mar-pad{style: "margin-left: -41px;"}
            %button.btn{type: 'submit', style: "background-color: transparent;"}
              %span.glyphicon.glyphicon-search.grey-fg
      .navbar-collapse.collapse.nav-border
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li.hidden-xs
              .fa.fa-bell-o.font20.pon.pull-right.mtop15.notif-icon.grey-fg
              - if current_user.unchecked_notififcations_count > 0
                .badge.notif-badge.pon.pull-right.mtop5.notif-icon= current_user.unchecked_notififcations_count
              .sq-rot.notif-toggle
              .notif-arrow.notif-toggle
              .notif-wrap.bx-shad.notif-toggle.helvetica-font
                .col-xs-12.col-sm-12.text-center.notif-loader.padding10
                  %i.fa.fa-circle-o-notch.fa-spin.font21
                  Please wait...
                .col-xs-12.col-sm-12.notif-content.no-mar-pad
                = link_to notifications_path do
                  .col-xs-12.col-sm-12.padding5.text-center.bg-light-grey.weight600
                    See All
            %li.hidden-xs
              %ul.pro-view.pleft-10
                %li.dropdown.pull-left
                  = link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do
                    %span.avatar.pull-right.mleft5{style: "margin-top: -11px; margin-right: 15px;"}
                      = cl_image_tag current_user.avatar, class: "img-circle pull-right mleft5", width: 40, height: 40, crop: :fill
                  %ul.dropdown-menu.pull-left.mtop10.font13.bg-shad{style: "width:180px;"}
                    .arrow-wrapper-nav
                      .arrow-nav
                      .arrow-z-nav
                    %li
                      = link_to myprofile_path(current_user.profile.slug), style: "white-space: normal;" do
                        %span.black-fg= truncate current_user.name, length: 25
                        %br
                        %span.font11.grey-fg View Profile
                    %li.divider{style: "overflow: visible"}
                    %li
                      = link_to settings_path, style: "white-space: normal;" do
                        %span.grey-fg Settings
                    %li.divider{style: "overflow: visible"}
                    %li
                      = link_to invitations_path, style: "white-space: normal;" do
                        %span.grey-fg Invite friends
                    %li.divider{style: "overflow: visible"}
                    %li
                      = link_to destroy_user_session_path, method: :delete, style: "white-space: normal;" do
                        %span.grey-fg Sign Out
            %li.hidden-xs= link_to "Showcase", "#showcase-modal", data: {toggle: "modal", dismiss: "modal"}, class: "btn tt-blue-bg white-fg", style: "padding: 7px 12px;margin-top:7px;border-radius:18px;display: #{@sh_btn || 'block;'}"
            %li.visible-xs.bg-white
              = link_to myprofile_path(current_user.profile.slug), style: "white-space: normal;" do
                %span.black-fg= truncate current_user.name, length: 25
                %br
                %span.font11.grey-fg View Profile
            %li.visible-xs.bg-white
              = link_to settings_path, style: "white-space: normal;" do
                %span.grey-fg Settings
            %li.visible-xs.bg-white
              = link_to rent_path, style: "white-space: normal;" do
                %span.grey-fg Rent
            %li.visible-xs.bg-white
              = link_to dashboard_path, style: "white-space: normal;" do
                %span.grey-fg Dashboard
            %li.visible-xs.bg-white
              = link_to invitations_path, style: "white-space: normal;" do
                %span.grey-fg Invite friends
            %li.visible-xs.bg-white
              = link_to destroy_user_session_path, method: :delete, style: "white-space: normal;" do
                %span.grey-fg Sign Out
          - else
            %li.hidden-xs
              = link_to "SignUp", authenticate_path(tab: "signup"), class: "btn", style: "padding: 7px 15px;margin-top: 7px;border-radius:18px;border: 1px solid #ccc;"
            %li.hidden-xs
              = link_to "Login", authenticate_path, class: "btn tt-blue-bg white-fg mleft10", style: "padding: 7px 15px;margin-top: 7px;border-radius:18px;"
            %li.visible-xs.bg-white
              = link_to authenticate_path, style: "white-space: normal;" do
                %span.grey-fg Login
              = link_to authenticate_path(tab: "signup"), style: "white-space: normal;" do
                %span.grey-fg SignUp
- if current_user && !@scase_modal.present?
  #showcase-modal.modal.fade
    .modal-dialog
      .modal-content.pop-up-mar
        .modal-header.pop-bac
          %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => true }
            %i.fa.fa-times
          %h4.modal-title Your Showcase
        .modal-body{style: "height: 315px;"}
          .col-xs-12.col-sm-12.no-mar-pad.bg-white
            = render partial: "home/post_showcase", locals: {showcase: @scase, header: "yes"}
#cont-wrapper.modal.fade.padding0
