%nav.navbar.navbar-default.navbar-fixed-top.topnav.nav-bar-color.border-bt-side.bg-white{:role => "navigation", style: "box-shadow: 0 0px 1px rgba(0, 0, 0, 0.26);"}
  .navbar.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle{data: {toggle: "collapse", target: ".navbar-collapse"}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.logoh.no-padding-left{href: "/rent"}
          %span.logo-sprite.pull-left
        = render "layouts/search_form"
        = yield :header_extra
      .navbar-collapse.collapse.nav-border
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li.hidden-xs{style: "display: none"}
              .glyphicon.glyphicon-bell.white-fg.font20.pon.pull-right.mtop15.notif-icon
              - if current_user.unchecked_notififcations_count > 0
                .badge.notif-badge.pon.pull-right.mtop5.notif-icon= current_user.unchecked_notififcations_count
              .sq-rot.notif-toggle
              .notif-arrow.notif-toggle
              .notif-wrap.bx-shad.notif-toggle.helvetica-font
                .col-xs-12.col-sm-12.text-center.notif-loader.padding10
                  %i.fa.fa-circle-o-notch.fa-spin.font21
                  Please wait...
                .col-xs-12.col-sm-12.notif-content.no-mar-pad
                = link_to notifications_path do
                  .col-xs-12.col-sm-12.padding5.text-center.bg-light-grey.weight600
                    See All
            %li.hidden-xs.ptop5= link_to "List Your Item", new_product_path, class: "pa"
            %li.hidden-xs
              %ul.pro-view.pleft-10
                %li.dropdown.pull-left
                  = link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do
                    %span.avatar.pull-right.mleft5{style: "margin-top: -11px; margin-right: 15px;"}
                      = cl_image_tag current_user.avatar, class: "img-circle pull-right mleft5", width: 40, height: 40, crop: :fill
                  %ul.dropdown-menu.pull-left.mtop10.font13.bg-shad{style: "width:180px;"}
                    .arrow-wrapper-nav
                      .arrow-nav
                      .arrow-z-nav
                    %li
                      = link_to myprofile_path(current_user.profile.slug), style: "white-space: normal;" do
                        %span.black-fg= truncate current_user.name, length: 25
                        %br
                        %span.font11.grey-fg View Profile
                    %li.divider{style: "overflow: visible"}
                    %li
                      = link_to root_path, style: "white-space: normal;" do
                        %span.grey-fg Feed
                    %li.divider{style: "overflow: visible"}
                    %li
                      = link_to settings_path, style: "white-space: normal;" do
                        %span.grey-fg Settings
                    %li.divider{style: "overflow: visible"}
                    %li
                      = link_to dashboard_path, style: "white-space: normal;" do
                        %span.grey-fg Rental Dashboard
                    %li.divider{style: "overflow: visible"}
                    %li
                      = link_to invitations_path, style: "white-space: normal;" do
                        %span.grey-fg Invite friends
                    %li.divider{style: "overflow: visible"}
                    %li
                      = link_to destroy_user_session_path, method: :delete, style: "white-space: normal;" do
                        %span.grey-fg Sign Out
            %li.visible-xs.bg-white
              = link_to myprofile_path(current_user.profile.slug), style: "white-space: normal;" do
                %span.black-fg= truncate current_user.name, length: 25
                %br
                %span.font11.grey-fg View Profile
            %li.visible-xs.bg-white= link_to "List Your Item", new_product_path
            %li.visible-xs.bg-white
              = link_to root_path, style: "white-space: normal;" do
                %span.grey-fg Feed
            %li.visible-xs.bg-white
              = link_to settings_path, style: "white-space: normal;" do
                %span.grey-fg Settings
            %li.visible-xs.bg-white
              = link_to dashboard_path, style: "white-space: normal;" do
                %span.grey-fg Dashboard
            %li.visible-xs.bg-white
              = link_to invitations_path, style: "white-space: normal;" do
                %span.grey-fg Invite friends
            %li.visible-xs.bg-white
              = link_to destroy_user_session_path, method: :delete, style: "white-space: normal;" do
                %span.grey-fg Sign Out
          - else

            %li.active.nav-login= link_to "Login", "#login", data: {toggle: "modal", dismiss: "modal"}, style: "padding-bottom: 14px"
            %li.active.nav-login= link_to "Sign Up", "#signup", data: {toggle: "modal", dismiss: "modal"}, style: "padding-bottom: 14px"
            %li.ptop5.hidden-xs= link_to "List Your Item", "#login", class: "pa", style: "color: #fff", data: {toggle: "modal", dismiss: "modal"}
            %li.visible-xs.bg-white.nav-login= link_to "List Your Item", "#login", data: {toggle: "modal", dismiss: "modal"}
- unless current_user
  #login.modal.fade
    .modal-dialog
      .modal-content.pop-up-mar
        .modal-header.pop-bac
          %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => true }
            %i.fa.fa-times
          %h4.modal-title Login
        .modal-body
          .col-sm-9.col-sm-offset-3.hidden
            = link_to user_omniauth_authorize_path(:facebook), style: "border-radius:0;", class: "btn btn-primary btn-block" do
              %i.icon-facebook
              Login with Facebook
          .col-sm-9.col-sm-offset-3.or-text.hidden
            %span OR
          = form_for(User.new, :url => new_user_session_path, html: {"data-parsley-validate" => true, remote: true, class: "login-form"}) do |f|
            .col-sm-12.errors
            .form-group.clearfix
              = f.label :email, :class => 'col-sm-3 control-label'
              .col-sm-9
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-user
                  = f.text_field :email, :autofocus => true, placeholder: t("email_address", default: "Email Address"), class: "form-control", "data-parsley-trigger" => "change", required: true
            .form-group.clearfix
              = f.label :Password, :class => 'col-sm-3 control-label'
              .col-sm-9
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-lock
                  = f.password_field :password, :placeholder => t('password', default: "Password"), class: "form-control", "data-parsley-trigger" => "change", required: true
            .form-group.clearfix
              .col-sm-offset-3.col-sm-9.text-center.font11
                = link_to "Forgot password?", new_user_password_path
            .form-group.clearfix
              .col-sm-offset-5.col-sm-5.text-center
                = f.submit "Login", class: "loader-button btn pop-up-but login-button"
                .loader-effect.btn.pop-up-but{style: "display:none;"}
                  .inline-block{style: "margin-top: 8px;"} Please Wait...
                  .ball-clip-rotate.pull-right{style: "height:22px;margin-top:9px;"}
                    %div
        .clearfix

  #signup.modal.fade
    .modal-dialog
      .modal-content.pop-up-mar
        .modal-header.pop-bac
          %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => true }
            %i.fa.fa-times
          %h4.modal-title Sign Up
        .modal-body
          .col-sm-9.col-sm-offset-3.hidden
            = link_to user_omniauth_authorize_path(:facebook), style: "border-radius:0;", class: "btn btn-primary btn-block" do
              %i.icon-facebook
              Sign Up with Facebook
          .col-sm-9.col-sm-offset-3.or-text.hidden
            %span OR
          = form_for(User.new, :url => user_registration_path, html: {"data-parsley-validate" => true, remote: true, class: "agreement-require signup-form"}) do |f|
            .col-sm-12.errors
            .form-group.clearfix
              = f.label :email, :class => 'col-sm-3 control-label'
              .col-sm-9
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-user
                  = f.text_field :email, :autofocus => true, placeholder: t("email_address", default: "Email Address"), class: "form-control", "data-parsley-trigger" => "change", required: true
            .form-group.clearfix
              = f.label :Password, :class => 'col-sm-3 control-label'
              .col-sm-9
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-lock
                  = f.password_field :password, :placeholder => t('password', default: "Password"), class: "form-control", "data-parsley-trigger" => "change", required: true
            .form-group.clearfix
              = f.label :password_confirmation, :class => 'col-sm-3 control-label'
              .col-sm-9
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-lock
                  = f.password_field :password_confirmation, :placeholder => t('password', default: "Password"), class: "form-control", "data-parsley-trigger" => "change", required: true
            .form-group.clearfix
              .col-sm-12
                %span.mleft10.textt-center.font11 By continuing, you agree to the Terms of Service
            .form-group.clearfix
              .col-sm-offset-4.col-sm-4
                = f.submit "Sign up", class: "loader-button btn pop-up-but login-button"
                .loader-effect.btn.pop-up-but{style: "display:none;"}
                  .inline-block{style: "margin-top: 8px;"} Please Wait...
                  .ball-clip-rotate.pull-right{style: "height:22px;margin-top:9px;"}
                    %div
        .clearfix
