!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    - if Rails.env.development?
      %meta{:name => "robots", :content => "noindex"}
    %meta{:content => "#{content_for?(:meta_content) ? yield(:meta_content) : 'Cocociti is the most effortless way to rent or hire everything and anything online - Bikes, Self Drive cars, Cameras, Dress, Backpacks, Tents, Electronics, Furniture, Home Appliances, Tools & Equipment Rental and avail on demand access to things at Cocociti.'}", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title= content_for?(:title) ? yield(:title) : "Rent Anything Online. Hire or rent Bikes, Self drive Cars, and all things at world's largest rental marketplace - Cocociti.com"

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "//oss.maxcdn.com/respond/1.4.2/respond.min.js"
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400,600"
    /= stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto:400,500"
    = csrf_meta_tags
    = render partial: "/layouts/head"
  %body
    = render partial: "/layouts/google_analytics"

    = render partial: "/layouts/navbar"
    = render partial: "layouts/messages"
    = yield
    = render partial: "layouts/footer"
    = javascript_include_tag "//maps.googleapis.com/maps/api/js?sensor=false&libraries=places"
    = javascript_include_tag 'application'
    = yield :extra_js
    = cloudinary_js_config
