!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    - if Rails.env.development? || request.fullpath == GLOBAL_VARIABLES[:hacker_relative_path]
      %meta{:name => "robots", :content => "noindex"}
    %meta{:content => "#{content_for?(:meta_content) ? yield(:meta_content) : 'Cocociti is where the world comes to wish & showcase. Wish it, achieve it, showcase it. Discover wishes & people with similar wishes. What is your wish?'}", :name => "description"}
    %meta{:content => "", :name => "author"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}
    %meta{name: "apple-mobile-web-app-title", content: "Cocociti"}
    %link{rel: "apple-touch-icon", href: "/assets/logo/logo-new-152.png"}
    %meta{name: "msapplication-TileImage", content: "/assets/logo/logo-new-144.png"}
    %meta{name: "msapplication-TileColor", content: "#732db0"}
    - if @social_layout.present?
      %meta{name: "theme-color", content: "#732db0"}
    - elsif @auth_layout.present?
      %meta{name: "theme-color", content: "#732db0"}
    %title= content_for?(:title) ? yield(:title) : "Cocociti - Discover showcases, wishlists and people around the world"

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "//oss.maxcdn.com/respond/1.4.2/respond.min.js"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400,600"
    %link{rel: "manifest", href: "/assets/service-worker/manifest.json"}
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = render partial: "/layouts/head"
  %body
    = render partial: "/layouts/google_analytics"
    - if @social_layout.present?
      = render partial: "/layouts/navbar_social"
    - elsif @plain_layout.present?
      = render partial: "/layouts/navbar_plain"
    - elsif @auth_layout.present?
      = render partial: "/layouts/navbar_auth"
    - elsif @special_layout.present?
      = render partial: "/layouts/navbar_special"
    - else
      = render partial: "/layouts/navbar_rent"
    = render partial: "layouts/messages"
    = yield
    = render partial: "layouts/footer"
    - if Rails.env.production?
      = javascript_include_tag "//maps.googleapis.com/maps/api/js?key=AIzaSyBKouCyRuExAspdTSgCjQ1825AbI_8Fank&libraries=places"
    - else
      = javascript_include_tag "//maps.googleapis.com/maps/api/js?sensor=false&libraries=places"
    = javascript_include_tag 'application'
    = yield :extra_js
    = javascript_include_tag "//apis.google.com/js/client.js"
    = cloudinary_js_config
